<% if question && !content.send(question[:field]).is_a?(ActiveRecord::Associations::CollectionProxy) %>
  <div class="content-question card-panel hoverable light-blue lighten-4">
    <i class="material-icons <%= content.class.color %> circle right white-text"><%= content.class.icon %>`</i>
    <%= question[:question] %>

    <%= form_for content do |f| %>
      <%
        value = content.send(question[:field])
        if value.is_a?(ActiveRecord::Associations::CollectionProxy)
          klass = value.first.class || value.build.class
      %>
        <%# render 'content/form/relation_input', f: f, attribute: question[:field].chomp('ship').pluralize, relation: question[:field].chomp('ships').pluralize %>
      <%
        else
      %>
          <div class="input-field">
            <%= f.text_field question[:field], class: 'content-question-input' %>
            <%= f.label question[:field], question[:field].humanize %>
          </div>
      <%
        end
      %>

      <%= f.submit 'Save', class: 'content-question-submit waves-effect waves-light btn' %>
    <% end %>
  </div>
<% end %>
