<div class="col-xs-3">
  <div class="card">
    <h1 class="card-heading"><%= artist_name %></h1>
    <%= link_to image_source do %>
      <%= image_tag image, style: "width: 100%" %>
    <% end %>
    <div class="card-comments">
     <% if artist_gallery %>
        <%= link_to artist_gallery do %>
          <%= t '.more_by_this_artist' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>