<div class="col s12 m12 l3">
  <%= link_to documents_path do %>
    <div class="hoverable card <%= Document.color %>" style="height: 88px">
      <div class="card-content white-text">
        <span class="card-title">
          <span class="right white-text"><%= @current_user_content['Document'].count %></span>
          <i class="material-icons left"><%= Document.icon %></i>
          <span class="hide-on-large-only hide-on-small-only">Docs</span>
          <span class="hide-on-med-and-down show-on-small">Documents</span>
        </span>
      </div>
    </div>
  <% end %>
</div>

<div class="col s12 m12 l3">
  <%= link_to thredded_path do %>
    <div class="hoverable card blue">
      <div class="card-content white-text" style="height: 88px">
        <span class="card-title">
          <span class="right white-text">
            <%= @unread_threads %><%= "/#{@unread_private_messages}" if @unread_private_messages > 0 %>
          </span>
          <i class="material-icons left">forum</i>
          <span class="hide-on-large-only hide-on-small-only">Chats</span>
          <span class="hide-on-med-and-down show-on-small">Discussions</span>
        </span>
      </div>
    </div>
  <% end %>
</div>

<div class="col s12 m12 l3">
  <%= link_to prompts_path do %>
    <div class="hoverable card orange" style="height: 88px">
      <div class="card-content white-text">
        <span class="card-title">
          <i class="material-icons left">lightbulb_outline</i>
          Prompts
        </span>
      </div>
    </div>
  <% end %>
</div>

<div class="col s12 m12 l3">
  <%= link_to stream_path do %>
    <div class="hoverable card <%= ContentPageShare.color %> lighten-3" style="height: 88px">
      <div class="card-content white-text">
        <span class="card-title">
          <i class="material-icons left"><%= ContentPageShare.icon %></i>
          Stream
        </span>
      </div>
    </div>
  <% end %>
</div>

<!-- data vault? -->