<div class="row">
<div class="col-md-4">
  <div class="card">
    <h1 class="card-heading"><%= t '.card_1_heading' %></h1>
    <div class="card-body"><%= t '.card_1_body_html' %></div>
    <div class="card-comments"></div>
  </div>
</div>

<div class="col-md-4">
  <div class="card">
    <h1 class="card-heading"><%= t '.card_2_heading' %></h1>
    <div class="card-body"><%= t('.card_2_body_html', create_universe_link: link_to(t('.create_universe_link_title'), :universe_create)) %></div>
    <div class="card-comments">
      <%= link_to t('.create_universe_button'), :universe_create %>
    </div>
  </div>
</div>
</div>

