<div class="hero hero--small">
  <div class="hero-content lower-left">
    <h3 class="teal-text text-lighten-2">Your digital notebook is here.</h1>
  </div>
  <div class="hero-container">
    <%= image_tag 'landing/digital-notebook.jpg', class: 'hero-image' %>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h4>
      Notebook is a set of tools for writers, game designers, and roleplayers to create magnificent universes &ndash; and everything within them.
    </h4>
    <p>
      From a simple interface in your browser, on your phone, or on your tablet, you can do everything you'd ever want to do while creating your own little (or big!) world.
    </p>
  </div>
  <div class="card-action">
    <%= link_to 'Get started', new_user_registration_path %>
  </div>
</div>

<div class="row">
  <div class="col s3">
    <%= render 'cards/intros/universe_intro' %>
  </div>
  <div class="col s3">
    <%= render 'cards/intros/character_intro' %>
  </div>
  <div class="col s3">
    <%= render 'cards/intros/location_intro' %>
  </div>
  <div class="col s3">
    <%= render 'cards/intros/item_intro' %>
  </div>
</div>

<h1>Pricing chart</h1>

<h1>October promotion</h1>

<h1>Second CTA</h1>


<div class="row">
  <div class="col s4">
    <div class="center promo promo-example">
      <i class="material-icons">flash_on</i>
      <p class="promo-caption">Speeds up development</p>
      <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo promo-example">
      <i class="material-icons">group</i>
      <p class="promo-caption">User Experience Focused</p>
      <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo promo-example">
      <i class="material-icons">settings</i>
      <p class="promo-caption">Easy to work with</p>
      <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
    </div>
  </div>
</div>