<div class="card">
	<h3 class="card-heading simple"><%= t '.heading' %></h3>
	<div class="card-body">
		<p><%= t '.paragraph_1_html' %></p>
		<p><%= t '.paragraph_2_html' %></p>
		<p><%= t '.paragraph_3_html' %></p>
		<p><%= t '.paragraph_4_html' %></p>
	</div>
	<div class="card-comments"></div>
</div>

<div class="card">
  <%= render 'quote_card' %>
</div>
