<div class="card">
  <h3 class="card-heading simple">
  	Attribution
  </h3>
  <div class="card-body">
  	<p>
  		There are a lot of wonderful artists out there, but I am not one of them. Therefore, I've populated the site with <a href="http://us.creativecommons.org/">Creative Commons</a> licensed images. Below, you can see who the artist is for any piece of art displayed on the site, and typically click through to more of their work.
  </div>
  <div class="card-comments"></div>
</div>

<div class="row-fluid">

	<div class="span4 card">
		<h3 class="card-heading simple">
			Ryan Bliss
		</h3>
		<div class="card-body">
			<a href="http://digb.deviantart.com/art/Portals-367961779">
				<%= image_tag "card-headers/universes.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="http://digb.deviantart.com">More by this artist</a>
		</div>
	</div>

	<div class="span4 card">
		<h3 class="card-heading simple">
			Anna Steinbauer
		</h3>
		<div class="card-body">
			<a href="http://depingo.deviantart.com/art/Spark-349760024">
				<%= image_tag "card-headers/characters.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="http://depingo.deviantart.com">More by this artist</a>
		</div>
	</div>

	<div class="span4 card">
		<h3 class="card-heading simple">
			Alex Ruiz
		</h3>
		<div class="card-body">
			<a href="http://alexruizart.deviantart.com/art/Conjuring-410846502">
				<%= image_tag "card-headers/magic.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="http://alexruizart.deviantart.com">More by this artist</a>
		</div>
	</div>

</div>

<div class="row-fluid">

	<div class="span4 card">
		<h3 class="card-heading simple">
			Paul Fisher
		</h3>
		<div class="card-body">
			<a href="http://paulsgruff.deviantart.com/art/Call-To-Convention-416240260">
				<%= image_tag "card-headers/locations.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="http://paulsgruff.deviantart.com">More by this artist</a>
		</div>
	</div>

	<div class="span4 card">
		<h3 class="card-heading simple">
			roaala (name pending)
		</h3>
		<div class="card-body">
			<a href="http://i.imgur.com/hyfaRvl.jpg">
				<%= image_tag "card-headers/equipment.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="#"></a>
		</div>
	</div>

	<div class="span4 card">
		<h3 class="card-heading simple">
			Tom Harrison
		</h3>
		<div class="card-body">
			<a href="http://tgharrison.deviantart.com/art/Alien-Territorial-Battle-371618831">
				<%= image_tag "card-headers/languages.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="http://tgharrison.deviantart.com">More by this artist</a>
		</div>
	</div>

</div>

<div class="row-fluid">

	<div class="span4 card">
		<h3 class="card-heading simple">
			Tony Delgrosso 
		</h3>
		<div class="card-body">
			<a href="http://www.flickr.com/photos/delgrossodotcom/5715664551">
				<%= image_tag "card-headers/hero.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="http://www.flickr.com/photos/delgrossodotcom/">More by this artist</a>
		</div>
	</div>

</div>