<div class="row">
  <div class="col-xs-3">
    <div class="card">
      <h1 class="card-heading">Attribution</h1>
      <div class="card-body">
        <p>
  		    There are a lot of wonderful artists out there, but I am not one of them.
        </p>
        <p>
          Therefore, I've populated the site with <a href="http://us.creativecommons.org/">Creative Commons</a> licensed images.
        </p>
        <p>
          Here you can see who the artist is for any piece of art displayed on the site, and typically click through to more of their work.
        </p>
      </div>
      <div class="card-comments"></div>
    </div>

  </div>

	<div class="col-xs-3">
	  <div class="card">
  		<h1 class="card-heading">
  			Ryan Bliss
	  	</h1>
      <a href="http://digb.deviantart.com/art/Portals-367961779">
	  	  <%= image_tag "card-headers/universes.jpg", style: "width: 100%" %>
  		</a>
  		<div class="card-comments">
	  		<a href="http://digb.deviantart.com">More by this artist</a>
		  </div>
	  </div>
	</div>

	<div class="col-xs-3">
	  <div class="card">
	  	<h1 class="card-heading">Anna Steinbauer</h1>
	  		<a href="http://depingo.deviantart.com/art/Spark-349760024">
	  			<%= image_tag "card-headers/characters.jpg", style: "width: 100%" %>
	  		</a>
	  	<div class="card-comments">
	  		<a href="http://depingo.deviantart.com">More by this artist</a>
  		</div>
  	</div>
	</div>

	<div class="col-xs-3">
	  <div class="card">
      <h1 class="card-heading">Alex Ruiz</h1>
			<a href="http://alexruizart.deviantart.com/art/Conjuring-410846502">
				<%= image_tag "card-headers/magic.jpg", style: "width: 100%" %>
			</a>
		  <div class="card-comments">
			  <a href="http://alexruizart.deviantart.com">More by this artist</a>
		  </div>
	  </div>
  </div>

</div>

<div class="row">

	<div class="col-xs-3">
	  <div class="card">
      <h1 class="card-heading">Paul Fisher</h1>
			<a href="http://paulsgruff.deviantart.com/art/Call-To-Convention-416240260">
				<%= image_tag "card-headers/locations.jpg", style: "width: 100%" %>
			</a>
      <div class="card-comments">
			  <a href="http://paulsgruff.deviantart.com">More by this artist</a>
		  </div>
	  </div>
  </div>

	<div class="col-xs-3">
	  <div class="card">
  		<h1 class="card-heading">roaala (name pending)</h1>
			<a href="http://i.imgur.com/hyfaRvl.jpg">
				<%= image_tag "card-headers/equipment.jpg", style: "width: 100%" %>
			</a>
	  	<div class="card-comments">
		  	<a href="#"></a>
		  </div>
	  </div>
  </div>

	<div class="col-xs-3">
	  <div class="card">
      <h1 class="card-heading">Tom Harrison</h1>
			<a href="http://tgharrison.deviantart.com/art/Alien-Territorial-Battle-371618831">
				<%= image_tag "card-headers/languages.jpg", style: "width: 100%" %>
			</a>
  		<div class="card-comments">
	  		<a href="http://tgharrison.deviantart.com">More by this artist</a>
		  </div>
    </div>
	</div>

	<div class="col-xs-3">
	  <div class="card">
  		<h1 class="card-heading">Tony Delgrosso</h1>
			<a href="http://www.flickr.com/photos/delgrossodotcom/5715664551">
				<%= image_tag "card-headers/hero.jpg", style: "width: 100%" %>
			</a>
  		<div class="card-comments">
	  		<a href="http://www.flickr.com/photos/delgrossodotcom/">More by this artist</a>
		  </div>
		</div>
	</div>

</div>
