<div class="row">

  <div class="col-xs-3">
    <div class="card">
      <h1 class="card-heading"><%= t '.title' %></h1>
      <div class="card-body">
        <%= t '.description_html' %>
      </div>
      <div class="card-comments"></div>
    </div>
  </div>

  <%= render partial: "artist_card",
             locals: {artist_name: t('.ryan_bliss'),
                      image_source: "http://digb.deviantart.com/art/Portals-367961779",
                      image: "card-headers/universes.jpg",
                      artist_gallery: "http://digb.deviantart.com"} %>

  <%= render partial: "artist_card",
             locals: {artist_name: t('.anna_steinbauer'),
                      image_source: "http://depingo.deviantart.com/art/Spark-349760024",
                      image: "card-headers/characters.jpg",
                      artist_gallery: "http://depingo.deviantart.com"} %>
                     

  <%= render partial: "artist_card",
             locals: {artist_name: t('.alex_ruiz'),
                      image_source: "http://alexruizart.deviantart.com/art/Conjuring-410846502",
                      image: "card-headers/magic.jpg",
                      artist_gallery: "http://alexruizart.deviantart.com"} %>
                     

</div>

<div class="row">
  
  <%= render partial: "artist_card",
             locals: {artist_name: t('.paul_fischer'),
                      image_source: "http://paulsgruff.deviantart.com/art/Call-To-Convention-416240260",
                      image: "card-headers/locations.jpg",
                      artist_gallery: "http://paulsgruff.deviantart.com"} %>

  <%= render partial: "artist_card",
             locals: {artist_name: t('.roaala'),
                      image_source: "http://i.imgur.com/hyfaRvl.jpg",
                      image: "card-headers/equipment.jpg",
                      artist_gallery: nil } %>

  <%= render partial: "artist_card",
             locals: {artist_name: t('.tom_harrison'),
                      image_source: "http://tgharrison.deviantart.com/art/Alien-Territorial-Battle-371618831",
                      image: "card-headers/languages.jpg",
                      artist_gallery: "http://tgharrison.deviantart.com" } %>

  <%= render partial: "artist_card",
             locals: {artist_name: t('.tony_delgrosso'),
                      image_source: "http://www.flickr.com/photos/delgrossodotcom/5715664551",
                      image: "card-headers/hero.jpg",
                      artist_gallery: "http://www.flickr.com/photos/delgrossodotcom/" } %>

</div>
