<% if @things > 0 %>
  <h1><small>You've created a total of</small> <%= @things %> <small><%= "thing".pluralize(@things) %>!</small></h1>
  <hr />

  <h2><%= @characters.length %> <small><%= link_to "character".pluralize(@characters.length), character_list_path %></small></h2>
  <h2><%= @equipment.length %> <small><%= link_to "piece".pluralize(@equipment.length) + " of equipment", equipment_list_path %></small></h2>
  <h2><%= @languages.length %> <small><%= link_to "language".pluralize(@languages.length), language_list_path %></small></h2>
  <h2><%= @locations.length %> <small><%= link_to "location".pluralize(@locations.length), location_list_path %></small></h2>
  <h2><%= @magics.length %> <small><%= link_to "manifestation".pluralize(@magics.length) + " of magic", magic_list_path %></small></h2>
  <h2><%= @universes.length %> <small><%= link_to "universe".pluralize(@universes.length), universe_list_path %></small></h2>
<% else %>

<h1>Someone new! <small>Lets get you started!</small></h1>
<hr />

<h3>Before you begin...</h3>
<div class="well">
  <h4>You probably want to create a Universe.</h4>
  <p></p>
  <p>
    Every story has its own set of characters, maps, history, relationships, and information that is unique to that story.
  </p>
  <p>
    While using Indent, you can encapsulate everything about your story within its own <strong>universe</strong>, separating your people, places, and things from those that exist within other stories. 
  </p>
  <p>
    This way, if you <em>really</em> like Indent and want to use it to plan multiple stories spanning across different worlds, you can! You can choose to see everything you've planned out across any universe, or you can see all information within a universe you're looking at. Pretty handy!
  </p>
  <p>
    If the concept of universes doesn't quite make sense to you, don't fret: <strong>you don't have to create a universe</strong>. Heck, you don't even have to create any characters &ndash; you're free to use Indent however you want. We just think putting things in universes might help you organize things better later, that's all.
  </p>
  <p></p>
  <h4>So lets get started!</h4>
  <p></p>
  <p>
    <%= link_to "Create your first universe!", universe_create_path, :class => "btn btn-primary" %> or skip it altogether and start creating something else, like 
    
    <%= link_to "characters", character_create_path %>,
    <%= link_to "equipment", equipment_create_path %>, or 
    <%= link_to "locations", location_create_path %>.
    
  </p>
</div>

<% end %>
