<% if @things > 0 %>

  <div class="card">
    <h3 class="card-heading simple">
      <small>You've created a total of</small> <%= @things %> <small><%= "thing".pluralize(@things) %>!</small>
    </h3>

    <div class="card-body">
      <p>
        <h2><%= @characters.length %> <small><%= link_to "character".pluralize(@characters.length), character_list_path %></small></h2>
        <h2><%= @equipment.length %> <small><%= link_to "piece".pluralize(@equipment.length) + " of equipment", equipment_list_path %></small></h2>
        <h2><%= @languages.length %> <small><%= link_to "language".pluralize(@languages.length), language_list_path %></small></h2>
        <h2><%= @locations.length %> <small><%= link_to "location".pluralize(@locations.length), location_list_path %></small></h2>
        <h2><%= @magics.length %> <small><%= link_to "manifestation".pluralize(@magics.length) + " of magic", magic_list_path %></small></h2>
        <h2><%= @universes.length %> <small><%= link_to "universe".pluralize(@universes.length), universe_list_path %></small></h2>
      </p>
    </div>
    <div class="card-comments"></div>

  </div>

<% else %>

  <div class="card">
    <h3 class="card-heading simple">
      Someone new! <small>Lets get you started!</small>
    </h3>
    <div class="card-body">
      <h4>Before anything else, you probably want to create a <strong>Universe</strong>.</h4>
      <p>
        As you build your world, you can rest assured that it is properly encapsulated within its very own Universe. Creating a universe means you can branch out and work on other stories and worlds from the same account, and keep them completely separated.
      </p>
      <div>
        <%= link_to "Create your first universe!", universe_create_path, :class => "btn btn-primary" %>
        or skip it altogether and start creating something else, like 
      
        <%= link_to "characters", character_create_path %>,
        <%= link_to "equipment", equipment_create_path %>, or 
        <%= link_to "locations", location_create_path %>.
      </div>
    </div>
    <div class="card-comments"></div>
  </div>

<% end %>
