<%= content_for :full_width_page_header do %>
  <%= render partial: 'content/components/parallax_universe_header' %>
<% end %>

<br />
<div class="row">

  <div class="col s12 m12 l8">
    <div class="grey-text uppercase" style="font-size: 1.6em">
      Expand your world<%= 's' unless @universe_scope.present? %>
    </div>
    <% if @content %>
      <%= render partial: 'cards/serendipitous/content_question', locals: { 
        content: @content, 
        field: @attribute_field_to_question,
        expand_by_default: true,
        include_quick_reference: true
      } %>
    <% end %>

    <div class="grey-text uppercase">Create something new</div>
    <div class="rowf">
      <% @activated_content_types.sample(2).each do |type| %>
        <% klass = content_class_from_name(type) %>
        <div class="col s12 m6">
          <%= link_to send("new_#{type.downcase}_path"), class: "white-text", style: 'width: 100%' do %>
            <div class="hoverable card-panel <%= klass.color %>">
              <div class="valign-wrapper">
                <i class="material-icons grey-bordered-text" class="left" style="font-size: 5em;"><%= klass.icon %></i>
                <span style="font-size: 1.1em; margin-left: 1em">
                  New
                  <%= type %><br />
                  <small>
                    <% unless @universe_scope %>
                      You've created
                    <% end %>
                    <%= pluralize (@current_user_content[type] || []).count, type.downcase %>
                    <% if @universe_scope %>
                      in this universe
                    <% end %>
                  </small>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col s12 m12 l4">
    <% if @recently_edited_pages.any? %>
      <div class="grey-text uppercase">
        Pick up where you left off
      </div>
      <ul>
        <% @recently_edited_pages.first(5).each do |page| %>
          <% klass = content_class_from_name(page.page_type) %>
          <%= link_to main_app.send("edit_#{page.page_type.downcase}_path", page.id), class: "#{klass.color}-text" do %>
            <li class="card-panel hoverable" style="margin-bottom: 0.5em; border-left: 5px solid <%= klass.hex_color %>">
              <i class="material-icons left <%= klass.color %>-text"><%= klass.icon %></i>
              <%= page.name %>
              <div class="grey-text">
                updated
                <%= time_ago_in_words page.updated_at %>
                ago
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="clearfix"></div>
  <%= render partial: 'main/dashboard_header_links' %>

  <%
    s_width = 12
    m_width = 6
    l_width = 6
  %>      

  <% current_user_universe_ids = current_user.universes.pluck(:id) %>
  <% @activated_content_types.each do |content_type| %>
    <%
      pluralized_content_name = content_type.downcase.pluralize

      if @universe_scope.present? && content_type != 'Universe'
        content_list = @universe_scope.send(pluralized_content_name)
      else
        content_list = @current_user_content[content_type] || [] +
                       current_user.send("contributable_#{pluralized_content_name}")
      end

      content_list = content_list.uniq
    %>

    <div class="dashboard-row col <%= "s#{s_width} m#{m_width} l#{l_width}" %>">
      <%= render partial: 'content/cards/in_universe_content_list', locals: { content_type: content_type.downcase, content_list: content_list } %>
    </div>
  <% end %>

  <div class="dashboard-row col <%= "s#{s_width} m#{m_width} l#{l_width}" %>">
    <%= link_to customization_content_types_path do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag "card-headers/more.jpg", height: 265 %>
          <span class="card-title bordered-text">
            <div>
              <i class="material-icons white-text" style="position: relative; top: 3px;">add</i>
              <%= pluralize((Rails.application.config.content_types[:all].count - @activated_content_types.count), 'other page type') %> available
            </div>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% 5.times do %>
  <br />
<% end %>

<%= render partial: 'javascripts/content_linking' %>