<% if @things > 0 %>
  <div class="col-md-4">
    <div class="card">
      <h1 class="card-heading">
      <small>You've created a total of</small> <%= @things %> <small><%= "thing".pluralize(@things) %>!</small>
      </h1>

      <div class="card-body">
        <p>
          Keep it up!
        </p>
      </div>
      <div class="card-comments"></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <p>
          <h2><%= @characters.length %> <small><%= link_to "character".pluralize(@characters.length), character_list_path %></small></h2>
          <h2><%= @equipment.length %> <small><%= link_to "piece".pluralize(@equipment.length) + " of equipment", equipment_list_path %></small></h2>
          <h2><%= @languages.length %> <small><%= link_to "language".pluralize(@languages.length), language_list_path %></small></h2>
          <h2><%= @locations.length %> <small><%= link_to "location".pluralize(@locations.length), location_list_path %></small></h2>
          <h2><%= @magics.length %> <small><%= link_to "manifestation".pluralize(@magics.length) + " of magic", magic_list_path %></small></h2>
          <h2><%= @universes.length %> <small><%= link_to "universe".pluralize(@universes.length), universe_list_path %></small></h2>
        </p>
      </div>
      <div class="card-comments"></div>
    </div>
  </div>

<% else %>
  <%= render 'dashboard_intro' %>
<% end %>
