<h1><small>You've created a total of</small> <%= @things %> <small>things!</small></h1>
<hr />

<h2><%= @characters.length %> <small><%= "character".pluralize(@characters.length) %></small></h2>
<h2><%= @equipment.length %> <small><%= "piece".pluralize(@equipment.length) %> of equipment</small></h2>
<h2><%= @languages.length %> <small><%= "language".pluralize(@languages.length) %></small></h2>
<h2><%= @locations.length %> <small><%= "location".pluralize(@locations.length) %></small></h2>
<h2><%= @magics.length %> <small><%= "manifestation".pluralize(@magics.length) %> of magic</small></h2>
<h2><%= @universes.length %> <small><%= "universe".pluralize(@universes.length) %></small></h2>
