<h1><small>You've created a total of</small> <%= @things %> <small>things!</small></h1>
<hr />

<h2><%= @characters.length %> <small>characters</small></h2>
<h2><%= @languages.length %> <small>languages</small></h2>
<h2><%= @locations.length %> <small>locations</small></h2>
<h2><%= @magics.length %> <small>manifestations of magic</small></h2>
<h2><%= @universes.length %> <small>universes</small></h2>
