<div class="min-h-full">
  <div class="flex flex-col flex-1">
    <main class="flex-1 pb-8">
      <div class="bg-white shadow-md">
        <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
          <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
            <div class="flex-1 min-w-0">
              <div class="flex items-center">
                <%= link_to current_user do %>
                  <%= image_tag current_user.image_url, class: "h-16 w-16 rounded-full #{User.color} ring-2 ring-green-700 hover:opacity-90 transition" %>
                <% end %>
                <div>
                  <div class="flex items-center">
                    <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                      Welcome back, <%= link_to current_user.display_name, current_user, class: User.text_color %>!
                    </h1>
                  </div>
                  <!--
                  <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                    <dt class="sr-only">Company</dt>
                    <dd class="flex items-center text-sm text-gray-500 font-medium sm:mr-6">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
                      </svg>
                      Today's goal: 0/3,000 words written
                    </dd>
                    <dt class="sr-only">Account status</dt>
                    <dd class="mt-3 flex items-center text-sm text-gray-500 font-medium sm:mr-6 sm:mt-0 capitalize">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                      </svg>
                      [progress bar]
                    </dd>
                  </dl>
                  -->
                </div>
              </div>
            </div>
            <div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">
              <!--
              <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">Data Vault</button>
              <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Discussions</button>
              -->
            </div>
          </div>
        </div>
      </div>

      <%# render partial: 'main/components/activity_bar', locals: { } %>

      <div class="max-w-7xl mx-auto grid grid-cols-8 my-4 md:px-0 px-4 space-x-4">
        <div class="col-span-5">
          <% if @content %>
            <h2 class="text-sm leading-6 font-medium text-gray-500 mb-2 text-center">
              Expand
              <% if @universe_scope.present? %>
                <%= link_to @universe_scope.name, @universe_scope, class: Universe.text_color %>
              <% else %>
                your worlds
              <% end %>
            </h2>
            <%= render partial: 'main/components/serendipitous_question', locals: { } %>
          <% end %>

          <h2 class="text-sm leading-6 font-medium text-gray-500 mb-2 text-center mt-4">
            Create a new page
          </h2>
          <%= render partial: 'main/components/create_new_page_list', locals: { } %>
        </div>
        <div class="col-span-3">

          <h2 class="text-sm leading-6 font-medium text-gray-500 hover:text-gray-800 mb-2 text-center">
            <%= link_to 'Active discussions', thredded_path %>
          </h2>
          <%= render partial: 'main/components/active_discussions', locals: { discussions: @most_recent_threads } %>

          <% if @recently_edited_pages %>
            <h2 class="text-sm leading-6 font-medium text-gray-500 hover:text-gray-800 mb-2 text-center">
              <%= link_to 'Your recent edits', recent_content_path %>
            </h2>
            <%= render partial: 'main/components/recently_edited_pages', locals: { } %>
          <% end %>
        </div>
      </div>
    </main>

  </div>
</div>

<%= render partial: 'javascripts/content_linking' %>
