<% if @content %>
  <div class="row">
    <div class="col s12">
      <%= render partial: 'cards/serendipitous/content_question', locals: { content: @content } %>
    </div>
  </div>
<% end %>

<%
  s_width = 12
  m_width = 6
  l_width = 6
%>

<div class="row">
  <% current_user_universe_ids = current_user.universes.pluck(:id) %>
  <% @activated_content_types.each do |content_type| %>
    <%
      pluralized_content_name = content_type.downcase.pluralize

      if @universe_scope.present? && content_type != 'Universe'
        content_list = @universe_scope.send(pluralized_content_name)
      else
        content_list = @current_user_content[content_type] || [] +
                       current_user.send("contributable_#{pluralized_content_name}")

        # todo I don't think this is actually necessary anymore, but leaving around for a few days just in case
        # if content_type != 'Universe'
        #   content_list.concat(content_type.constantize.where(universe_id: current_user_universe_ids))
        # end
      end

      content_list = content_list.uniq
    %>

    <div class="dashboard-row col <%= "s#{s_width} m#{m_width} l#{l_width}" %>">
      <%= render partial: 'content/cards/in_universe_content_list', locals: { content_type: content_type.downcase, content_list: content_list } %>
    </div>
  <% end %>

  <% if @activated_content_types.length < 5 && BillingPlan::PREMIUM_IDS.include?(current_user.selected_billing_plan_id) %>
    <div class="dashboard-row col <%= "s#{s_width} m#{m_width} l#{l_width}" %>">
      <%= render partial: 'content/cards/activate_premium_pages_cta' %>
    </div>
  <% end %>

  <div class="dashboard-row col <%= "s#{s_width} m#{m_width} l#{l_width}" %> hide-on-med-and-up">
    <%= render partial: 'content/cards/mobile_links' %>
  </div>
</div>
