<% if @things > 0 %>
  <div class="col-md-4">
    <div class="card">
      <h1 class="card-heading"><%= t '.header_html', count: @things %></h1>

      <div class="card-body">
        <p><%= t '.card_1_body' %></p>
      </div>
      <div class="card-comments"></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <p>
          <h2><%= @characters.length %> <small><%= link_to t('.character_count', count: @characters.length), character_list_path %></small></h2>
          <h2><%= @equipment.length %> <small><%= link_to t('.equipment_count', count: @equipment.length), equipment_list_path %></small></h2>
          <h2><%= @languages.length %> <small><%= link_to t('.language_count', count: @languages.length), language_list_path %></small></h2>
          <h2><%= @locations.length %> <small><%= link_to t('.location_count', count: @locations.length), location_list_path %></small></h2>
          <h2><%= @magics.length %> <small><%= link_to t('.magic_count', count: @magics.length), magic_list_path %></small></h2>
          <h2><%= @universes.length %> <small><%= link_to t('.universe_count', count: @universes.length), universe_list_path %></small></h2>
        </p>
      </div>
      <div class="card-comments"></div>
    </div>
  </div>

<% else %>
  <%= render 'dashboard_intro' %>
<% end %>
