<div class="row-fluid">
<% if @things > 0 %>
  <div class="card span4">
    <h3 class="card-heading simple">
      <small>You've created a total of</small> <%= @things %> <small><%= "thing".pluralize(@things) %>!</small>
    </h3>

    <div class="card-body">
      <p>
        Keep it up!
      </p>
    </div>
    <div class="card-comments"></div>
  </div>

  <div class="card span4">
    <div class="card-body">
      <p>
        <h2><%= @characters.length %> <small><%= link_to "character".pluralize(@characters.length), character_list_path %></small></h2>
        <h2><%= @equipment.length %> <small><%= link_to "piece".pluralize(@equipment.length) + " of equipment", equipment_list_path %></small></h2>
        <h2><%= @languages.length %> <small><%= link_to "language".pluralize(@languages.length), language_list_path %></small></h2>
        <h2><%= @locations.length %> <small><%= link_to "location".pluralize(@locations.length), location_list_path %></small></h2>
        <h2><%= @magics.length %> <small><%= link_to "manifestation".pluralize(@magics.length) + " of magic", magic_list_path %></small></h2>
        <h2><%= @universes.length %> <small><%= link_to "universe".pluralize(@universes.length), universe_list_path %></small></h2>
      </p>
    </div>
    <div class="card-comments"></div>
  </div>

</div>

<% else %>

<div class="card span5">
  <h3 class="card-heading simple">
    This is your dashboard
  </h3>
  <div class="card-body">

    <p>
      As you plan your stories, you can always return back here to get a view of everything
      you've created at a glance. To get back here from anywhere, simply click the 
      <strong>Indent</strong> logo up top, or the dashboard icon next to it.
    </p>
    <p>
      Good luck and have fun!
    </p>
  </div>
  <div class="card-comments">

  </div>
</div>

<div class="card span4">
  <h3 class="card-heading simple">
    Ready to get started?
  </h3>
  <div class="card-body">
    <p>
      Welcome to Indent. Before you get started, it's recommended that you 
      <%= link_to "create a universe", :universe_create %>.
    </p>
    <p>
      This universe will contain 
      everything you create about your world, and is a handy way to keep multiple worlds
      cleanly separated during the planning process.
    </p>
  </div>
  <div class="card-comments">
    <%= link_to "Create a universe!", :universe_create %>
  </div>
</div>

<% end %>
</div>
