<div id="feature-list">
  <div class="row nospacing">
    <div class="col s12">
      <h3>
        Notebook.ai Core Features
        <small class="grey-text text-darken-1">available to all users</small>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Make your notebook visual with image uploads</h4>
      <p>
        All users have 50MB of storage space in which they can use to upload images to any notebook page. Deleting an image frees up that space for use on another page.
      </p>
      <p>
        Premium subscribers have a whopping 10GB of storage space for images.
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/header-images.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <%= image_tag 'screenshots/templates.png', class: 'hoverable' %>
    </div>
    <div class="col s12 m6">
      <h4>Templates to get you started, yet infinitely customizable</h4>
      <p>
        Your characters, locations, and other pages are each created from a template that asks you all kinds of information ranging from a character's name to a government's origin story.
      </p>
      <p>
        These templates can be customized by you at any time to add or remove an unlimited number of categories and fields for your pages.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Writing prompts set in your world</h4>
      <p>
        You'll occasionally see writing prompts around the site asking you to expand on pages you've already created.
      </p>
      <p>
        For example, if you create a character named Edgar, you might see writing prompts asking for Edgar's age, educational history, or hobbies.
        Your answer will be automatically saved to the related page, and you won't be asked that question again.
      </p>
      <p>
        Additionally, if you create additional fields in your template, we'll automatically generate prompts based on your custom fields also!
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/prompts.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <%= image_tag 'screenshots/universe-filtering.png', class: 'hoverable' %>
    </div>
    <div class="col s12 m6">
      <h4>Focus on what's relevant with easy universe filtering</h4>
      <p>
        It can get overwhelming sometimes when you are working within one of many universes. Notebook.ai allows you to select an "active" universe that'll limit everything you see in your notebook to only pages from that universe.
        You can always flip back to the default "All universes" or any other universe at any time.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Private by default, but open to share</h4>
      <p>
        By default, every page you create is only available to you and only when you're logged in.
        You can change a page's privacy at any time to make it available to anyone you share that page with, and flip it back to private just as easily.
      </p>
      <p>
        You can also change privacy settings for entire universes at a time, instead of changing each page's settings individually.
      </p>
      <p>
        [You can read more about privacy on Notebook.ai here.](medium post)
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/sharing.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <%= image_tag 'screenshots/collaborators.png', class: 'hoverable' %>
    </div>
    <div class="col s12 m6">
      <h4>Collaborate with anyone, anywhere</h4>
      <p>
        You can invite an unlimited number of collaborators to work within your universe with you. They will have full access to each page within the universe
        and be able to add, delete, or edit any page just like you can.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Track every little change with changelogs</h4>
      <p>
        Every time you edit anything on a page, it is saved to that page's history. You can see when you changed anything or, if you're collaborating with others, see who changed what.
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/changelog.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Take advantage of the cloud</h4>
      <p>
        Because Notebook.ai lives in the cloud, you get a lot of additional benefits over a paper notebook.
      </p>
      <p>
        Your ideas are available to you on any phone, tablet, or computer, as long as you're logged into your account.
      </p>
      <p>
        Your ideas are always backed up and don't require you to lug notebooks around every time you move houses or head to a coffee shop to write.
      </p>
    </div>
    <div class="col s12 m5 offset-m1">
      <h4>Lively writer discussions</h4>
      <p>
        There were <%= Thredded::Topic.where('created_at > ?', DateTime.current - 7.days).count %> new threads posted in our forums this week, with <%= Thredded::Post.where('created_at > ?', DateTime.current - 7.days).count %> responses posted this week.
        All users are welcome to visit the forums and discuss worldbuilding, writing, and other things.
      </p>
      <p>
        <%= link_to 'Check out the forums', '#', class: 'btn white blue-text' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Instant notebook-wide search</h4>
      <p>
        One of the biggest perks of a digital notebook over a paper one is being able to instantly search through it and find the littlest of ideas from days past in seconds.
      </p>
      <p>
        Notebook.ai supports full-text search, so not only can you search for the names of your pages, but also for any word used on the entire page. For example, searching "drone" will return all of your pages that mention drones.
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/search.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <%= image_tag 'screenshots/exporting.png', class: 'hoverable' %>
    </div>
    <div class="col s12 m4 offset-m2">
      <h4>Own your data with notebook exports</h4>
      <p>
        You can export your entire notebook to download and make available offline at any time in several universal formats, such as CSV, JSON, XML, and plaintext.
      </p>
      <p>
         More formats are coming soon.
       </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Write and store full, rich-text documents</h4>
      <p>
        All users have access to our powerful documents, enabling you to write as little or as much as you'd like at any time. There are no limits on length, nor limits on the number of documents you can have.
      </p>
      <p>
        Go crazy and write something amazing!
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/documents.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row nospacing">
    <div class="col s12">
      <h3>
        Notebook.ai Premium features
        <small class="grey-text text-darken-1">for Premium subscribers</small>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Create unlimited universes</h4>
      <p>
        Premium subscribers can create an unlimited number of universes to organize their pages into. Universes are great for keeping your worlds separate and focusing on one world at a time.
      </p>
      <p>
        You can also view all pages within a universe in a wiki-style view by visiting that universe's notebook page at any time.
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/universes.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <%= image_tag 'screenshots/page-types.png', class: 'hoverable' %>
    </div>
    <div class="col s12 m6">
      <h4>Unlock <%= Rails.application.config.content_types[:premium].count %> additional page types</h4>
      <p>
        In addition to the free Character, Location, and Item pages, Premium subscribers also have access to page templates for
        <%= Rails.application.config.content_types[:premium].map { |ct| ct.name.pluralize }.to_sentence %>.
      </p>
      <p>
        <% Rails.application.config.content_types[:premium].map do |ct| %>
          <i class="medium material-icons <%= ct.color %>-text tooltipped" data-tooltip="Create unlimited <%= ct.name.downcase.pluralize %>"><%= ct.icon %></i>
        <% end %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Share your Premium with others</h4>
      <p>
        When you add collaborators to your universe, they'll be able to share your Premium subscription when working within that universe.
      </p>
      <p>
        This means they'll be able to create any kind of page you'd be able to create. Have a team working together on the same universe? Only the owner needs an active Premium subscription &mdash; it automatically shares itself with all collaborators!
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/premium-sharing.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h4>Peace of mind page recovery</h4>
      <p>
        By default, all users have up to 24 hours to recover their deleted pages if they decide they didn't actually want to delete them.
      </p>
      <p>
        Premium subscribers can recover pages for up to 7 days after you delete them.
      </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'screenshots/recovery.png', class: 'hoverable' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center">
      <p>
        <strong>Ready to get started?</strong>
      </p>
      <%= link_to 'Start worldbuilding for free now', new_user_registration_path, class: 'btn blue white-text' %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Learn more about Notebook.ai pricing', pricing_path, class: 'btn white black-text' %>
    </div>
  </div>
</div>
