<div class="row">
  <div class="col s12">
    <h4>Worldbuilding with Notebook.ai</h4>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h5>
      Notebook.ai Core Features
      <small class="grey-text text-darken-1">available to all users</small>
    </h5>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Make your notebook visual with image uploads</h6>
    <p>
      All users have 50MB of storage space in which they can use to upload images to any notebook page. Deleting an image frees up that space for use on another page.
    </p>
    <p>
      Premium subscribers have a whopping 10GB of storage space for images.
    </p>
  </div>
  <div class="col s12 m6">
    <%= image_tag 'screenshots/header-images.png' %>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Templates to get you started, yet infinitely customizable</h6>
    <p>
      Your characters, locations, and other pages are each created from a template that asks you all kinds of information ranging from a character's name to a government's origin story.
    </p>
    <p>
      These templates can be customized by you at any time to add or remove an unlimited number of categories and fields for your pages.
    </p>
  </div>
  <div class="col s12 m6">
    <%= image_tag 'screenshots/templates.png' %>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Writing prompts set in your world</h6>
    <p>
      You'll occasionally see writing prompts around the site asking you to expand on pages you've already created.
    </p>
    <p>
      For example, if you create a character named Edgar, you might see writing prompts asking for Edgar's age, educational history, or hobbies.
      Your answer will be automatically saved to the related page, and you won't be asked that question again.
    </p>
    <p>
      Additionally, if you create additional fields in your template, we'll automatically generate prompts based on your custom fields also!
    </p>
  </div>
  <div class="col s12 m6">
    <%= image_tag 'screenshots/prompts.png' %>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Privacy controls</h6>
    <p>
      By default, every page you create is only available to you and only when you're logged in.
      You can change a page's privacy at any time to make it available to anyone you share that page with, and flip it back to private just as easily.
    </p>
    <p>
      You can also change privacy settings for entire universes at a time, instead of changing each page's settings individually.
    </p>
    <p>
      [You can read more about privacy on Notebook.ai here.](medium post)
    </p>
  </div>
  <div class="col s12 m6">
    <%= image_tag 'screenshots/sharing.png' %>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Universe collaboration</h6>
    <p>
      You can invite an unlimited number of collaborators to work within your universe with you. They will have full access to each page within the universe
      and be able to add, delete, or edit any page just like you can.
    </p>
  </div>
  <div class="col s12 m6">
    <%= image_tag 'screenshots/collaborators.png' %>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Track every change with changelogs</h6>
    <p>
      Every time you edit anything on a page, it is saved to that page's history. You can see when you changed anything or, if you're collaborating with others, see who changed what.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Universe filtering</h6>
    <p>
      It can get overwhelming sometimes when you are working within one of many universes. Notebook.ai allows you to select an "active" universe that'll limit everything you see in your notebook to only pages from that universe.
      You can always flip back to the default "All universes" or any other universe at any time.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Instant notebook-wide search</h6>
    <p>
      One of the biggest perks of a digital notebook over a paper one is being able to instantly search through it and find the littlest of ideas from days past in seconds.
    </p>
    <p>
      Notebook.ai supports full-text search, so not only can you search for the names of your pages, but also for any word used on the entire page. For example, searching "drone" will return all of your pages that mention drones.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Perks of the cloud</h6>
    <p>
      Because Notebook.ai lives in the cloud, you get a lot of additional benefits over a paper notebook.
    </p>
    <p>
      Your ideas are available to you on any phone, tablet, or computer, as long as you're logged into your account.
    </p>
    <p>
      Your ideas are always backed up and don't require you to lug notebooks around every time you move houses or head to a coffee shop to write.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Lively writer discussions</h6>
    <p>
      There were <%= Thredded::Topic.where('created_at > ?', DateTime.current - 7.days).count %> new threads posted in our forums this week, with <%= Thredded::Post.where('created_at > ?', DateTime.current - 7.days).count %> responses posted this week.
      All users are welcome to visit the forums and discuss worldbuilding, writing, and other things.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Notebook exports</h6>
    <p>
      You can export your entire notebook at any time in several universal formats, such as CSV, JSON, XML, and plaintext.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h5>
      Notebook.ai Premium features
      <small class="grey-text text-darken-1">available to Premium subscribers</small>
    </h5>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Unlimited universes</h6>
    <p>
      Premium subscribers can create an unlimited number of universes to organize their pages into.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6><%= Rails.application.config.content_types[:premium].count %> additional page types</h6>
    <p>
      In addition to the free Character, Location, and Item pages, Premium subscribers also have access to page templates for
      <%= Rails.application.config.content_types[:premium].map { |ct| ct.name.pluralize }.to_sentence %>.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Premium Sharing</h6>
    <p>
      When you add collaborators to your universe, they'll be able to share your Premium when working within that universe.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <h6>Extended page recovery options</h6>
    <p>
      By default, all users have up to 24 hours to recover their deleted pages if they decide they didn't actually want to delete them.
    </p>
    <p>
      Premium subscribers can recover pages for up to 7 days after their deletion.
    </p>
  </div>
  <div class="col s12 m6">
    [screenshot]
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <%= link_to 'Compare Notebook.ai plan pricing', pricing_path, class: 'btn white black-text' %>
  </div>
</div>
