<%
  if user_signed_in?
    share_link = "https://www.notebook.ai/?referral=#{current_user.referral_code.code}"
  end
%>

<div id="index-banner" class="hero">
  <div class="section no-pad-bot">
    <div class="container">
      <br />
      <br />
      <h1 class="header center blue-text">
        Notebook.ai Community Drive
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">
          Worldbuilding is better with a world of ideas.
        </h5>
      </div>
      <div class="row center">
        <% if user_signed_in? %>
          <%= link_to 'Invite a friend',
                      '#share-modal',
                      class: 'btn-large waves-effect waves-light blue lighten-1 modal-trigger' %>
        <% else %>
          <%= link_to 'Sign up now',
                      new_user_registration_path,
                      class: 'btn-large waves-effect waves-light blue lighten-1' %>
        <% end %>
        <br />
        <br />
        Earn rewards for yourself <em>and</em> your friends!
      </div>
      <br />
      <br />
    </div>
  </div>
  <%= image_tag 'landing/community.jpg', class: 'hero-image' %>
</div>

<div id="share-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>
      <i class="material-icons right blue-text">share</i>
      Share Notebook.ai with friends
    </h4>
    <p>
      Your personal referral link is below, ready to share! Whenever someone who signed up for Notebook.ai with your referral link starts a Premium subscription, you'll both get extra goodies!
    </p>

    <% if user_signed_in? %>
      <div class="center">
        <h5>Your referral link</h5>
        <input type="text"
               value="<%= share_link %>"
               style="text-align: center"
               onClick="this.select();" />
      </div>

      <div class="row">
        <div class="col s12">
          <h5 class="center">Share your link</h5>
        </div>

        <div class="col s12 m4 center">
          <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{share_link}", target: '_new' do %>
            <%= image_tag 'share/facebook.png' %>
          <% end %>
        </div>
        <div class="col s12 m4 center">
          <%= link_to "https://twitter.com/home?status=Notebook.ai%20is%20a%20game-changer%20in%20worldbuilding.%20Use%20my%20referral%20link%20and%20we'll%20both%20get%20awesome%20prizes!%20%40indentlabs%20#{share_link}", target: '_new' do %>
            <%= image_tag 'share/twitter.png' %>
          <% end %>
        </div>
        <div class="col s12 m4 center">
          <%= link_to "https://plus.google.com/share?url=#{share_link}", target: '_new' do %>
            <%= image_tag 'share/google.png' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center">
          <div>
            Or, share somewhere else with one click:
          </div>
          <%=
            social_share_button_tag(
              "Notebook.ai is a game-changer in worldbuilding. Use my referral link and we'll both get awesome prizes!",
              url: share_link,
              'data-twitter-title' => "Notebook.ai is a game-changer in worldbuilding. Use my referral link and we'll both get awesome prizes! @indentlabs"
            )
          %>
        </div>
      </div>

    <% else %>
      <div class="hoverable" style="max-width: 600px; margin: 0 auto; padding: 25px; border: 1px dashed #ccc">
        <%=
          render partial: 'devise/sessions/form', locals: {
            title_override: 'Log in to get your referral code'
          }
        %>
      </div>
    <% end %>

  </div>
  <div class="modal-footer">
    <% if user_signed_in? %>
      <div class="left" style="margin-top: 15px; margin-left: 15px;">
      </div>
    <% end %>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card light-blue">
          <div class="card-content white-text">
            <span class="card-title">The community drive has ended.</span>
            <p>
              A huge thank you to everyone that participated in the community drive!
            </p>
            <p style="padding-top: 20px;">
              Our raffle winner has been notified (check your email!) and we've added 10GB of storage space to all Premium user accounts
              from now until forever as a thank you.
            </p>
            <p style="padding-top: 20px;">
              Additionally, our feature voting has also ended and you can expect to see <strong>Forums & Chat Rooms</strong> (and then
              <strong>Universe Collaboration</strong> soon)! We've left the rest of this page live and as-is for reference.
            </p>
            <p style="padding-top: 20px;">
              Happy worldbuilding!
              <br /><br />
              - Andrew, Notebook.ai creator
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center">
      <%= image_tag 'referrals/raffle-progress.png', width: '100%' %>
      <div class="grey-text">(last updated June 15)</div>
    </div>
  </div>
  <div class="section">

    <div class="row">
      <div class="col s12 m12">
        <div>
          <%= image_tag 'logos/book-small', class: 'left' %>
          <h4>
            Notebook.ai currently has <strong class="blue-text"><%= @subscriber_count %></strong> subscribers.
            <small class="grey-text">We're <%= (@subscriber_count / 250.0 * 100).round(0) %>% there!</small>
          </h4>

          <p class="light">
            Since launch, we've seen a <em>ton</em> of great feedback and feature requests &mdash; and are looking forward to making Notebook.ai
            better and better every day.
          </p>
          <p class="light">
            To fund that development (and keep my lights on while working full-time on the project), we launched subscriptions on February 1<sup>st</sup>, 2017. Since then, subscriptions have directly funded development and server resources for Notebook.ai, resulting in several great new features.
          <p>
            <strong>Until <%= @drawing_date.strftime('%B %-d') %><sup>th</sup>, Notebook.ai is hosting a community referral drive with a ton of great rewards and prizes to all users who take part and refer their worldbuilding friends to Notebook.ai.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4>Rewards for participating</h4>
        <p class="light">
          On <%= @drawing_date.strftime('%B %-d') %><sup>th</sup>, Notebook.ai will be holding a raffle to reward those with a Premium subscription and those that participated in the community drive &mdash; and more subscribers means better prizes!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <%= image_tag 'referrals/current-raffle.png', width: '100%' %>
      </div>
      <div class="col s12 m4">
        <%= image_tag 'referrals/better-raffle.png', width: '100%' %>
      </div>
      <div class="col s12 m4">
        <%= image_tag 'referrals/best-raffle.png', width: '100%' %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= image_tag 'referrals/all-raffle-prizes.png', width: '100%' %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4>More goodies for you and your friends with every referral</h4>
        <p class="light">
          Each user you refer that signs up for Premium will automatically gift both you and them some extra goodies.
        </p>
      </div>
      <div class="col s12 m6">
        <%= image_tag 'referrals/rewards-for-you.png', width: '100%' %>
      </div>
      <div class="col s12 m6">
        <%= image_tag 'referrals/notebook_rewards-for-your-bud', width: '100%' %>
      </div>


      <div class="col s12 m12">
        <br />
        <div class="center">
          <%= link_to 'Invite a friend',
                      '#share-modal',
                      class: 'btn-large waves-effect waves-light blue lighten-1 modal-trigger' %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4>Get extra votes for Notebook.ai's first community feature</h4>
        <p class="light">
          Worldbuilding is better with a world of diverse experiences and ideas. For the first time, all Premium users have been given a vote to decide what Notebook.ai's first community-based feature will be! You can cast your vote at <%= link_to 'the voting page', community_voting_path %>, and you can earn additional votes with each referral.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content">
            <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">stars</i></div>
            <h5>Community Challenges</h5>
            <p>
              Submit your worlds to themed challenges that will push your creativity to its limits &mdash; with prizes!
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content">
            <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">group_work</i></div>
            <h5>Universe Collaboration</h5>
            <p>
              Collaborate and work together with friends and coworkers in your universes &mdash; while staying in control.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content">
            <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">forum</i></div>
            <h5>Forums & Chat Rooms</h5>
            <p>
              Discuss your worlds and ideas in great detail with other brilliant worldbuilders from all over Earth.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content">
            <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">live_help</i></div>
            <h5>Expert Q&A Sessions</h5>
            <p>
              Get any and all of your worldbuilding questions answered by experts on geography, civics, biology, and more.
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 center">
        <%= link_to 'Cast your vote and see results on our voting page', community_voting_path %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <strong>Only <%= (@drawing_date - Date.today).to_i %> days remaining in the community drive.</strong>
        <br />
        Users with a Premium subscription will be randomly selected as raffle winners on June 15<sup>th</sup>, 2017.
        <br /><br />
        <%= link_to 'Invite a friend',
                    '#share-modal',
                    class: 'btn-large waves-effect waves-light blue lighten-1 modal-trigger' %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4>Frequently asked questions</h4>
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>Can I invite multiple friends?</div>
            <div class="collapsible-body"><span>
              Absolutely! In fact, we'd love it if you did! Whenever any of your referrals sign up for a Premium subscription, both they and you will receive the extra goodies above. There's no limit to how many goodies you can get, so invite anyone and everyone you think would enjoy and/or love Notebook.ai!
            </span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>Can the friends I invite also invite their friends?</div>
            <div class="collapsible-body"><span>
              Absolutely! It doesn't matter whether you were invited by a friend or signed up yourself &mdash; anyone you invite will be eligible to earn referral goodies for you and them whenever they sign up for a Premium subscription.
            </span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>How does the voting work?</div>
            <div class="collapsible-body"><span>
              Until <%= (@drawing_date + 7.days).strftime('%B %-d') %>, all Premium users can cast their votes on the first community feature to be developed <%= link_to 'at our voting page', community_voting_path %>. After that date, the feature with the most votes will win &mdash; and will be introduced with Notebook.ai's next feature update.
            </span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>When will the raffle drawing happen?</div>
            <div class="collapsible-body"><span>
              The raffle drawing will happen at noon UTC, <%= @drawing_date.strftime('%B %-d') %>.
            </span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>How can I check the drive progress?</div>
            <div class="collapsible-body"><span>
              Come back to this page anytime! You'll be able to see how the drive is going, how close we are to the goal, and what the current rewards and raffle looks like. Don't forget &mdash; the more subscribers we get by <%= @drawing_date.strftime('%B %-d') %>, the better the raffle will be!
            </span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>How long does someone have to sign up for to count?</div>
            <div class="collapsible-body">
              <span>Any user that signs up for a Premium subscription will count towards progress in the drive (unlocking new rewards and gifting goodies to their referrer). Premium users with an active subscription on <%= @drawing_date.strftime('%B %-d') %> will be eligible to win in the raffle.</span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>Can I be selected for the raffle twice?</div>
            <div class="collapsible-body"><span>
              In order to give everyone a fair chance at winning something in the raffle, each user is only eligible to be drawn in the raffle at most once.
            </span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>Have any other questions?</div>
            <div class="collapsible-body"><span>
              I'm always happy to chat! Feel free to send me an email directly at an<span>d</span>re<strong></strong>w@<em></em>indent<span></span>labs<strong></strong>.c<em></em>om.
            </span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
