<section class="text-green-900" style="height: 66vh;">
  <div class="h-full bg-right-bottom bg-cover flex shadow-lg" style="background-image: url(<%= image_path 'https://images.unsplash.com/photo-1544198365-f5d60b6d8190?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80' %>);">
    <div class="container mx-auto p-4 flex items-center z-10">
      <div class="text-center w-full">
        <div class="text-white py-4 px-5 my-5">
          <div class="mb-3 text-4xl md:text-6xl" style="text-shadow: white 0px 0px 10px;">
            The <span class="text-blue-200">smart</span> notebook<br class="hidden sm:block" />
            for <span class="text-blue-200">smart</span> roleplayers
          </div>
          <div class="leading-normal text-3xl" style="text-shadow: white 0px 0px 10px;">
            Create your world and share it with your players.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <%= image_tag 'logos/book-small.webp', class: 'object-cover object-center rounded float-right' %>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
        What is Notebook.ai?
      </h1>
      <p class="mb-4 leading-relaxed">
        Notebook.ai is a digital replacement for the paper notebooks we've filled up over the years. Rather than jotting down paper notes
        about characters, locations, and <em>things</em> in your worlds, Notebook.ai helps you create detailed, dedicated pages for each of your ideas that can
        be revised over time, linked together, searched, organized, tagged, and more.
      </p>
      <p class="mb-8 leading-relaxed">
        By going digital, your new notebook is able to take advantage of a ton of "features" you wouldn't get with plain paper.
      </p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="flex flex-wrap w-full mb-4 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
        It all starts with <span class="<%= Universe.text_color %>">your first universe</span>...
      </h1>
    </div>
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <%= image_tag "card-headers/universes.webp", class: 'object-cover object-center h-full w-full' %>
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
            <i class="material-icons <%= Universe.text_color %> text-6xl"><%= Universe.icon %></i>
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
              The Notebook.ai Multiverse
            </h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">
            When you create a <span class="<%= Universe.text_color %>">universe</span> on Notebook.ai, you're creating a folder in which you
            can put your other notebook pages into.
          </p>
          <p class="leading-relaxed text-lg mb-4">
            Organizing your pages into universes automatically empowers your worldbuilding process with a few useful features:
          </p>
          <div class="mb-4">
            <div class="bg-blue-100 my-2 rounded flex p-4 items-center">
              <span class="title-font font-medium">
                <i class="material-icons float-left mr-4 mt-6">check</i>
                You can now <span class="<%= Universe.text_color %>">focus</span> on a single universe at a time.
                Doing this hides all of your notebook pages that <em>aren't</em> in that universe, so you can fully dive into the world you're working on.
              </span>
            </div>
            <div class="bg-blue-100 my-2 rounded flex p-4 items-center">
              <span class="title-font font-medium">
                <i class="material-icons float-left mr-4 mt-2">check</i>
                Whenever you <span class="<%= Universe.text_color %>">link</span> to other pages, you'll only see pages within the same universe
                recommended.
              </span>
            </div>
            <div class="bg-blue-100 my-2 rounded flex p-4 items-center">
              <span class="title-font font-medium">
                <i class="material-icons float-left mr-4 mt-2">check</i>
                You can now <span class="<%= Universe.text_color %>">invite</span> collaborators to work on pages in that universe with you. Of course,
                you don't have to! Everything on Notebook.ai is private by default.
              </span>
            </div>
            <div class="bg-blue-100 my-2 rounded flex p-4 items-center">
              <span class="title-font font-medium">
                <i class="material-icons float-left mr-4 mt-2">check</i>
                When you're ready, you can <span class="<%= Universe.text_color %>">share</span> your entire universe (or any individual pages) with your players,
                while keeping private notes for your eyes only.
              </span>
            </div>
          </div>
          <%= link_to universe_worldbuilding_info_path, class: "#{Universe.text_color} inline-flex items-center mt-4" do %>
            Learn more about universes
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
        Now it's time to start building your world!
      </h1>
      <span class="title-font font-medium">
        The core worldbuilding blocks (Characters, Locations, and Items) are free to create for every account:
      </span>
    </div>

    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 bg-white shadow hover:shadow-lg rounded-lg overflow-hidden">
          <%= image_tag 'card-headers/characters.webp', class: 'lg:h-64 md:h-48 w-full object-cover object-center' %>
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">FREE FOR ALL USERS</h2>
            <h1 class="title-font text-lg font-medium <%= Character.text_color %> mb-3">Characters</h1>
            <p class="leading-relaxed mb-3">
              <%= t("content_descriptions.character") %>
            </p>
            <div class="flex items-center flex-wrap ">
              <%= link_to character_worldbuilding_info_path, class: "#{Character.text_color} inline-flex items-center md:mb-2 lg:mb-0" do %>
                Learn more about characters
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 bg-white shadow hover:shadow-lg rounded-lg overflow-hidden">
          <%= image_tag 'card-headers/locations.webp', class: 'lg:h-64 md:h-48 w-full object-cover object-center' %>
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">FREE FOR ALL USERS</h2>
            <h1 class="title-font text-lg font-medium <%= Location.text_color %> mb-3">Locations</h1>
            <p class="leading-relaxed mb-3">
              <%= t("content_descriptions.location") %>
            </p>
            <div class="flex items-center flex-wrap ">
              <%= link_to location_worldbuilding_info_path, class: "#{Location.text_color} inline-flex items-center md:mb-2 lg:mb-0" do %>
                Learn more about locations
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 bg-white shadow hover:shadow-lg rounded-lg overflow-hidden">
          <%= image_tag 'card-headers/items.webp', class: 'lg:h-64 md:h-48 w-full object-cover object-center' %>
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">FREE FOR ALL USERS</h2>
            <h1 class="title-font text-lg font-medium <%= Item.text_color %> mb-3">Items</h1>
            <p class="leading-relaxed mb-3">
              <%= t("content_descriptions.item") %>
            </p>
            <div class="flex items-center flex-wrap ">
              <%= link_to item_worldbuilding_info_path, class: "#{Item.text_color} inline-flex items-center md:mb-2 lg:mb-0" do %>
                Learn more about items
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container flex flex-wrap px-5 pb-24 mx-auto items-center">
    <div class="md:w-1/2 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
        Materialize your world, bit by bit
      </h1>
      <p class="leading-relaxed text-base mb-4">
        Notebook.ai automatically generates questions about the pages you've created and politely asks for answers. When you answer any prompt,
        that answer is automatically saved to the relevant page.
      </p>
      <p class="leading-relaxed text-base mb-4">
        You'll also notice other helpful features around the site that assist in the more mundane aspects of worldbuilding, freeing you up to
        do the fun work.
      </p>

      <div>
        <div class="bg-blue-100 my-2 rounded flex p-4 items-center">
          <span class="title-font font-medium">
            <i class="material-icons float-left mr-4 mt-6 mb-4">check</i>
            If you <span class="text-notebook-blue">customize</span> a page's template, the fields you change are automatically synced across all of your
            pages of that type. For example, adding a field for an item's damage type will instantly create that field for <em>all</em> of your
            items!
          </span>
        </div>
        <div class="bg-blue-100 my-2 rounded flex p-4 items-center">
          <span class="title-font font-medium">
            <i class="material-icons float-left mr-4 mt-2">check</i>
            Whenever you <span class="text-notebook-blue">mention</span> another page, a two-way link is automatically created that you can click
            through, from either page.
          </span>
        </div>
        <div class="bg-blue-100 my-2 rounded flex p-4 items-center">
          <span class="title-font font-medium">
            <i class="material-icons float-left mr-4 mt-5 mb-4">check</i>
            Whenever you <span class="text-notebook-blue">link</span> one page to another, you may notice the inverse link also created automatically. For example,
            creating a "subgroup" link on a Group page will automatically create a "supergroup" link back.
          </span>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:w-1/2 md:pl-12">
      <p class="leading-relaxed text-base mb-4">
        For more advanced worldbuilders, an optional Premium subscription unlocks <%= Rails.application.config.content_types[:premium].count %> additional page types
        that help you give life to your world in incredible detail.
      </p>
      <h2 class="title-font font-semibold text-gray-800 tracking-wider text-sm mb-3">PREMIUM PAGE TYPES</h2>
      <ul class="flex flex-wrap list-none mb-4">
        <% Rails.application.config.content_types[:premium].each do |content_type| %>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <%= link_to send("#{content_type.name.downcase}_worldbuilding_info_path"), class: "#{content_type.text_color} font-bold" do %>
              <%= content_type.name.pluralize %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <p class="leading-relaxed text-base mb-4">
        Like the core pages, each premium page comes with a fully-customizable template, generative prompts, and an area to upload reference images and other art.
      </p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="rounded-lg w-full h-64 overflow-hidden mb-8">
      <%= image_tag "https://images.unsplash.com/photo-1605870445919-838d190e8e1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80", class: 'object-cover object-center h-full w-full' %>
    </div>
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 text-center">
      Involve your players!
    </h1>
    <div class="title-font font-medium mx-auto text-center">
      When you're ready to put your world to use, you have plenty of options.
    </div>
    <div class="flex flex-wrap -m-4 mt-8">
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-white border border-gray-200 bg-opacity-75 p-8 rounded-lg overflow-hidden relative">
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
            Drive
          </h1>
          <p class="leading-relaxed mb-3">
            You're in full control of what pages are public and what pages are private. You can present as little or as
            much of your world to your players as you'd like &mdash; and change anything at any time.
          </p>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-white border border-gray-200 bg-opacity-75 p-8 rounded-lg overflow-hidden relative">
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
            Collaborate
          </h1>
          <p class="leading-relaxed mb-3">
            If you want to share some control of your world with your players, you can invite them as collaborators
            to your universe. This reveals all of the pages in the universe to them and lets them make edits. Each
            edit is logged so you can review who changed what.
          </p>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-white border border-gray-200 bg-opacity-75 p-8 rounded-lg overflow-hidden relative">
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
            Export
          </h1>
          <p class="leading-relaxed mb-3">
            If you prefer to use other software for managing your campaign, Notebook.ai supports several different
            formats to completely export all of your notebook data, letting you take it wherever you go.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="text-center my-24">
  <%= link_to 'Ready to start building a new world?', new_user_registration_path, class: 'bg-notebook-blue hover:bg-blue-400 shadow-lg rounded-lg text-white py-4 px-8 mx-auto text-xl border border-blue-400' %>
  <div class="mt-6 text-gray-500">
    Empower your entire writing process with a new kind of tool.
  </div>
</div>

<section class="text-gray-700">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">
        Frequently Asked Questions
      </h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
        Have another question? Feel free to ask it in the
        <%= link_to 'Site Support forums', 'https://www.notebook.ai/forum/site-support', class: 'text-notebook-blue' %>,
        tweet <%= link_to '@IndentLabs', 'https://www.twitter.com/indentlabs', class: 'text-notebook-blue' %>,
        or
        <%= link_to 'PM @andrew', 'https://www.notebook.ai/@andrew', class: 'text-notebook-blue' %>!
      </p>
    </div>
    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      <div class="w-full lg:w-1/2 px-4 py-2">
        <details class="mb-4">
          <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
            How long has this site been around?
          </summary>
          <span>
            Notebook.ai launched in October of 2015, which means we've been around for about
            <%= pluralize (Date.current - 'October 1, 2015'.to_date).to_i / 365, 'year' %> now!
          </span>
        </details>
        <details class="mb-4">
          <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
            Who owns the content I add here?
          </summary>
          <span>
            You do. Notebook.ai is designed to feel like your own notebook. Every page you create is fully owned by
            you and private by default. You can also export your entire notebook in a variety of formats at any time.
          </span>
        </details>
        <details class="mb-4">
          <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
            What does it mean that the site is "open source"?
          </summary>
          <span>
            This means that the source code required to run the site is freely available for anyone to access at any time.
            We also welcome contributions to that source code from developers who wish to add new features to the site.
          </span>
        </details>
      </div>
      <div class="w-full lg:w-1/2 px-4 py-2">
        <details class="mb-4">
          <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
            What happens when I downgrade my account?
          </summary>
          <span class="px-4">
            When you downgrade your account, you'll be unable to create <em>new</em> Premium pages, but you will
            retain full access to view, edit, and share any existing pages you've already created, regardless of
            whether they're a Premium page or not.
          </span>
        </details>
        <details class="mb-4">
          <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
            Do you support PayPal?
          </summary>
          <span class="px-4">
            Yes, we do. You can prepay for subscriptions with PayPal, which act like traditional subscriptions except
            they automatically cancel at the end of their duration instead of renewing.
          </span>
        </details>
        <details class="mb-4">
          <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
            How does Premium work with collaborators?
          </summary>
          <span class="px-4">
            If the owner of a shared universe has an active Premium subscription, all of its collaborators can
            share that Premium subscription for free while working within that universe. In other words, you can
            share your Premium subscription with your universes' collaborators.
          </span>
        </details>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">What are people saying?</h1>
    <div class="flex flex-wrap -m-4">

      <%
        [
          [
            "Thank you for this amazing program. It's just what I, and hundreds of others, need to help flesh out their world and keep our ridiculous notes straight.",
            "Faustyna", "Happy user"
          ],
          [
            "This is one of those products I didn't realize I desperately wanted till I interacted with it. It all works very slick, very modern.",
            "JonBanes", "Happy user"
          ],
          [
            "This is amazing. I have so many text documents sitting in various folders and files compiling all my info, so thank you so much for making a place I can keep everything online and in one place. This looks amazing and I'm so glad to see it grow and expand.",
            "cephalopodcat", "Happy user"
          ],
          [
            "I just want to say I love you. I have spent the last week or so compiling notes from three different notebooks into this program, and it's been a few days and there's already tons of new things that are awesome.",
            "Dr_Toast", "Happy user"
          ],
          [
            "Where the hell has this been my whole life?",
            "politesniper", "Happy user"
          ]
        ].each do |quote, name, title|
      %>

        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full p-8 rounded-lg bg-white border-2 border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">
              <%= quote %>
            </p>
            <a class="inline-flex items-center">
              <span class="flex-grow flex flex-row items-center pl-4">
                <span class="title-font font-medium text-gray-900"><%= name %>,</span>
                <span class="text-gray-500 text-sm ml-2"><%= title %></span>
              </span>
            </a>
          </div>
        </div>

      <%
        end
      %>
    </div>
  </div>
</section>
