<div id="landing-page-1">
<div class="row">

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h1 style="font-size: 44px;">
          Indent <small>before you write</small>
        </h1>
        <p>
          Indent is a set of tools for writers, game designers, and roleplayers to create magnificent universes &ndash; and everything within them.
        </p>
        <p>
          From a simple interface in your browser, on your phone, or on your tablet, you can do everything you'd ever want to do while creating your own little (or big!) world.
        </p>
        <p>
          Ready?
        </p>

      </div>
      <div class="card-comments">
        <a class="btn btn-primary btn-lg" href="/anon-login">
          Get Started Now<br />
        </a>
        or <a href="/login">log in to your existing account</a>      
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="card" style="padding-top: 0px; background: black;">
      <%= image_tag "card-headers/hero.jpg", :style => "width: 100%;" %>
    </div>
  </div>

</div>

<div class="row" id="content-types">
  <div class="col-sm-3">
    <div class="card">
      <h1 class="card-heading">Characters</h1>
      <%= image_tag "card-headers/characters.jpg" %>
      <div class="card-body">
        <p>
          Plan physical appearance, behaviorisms, social roles, family &ndash; even a favorite color!
        </p>
      </div>
      <div class="card-comments">
        <a href="/plan/characters" class="btn">Plan your own</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <h1 class="card-heading">Equipment</h1>
      <%= image_tag "card-headers/equipment.jpg" %>
      <div class="card-body">
        <p>
          Every weapon was made by someone. Keep track of every aspect of your equipment. 
        </p>
      </div>
      <div class="card-comments">
        <a href="/plan/equipment" class="btn">Plan your own</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <h1 class="card-heading">Locations</h1>
      <%= image_tag "card-headers/locations.jpg" %>
      <div class="card-body">
        <p>
          Upload maps, link areas, track demographics, and keep track of history.
        </p>
      </div>
      <div class="card-comments">
        <a href="/plan/locations" class="btn">Plan your own</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <h1 class="card-heading">Magic</h1>
      <%= image_tag "card-headers/magic.jpg" %>
      <div class="card-body">
        <p>
          Whether it's fireballs or potions or nature or voodoo, craft every facet to how it works.
        </p>
      </div>
      <div class="card-comments">
        <a href="/plan/magic" class="btn">Plan your own</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <h1 class="card-heading">Languages</h3>
      <%= image_tag "card-headers/languages.jpg" %>
      <div class="card-body">
        <p>
          English doesn't have to be the only language in your world. Everything is fair game.
        </p>
      </div>
      <div class="card-comments">
        <a href="/plan/languages" class="btn">Plan your own</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <h1 class="card-heading simple">Universes</h1>
      <%= image_tag "card-headers/universes.jpg" %>
      <div class="card-body">
        <p>
          You know you've always wanted to create <em>an entire universe</em>. Now's your chance!
        </p>
      </div>
      <div class="card-comments">
        <a href="/plan/universes" class="btn">Plan your own</a>
      </div>
    </div>
  </div>
</div>

</div>
