<section class="text-green-900" style="height: 78vh;">
  <div class="h-full bg-right-bottom bg-cover flex shadow-lg" style="background-image: url(<%= image_path 'https://images.unsplash.com/photo-1518562180175-34a163b1a9a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80' %>);">
    <div class="container mx-auto p-4 flex items-center z-10">
      <div class="text-center w-full">
        <div class="text-black py-4 px-5 my-5">
          <div class="mb-3 text-4xl md:text-6xl" style="text-shadow: white 0px 0px 10px;">
            The <span class="text-blue-500">smart</span> notebook<br class="hidden sm:block" />
            for <span class="text-blue-500">smart</span> worldbuilders
          </div>
          <div class="leading-normal text-2xl" style="text-shadow: white 0px 0px 10px;">
            <%= t('marketing.landing_page.promo_subheader') %>
          </div>
        </div>
        <div class="cta clear-left px-5">
          <%= link_to new_user_registration_path, class: 'no-underline btn block sm:inline-block global-transition text-white bg-blue-500 hover:bg-blue-400' do %>
            <div class="flex justify-center items-center">
              <span>Start worldbuilding now</span>
              <span class="fa fa-xs fa-arrow-right ml-4"></span>
            </div>
          <% end %>
          <!--
          <span class="text-white ml-4">
            No card needed.
          </span>
          -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mb-8 mx-auto">
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex">
        <div class="flex flex-row items-center mb-2">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0">
            <i class="material-icons text-3xl mb-1">create</i>
          </div>
          <div class="ml-4 text-2xl font-bold">
            <%= t('marketing.landing_page.cta.writers.header') %>
          </div>
        </div>
        <div class="flex-grow pl-1">
          <p class="leading-relaxed text-base">
            <%= t('marketing.landing_page.cta.writers.body') %>
          </p>
          <%= link_to writers_landing_path, class: 'mt-3 text-indigo-500 inline-flex items-center' do %>
            <%= t('marketing.landing_page.cta.writers.button') %>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          <% end %>
        </div>
      </div>

      <div class="p-4 md:w-1/3 flex">
        <div class="flex flex-row items-center mb-2">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0">
            <i class="material-icons text-3xl mb-1">gavel</i>
          </div>
          <div class="ml-4 text-2xl font-bold">
            <%= t('marketing.landing_page.cta.roleplayers.header') %>
          </div>
        </div>
        <div class="flex-grow pl-1">
          <p class="leading-relaxed text-base">
            <%= t('marketing.landing_page.cta.roleplayers.body') %>
          </p>
          <%= link_to roleplayers_landing_path, class: 'mt-3 text-indigo-500 inline-flex items-center' do %>
            <%= t('marketing.landing_page.cta.roleplayers.button') %>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          <% end %>
        </div>
      </div>

      <div class="p-4 md:w-1/3 flex">
        <div class="flex flex-row items-center mb-2">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0">
            <i class="material-icons text-3xl mb-1">brush</i>
          </div>
          <div class="ml-4 text-2xl font-bold">
            <%= t('marketing.landing_page.cta.designers.header') %>
          </div>
        </div>
        <div class="flex-grow pl-1">
          <p class="leading-relaxed text-base">
            <%= t('marketing.landing_page.cta.designers.body') %>
          </p>
          <%= link_to designers_landing_path, class: 'mt-3 text-indigo-500 inline-flex items-center' do %>
            <%= t('marketing.landing_page.cta.designers.button') %>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-green-900 min-h-screen">
  <div class="h-full bg-right-bottom bg-cover flex shadow-lg p-8 py-32" style="background-image: url(<%= image_path 'https://images.unsplash.com/photo-1520299607509-dcd935f9a839?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80' %>);">
    
    <section class="text-gray-600 body-font">
      <div class="flex flex-wrap w-full mb-20 bg-white px-6 py-12 rounded-lg">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
            Create rich, fictional worlds with your<br class="hidden sm:block" />
            smart notebook &mdash; for free
          </h1>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
          With a free account, you'll have access to the core building blocks of fictional worlds, personalized writing prompts set 
          in your universe, unlimited document storage, access to a thriving <%= link_to 'community', thredded_path %> of other worldbuilders, and more.
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Universe } %>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Character } %>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Location } %>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Item } %>
        </div>
      </div>
    </section>


    <div class="flex flex-wrap -mx-2 my-8">
      <% 9.times do %>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center">
            <i class="material-icons w-12 h-12 mr-4 text-5xl">face</i>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium">
              <%= t('marketing.landing_page.benefits.characters.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.characters.text') %>
            </p>
          </div>
        </div>
      </div>
      <% end %>


  </div>
</section>



<div>
  <div class="container">
    <div class="section perks-section">


      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size orange-text"><i class="material-icons">face</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.characters.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.characters.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size orange-text"><i class="material-icons">public</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.locations.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.locations.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size orange-text"><i class="material-icons">list</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.organization.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.organization.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size orange-text"><i class="material-icons">group</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.sharing.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.sharing.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size orange-text"><i class="material-icons">cloud</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.backups.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.backups.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size orange-text"><i class="material-icons">security</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.ads.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.ads.text') %>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="section perks-section">
      <h2 class="h5-size">Write smarter with integrated novel-writing software</h2>
      <div class="row">
        <div class="col s12 m12 l12">
          Cross-reference notebook pages and documents you write to build a rich network of connections that makes your world feel
          like a wiki that manages itself.
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size teal-text"><i class="material-icons">bubble_chart</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.creativity.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.creativity.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size teal-text"><i class="material-icons">assignment_turned_in</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.continuity.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.continuity.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size teal-text"><i class="material-icons">search</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.search.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.search.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size teal-text"><i class="material-icons">schedule</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.speed.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.speed.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size teal-text"><i class="material-icons">bar_chart</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.quality.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.quality.text') %>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <div class="h2-size teal-text"><i class="material-icons">settings_ethernet</i></div>
            <h3 class="h6-size"><%= t('marketing.landing_page.benefits.growth.title') %></h3>
            <p class="light">
              <%= t('marketing.landing_page.benefits.growth.text') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h2 class="h5-size">Go the extra mile with premium notebook pages</h2>
          <p>
            Notebook.ai's free tier was intentionally designed to be enough for most worlds, but if you want to support the site and
            take your worldbuilding to a new level, a premium subscription is available that unlocks
            <%= Rails.application.config.content_types[:premium].count %> additional page templates to use. Each template is customizable and
            comes with its own set of writing prompts.
          </p>
        </div>
      </div>

      <div class="row">
        <% (Rails.application.config.content_types[:premium]).each do |content_type| %>
          <div class="col l3 m6 s12">
            <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: content_type } %>
          </div>
        <% end %>

        <div class="col l3 m6 s12">
          <div class="card hoverable" style="min-height: 330px;">
            <div class="card-image">
              <%= image_tag "card-headers/timelines.webp", height: 300, width: 300, style: 'object-fit: cover' %>
              <h3 class="card-title bordered-text">Create timelines</h3>
            </div>
            <div class="card-content fixed-card-content">
              <p>
                <%= t("content_descriptions.timeline") %>
              </p>
            </div>
          </div>
        </div>

        <div class="col l3 m6 s12">
          <div class="card hoverable" style="min-height: 330px;">
            <div class="card-image">
              <%= image_tag "card-headers/pagecollections.webp", height: 300, width: 300, style: 'object-fit: cover' %>
              <h3 class="card-title bordered-text">Create collections</h3>
            </div>
            <div class="card-content fixed-card-content">
              <p>
                <%= t("content_descriptions.pagecollection") %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero valign-wrapper">
    <div class="container center">
      <h5 class="header light">
        <strong>"<%= t('marketing.landing_page.quote.text') %>"</strong>
        <br />
        <br />
        &mdash;
        <%= t('marketing.landing_page.quote.attribution') %>
      </h5>
    </div>
    <%= image_tag 'landing/screenshot.webp', class: 'hero-image'%>
  </div>

  <div class="container" style="margin-top: 50px; margin-bottom: 75px;">
    <h2 class="h3-size header center blue-text"><%= t('marketing.landing_page.pricing.title') %></h2>
    <div class="row center" style="clear: both">
      <div class="card-panel green white-text" width="200px;">
        <%= t('marketing.landing_page.pricing.subtitle') %>
        <%= link_to t('marketing.landing_page.pricing.cta.link'),
                    new_user_registration_path,
                    class: 'light-blue-text text-lighten-4' %>
      </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card card-avatar center">
                <div class="center brown-text"><br /><i class="material-icons" style="font-size: 250%">class</i></div>
                <div class="card-content">
                    <span class="card-title activator">
                      <%= t('marketing.landing_page.pricing.starter_plan.title') %>
                      <br />
                      <small><em><a class="red-text text-darken-1">
                        <%= t('marketing.landing_page.pricing.free') %>
                      </a></em></small>
                    </span>
                    <ul class="plan-features">
                      <% Rails.application.config.content_types[:free].each do |content_type| %>
                        <li>
                          <i class="material-icons <%= content_type.text_color %>">
                            <%= content_type.icon %>
                          </i>
                          <%= t("marketing.landing_page.pricing.starter_plan.#{content_type.name.downcase.pluralize}_html") %>
                        </li>
                      <% end %>
                      <li>
                        <i class="material-icons black-text">cloud_upload</i>
                        <%= t('marketing.landing_page.pricing.starter_plan.upload_html') %>
                      </li>
                    </ul>
                    <div class="row center">
                      <%= link_to t('marketing.landing_page.pricing.cta.button'),
                                  new_user_registration_path,
                                  class: 'btn-large waves-effect waves-light white black-text' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card card-avatar">
                <div class="center brown-text">
                  <br />
                  <i class="material-icons" style="font-size: 250%">book</i>
                </div>
                <div class="card-content center">
                  <span class="card-title">
                    <%= t('marketing.landing_page.pricing.premium_plan.title') %>
                    <br />
                    <small><em class="red-text text-darken-1">
                      <%= t('marketing.landing_page.pricing.premium_plan.price') %> or cheaper
                    </em></small>
                  </span>
                  <div class="row plan-features">
                    <div>Create <strong>unlimited</strong>...</div>
                    <% Rails.application.config.content_types[:all].each_with_index do |content_type, i| %>
                      <%= link_to send("#{content_type.name.downcase}_worldbuilding_info_path"), class: 'content-type-container' do %>
                        <i class="material-icons <%= content_type.text_color %> medium">
                          <%= content_type.icon %>
                        </i>
                        <div class="black-text">
                          <%= content_type.name.pluralize %>
                        </div>
                      <% end %>
                    <% end %>
                    <span class="content-type-container">
                      <i class="material-icons <%= Timeline.text_color %> medium">
                        <%= Timeline.icon %>
                      </i><br />
                      <%= Timeline.name.pluralize %>
                    </span>
                    <span class="content-type-container">
                      <i class="material-icons <%= PageCollection.text_color %> medium">
                        <%= PageCollection.icon %>
                      </i><br />
                      Collections
                    </span>
                    <div>
                      and...
                    </div>
                    <div>
                      <i class="material-icons black-text">cloud_upload</i>
                      <%= t('marketing.landing_page.pricing.premium_plan.upload_html') %>
                    </div>
                  </div>
                  <div class="row center">
                    <%= link_to t('marketing.landing_page.pricing.cta.button'),
                                new_user_registration_path,
                                class: 'btn-large waves-effect waves-light blue lighten-1' %>
                  </div>

                </div>
            </div>
        </div>
    </div>
  </div>
