<div id="landing-page-1">
<div class="row">

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h1 style="font-size: 44px;">
          <%= t '.header_html' %>
        </h1>
        <p>
          <%= t '.paragraph_1_html' %>
        </p>
        <p>
          <%= t '.paragraph_2_html' %>
        </p>
        <p>
          <%= t '.paragraph_3_html' %>
        </p>

      </div>
      <div class="card-comments">
        <%= link_to t('.get_started_now'), anon_info_path, class: "btn btn-primary btn-lg" %>
        <%= t '.or' %>
        <%= link_to t('.log_in_existing'), login_path %>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="card" style="padding-top: 0px; background: black;">
      <%= image_tag "card-headers/hero.jpg", :style => "width: 100%;" %>
    </div>
  </div>

</div>

<div class="row" id="content-types">
  
  <%= render partial: "model_card",
             locals: {model_name: Character.model_name.human.pluralize,
                      image: "card-headers/characters.jpg",
                      description: t('.character_description_html'),
                      plan_path: character_list_path } %>

  <%= render partial: "model_card",
             locals: {model_name: Equipment.model_name.human.pluralize,
                      image: "card-headers/equipment.jpg",
                      description: t('.equipment_description_html'),
                      plan_path: equipment_list_path } %>

  <%= render partial: "model_card",
             locals: {model_name: Location.model_name.human.pluralize,
                      image: "card-headers/locations.jpg",
                      description: t('.location_description_html'),
                      plan_path: location_list_path } %>

  <%= render partial: "model_card",
             locals: {model_name: Magic.model_name.human,
                      image: "card-headers/magic.jpg",
                      description: t('.magic_description_html'),
                      plan_path: magic_list_path } %>

  <%= render partial: "model_card",
             locals: {model_name: Language.model_name.human.pluralize,
                      image: "card-headers/languages.jpg",
                      description: t('.language_description_html'),
                      plan_path: language_list_path } %>

  <%= render partial: "model_card",
             locals: {model_name: Universe.model_name.human.pluralize,
                      image: "card-headers/universes.jpg",
                      description: t('.universe_description_html'),
                      plan_path: universe_list_path } %>

</div>
</div>
