<section class="text-green-900" style="height: 78vh;">
  <div class="h-full bg-right-bottom bg-cover flex shadow-lg" style="background-image: url(<%= image_path 'https://images.unsplash.com/photo-1518562180175-34a163b1a9a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80' %>);">
    <div class="container mx-auto p-4 flex items-center z-10">
      <div class="text-center w-full">
        <div class="text-black py-4 px-5 my-5">
          <div class="mb-3 text-4xl md:text-6xl" style="text-shadow: white 0px 0px 10px;">
            The <span class="text-notebook-blue">smart</span> notebook<br class="hidden sm:block" />
            for <span class="text-notebook-blue">smart</span> worldbuilders
          </div>
          <div class="leading-normal text-2xl" style="text-shadow: white 0px 0px 10px;">
            <%= t('marketing.landing_page.promo_subheader') %>
          </div>
        </div>
        <div class="cta clear-left px-5">
          <%= link_to new_user_registration_path, class: 'no-underline px-4 py-4 rounded-lg block sm:inline-block global-transition text-white bg-notebook-blue hover:bg-blue-400 hover:shadow-lg' do %>
            <div class="flex justify-center items-center">
              <span>Start worldbuilding</span>
              <span class="fa fa-xs fa-arrow-right ml-4"></span>
            </div>
          <% end %>
          <!--
          <span class="text-white ml-4">
            No card needed.
          </span>
          -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mb-8 mx-auto">
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/2 flex">
        <div class="flex flex-row items-center mb-2">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-100 text-notebook-blue flex-shrink-0">
            <i class="material-icons text-3xl mb-1">create</i>
          </div>
          <div class="ml-4 text-2xl font-bold">
            <%= t('marketing.landing_page.cta.writers.header') %>
          </div>
        </div>
        <div class="flex-grow pl-1">
          <p class="leading-relaxed text-base">
            <%= t('marketing.landing_page.cta.writers.body') %>
          </p>
          <%= link_to writers_landing_path, class: 'mt-3 text-notebook-blue inline-flex items-center' do %>
            <%= t('marketing.landing_page.cta.writers.button') %>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          <% end %>
        </div>
      </div>

      <div class="p-4 md:w-1/2 flex">
        <div class="flex flex-row items-center mb-2">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-100 text-notebook-blue flex-shrink-0">
            <i class="material-icons text-3xl mb-1">gavel</i>
          </div>
          <div class="ml-4 text-2xl font-bold">
            <%= t('marketing.landing_page.cta.roleplayers.header') %>
          </div>
        </div>
        <div class="flex-grow pl-1">
          <p class="leading-relaxed text-base">
            <%= t('marketing.landing_page.cta.roleplayers.body') %>
          </p>
          <%= link_to roleplayers_landing_path, class: 'mt-3 text-notebook-blue inline-flex items-center' do %>
            <%= t('marketing.landing_page.cta.roleplayers.button') %>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-green-900 min-h-screen">
  <div class="h-full bg-right-bottom bg-cover flex shadow-lg p-8 py-32" style="background-image: url(<%= image_path 'https://images.unsplash.com/photo-1520299607509-dcd935f9a839?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80' %>);">
    
    <section class="text-gray-600 body-font">
      <div class="flex flex-wrap w-full mb-20 bg-white px-6 py-12 rounded-lg">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
            Create rich, fictional worlds with your<br class="hidden sm:block" />
            smart notebook &mdash; for free
          </h1>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
          With a free account, you'll have access to the core building blocks of fictional worlds, personalized writing prompts set 
          in your universe, unlimited document storage, access to a thriving <%= link_to 'community', thredded_path %> of other worldbuilders, and more.
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Universe } %>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Character } %>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Location } %>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: Item } %>
        </div>
      </div>
    </section>


    <div class="flex flex-wrap -mx-2 my-8">
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">face</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.characters.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.characters.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">bubble_chart</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.creativity.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.creativity.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%"><%= Document.icon %></i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.speed.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.speed.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">list</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.organization.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.organization.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">search</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.search.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.search.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">settings_ethernet</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.growth.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.growth.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">group</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.sharing.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.sharing.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">cloud</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.backups.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.backups.text') %>
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-full">
        <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
          <div class="text-center w-12 h-12">
            <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%">security</i>
          </div>
          <div class="flex-grow w-1/2">
            <h2 class="text-gray-900 title-font font-medium mb-2">
              <%= t('marketing.landing_page.benefits.ads.title') %>
            </h2>
            <p class="text-gray-500">
              <%= t('marketing.landing_page.benefits.ads.text') %>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">
        It takes a just few seconds to sign up and start materializing the wonderful worlds in your head.
      </h1>
      <p class="leading-relaxed my-4">
        Once you've signed up, you can immediately start creating universes and filling them with your characters,
        locations, and items. The worlds you create are private, owned by you, and always available on any
        device, any time you need them.
      </p>
      <p class="mb-8">
        Our
        <span class="text-indigo-700">
          <%= number_with_delimiter User.last.try(:id) || 0 %> <%= 'worldbuilders'.pluralize(User.last.try(:id) || 0) %>
        </span>
        have created
        <span class="text-red-700">
          <%= number_with_delimiter Character.last.try(:id) || 0 %> <%= 'character'.pluralize(Character.last.try(:id) || 0) %>,
        </span>
        <span class="text-green-700">
          <%= number_with_delimiter Location.last.try(:id) || 0 %> <%= 'location'.pluralize(Location.last.try(:id) || 0) %>,
        </span>
        and
        <span class="text-yellow-600">
          <%= number_with_delimiter Item.last.try(:id) || 0 %> <%= 'item'.pluralize(Item.last.try(:id) || 0) %>
        </span>
        in
        <span class="text-purple-600">
          <%= number_with_delimiter Universe.last.try(:id) || 0 %> <%= 'fictional universe'.pluralize(Universe.last.try(:id) || 0) %>
        </span>
        since 2016.
      </p>
      <div>
        <a href="https://www.producthunt.com/posts/notebook-ai?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-notebook-ai" target="_blank">
          <img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=77889&theme=light&period=daily" alt="Notebook.ai - A smart notebook that grows and collaborates with you | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
        </a>
      </div>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-white border-blue-500 border shadow-lg rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5 tracking-wide">Sign up for Notebook.ai</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="relative mb-4">
          <%= f.label 'Your name', class: 'leading-7 text-sm text-gray-600' %>
          <%= f.text_field :name, class: 'w-full bg-white rounded border border-gray-300 focus:border-notebook-blue focus:ring-2 focus:ring-notebook-blue text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>

        <div class="relative mb-4">
          <%= f.label :email, class: 'leading-7 text-sm text-gray-600' %>
          <em class="text-sm">(This is the email you will log in with)</em>
          <%= f.email_field :email, class: 'w-full bg-white rounded border border-gray-300 focus:border-notebook-blue focus:ring-2 focus:ring-notebook-blue text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>

        <div class="relative mb-4">
          <%= f.label :password, class: 'leading-7 text-sm text-gray-600' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'w-full bg-white rounded border border-gray-300 focus:border-notebook-blue focus:ring-2 focus:ring-notebook-blue text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>

        <div class="relative mb-4">
          <%= f.label :password_confirmation, class: 'leading-7 text-sm text-gray-600' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'w-full bg-white rounded border border-gray-300 focus:border-notebook-blue focus:ring-2 focus:ring-notebook-blue text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>

        <div class="relative mb-4">
          <%= f.label :email_updates do %>
            <%= f.check_box :email_updates, checked: 'false' %>
            <span>
              We're always working to improve Notebook.ai. Please check this box if you'd like to receive occasional updates about
              what's new.
            </span>
          <% end %>
        </div>

        <%
          if params.key?('referral') ||  session.key?('referral')
            referral_code = params['referral'] || session['referral']
            referrer = ReferralCode.where(code: referral_code).first
            if referrer.present?
        %>
            <div class="row">
              <div class="col s12 m6">
                <div class="field">
                  <%= f.label :referral_code %><br />
                  <%= f.text_field :referral_code, value: referral_code, readonly: true %>
                </div>
              </div>
              <div class="col s12 m6">
                <%= f.label 'The following user will receive credit for referring you' %><br />
                <%= f.text_field :referral_user, value: referrer.user.name.split('@').first, disabled: "disabled" %>
              </div>
            </div>
        <%
            end
          end
        %>

        <%= f.submit "Sign up", class: 'w-full text-white bg-notebook-blue border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg cursor-pointer' %>
      <% end %>
    </div>
  </div>
</section>

<section class="text-green-900 min-h-screen">
  <div class="min-h-screen bg-right-bottom bg-cover flex shadow-lg p-8 py-32" style="background-image: url(<%= image_path 'https://images.unsplash.com/photo-1594312915251-48db9280c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' %>);">

    <section class="text-gray-600 body-font">
      <div class="flex flex-wrap w-full mb-20 bg-white px-6 py-12 rounded-lg">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
            Take your world to the
            <span class="text-notebook-blue">next level</span>
            <br class="hidden sm:block" />
            with powerful Premium features
          </h1>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
          All of these features are available with a Premium subscription with customizable payment plans.
          Upgrade or downgrade your account whenever inspiration strikes.
        </p>
      </div>
    </section>

    <section class="text-gray-600 body-font w-full">
      <div class="px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="p-2 lg:w-1/4 md:w-full">
            <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg py-6">
              <div class="text-center mr-4 mt-2">
                <i class="material-icons text-5xl text-yellow-500" style="font-size: 240%">public</i>
              </div>
              <div class="flex-grow w-1/2">
                <h2 class="text-gray-900 title-font font-medium my-2 text-2xl">
                  <%= t('marketing.landing_page.benefits.locations.title') %>
                </h2>
                <p class="text-gray-500 my-2">
                  <%= t('marketing.landing_page.benefits.locations.text') %>
                </p>
                <p class="text-gray-500 my-2 text-notebook-blue">
                  See the full list below.
                </p>
              </div>
            </div>
          </div>

          <div class="p-2 lg:w-1/4 md:w-full">
            <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg py-6">
              <div class="text-center mr-4 mt-2">
                <i class="material-icons text-5xl text-yellow-500" style="font-size: 240%"><%= Timeline.icon %></i>
              </div>
              <div class="flex-grow w-1/2">
                <h2 class="text-gray-900 title-font font-medium my-2 text-2xl">
                  Build timelines
                </h2>
                <p class="text-gray-500 my-2">
                  Link events together with the characters, locations, and anything else that's relevant &mdash; then see your world's stories
                  at a glance.
                </p>
              </div>
            </div>
          </div>

          <div class="p-2 lg:w-1/4 md:w-full">
            <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg py-6">
              <div class="text-center mr-4 mt-2">
                <i class="material-icons text-5xl text-yellow-500" style="font-size: 240%"><%= Document.icon %></i>
              </div>
              <div class="flex-grow w-1/2">
                <h2 class="text-gray-900 title-font font-medium my-2 text-2xl">
                  Document analysis
                </h2>
                <p class="text-gray-500 my-2">
                  Our state-of-the-art artificial intelligence can analyze your documents for feedback on style, structure,
                  readability, flow, and more.
                </p>
              </div>
            </div>
          </div>

          <div class="p-2 lg:w-1/4 md:w-full">
            <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg py-6">
              <div class="text-center mr-4 mt-2">
                <i class="material-icons text-5xl text-yellow-500" style="font-size: 240%"><%= PageCollection.icon %></i>
              </div>
              <div class="flex-grow w-1/2">
                <h2 class="text-gray-900 title-font font-medium my-2 text-2xl">
                  Start collections
                </h2>
                <p class="text-gray-500 my-2">
                  Collections are a new way to organize your worldbuilding &mdash; or open them up for content submissions from
                  other users!
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 pb-24 pt-8 mx-auto">
    <div class="flex flex-wrap -m-4">

      <% (Rails.application.config.content_types[:premium]).each do |content_type| %>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <%= link_to send("#{content_type.name.downcase}_worldbuilding_info_path") do %>
            <div class="block relative h-48 rounded overflow-hidden hover:shadow-lg">
              <%= image_tag "card-headers/#{content_type.name.downcase.pluralize}.webp", class: 'h-full w-full rounded w-full object-cover object-center' %>
            </div>
            <div class="title-font text-lg font-medium text-center <%= content_type.text_color %>">
              <%= content_type.name.pluralize %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <div class="block relative h-48 rounded overflow-hidden border border-blue-500 bg-blue-700 text-white p-6">
          <div class="font-bold mb-2">Want even more page types?</div>
          Of course, we recognize these pages aren't one-size-fits-all for every world. Every template is fully customizable and
          new pages are added as users request them.
        </div>
      </div>


    </div>
  </div>
</section>

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Pricing</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">
        Accounts can be freely upgraded or downgraded at any time with no hidden fees or penalties.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 xl:w-1/4 w-full">
        <div class="h-3/4 mt-16 p-6 rounded-lg border-2 border-gray-300 bg-white flex flex-col relative overflow-hidden">
          <h2 class="text-sm tracking-widest title-font mb-1 font-medium">STARTER</h2>
          <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none">Free forever</h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
            Create up to <span class="font-bold">&nbsp;5&nbsp;</span> universes
          </p>

          <p class="flex items-center text-gray-600 mb-2">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
            Upload <span class="font-bold">&nbsp;50MB&nbsp;</span> of images 
          </p>
          <p class="flex items-center text-gray-600 mb-6">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
            Create <span class="font-bold">&nbsp;3 core&nbsp;</span> worldbuilding pages
            <div class="mb-2 -mt-3">
              <% (Rails.application.config.content_types[:free]).each do |content_class| %>
                <% next if content_class.name == "Universe" %>
                <i class="material-icons <%= content_class.text_color %> tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="Create unlimited <%= content_class.name.pluralize %>">
                  <%= content_class.icon %>
                </i>
              <% end %>
            </div>
          </p>

          <p class="flex items-center text-gray-600 mb-8">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
            Write <span class="font-bold">&nbsp;unlimited&nbsp;</span> documents
          </p>
          <%= link_to new_user_registration_path, class: 'mt-auto' do %>
            <button class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">
              Sign up
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          <% end %>
        </div>
      </div>

      <div class="p-4 xl:w-3/4 md:w-full w-full border-2 border-gray-200 bg-gray-50 flex flex-col flex-wrap rounded-lg">
        <div class="flex flex-row">
          <div class="p-4 xl:w-1/3 md:w-1/2 w-full mx-auto">
            <div class="h-full p-6 rounded-lg border-2 border-gray-300 bg-white flex flex-col relative overflow-hidden">
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">PREMIUM</h2>
              <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                <span>$9</span>
                <span class="text-lg ml-1 font-normal text-gray-500">per month</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create <span class="font-bold">&nbsp;unlimited&nbsp;</span> universes
              </p>

              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Upload <span class="font-bold">&nbsp;10GB&nbsp;</span> of images 
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create <span class="font-bold">&nbsp;all <%= Rails.application.config.content_types[:all].count %>&nbsp;</span> worldbuilding pages
                <div class="mb-2 -mt-3">
                  <% (Rails.application.config.content_types[:all]).each do |content_class| %>
                    <% next if content_class.name == "Universe" %>
                    <i class="material-icons <%= content_class.text_color %> tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="Create unlimited <%= content_class.name.pluralize %>">
                      <%= content_class.icon %>
                    </i>
                  <% end %>
                </div>
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Write and analyze documents
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create timelines
              </p>
              <p class="flex items-center text-gray-600 mb-8">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create collections
              </p>
              <%= link_to new_user_registration_path, class: 'mt-auto' do %>
                <button class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">
                  Sign up
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </button>
              <% end %>
            </div>
          </div>
          <div class="p-4 xl:w-1/3 md:w-1/2 w-full mx-auto">
            <div class="h-full p-6 rounded-lg border-2 border-notebook-blue flex flex-col bg-white relative overflow-hidden">
              <span class="bg-notebook-blue text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">MOST POPULAR</span>
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">PREMIUM</h2>
              <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                <span>$24</span>
                <span class="text-lg ml-1 font-normal text-gray-500">per 3 months</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create <span class="font-bold">&nbsp;unlimited&nbsp;</span> universes
              </p>

              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Upload <span class="font-bold">&nbsp;10GB&nbsp;</span> of images 
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create <span class="font-bold">&nbsp;all <%= Rails.application.config.content_types[:all].count %>&nbsp;</span> worldbuilding pages
                <div class="mb-2 -mt-3">
                  <% (Rails.application.config.content_types[:all]).each do |content_class| %>
                    <% next if content_class.name == "Universe" %>
                    <i class="material-icons <%= content_class.text_color %> tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="Create unlimited <%= content_class.name.pluralize %>">
                      <%= content_class.icon %>
                    </i>
                  <% end %>
                </div>
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Write and analyze documents
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create timelines
              </p>
              <p class="flex items-center text-gray-600 mb-8">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create collections
              </p>
              <%= link_to new_user_registration_path, class: 'mt-auto' do %>
                <button class="flex items-center mt-auto text-white bg-notebook-blue border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-500 rounded">
                  Sign up
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </button>
              <% end %>
            </div>
          </div>
          <div class="p-4 xl:w-1/3 md:w-1/2 w-full mx-auto">
            <div class="h-full p-6 rounded-lg border-2 border-gray-300 bg-white flex flex-col relative overflow-hidden">
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">PREMIUM</h2>
              <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                <span>$84</span>
                <span class="text-lg ml-1 font-normal text-gray-500">per year</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create <span class="font-bold">&nbsp;unlimited&nbsp;</span> universes
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Upload <span class="font-bold">&nbsp;10GB&nbsp;</span> of images 
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create <span class="font-bold">&nbsp;all <%= Rails.application.config.content_types[:all].count %>&nbsp;</span> worldbuilding pages
                <div class="mb-2 -mt-3">
                  <% (Rails.application.config.content_types[:all]).each do |content_class| %>
                    <% next if content_class.name == "Universe" %>
                    <i class="material-icons <%= content_class.text_color %> tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="Create unlimited <%= content_class.name.pluralize %>">
                      <%= content_class.icon %>
                    </i>
                  <% end %>
                </div>
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Write and analyze documents
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create timelines
              </p>
              <p class="flex items-center text-gray-600 mb-8">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>
                Create collections
              </p>
              <%= link_to new_user_registration_path, class: 'mt-auto' do %>
                <button class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">
                  Sign up
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </button>
              <% end %>
            </div>
          </div>
        </div>
        <div class="text-gray-400 text-center text-sm">
          All Premium plans provide the same benefits, but there are three different billing options.
          Prepaying and PayPal are also available.
        </div>

      </div>

      
    </div>
  </div>
</section>
