<div class="card">
  <h3 class="card-heading simple">Indent <small>before you write</small></h3>
  <div class="card-body">
    

  <div class="row-fluid">
    <div class="span7">
      <p>
        Indent is a set of tools for writers, game designers, and roleplayers to create magnificent universes &ndash; and everything within them.
      </p>
      <p>
        From a simple interface in your browser, on your phone, or on your tablet, you can do everything you'd ever want to do while creating your own little (or big!) world.
      </p>
    </div>
    <div class="span5">
      <div class="thumbnail">
        <%= image_tag "card-headers/hero.jpg" %>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <a class="btn btn-primary btn-large" href="/anon-login">
        Get Started Now<br />
      </a>
      or <a href="/login">log in to your existing account</a>
    </div>
  </div>


  </div>
  <div class="card-comments"></div>
</div>

<div class="row-fluid">
  <div class="span4 card">
    <h3 class="card-heading simple">Characters</h3>
    <%= image_tag "card-headers/characters.jpg" %>
    <div class="card-body">
      <p>
        Plan physical appearance, behaviorisms, social roles, family &ndash; even a favorite color!
      </p>
      <p>
        <a href="/plan/characters" class="btn">Plan your own</a>
      </p>
    </div>
  </div>

  <div class="span4 card">
    <h3 class="card-heading simple">Equipment</h3>
    <%= image_tag "card-headers/equipment.jpg" %>
    <div class="card-body">
      <p>
        Every weapon was made by someone. Keep track of every aspect of your equipment. 
      </p>
      <p>
        <a href="/plan/equipment" class="btn">Plan your own</a>
      </p>
    </div>
  </div>

  <div class="span4 card">
    <h3 class="card-heading simple">Locations</h3>
    <%= image_tag "card-headers/locations.jpg" %>
    <div class="card-body">
      <p>
        Upload maps, link areas, track demographics, and keep track of history.
      </p>
      <p>
        <a href="/plan/locations" class="btn">Plan your own</a>
      </p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 card">
    <h3 class="card-heading simple">Magic</h3>
    <%= image_tag "card-headers/magic.jpg" %>
    <div class="card-body">
      <p>
        Whether it's fireballs or potions or nature or voodoo, craft every facet to how it works.
      </p>
      <p>
        <a href="/plan/magic" class="btn">Plan your own</a>
      </p>
    </div>
  </div>

  <div class="span4 card">
    <h3 class="card-heading simple">Languages</h3>
    <%= image_tag "card-headers/languages.jpg" %>
    <div class="card-body">
      <p>
        English doesn't have to be the only language in your world. Everything is fair game.
      </p>
      <p>
        <a href="/plan/languages" class="btn">Plan your own</a>
      </p>
    </div>
  </div>

  <div class="span4 card">
    <h3 class="card-heading simple">Universes</h3>
    <%= image_tag "card-headers/universes.jpg" %>
    <div class="card-body">
      <p>
        You know you've always wanted to create <em>an entire universe</em>. Now's your chance!
      </p>
      <p>
        <a href="/plan/universes" class="btn">Plan your own</a>
      </p>
    </div>
  </div>
</div>

<div class="card">
  <h3 class="card-heading simple">Just a quick note...</h3>
  <div class="card-body">
    <p>
      I'm still working out the kinks here, so stay with me. Your data is completely safe and anything you store will always be available to you (even if features change), so feel free to use Indent in the meantime!
    </p>
  </div>
</div>
