<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">
          <%= t '.billboard.header' %>
        </h1>
        <div class="row center">
          <h5 class="header col s12 light">
            <%= t '.billboard.subheader' %>
          </h5>
        </div>
        <div class="row center">
          <%= link_to t('.billboard.action'), new_user_registration_path, class: 'btn-large waves-effect waves-light teal lighten-1' %>
          <br /><br />
          <%= t '.promo_html' %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      <%= image_tag 'landing/digital-notebook.jpg', style: 'display: block; transform: translate3d(-50%, 342px, 0px); opacity: 0.25' %>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/universe_intro' %>
        </div>
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/character_intro' %>
        </div>
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/location_intro' %>
        </div>
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/item_intro' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section perks-section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">bubble_chart</i></h2>
            <h5><%= t '.features.creativity.header' %></h5>
            <p class="light"><%= t '.features.creativity.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">schedule</i></h2>
            <h5><%= t '.features.speed.header' %></h5>
            <p class="light"><%= t '.features.speed.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">assignment_turned_in</i></h2>
            <h5><%= t '.features.continuity.header' %></h5>
            <p class="light"><%= t '.features.continuity.body' %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">face</i></h2>
            <h5><%= t '.features.depth.header' %></h5>
            <p class="light"><%= t '.features.depth.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">public</i></h2>
            <h5><%= t '.features.rich.header' %></h5>
            <p class="light"><%= t '.features.rich.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">security</i></h2>
            <h5><%= t '.features.items.header' %></h5>
            <p class="light"><%= t '.features.items.body' %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">search</i></h2>
            <h5><%= t '.features.search.header' %></h5>
            <p class="light"><%= t '.features.search.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">list</i></h2>
            <h5><%= t '.features.organize.header' %></h5>
            <p class="light"><%= t '.features.organize.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">cloud</i></h2>
            <h5><%= t '.features.backup.header' %></h5>
            <p class="light"><%= t '.features.backup.body' %></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">settings_ethernet</i></h2>
            <h5><%= t '.features.grow.header' %></h5>
            <p class="light"><%= t '.features.grow.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">group</i></h2>
            <h5><%= t '.features.brainstorm.header' %></h5>
            <p class="light"><%= t '.features.brainstorm.body' %></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">vpn_key</i></h2>
            <h5><%= t '.features.access.header' %></h5>
            <p class="light"><%= t '.features.access.body' %></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="container center">
      <h5 class="header light">
        <strong><%= t '.quote.content' %></strong>
        <br /><br />
        &mdash; <%= t '.quote.attribution' %>
      </h5>
    </div>
    <div class="parallax">
      <%= image_tag 'landing/screenshot.png', style: 'display: block; transform: translate3d(-50%, 145px, 0px); opacity: 0.25' %>
    </div>
  </div>

  <div class="container" style="margin-top: 50px; margin-bottom: 75px;">
    <h3 class="header center teal-text"><%= t '.pricing.header' %></h3>
    <div class="row">
        <div class="col s12 m6">
            <div class="card card-avatar center">
                <div class="center brown-text"><br /><i class="material-icons" style="font-size: 250%">class</i></div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= t '.pricing.free.header' %><br>
                        <small><em><a class="red-text text-darken-1" href="#"><%= t '.pricing.free.subheader' %></a></em></small></span>
                    <ul class="plan-features">
                      <li><%= t '.pricing.free.universes_html' %></li>
                      <li><%= t '.pricing.free.characters_html' %></li>
                      <li><%= t '.pricing.free.locations_html' %></li>
                      <li><%= t '.pricing.free.items_html' %></li>
                    </ul>
                    <div class="row center">
                      <%= link_to t('.pricing.action'), new_user_registration_path, class: 'btn-large waves-effect waves-light teal lighten-1' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card card-avatar">
                <div class="center brown-text"><br /><i class="material-icons" style="font-size: 250%">book</i></div>
                <div class="card-content center">
                    <span class="card-title activator grey-text text-darken-4"><%= t '.pricing.paid.header' %><br>
                        <small><em><a class="red-text text-darken-1" href="#"><%= t '.pricing.paid.subheader_html' %></a></em></small>
                    </span>
                    <ul class="plan-features">
                      <li><%= t '.pricing.paid.universes_html' %></li>
                      <li><%= t '.pricing.paid.characters_html' %></li>
                      <li><%= t '.pricing.paid.locations_html' %></li>
                      <li><%= t '.pricing.paid.items_html' %></li>
                    </ul>
                    <div class="row center">
                      <%= link_to t('.pricing.action'), new_user_registration_path, class: 'btn-large waves-effect waves-light teal lighten-1' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center" style="clear: both">
          <%= t '.promo_html' %>
        </div>
    </div>
  </div>


<footer class="page-footer light-blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          <%= t '.footer.header' %>
        </h5>
        <p class="grey-text text-lighten-4">
          <%= t('.footer.attribution',
                first: %q[<a href="http://twitter.com/drusepth" class="white-text" target="_new">@drusepth</a>],
                second: %q[<a href="http://twitter.com/Lord_Cantido" class="white-text" target="_new">@Lord_Cantido</a>],
                third: %q[<a href="http://twitter.com/heydonovan" class="white-text" target="_new">@heydonovan</a>]).html_safe
          %>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"><%= t '.footer.get_involved' %></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.github.com/indentlabs/notebook"><%= t '.footer.source_code' %></a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/indentlabs/notebook/issues"><%= t '.footer.roadmap' %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <%= t '.footer.copyright' %>
    <a class="grey-text text-lighten-4 right" href="http://www.indentlabs.com"><%= t '.footer.brand' %></a>
    </div>
  </div>
</footer>
