<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">
          Your digital notebook is here.
        </h1>
        <div class="row center">
          <h5 class="header col s12 light">
            Notebook.ai grows with your ideas and collaborates back with you.
          </h5>
        </div>
        <div class="row center">
          <%= link_to 'Get Yours', new_user_registration_path, class: 'btn-large waves-effect waves-light teal lighten-1' %>
          <br /><br />
          Earn a <strong>free lifetime membership</strong> when you sign up during October<br />
          with promotion code <u>NANOPREP</u>.
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      <%= image_tag 'landing/digital-notebook.jpg', style: 'display: block; transform: translate3d(-50%, 342px, 0px); opacity: 0.25' %>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/universe_intro' %>
        </div>
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/character_intro' %>
        </div>
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/location_intro' %>
        </div>
        <div class="col l3 m6 s12">
          <%= render 'cards/intros/item_intro' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section perks-section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">bubble_chart</i></h2>
            <h5>Promotes creativity</h5>
            <p class="light">
              Your Notebook now asks you questions about your characters and ideas, and your answers are saved too.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">schedule</i></h2>
            <h5>Speeds up writing</h5>
            <p class="light">
              With a universe of information at your fingertips, you can look up anything quickly and keep writing.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">assignment_turned_in</i></h2>
            <h5>Continuuity checks</h5>
            <p class="light">
              When every little fact is stored in one place, you can rest easy you won't accidentally contradict yourself.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">face</i></h2>
            <h5>Deeper characters</h5>
            <p class="light">
              Get to know your characters. Track every detail of their thoughts, appearance, and personality.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">public</i></h2>
            <h5>Richer worlds</h5>
            <p class="light">
              Immerse yourself in vibrant worlds with tracking available for any kind of locations.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">security</i></h2>
            <h5>Items of legend</h5>
            <p class="light">
              Every object has a backstory that can shine as bright as any character &mdash; if you let it.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">settings_ethernet</i></h2>
            <h5>Grows with you</h5>
            <p class="light">
              Plan as much as you want in your Notebook, for life. The only limits here are your imagination.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">group</i></h2>
            <h5>Brainstorm together</h5>
            <p class="light">
              Invite anyone to review any content you decide to share. Sometimes a second set of eyes makes all the difference.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="brown-text"><i class="material-icons">vpn_key</i></h2>
            <h5>Access for life</h5>
            <p class="light">
              Signing up for Notebook is just like buying a notebook: one payment and it's yours for life.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="container center">
      <h5 class="header light">
        <strong>"Imagine sliced bread as a notebook, and this is even better."</strong>
        <br /><br />
        &mdash; Andrew Brown, Author & CEO
      </h5>
    </div>
    <div class="parallax">
      <%= image_tag 'landing/screenshot.png', style: 'display: block; transform: translate3d(-50%, 145px, 0px); opacity: 0.25' %>
    </div>
  </div>

  <div class="container">
    <h3 class="header center teal-text">Notebook Pricing</h3>
    <div class="row">
        <div class="col s12 m6">
            <div class="card card-avatar center">
                <div class="center brown-text"><br /><i class="material-icons" style="font-size: 250%">class</i></div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ethereal<br>
                        <small><em><a class="red-text text-darken-1" href="#">Free trial</a></em></small></span>
                    <ul class="plan-features">
                      <li>Plan up to <strong>2</strong> universes</li>
                      <li>Plan up to <strong>10</strong> characters</li>
                      <li>Plan up to <strong>5</strong> locations</li>
                      <li>Plan up to <strong>5</strong> items</li>
                    </ul>
                    <div class="row center">
                      <%= link_to 'Get Started', new_user_registration_path, class: 'btn-large waves-effect waves-light teal lighten-1' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card card-avatar">
                <div class="center brown-text"><br /><i class="material-icons" style="font-size: 250%">book</i></div>
                <div class="card-content center">
                    <span class="card-title activator grey-text text-darken-4">Eternal<br>
                        <small><em><a class="red-text text-darken-1" href="#"><strike>$19.99</strike> Free for life!</a></em></small>
                    </span>
                    <ul class="plan-features">
                      <li>Plan <strong>unlimited</strong> universes</li>
                      <li>Plan <strong>unlimited</strong> characters</li>
                      <li>Plan <strong>unlimited</strong> locations</li>
                      <li>Plan <strong>unlimited</strong> items</li>
                    </ul>
                    <div class="row center">
                      <%= link_to 'Get Started', new_user_registration_path, class: 'btn-large waves-effect waves-light teal lighten-1' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center" style="clear: both">
          Earn a <strong>free lifetime membership</strong> when you sign up during October<br />
          with promotion code <u>NANOPREP</u>!
        </div>
    </div>
  </div>





<!--


<div class="container">
  <h2 class="header center">The Notebook Team</h2>
  <div class="row">
      <div class="col s12 m3">
          <div class="card card-avatar">
              <div class="waves-effect waves-block waves-light">
                  <img class="activator" src="img/avatar1.png">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Flash <br>
                      <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                  <p>
                      <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                          <i class="fa fa-facebook-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                          <i class="fa fa-twitter-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                          <i class="fa fa-google-plus-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                          <i class="fa fa-linkedin-square"></i>
                      </a>
                  </p>
              </div>
          </div>
      </div>
      <div class="col s12 m3">
          <div class="card card-avatar">
              <div class="waves-effect waves-block waves-light">
                  <img class="activator" src="img/avatar2.png">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Cat Woman<br>
                      <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                  </span>
                  <p>
                      <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                          <i class="fa fa-facebook-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                          <i class="fa fa-twitter-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                          <i class="fa fa-google-plus-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                          <i class="fa fa-linkedin-square"></i>
                      </a>
                  </p>
              </div>
          </div>
      </div>
      <div class="col s12 m3">
          <div class="card card-avatar">
              <div class="waves-effect waves-block waves-light">
                  <img class="activator" src="img/avatar3.png">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                      Capt. America <br>
                      <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
                  <p>
                      <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                          <i class="fa fa-facebook-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                          <i class="fa fa-twitter-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                          <i class="fa fa-google-plus-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                          <i class="fa fa-linkedin-square"></i>
                      </a>
                  </p>
              </div>
          </div>
      </div>
      <div class="col s12 m3">
          <div class="card card-avatar">
              <div class="waves-effect waves-block waves-light">
                  <img class="activator" src="img/avatar4.png">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Robin<br>
                      <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                  <p>
                      <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                          <i class="fa fa-facebook-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                          <i class="fa fa-twitter-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                          <i class="fa fa-google-plus-square"></i>
                      </a>
                      <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                          <i class="fa fa-linkedin-square"></i>
                      </a>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>





  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3" style="display: block; transform: translate3d(-50%, 199px, 0px);"></div>
  </div>

-->