<div class="row">
  <% 2.times do %><br /><% end %>

  <div class="grey-text uppercase center">Introducing...</div>
  <%= image_tag 'logos/paper-original.png', width: '100%' %>

  <div style="font-size: 1.3rem; text-align: justify" class="col s12 m10 offset-m1">
    <h3 style="font-size: 1.3em">Create rich worlds &mdash; and everything within them!</h3>
    <p>
      You know that <%= link_to 'smart worldbuilding notebook', 'https://www.notebook.ai' %> you've been building fictional universes
      in for
      <%= link_to 'over four years', 'https://medium.com/indent-labs/happy-4th-birthday-to-notebook-ai-e6f69f06d169' %>
      now? Well, Notebook Paper is kind of like that, except <em>real paper</em>. You can feel it, touch it &mdash; even smell it!
      And best of all, it comes with a handful of benefits inherent to a more physical form:
    </p>

    <ul class="browser-default">
      <li><strong>Your universes are always available</strong> &mdash; any time you have your notebook with you.</li>
      <li><strong>Your ideas are secure and private</strong> &mdash; just keep your notebook safe.</li>
      <li><strong>You own 100% of your content</strong> &mdash; just like on Notebook.ai!</li>
    </ul>

    <p>
      Rather than loading up Notebook.ai the next time you get an idea for a character, consider giving Notebook Paper a shot. 
      It's easy to get started: just print out your notebook pages and you're good to go! You can jot down freeform notes or
      outline structured details about your idea. You can even doodle and write notes in the margins!
    </p>

    <p>
      If you don't have an idea in mind already, you can use Notebook Paper anyway. Every page comes with a set of questions tailored to ask about the world you're
      creating and make worldbuilding fun and easy.
    </p>
    <p>
      For example, character pages ask for a name &mdash; of course &mdash; but also how they look, what they believe
      in, what motivates them, where they came from, and a myriad of other easily-answered questions that are fun to answer and develop your characters little by 
      little. And there are different questions for coming up with locations, items, creatures, and so on.
    </p>
    
    <p>
      Notebook Paper makes worldbuilding fun and easy &mdash; like Notebook.ai, but physical!
    </p>

    <br /><br />

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block center">
          <div class="orange-text"><i class="material-icons large">face</i></div>
          <h3 class="h6-size"><%= t('marketing.landing_page.benefits.characters.title') %></h3>
          <p class="light">
            <%= t('marketing.landing_page.benefits.characters.text') %>
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center">
          <div class="orange-text"><i class="material-icons large">public</i></div>
          <h3 class="h6-size"><%= t('marketing.landing_page.benefits.locations.title') %></h3>
          <p class="light">
            <%= t('marketing.landing_page.benefits.locations.text') %>
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center">
          <div class="orange-text"><i class="material-icons large">security</i></div>
          <h3 class="h6-size"><%= t('marketing.landing_page.benefits.ads.title') %></h3>
          <p class="light">
            It kind of feels like Notebook.ai, but paper. There's no ads on the site, why would we add ads to paper?
          </p>
        </div>
      </div>
    </div>

    <h3 style="font-size: 1.3em">Fill your world with all kinds of specialized pages</h3>
    <p>
      Notebook Paper includes all of Notebook.ai's free and Premium pages &mdash; for free!
    </p>
    <p>
      Specialized pages are available for
      <%= 
        Rails.application.config.content_types[:all_non_universe].map { |content_type|
          link_to content_type.name.pluralize, send("#{content_type.name.downcase}_worldbuilding_info_path"), class: "#{content_type.color}-text"
        }.to_sentence.html_safe
      %>.
    </p>
    <p>
      Just select which ones you want, print out your personalized PDF, and you're ready to get started!
    </p>
  </div>

  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Customize your Notebook Paper download</div>
        <%= form_for :paper do |f| %>
          <div class="row">
            <% Rails.application.config.content_types[:all_non_universe].each do |content_type| %>
              <div class="col s12 m4">
                <div class="field" style="margin-bottom: 0.3em">
                  <%= f.label content_type.name do %>
                    <%= f.check_box content_type.name %>
                    <span class="black-text">
                      <i class="material-icons left <%= content_type.color %>-text"><%= content_type.icon %></i>
                      Include <%= content_type.name %> pages
                    </span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="center">
            <%= f.submit 'Get my Notebook Paper', class: 'btn btn-large blue white-text hoverable'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>