<div class="row">
  <div class="col s12 center">
    <p>
      Notebook.ai was intentionally designed to allow anyone in the world to immediately get started building their own magnificent worlds for free.
    </p>
    <p>
      However, users can subscribe to Notebook.ai Premium to support the site's development and unlock a ton of awesome advanced features.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 offset-m2">
    <div class="hoverable card" style="max-width: 500px; margin: 0 auto;">
      <div class="card-content" style="min-height: 200px;">
        <div class="card-title">
          Notebook.ai Core
          <div class="right grey-text">Free forever</div>
        </div>
        <p>
          With a free account, worldbuilders can create up to five separate universes containing an unlimited number of characters, locations, and items &mdash; a trifecta of people, places, and things.
          You'll also be able to upload up to 50MB of images to your notebook pages.
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="hoverable card" style="max-width: 500px; margin: 0 auto;">
      <div class="card-content" style="min-height: 200px;">
        <div class="card-title">
          <div class="right grey-text">$9/month</div>
          Notebook.ai Premium
        </div>
        <p>
          Notebook.ai Premium unlocks <%= Rails.application.config.content_types[:premium].count %> additional types of pages for you to create.
          Additionally, Premium subscribers will have their image upload limit increased to a massive 10GB (approximately 4,000+ images).
        </p>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <%= link_to 'View the full Notebook.ai feature list', features_path, class: 'btn blue lighten-4 black-text' %>
</div>

<div class="row">
  <div class="col s12">
    <div>
      <h4>Plan comparison</h4>
      <div class="row">
        <div class="col s12 m9">
          <table class="highlight comparison-table">
            <tr>
              <th style="width: 160px;"></th>
              <th>Notebook.ai Core</th>
              <th>Notebook.ai Premium</th>
            </tr>
            <tr>
              <th>Create universes</th>
              <td>Up to 5</td>
              <td>Unlimited</td>
            </tr>
            <tr>
              <th>Available page types</th>
              <td>
                <%= Rails.application.config.content_types[:free].count %> page types<br />
                <% Rails.application.config.content_types[:free].each do |ct| %>
                  <i class="material-icons <%= ct.color %>-text tooltipped" data-tooltip="<%= ct.name.pluralize %>"><%= ct.icon %></i>
                <% end %>
              </td>
              <td>
                <%= Rails.application.config.content_types[:all].count %> page types<br />
                <% Rails.application.config.content_types[:all].each do |ct| %>
                  <i class="material-icons <%= ct.color %>-text tooltipped" data-tooltip="<%= ct.name.pluralize %>"><%= ct.icon %></i>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Upload images</th>
              <td>Up to <strong>50MB</strong></td>
              <td>Up to <strong>10GB</strong></td>
            </tr>
            <tr>
              <th>Un-delete pages</th>
              <td>up to <strong>24 hours</strong> later</td>
              <td>up to <strong>7 days</strong> later</td>
            </tr>
            <tr>
              <th>Customize pages</th>
              <td><i class="material-icons green-text">check</i></td>
              <td><i class="material-icons green-text">check</i></td>
            </tr>
            <tr>
              <th>Universe collaboration</th>
              <td><i class="material-icons green-text">check</i></td>
              <td><i class="material-icons green-text">check</i></td>
            </tr>
            <tr>
              <th>Premium sharing</th>
              <td>-</td>
              <td><i class="material-icons green-text">check</i></td>
            </tr>
            <tr>
              <th>Writing prompts</th>
              <td><i class="material-icons green-text">check</i></td>
              <td><i class="material-icons green-text">check</i></td>
            </tr>
            <tr>
              <th>Privacy controls</th>
              <td><i class="material-icons green-text">check</i></td>
              <td><i class="material-icons green-text">check</i></td>
            </tr>
            <tr>
              <th>Notebook export</th>
              <td><i class="material-icons green-text">check</i></td>
              <td><i class="material-icons green-text">check</i></td>
            </tr>
            <tr>
              <th>Price</th>
              <td>Free</td>
              <td>
                $9/month
              </td>
            </tr>
            <tr>
              <th>Alternate<br />payment plans</th>
              <td>-</td>
              <td>
                <div>$24 per 3 months ($8/month)</div>
                <div>$84 per year ($7/month)</div>
              </td>
            </tr>
          </table>
        </div>
        <div class="col s12 m3">
          <p class="light">
            We also have feature and price comparison charts against the top software used by the following types of worldbuilders:
          </p>
          <%= link_to 'Writers', writers_landing_path, class: 'btn white black-text waves-effect waves-light hoverable', style: 'display: block' %>
          <%= link_to 'Roleplayers', roleplayers_landing_path, class: 'btn white black-text waves-effect waves-light hoverable', style: 'display: block' %>
          <%= link_to 'Game Designers', designers_landing_path, class: 'btn white black-text waves-effect waves-light hoverable', style: 'display: block' %>
          <%# todo maybe tabs here? %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="center">
  <%= link_to 'Start worldbuilding now', new_user_registration_path, class: 'btn blue white-text' %><br /><br />
  You can upgrade to Premium in your account settings at any time.
</div>
