<div class="card">
	<h3 class="card-heading simple"><%= t '.header' %></h3>
	<div class="card-body">
		<p><%= t '.paragraph_1_html' %></p>

		<ul>
			<li><%= t '.list_item_1_html' %></li><br />
			<li><%= t '.list_item_2_html' %></li><br />
			<li><%= t '.list_item_3_html' %></li>
		</ul>

		<p><%= t '.paragraph_2_html' %></p>
		<p><%= t '.paragraph_3_html' %></p>
	</div>
	<div class="card-comments"></div>
</div>

<%= render 'quote_card' %>
