<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-2/5 md:pr-16 lg:pr-0 pr-0">
      <div class="text-xs text-gray-500 ml-8 mb-2 uppercase">
        A prompt from your world
      </div>
      <h1 class="title-font font-medium leading-normal text-4xl text-white bg-notebook-blue px-8 py-6 rounded">
        <%=
          t(
            "serendipitous_questions.attributes.#{@content.page_type.downcase}.#{@attribute_field_to_question.label.downcase}",
            name:    @content.name,
            default: "What is #{@content.name}'s #{@attribute_field_to_question.label.downcase}?"
          )
        %>
      </h1>
    </div>
    <div class="lg:w-3/6 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <div class="text-xs text-gray-500 uppercase ml-8">expanding</div>
      <h2 class="text-gray-900 text-xl font-medium title-font mb-5">
        <%= link_to @content.view_path do %>
          <i class="material-icons float-left <%= @content.text_color %> mr-2"><%= @content.icon %></i>
          <%= @content.name %>
        <% end %>
      </h2>

      <%= form_for @content, url: FieldTypeService.form_path_from_attribute_field(@attribute_field_to_question), method: :patch do |f| %>
        <%= hidden_field(:override, :redirect_path, value: prompts_path) %>

        <%= hidden_field_tag "entity[entity_id]",   @content.id %>
        <%= hidden_field_tag "entity[entity_type]", @content.page_type %>

        <div class="relative">
          <%= hidden_field_tag "field[name]", @attribute_field_to_question[:id] %>
          <label for="field[value]" class="leading-7 text-sm text-gray-600"><%= @attribute_field_to_question.label %></label>
          <%=
            text_area_tag "field[value]",
                          @attribute_field_to_question[:value],
                          class: "js-can-mention-pages w-full h-96 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out",
                          placeholder: "Write as little or as much as you'd like!"
          %>
        </div>
        <p class="text-xs text-gray-500 mb-4">
          Don't forget: you can mention any of your other pages by typing @ in the text box.
        </p>

        <%= button_tag(type: 'submit', class: "text-white bg-notebook-blue border-0 py-2 px-8 focus:outline-none hover:bg-blue-500 rounded text-lg") do %>
          Save answer
        <% end %>
      <% end %>
    </div>
  </div>
</section>
