<div class="relative bg-gray-50 overflow-hidden">
  <div class="relative pt-6 pb-16 sm:pb-24">

    <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24">
      <div class="text-center">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
          <span class="<%= Universe.text_color %>"><%= @universe_scope.name %></span>
        </h1>
        <h2 class="text-gray-400 tracking-wider">
          a universe by
          <%= link_to @universe_scope.user.display_name, @universe_scope.user, class: User.text_color %>
        </h2>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          <%= @universe_scope.description.presence %>
        </p>
      </div>
    </main>
    
    <div class="mt-8">
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
          <div class="hidden md:flex md:space-x-10">
            <a href="#" class="font-medium text-gray-500 hover:text-gray-900 hover:bg-white rounded-lg hover:border-gray-200 border-transparent border px-4">Worldbuilding</a>
            <a href="#" class="font-medium text-gray-500 hover:text-gray-900 hover:bg-white rounded-lg hover:border-gray-200 border-transparent border px-4">Documents</a>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>

<% if @starred_pages.any? %>
  <div class="bg-white border-t border-b border-gray-200">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-3xl font-extrabold text-gray-900">Starred pages</h2>
          <p class="mt-4 text-lg text-gray-500">
            Star any page to keep it at the top of page lists.
          </p>
        </div>
        <div class="mt-12 lg:mt-0 lg:col-span-2">
          <dl>
            <% @starred_pages.each do |page| %>
              <%= link_to polymorphic_path(page['page_type'].downcase, id: page['id']), class: 'block px-4 py-3 hover:bg-white rounded-lg hover:border-gray-200 border-transparent border' do %>
                <dt class="text-lg leading-6 font-medium <%= content_class_from_name(page['page_type']).text_color %>">
                  <i class="material-icons float-left mr-2"><%= content_class_from_name(page['page_type']).icon %></i>
                  <%= page['name'] %>
                </dt>
                <!--
                <dd class="mt-2 text-base text-gray-500">
                  Description
                </dd>
                -->
              <% end %>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div class="lg:pr-32">
        <h2 class="text-3xl font-extrabold text-gray-900">All pages</h2>
        <p class="mt-8 text-lg text-gray-500">
          Filter by page type...
        </p>

        <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200 mt-2 bg-white">
          <% @page_type_counts.each do |page_type, count| %>
            <%= link_to '#' do %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm rounded-full hover:bg-notebook-blue hover:text-white group">
                <div class="w-0 flex-1 flex items-center">
                  <i class="material-icons float-left <%= content_class_from_name(page_type).text_color %> bg-white p-1 h-8 w-8 rounded-full"><%= content_class_from_name(page_type).icon %></i>
                  <span class="ml-2 flex-1 w-0 truncate"><%= page_type.pluralize %></span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <span class="bg-gray-100 rounded px-1 text-xs group-hover:bg-notebook-blue">
                    <%= count %>
                  </span>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>

      </div>
      <div class="mt-12 lg:mt-0 lg:col-span-2">
        <dl>
          <% @other_pages.each do |page| %>
            <%= link_to polymorphic_path(page['page_type'].downcase, id: page['id']), class: 'block px-4 py-3 hover:bg-white rounded-lg hover:border-gray-200 border-transparent border' do %>
              <dt class="text-lg leading-6 font-medium <%= content_class_from_name(page['page_type']).text_color %>">
                <i class="material-icons float-left mr-2"><%= content_class_from_name(page['page_type']).icon %></i>
                <%= page['name'] %>
              </dt>
              <!--
              <dd class="mt-2 text-base text-gray-500">
                Description
              </dd>
              -->
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:py-32 lg:px-8 lg:flex lg:items-center">
    <div class="lg:w-0 lg:flex-1">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">Follow this universe</h2>
      <p class="mt-3 max-w-3xl text-lg text-gray-500">
        Stay connected and be notified as this world grows!
      </p>
    </div>
    <div class="mt-8 lg:mt-0 lg:ml-8">
      <form class="sm:flex">
        <label for="email-address" class="sr-only">Email address</label>
        <input id="email-address" name="email-address" type="email" autocomplete="email" required class="w-full px-5 py-3 border border-gray-300 shadow-sm placeholder-gray-400 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs rounded-md" placeholder="Enter your email">
        <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
          <button type="submit" class="w-full flex items-center justify-center py-3 px-5 border border-transparent text-base font-medium rounded-md text-white bg-notebook-blue hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Notify me</button>
        </div>
      </form>
      <p class="mt-3 text-sm text-gray-500">
        Your email address won't be shared with <%= @universe_scope.user.display_name %>.
      </p>
    </div>
  </div>
</div>

<section class="container mx-auto">
  <div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3 text-center">
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Total Pages</dt>
        <dd
          data-controller="animated-number"
          data-animated-number-start-value="0"
          data-animated-number-end-value="5192"
          data-animated-number-duration-value="700"
          class="mt-1 text-3xl font-semibold text-gray-900"
        ></dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Total Words</dt>
        <dd
          data-controller="animated-number"
          data-animated-number-start-value="0"
          data-animated-number-end-value="85192"
          data-animated-number-duration-value="800"
          class="mt-1 text-3xl font-semibold text-gray-900"
        ></dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Something</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">24.57%</dd>
      </div>
    </dl>
  </div>
</section>
