<div class="row">
  <div class="col s12 m3">
    <%= image_tag 'basil/portrait.png', style: 'width: 100%' %>
  </div>
  <div class="col s12 m9">
    <h1 style="font-size: 2em; margin-left: 1rem">Hey, I'm Basil.</h4>
    <h2 style="font-size: 1.4em; margin-left: 1rem">I can help you visualize your characters.</h2>
    <p style="margin-left: 1rem">
      To get started, select the character you want to generate art for. Their description
      will be pulled from any answers you've given to questions in their "Looks" category.
    </p>
  </div>
</div>

<div class="row">
  <% @characters.each do |character| %>
    <%= link_to basil_character_path(character.id) do %>
      <div class="col s12 m4 l3">
        <div class="hoverable card">
          <div class="card-image">
            <%= image_tag character.random_image_including_private(format: :medium) %>
            <span class="card-title"><%= character.name %></span>
          </div>
          <div class="card-content">
            <p>
              <%= character.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>