<div class="row">
  <div class="col s12 m4 l3">
    <%= image_tag 'basil/portrait.png', style: 'width: 100%' %>
  </div>
  <div class="col s12 m8 l9">
    <h1 style="font-size: 2em; margin-left: 1rem">Hey, I'm Basil.</h4>
    <h2 style="font-size: 1.4em; margin-left: 1rem">I can help you visualize your characters and other pages.</h2>
    <p style="margin-left: 1rem">
      To get started, select the character you want to generate art for. Their description
      will be pulled from any answers you've given to fields on their notebook page.
    </p>
    <p style="margin-left: 1rem">
      <strong class="purple-text">NEW</strong>: You can also
      <%= link_to 'help me get better by leaving feedback', basil_rating_queue_path %>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l3">
    <div class="grey-text text-darken-1 center">Draw my...</div>
    <% @enabled_content_types.each do |content_type| %>
      <%= link_to basil_content_index_path(content_type.downcase) do %>
        <div class="<%= content_class_from_name(content_type).color %> white-text hoverable card-panel">
          <i class="material-icons left"><%= content_class_from_name(content_type).icon %></i>
          <%= content_type.pluralize %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col s12 m8 l9">
    <div class="row" style="margin-left: 1rem">
      <% @content.each do |content| %>
        <%= link_to basil_content_path(@content_type, content.id) do %>
          <div class="col s12 m4 l3">
            <div class="hoverable card">
              <div class="card-image">
                <%= image_tag content.random_image_including_private(format: :medium), style: 'height: 200px' %>
                <span class="card-title"><%= content.name %></span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


