<%= content_for :full_width_page_header do %>
  <div class="center blue lighten-4">
    <% 4.times do %><br /><% end %>
    <h1>The next VizJam is</h1>
    <h2 style="line-height: 0;">
      <i class="material-icons large bordered-text <%= Character.text_color %>"><%= Character.icon %></i><br />
      <span class="<%= Character.text_color %> bordered-text">Characters</span>
    </h2>
    <h3>
      July 28th &mdash; July 31st
    </h3>
    <div>
      Come back here during the VizJam to join in!
    </div>

    <% 8.times do %><br /><% end %>
  </div>
  <br /><br />
<% end %>

<h4 class="center">What happened in the last VizJam?</h4>
<%= render 'jam_report' %>

