<div class="row">
  <div class="col s3">
    <br />
    <div><strong>Most-active creators over 48h</strong></div>
    <ol>
      <% @commissions_per_user_id.each do |user_id, count| %>
        <%# This is an N+1 query, but we can deal with it later %>
        <% user = User.find(user_id.to_i) %>
        <li><%= link_to user.display_name, user %>: <%= pluralize count, 'image' %></li>
      <% end %>
    </ol>

    <div>
      <%= pluralize @unique_users_generating_count.count, 'unique user' %> over 48h
    </div>

    <br /><br />
    <div><strong>Queue</strong></div>
    <ol>
      <% @current_queue_items.each do |commission| %>
        <li>
          <%= commission.entity_type %>-<%= commission.entity_id %> (<%= commission.style %>)
          for U-<%= commission.user_id %>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="col s9">
    <% @recent_commissions.each do |commission| %>
      <div>
        <% if commission.complete? %>
          <%# image_tag commission.image, style: 'width: 100%' %>
          <%
            s3 = Aws::S3::Resource.new(region: "us-east-1")
            obj = s3.bucket(commission.s3_bucket).object("job-#{commission.job_id}.png")
          %>
          <div class="card horizontal">
            <div class="card-image">
              <%= link_to obj.presigned_url(:get) do %>
                <%= image_tag obj.presigned_url(:get) %>
              <% end %>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div>
                  <%= commission.id %>.
                  <% if commission.entity.present? %>
                    <strong><%= link_to commission.entity.name, commission.entity %></strong>
                  <% end %>
                  <% if commission.style? %>
                    <em>(<%= commission.style.humanize %>)</em>
                  <% end %>
                  by <%= link_to commission.user.name, commission.user %>
                  <div style="font-size: 0.5em"><%= commission.job_id %></div>
                </div>
                <ul>
                  <li>
                    Completed <%= time_ago_in_words commission.completed_at %> ago
                  </li>
                  <li>
                    Took <%= distance_of_time_in_words commission.completed_at - commission.created_at %>
                  </li>
                  <hr />
                  <li>
                    <div>Preprompt:</div>
                    <%= commission.prompt.inspect %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% else %>
          <div class="card-panel green white-text darken-4">
            Basil is still working on this commission...
            <div style="font-size: 0.8em">
              (Requested <%= time_ago_in_words(commission.created_at) %> ago)
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
