<div class="row">
  <div class="col s12">
    <%= image_tag 'logos/both-original.png', style: 'width: 100%' %>
  </div>

  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          Supercharge your projects with Notebook.ai's world-class worldbuilding resources
        </div>

        <p>
          We now offer an API for developers that would like to take advantage of the
          features and worlds in Notebook.ai. 
        </p>
        <br />
        <p>
          To get started, you'll want to <%= link_to 'register an application', '#' %>
          and get your API key. In order to access any user's notebook, you'll first need
          them to <%= link_to 'authenticate your application', '#' %> and give you an
          access key specific to their notebook. 
        </p>
        <br />
        <p>
          In other words, three easy steps to get started:
        </p>

        <ol>
          <li>Register your application with Notebook.ai</li>
          <li>Receive approval from users to access their notebook</li>
          <li>Make API calls!</li>
        </ol>
      </div>
    </div>

  </div>

  <div class="col s12">
    <div class="grey-text uppercase">SUPPORTED API ENDPOINTS</div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons <%= User.color %>-text"><%= User.icon %></i>
          Fetch a user's notebook pages
        </div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons <%= User.color %>-text"><%= User.icon %></i>
          Fetch a specific notebook page
        </div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons <%= User.color %>-text"><%= User.icon %></i>
          Update a specific notebook page
        </div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
    </ul>
  </div>
</div>