<% value.each do |link_code| %>
  <% 
    klass, id = link_code.split('-')
  %>
  <div class="chip js-load-page-name" data-klass="<%= klass %>" data-id="<%= id %>">
    <%= link_to send("#{klass.downcase}_path", id) do %>
      <span class="<%= content_class_from_name(klass).color %>-text">
        <i class="material-icons left">
          <%= content_class_from_name(klass).icon %>
        </i>
      </span>
      <span class="name-container">
        <em>Loading <%= klass %></em>
      </span>
    <% end %>
  </div>
<% end %>
<br/><br/>