<%= form_for ShareComment.new do |f| %>
  <div class="input-field comment-form">
    <%= f.label :message, 'Leave a message' %>
    <%= f.hidden_field :content_page_share_id, value: share.id %>
    <%= f.text_area :message, class: 'materialize-textarea' %>
    <%= f.submit 'Comment', class: 'btn right green white-text submit-button' %>
  </div>
<% end %>