<%= form_for ShareComment.new do |f| %>
  <div class="input-field comment-form">
    <%= f.hidden_field :content_page_share_id, value: share.id %>
    <%= f.label 'Leave a message', for: "share_comment_#{share.id}" %>
    <%= f.text_area :message, id: "share_comment_#{share.id}", class: 'materialize-textarea' %>
    <%= f.submit 'Comment', class: 'btn right green white-text submit-button' %>
  </div>
<% end %>