<% if comment.from_op?(share) %>
  <div class="col s12 m11 l10">
    <div class="purple lighten-4 comment black-text card hoverable">
<% else %>
  <div class="col s12 m11 offset-m1 l10 offset-l2">
    <div class="blue lighten-4 comment black-text card hoverable">
<% end %>

    <%# Nested indents from above %>
    <div class="metadata">
      <%= link_to comment.user, class: "#{User.color}-text text-darken-4" do %>
        <% if comment.user %>
          <%= image_tag comment.user.image_url(size=20), class: 'left circle avatar' %>
          <%= comment.user.display_name %>
        <% else %>
          <em>Deleted user</em>
        <% end %>
      <% end %>
      <span class="timestamp">
        <span class="tooltipped grey-text text-darken-1" data-tooltip="Posted at <%= comment.created_at %>">
          <%= time_ago_in_words comment.created_at %> ago
        </span>

        <% if user_signed_in? && (share.user == current_user || comment.user == current_user) %>
          <a class='dropdown-trigger black-text right' href='#' data-target='dropdown-comment-<%= comment.id %>'>
            <i class="material-icons">more_vert</i>
          </a>
          <ul id='dropdown-comment-<%= comment.id %>' class='dropdown-content'>
            <li>
              <%= link_to comment, method: :delete, class: 'red-text', data: { confirm: "Are you sure you want to delete this comment? It cannot be undeleted."} do %>
                <i class="material-icons left">delete</i>
                Delete this comment
              <% end %>
            </li>
          </ul>
        <% end %>

      </span>
    </div>

    <%=
      clean_links simple_format ContentFormatterService.show(
        text:         comment.message,
        viewing_user: current_user
      ), class: 'black-text'
    %>

  </div>
</div>