<p id="notice"><%= notice %></p>

<h1>Share Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @share_comments.each do |share_comment| %>
      <tr>
        <td><%= link_to 'Show', share_comment %></td>
        <td><%= link_to 'Edit', edit_share_comment_path(share_comment) %></td>
        <td><%= link_to 'Destroy', share_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Share Comment', new_share_comment_path %>
