<%= form_for @magic, :url => magic_edit_process_path, :html => { :class => 'form-horizontal' } do |f| %>
<div class="hidden section starter_section general_section">
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_of_magic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type_of, :class => 'text_field' %>
      <span class="inline-help">For example: Spell, Ability, Enchantment, etc</span>
    </div>
  </div>
</div>

<div class="hidden section appearance_section">
  <div class="control-group">
    <%= f.label 'Manifestation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :manifestation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Symptoms', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :symptoms, :class => 'text_field' %>
    </div>
  </div>
</div>

<div class="hidden section alignment_section">
  <div class="control-group">
    <%= f.label 'Element', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :element, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Diety', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diety, :class => 'text_field' %>
    </div>
  </div>
</div>

<div class="hidden section effects_section">
  <div class="control-group">
    <%= f.label 'Harmful effects', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :harmfulness, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Helpful effects', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :helpfulness, :class => 'text_field' %>
    </div>
  </div>

</div>

<div class="hidden section more_section">
</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                magic_list_path, :class => 'btn' %>
  </div>
<% end %>
