<div class="hidden section starter_section general_section">
  <%= generate_form_row_for(f, :name) %>
  <%= generate_form_row_for(f, :type_of, 'Type of magic') %>
  <%= generate_form_row_for(f, :universe, nil, [{:action => 'universe_picker', :icon => 'globe'}]) %>
</div>

<div class="hidden section appearance_section">
  <%= generate_form_row_for(f, :manifestation) %>
  <%= generate_form_row_for(f, :symptoms) %>
</div>

<div class="hidden section alignment_section">
  <%= generate_form_row_for(f, :element) %>
  <%= generate_form_row_for(f, :diety) %>
</div>

<div class="hidden section effects_section">
  <%= generate_form_row_for(f, :harmfulness) %>
  <%= generate_form_row_for(f, :helpfulness) %>
  <%= generate_form_row_for(f, :neutralness) %>
</div>

<div class="hidden section requirements_section">
  <%= generate_form_row_for(f, :resource, 'Resource cost') %>
  <%= generate_form_row_for(f, :skill_level, 'Skill required') %>
  <%= generate_form_row_for(f, :limitations) %>
</div>

<div class="hidden section notes_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 10, :style => "width: 80%;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :private_notes, :class => 'text_area', :rows => 8, :style => "width: 80%;" %>
    </div>
  </div>
</div>
