<ul class="nav nav-tabs">
  <li class="active tab"><%= link_to "General", "#", :id => "show_general" %></li>
  <li class="tab"><%= link_to "Appearance", "#", :id => "show_appearance" %></li>
  <li class="tab"><%= link_to "Alignment", "#", :id => "show_alignment" %></li>
  <li class="tab"><%= link_to "Effects", "#", :id => "show_effects" %></li>
  <li class="tab"><%= link_to "More...", "#", :id => "show_more" %></li>
</ul>
