<ul class="nav nav-stacked">
  <li class="active tab"><%= link_to "General", "#", :id => "show_general" %></li>
  <li class="tab"><%= link_to "Appearance", "#", :id => "show_appearance" %></li>
  <li class="tab"><%= link_to "Alignment", "#", :id => "show_alignment" %></li>
  <li class="tab"><%= link_to "Effects", "#", :id => "show_effects" %></li>
  <li class="tab"><%= link_to "Requirements", "#", :id => "show_requirements" %></li>
  <li class="tab"><%= link_to "Notes", "#", :id => "show_notes" %></li>
  <li class="divider"></li>
  <li class="tab"><a href="#expand-all" class="expand-all">
    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Expand All
  </a></li>
</ul>
