<%- model_class = @magic.class -%>

<%= render :partial => 'tabs' %>

<dl class="dl-horizontal hidden section general_section">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= simple_format @magic.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_of) %>:</strong></dt>
  <dd><%= simple_format @magic.type_of %></dd>
</dl>

<dl class="dl-horizontal hidden section appearance_section">
  <dt><strong><%= model_class.human_attribute_name(:manifestation) %>:</strong></dt>
  <dd><%= simple_format  @magic.manifestation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:symptoms) %>:</strong></dt>
  <dd><%= simple_format  @magic.symptoms %></dd>
</dl>

<dl class="dl-horizontal hidden section alignment_section">
  <dt><strong>Element:</strong></dt>
  <dd><%= simple_format @magic.element %></dd>
  <dt><strong>Diety:</strong></dt>
  <dd><%= simple_format link_if_present @magic.diety, "character" %></dd>
</dl>

<dl class="dl-horizontal hidden section effects_section">
  <dt><strong>Harmful effects:</strong></dt>
  <dd><%= simple_format @magic.harmfulness %></dd>
  <dt><strong>Helpful effects:</strong></dt>
  <dd><%= simple_format @magic.helpfulness %></dd>
</dl>

<dl class="dl-horizontal hidden section requirements_section">
  <dt><strong>Resource cost:</strong></dt>
  <dd><%= simple_format @magic.resource %></dd>
  <dt><strong>Skill required:</strong></dt>
  <dd><%= simple_format @magic.skill_level %></dd>
  <dt><strong>Limitations:</strong></dt>
  <dd><%= simple_format @magic.limitations %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              magic_list_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              magic_edit_path(@magic), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              magic_path(@magic),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

