<%# Usage: render partial: 'content/display/contributors_user_list', locals: { content: content } %>

<% if raw_model.contributors.any? %>
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-sm border border-gray-200 dark:border-gray-700 overflow-hidden mb-4">
    <div class="px-4 py-3 bg-purple-600 text-white flex items-center">
      <i class="material-icons mr-2">group_add</i>
      <span class="font-medium">Contributors</span>
    </div>
    <div class="divide-y divide-gray-200 dark:divide-gray-700">
      <% raw_model.contributors.each do |contributor| %>
        <%# Don't expose email addresses to anyone other than the content owner who entered them in the first place %>
        <% next if contributor.user.nil? && (content.user != current_user)%>

        <div class="p-4 flex items-start hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors">
          <div class="flex-shrink-0 mr-4">
            <div class="h-10 w-10 rounded-full bg-<%= User.color %> flex items-center justify-center text-white">
              <i class="material-icons"><%= User.icon %></i>
            </div>
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 dark:text-white truncate">
              <%= contributor.user ? link_to(contributor.user.name, contributor.user, class: "hover:underline") : "#{contributor.email} (invited)" %>
            </p>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Invited <%= time_ago_in_words contributor.created_at %> ago
            </p>
            <% if user_signed_in? && content.user == current_user %>
              <div class="mt-2">
                <%= link_to remove_contributor_path(contributor.id),
                  class: 'js-remove-contributor text-xs text-red-600 dark:text-red-400 hover:text-red-800 dark:hover:text-red-300 flex items-center',
                  method: 'delete',
                  remote: true,
                  data: { confirm: "Are you sure? They will no longer have contributor access to this universe." } do %>
                  <i class="material-icons text-xs mr-1">person_remove</i>
                  Remove this contributor
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="ml-4 flex-shrink-0">
            <i class="material-icons text-gray-400 dark:text-gray-500">group</i>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: 'content/form/contributors/leave', locals: { content: raw_model } %>
<% end %>