<div class="parallax-header slider" style="height: 200px;">
  <%= render partial: 'content/display/favorite_control', locals: { content: @content } %>

  <ul class="slides">
    <% 
      # Get all images with ordering - respect privacy in show page
      # In content#show we want to be consistent with edit, but only show public images
      regular_images = @content.image_uploads.ordered.to_a
      # Filter for public if the current user isn't the owner
      unless user_signed_in? && @content.user_id == current_user.id
        regular_images = regular_images.select { |img| img.privacy == 'public' }
      end
      basil_images = @content.basil_commissions.where.not(saved_at: nil).ordered.to_a
      
      # For headers/card previews, use get_preview_image to prioritize pinned images
      preview_image = get_preview_image(regular_images, basil_images)
      combined_images = preview_image.present? ? [preview_image] : []
      
      # If we have no images, try to add a default image
      if combined_images.empty? && @content.respond_to?(:default_image)
        default_image = @content.default_image
        if default_image.present?
          combined_images << {
            type: 'default',
            data: default_image
          }
        end
      end
      
      # Now loop through all combined images (or at least the first few)
      display_limit = 1  # For the header, we just show the first image
      combined_images.take(display_limit).each do |image_item|
        image_type = image_item[:type]
        image_data = image_item[:data]
    %>
      <li>
        <% if image_type == 'image_upload' %>
          <%= image_tag image_data.src(:large) %>
        <% elsif image_type == 'basil_commission' %>
          <% if image_data.image.attached? %>
            <%= image_tag rails_blob_path(image_data.image, disposition: "attachment") %>
          <% else %>
            <%= image_tag asset_path("missing-image.jpg") %>
          <% end %>
        <% elsif image_type == 'default' && image_data.is_a?(String) %>
          <img src="<%= image_data %>">
        <% end %>
        <div class="caption bordered-text center">
          <h3>
            <% if @content.persisted? %>
              <%= link_to @content do %>
                <%= simple_format ContentFormatterService.show(
                  text: @content.name_field_value,
                  viewing_user: current_user
                ) %>
              <% end %>
              <small>
                <%= simple_format ContentFormatterService.show(
                  text: @content.description,
                  viewing_user: current_user
                ) %>
              </small>
            <% else %>
              New <%= @content.class.name %>
            <% end %>
          </h3>
        </div>
      </li>
    <% end %>
  </ul>
</div>
