
  <div class="slider" style="height: 140px;">
    <ul class="slides">
      <% if @content.image_uploads.any? %>
        <% @content.image_uploads.each do |image| %>
          <li>
            <%= image_tag image.src.url(:large) %>
            <div class="caption center-align" style="text-shadow: 2px 2px #000000;">
              <h3>
                <%= simple_format ContentFormatterService.show(
                  text: @content.name_field_value,
                  viewing_user: current_user
                ) %>
              </h3>
              <h5 class="light grey-text text-lighten-3">
                <%= simple_format ContentFormatterService.show(
                  text: @content.description,
                  viewing_user: current_user
                ) %>
              </h5>
            </div>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= image_tag "card-headers/#{@content.class.name.downcase.pluralize}.jpg" %>
          <div class="caption center-align bordered-text">
            <h3>
              <% if @content.persisted? %>
                <%= simple_format ContentFormatterService.show(
                  text: @content.name_field_value,
                  viewing_user: current_user
                ) %>
              <% else %>
                New <%= @content.class.name %>
              <% end %>
            </h3>
            <h5 class="light grey-text text-lighten-3">
              <%= simple_format ContentFormatterService.show(
                  text: @content.description,
                  viewing_user: current_user
              ) %>
            </h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
