
  <div class="slider" style="height: 140px;">
    <ul class="slides">
      <% if @content.image_uploads.any? %>
        <% @content.image_uploads.each do |image| %>
          <li>
            <%= image_tag image.src.url(:large) %>
            <div class="caption center-align" style="text-shadow: 2px 2px #000000;">
              <h3><%= @content.name %></h3>
              <h5 class="light grey-text text-lighten-3"><%= @content.description %></h5>
            </div>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= image_tag "card-headers/#{@content.class.name.downcase.pluralize}" %>
          <div class="caption center-align" style="text-shadow: 2px 2px #000000;">
              <h3><%= @content.persisted? ? @content.name : "New #{@content.class.name}" %></h3>
            <h5 class="light grey-text text-lighten-3"><%= @content.description %></h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
