<%
  creating = defined?(creating) && creating
  editing  = defined?(editing)  && editing
%>

<ul class="hoverable collection with-header content-tabs">
  <li class="collection-header center">
    <h4><%= content.class_name %></h4>
  </li>


  <% if creating || editing %>
    <li class="collection-header center">
      <button class="btn waves-effect waves-<%= content.class_color %> <%= content.class_color %> mp-sidebar-save" type="submit" name="action" style="margin: 20px 0;">
        <%= content.new_record? ? 'Create' : 'Save Changes' %>
      </button>
    </li>
  <% end %>

  <% content.data[:categories].each do |category| %>
    <%
      # Don't show changelog tab on create/edit form
      next if (creating || editing) && category[:name] == 'changelog'

      if creating || editing
        # Show everything on create/edit forms
      elsif category[:name] == 'changelog'
        # Show changelog on show page
      elsif category[:name] == 'contributors'
        # Show contributors on show page if there are any to show
        next if content.raw_model.contributors.empty?
      elsif category[:name] == 'gallery'
        # Only show gallery tab if the content has any images
        next if content.raw_model.image_uploads.empty?
      else
        # Only show other tabs if it has at least one piece of data in it
        next unless category[:fields].any? do |field|
          (
            # This is a link field AND it has existing links
            field[:field_type] == 'link' && field[:old_column_source].present? && content.raw_model.send(field[:old_column_source]).any?
          ) || field[:value].present?
            # or: this is a text field with text in it
        end
      end
    %>
    <li class="collection-item tab">
      <a href="#<%= category[:name].gsub("'", '') %>_panel" class="<%= 'red-text' if category[:label] == 'Overview' %>">
        <i class="material-icons left"><%= category[:icon] %></i>
        <%= category[:label].capitalize.presence || '(blank)' %>
      </a>
    </li>
  <% end %>

  <% if user_signed_in? && current_user.id == content.user.id %>
    <li class="collection-item fake-tab">
      <%= link_to attribute_customization_path(content_type: content.class_name.downcase), class: 'green-text' do %>
        <i class="material-icons left">tune</i>
        Configure <%= content.class_name.downcase %> fields
      <% end %>
    </li>
  <% end %>
</ul>
