<% if current_user.nil? || current_user.id != content.user_id && (content.respond_to?(:universe) && content.universe && content.universe.user_id != current_user.id) %>
  <div class="card-action center">
    <p>
      This <%= content.class.name.downcase %> was created by <%= content.user.name %> on Notebook.ai<% if content.is_a?(Universe) && content.contributors.any? %> with <%= pluralize content.contributors.count, 'contributor' %><% end %>.
    </p>
    <%= link_to "See more from #{content.user.name}", content.user %>
    <%= link_to "Create your own universe", root_url %>
  </div>
<% end %>
