<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <% if session[:user] %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @content.each do |field| %>
      <tr>
        <td style="width: 160px;"><%= simple_format link_to field.label, attribute_field_path(field) %></td>
        <td><%= simple_format field.field_type %></td>
        <td><%= simple_format field.description %></td>
        <td style="width: 240px;">
          <% if session[:user] and session[:user] == field.user.id %>
            <%= link_to t('.view', :default => t("helpers.links.view")),
                        attribute_field_path(field), :class => 'btn' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        attribute_field_edit_path(field), :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

