<%= form_for [:api, application_integration] do |f| %>
  <p>
    If you'd like to create an application that is able to use the <%= link_to 'Notebook.ai API', api_path %>, 
    please fill out the following form to get started.
  </p>
  <br />
  
  <% [:name, :description, :organization_name, :organization_url, :website_url, :privacy_policy_url, :authorization_callback_url, :event_ping_url].each do |field| %>
    <div class="input-field">
      <%= f.label field.to_s.humanize %>
      <%= f.text_field field, placeholder: field.to_s.humanize %>
    </div>
  <% end %>
  <%= f.submit 'Register application', class: 'btn white-text blue' %>

<% end %>