<% 8.times do %><br /><% end %>

<div class="row">
  <div class="col s12 m8 offset-m2 l4 offset-l4">
    <div class="hoverable card">
      <div class="card-content">
        <div class="card-title">
          <i class="material-icons left <%= ApplicationIntegration.color %>-text"><%= ApplicationIntegration.icon %></i>
          <%= @integration.name %>
        </div>
        <p>
          <%= @integration.description %>
        </p>
        <br />
        <p>
          Some other information about privacy / managing applications
        </p>
        <br />
        <%= link_to "Authorize #{@integration.name}", '#', class: "#{ApplicationIntegration.color} btn white-text", style: 'width: 100%' %>
      </div>
    </div>
  </div>
</div>