<div class="nested-fields">

  <% uuid = SecureRandom.uuid %>

  <% if f.object && f.object.send(attribute) %>

    <div class="chip">
      <% klass = f.object.send(attribute).class %>
      <%= link_to f.object.send(attribute) do %>
        <span class="<%= klass.color %>-text">
          <i class="material-icons left"><%= klass.icon %></i>
        </span>
        <%= f.object.send(attribute).name %>
      <% end %>
    </div>

    <%= link_to_remove_association 'remove', f %>

  <% else %>

    <div class="input-field">
      <%= f.label attribute %>
      <%= f.autocomplete_field "#{attribute}_id", autocomplete_name_characters_path, 'data-auto-focus' => true, id_element: "##{uuid}" %>
      <%= f.hidden_field "#{attribute}_id", id: uuid %>

      <%= link_to_remove_association 'remove', f %>
    </div>

  <% end %>
</div>