<%= f.fields_for :image_uploads do |upload_form| %>
  <div class="input-field">
    <%= upload_form.label 'File upload' %>
    <%= upload_form.file_field :src %>


    <%= link_to_remove_association f do %>
      <i class="material-icons red-text" style="position: relative; top: 10px; left: -15px;">close</i>
    <% end %>
  </div>
<% end %>
<%= f.fields_for :image_uploads do |upload_form| %>
  <div class="input-field">
    <%= upload_form.label 'File upload' %>
    <%= upload_form.file_field :src %>


    <%= link_to_remove_association f do %>
      <i class="material-icons red-text" style="position: relative; top: 10px; left: -15px;">close</i>
    <% end %>
  </div>
<% end %>
