<%= form_for(content, remote: true, html: {role: :form, 'data-model': content.class.model_name}) do |form|%>
  <div class="switch">
    <div class="col s12">
      <i class="material-icons <%= content.class.text_color %> left"><%= content.class.icon %></i>
      <b><%= content.name %></b>’s privacy setting:
    </div>
    <div>
      <label class="col s12">
        private
        <%= form.check_box :privacy, { onchange: '$(this).submit();' }, 'public', 'private' %>
        <span class="lever"></span>
        public
      </label>
    </div>
  </div>
<% end %>
