<div>
  <%= f.label attribute, attribute.humanize.capitalize %>
</div>

<div id="<%= relation %>">
  <%= f.fields_for relation do |builder| %>
    <%= render "#{relation.singularize}_fields", f: builder %>
  <% end %>
  <div class="links">
    <% color = f.object.send(attribute).build.class.color %>
    <%= link_to_add_association "add #{attribute.to_s.singularize}", f, relation, class: "btn #{color}" %>
  </div>
</div>