<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div id="your-info" class="col s12">
      <%= render partial: 'devise/registrations/panes/information', locals: { f: f } %>
    </div>
    <div id="preferences" class="col s12">
      <%= render partial: 'devise/registrations/panes/preferences', locals: { f: f } %>
    </div>
    <div id="more-options" class="col s12">
      <%= render partial: 'devise/registrations/panes/more', locals: { f: f } %>
    </div>

    <div class="center">
      <div class="actions">
        <%= f.submit "Save changes", class: 'btn blue' %>
        <%= link_to "Cancel", :back, class: 'btn grey' %>
      </div>
    </div>
  <% end %>
</div>
