<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="card teal lighten-5">
      <div class="card-content">
        <% if 5 > 0 %>
          <h5 class="right">
            <a href="#paymentpage">Balance Due: $0.00</a>
          </h5>
        <% end %>
        <h4>Billing Plan</h4>

        <p>
          <%= label_tag 'Selected Plan' %><br />

          <select>
            <option>Basic Plan - $0/month</option>
            <option>Premium Plan - $9/month</option>
          </select>

          <input type="button" value="Change Plan" class="btn btn-primary disabled" />

          You are currently on Notebook.ai's <strong>Premium</strong> plan at $9/month.
        </p>

        <table class="bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01/01/2017 - 02/01/2017</td>
              <td><strong>$9 due</strong> by February 1st, 2017</td>
              <td><a href="#paymentpage">Ready to pay</a></td>
            </tr>
            <tr>
              <td>01/01/2017 - 02/01/2017</td>
              <td><strong>$9 paid</strong> on January 5, 2017</td>
              <td><em>Paid!</em></td>
            </tr>
            <tr>
              <td>01/01/2017 - 02/01/2017</td>
              <td><strong>$9 paid</strong> on December 19, 2016</td>
              <td><em>Paid!</em></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h4>Edit your information</h4>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="card">
      <div class="card-content">
        <h4>Changing your password</h4>
        <div class="field">
          <%= f.label :password %> <em>(leave blank if you don't want to change it)</em><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h4>Identity Check (required)</h4>
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm any changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="center">
          <div class="actions">
            <%= f.submit "Update your account information", class: 'btn' %>
            <%= link_to "Cancel", :back, class: 'btn grey' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>