<div class="flex items-center pt-8 pb-32 bg-gray-50">
  <div class="flex-1 h-full max-w-7xl mx-auto bg-white rounded-lg shadow-xl">
    <div class="flex flex-col md:flex-row">
      <div class="h-32 md:h-auto md:w-1/2">
        <%= image_tag "card-headers/languages.webp", class: 'object-cover w-full h-full' %>
      </div>
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
        <div class="w-full">
          <div class="flex justify-center mb-4">
            <%= image_tag 'logos/both-small.webp', class: 'object-cover w-full h-full' %>
          </div>
          <h1 class="mb-4 text-2xl font-bold text-center text-gray-700">
            Sign up for Notebook.ai
          </h1>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <% if resource.errors.any? %>
              <div class="bg-red-200 p-4">
                <strong>Please fix the following errors:</strong>
                <ul class="my-2">
                  <%= devise_error_messages! %>
                </ul>
              </div>
            <% end %>
            <div class="my-4">
              <%= f.label 'Name', class: 'block uppercase text-blueGray-600 text-xs font-bold mb-2' %>
              <%= f.text_field :name, autofocus: true, placeholder: "Name", class: 'w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600' %>
            </div>
            <div class="my-4">
              <%= f.label 'Email', class: 'block uppercase text-blueGray-600 text-xs font-bold mb-2' %>
              <%= f.email_field :email, placeholder: "Email", class: 'w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600' %>
            </div>
            <div class="my-4">
              <%= f.label "Password #{'(' + @minimum_password_length.to_s + ' characters minimum)' if @minimum_password_length.present?}", class: 'block uppercase text-blueGray-600 text-xs font-bold mb-2' %>
              <%= f.password_field :password, placeholder: "Password", class: 'w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600', autocomplete: 'off' %>
            </div>
            <div class="my-4">
              <%= f.label 'Password confirmation', class: 'block uppercase text-blueGray-600 text-xs font-bold mb-2' %>
              <%= f.password_field :password_confirmation, placeholder: "Password", class: 'w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600' %>
            </div>
            <div class="my-4">
              <%= f.label 'Email updates', class: 'inline-flex items-center', for: :email_updates do %>
                <%= f.check_box :email_updates, class: 'mr-4 h-12 w-12' %>
                <span class="text-sm">
                  We're always working to improve Notebook.ai. Please leave this box checked if you'd like to receive occasional updates by email about
                  new features.
                </span>
              <% end %>
            </div>

            <%
              if params.key?('referral') ||  session.key?('referral')
                referral_code = params['referral'] || session['referral']
                referrer = ReferralCode.where(code: referral_code).first
                if referrer.present?
            %>
                <div class="row">
                  <div class="col s12 m6">
                    <div class="field">
                      <%= f.label :referral_code %><br />
                      <%= f.text_field :referral_code, value: referral_code, readonly: true %>
                    </div>
                  </div>
                  <div class="col s12 m6">
                    <%= f.label 'The following user will receive credit for referring you' %><br />
                    <%= f.text_field :referral_user, value: referrer.user.name.split('@').first, disabled: "disabled" %>
                  </div>
                </div>
            <%
                end
              end
            %>

            <%= f.submit "Sign up", class: 'block w-full px-4 py-4 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-notebook-blue border border-transparent rounded-lg active:bg-notebook-blue hover:bg-notebook-blue hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue cursor-pointer' %>
          <% end %>

          <div class="mt-4 text-center text-sm font-bold">
            Already have an account?
            <%= link_to 'Sign in instead.', new_user_session_path, class: 'text-notebook-blue hover:border-notebook-blue border-b-2' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
