<div class="flex items-center">
  <h1 class="flex-1 text-lg font-medium">
    <i class="material-icons <%= content.class_text_color %> text-xl float-left mr-3"><%= content.class_icon %></i>
    <span class="<%= content.class_text_color %>">
      <%= content.name %>
    </span>
    <small class="ml-2 text-gray-500">
      by
      <span class="<%= User.text_color %>">
        <%= link_to content.user.display_name, content.user %>
      </span>
    </small>
  </h1>
</div>