<form class="space-y-8 divide-y divide-gray-200 pl-6">
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">

    <% content.data[:categories].each do |category| %>
      <div class="mb-8">
        <div class="pt-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            <i class="material-icons float-left <%= content.class_text_color %> mr-2"><%= category[:icon] %></i>
            <%= category[:label] %>
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            <%= category[:percent_complete] %>% complete
          </p>
        </div>

        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
          <% category[:fields].each do |field| %>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 pt-4">
              <div class="pl-8">
                <label for="<%= field[:name] %>" class="block text-sm font-medium text-gray-700">
                  <%= field[:label] %>
                </label>
              </div>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%=
                  case field[:type]
                  when 'name'
                    render partial: 'content/tailwind_components/fields/name', locals: { field: field }
                  when 'text_area', 'textarea'
                    render partial: 'content/tailwind_components/fields/text', locals: { field: field }
                  when 'link'
                    render partial: 'content/tailwind_components/fields/link', locals: { field: field }
                  when 'universe'
                    render partial: 'content/tailwind_components/fields/universe', locals: { field: field }
                  when 'tags'
                    render partial: 'content/tailwind_components/fields/tags', locals: { field: field }
                  end
                %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</form>
