<div class="xl:flex-shrink-0 xl:w-64 xl:border-r xl:border-gray-200 bg-white">
  <div class="pl-4 pr-6 py-6 sm:pl-6 lg:pl-8 xl:pl-0">
    <div class="flex items-center justify-between">
      <div class="flex-1 space-y-2">
        <div class="space-y-8 sm:space-y-0 sm:flex sm:justify-between sm:items-center xl:block xl:space-y-8">
          <!-- Profile -->
          <div class="flex items-center space-x-3">
            <div class="flex-shrink-0 w-full mb-2">
              <%= link_to @universe_scope do %>
                <%= image_tag @universe_scope.random_image_including_private, class: 'rounded-lg' %>
              <% end %>
            </div>
            <div class="space-y-1">
              <div class="text-sm font-medium text-gray-900"><%= link_to @universe_scope.name, @universe_scope %></div>
              <%= link_to @universe_scope.user, class: 'group flex items-center text-xs' do %>
                <i class="material-icons <%= User.text_color %>"><%= User.icon %></i>
                <span class="text-gray-500 group-hover:text-gray-900 font-medium"><%= @universe_scope.user.display_name %></span>
              <% end %>
            </div>
          </div>

          <div class="pb-2 space-y-1">
            <h2 class="text-sm font-semibold">In this universe</h2>

            <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-notebook-blue sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">
              <i class="material-icons <%= Character.text_color %> mr-1"><%= Character.icon %></i>
              <span class="flex-grow text-left">Characters</span>
              <span class="bg-gray-100 p-1 text-xs rounded-lg">42</span>
            </button>
            <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-notebook-blue sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">
              <i class="material-icons <%= Location.text_color %> mr-1"><%= Location.icon %></i>
              <span class="flex-grow text-left">Locations</span>
              <span class="bg-gray-100 p-1 text-xs rounded-lg">8</span>
            </button>
            <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-notebook-blue sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">
              <i class="material-icons <%= Item.text_color %> mr-1"><%= Item.icon %></i>
              <span class="flex-grow text-left">Items</span>
              <span class="bg-gray-100 p-1 text-xs rounded-lg">17</span>
            </button>

          </div>
        </div>
        <!-- Meta info -->
        <div class="pt-2 flex flex-col space-y-2 sm:flex-row xl:flex-col xl:space-x-0">
          <div class="flex items-center space-x-2">
            <!-- Heroicon name: solid/collection -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
            </svg>
            <span class="text-sm text-gray-500 font-medium">15,323 words</span>
          </div>
          <div class="flex items-center space-x-2">
            <!-- Heroicon name: solid/collection -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
            </svg>
            <span class="text-sm text-gray-500 font-medium">7 documents</span>
          </div>
          <div class="flex items-center space-x-2">
            <!-- Heroicon name: solid/badge-check -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500 font-medium">Premium universe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>