<li class="active">
  <div class="collapsible-header">
    <i class="material-icons <%= content_type_class.color %>-text"><%= content_type_class.icon %></i>
    General <%= content_type.titleize %> settings
  </div>
  <div class="collapsible-body">
    <p>
      More <%= content_type  %>-specific settings are coming soon. In the meantime, you can customize your <%= content_type %> categories
      and fields by clicking a category below. Changes will be applied to all existing <%=  content_type %> pages as well as pages not-yet-created.
    </p>
    <p>
      And don't forget, you can always toggle entire pages on or off by <%= link_to 'customizing your pages', customization_content_types_path %>!
    </p>
  </div>
</li>
