<%
  field_uuid = SecureRandom.uuid

  # Fall back on legacy link klass if we don't have any linkable types set on this link field
  linkable_types = field.fetch(:migrated_link, false) \
    ? field.dig(:options, 'linkable_types') || []       # New-style link
    : [raw_model.send(field[:old_column_source]).klass] # Old-style link

  # Constantize upfront so we can #icon, #color, etc
  linkable_types.map! { |class_name| content_class_from_name(class_name) }
%>

<div x-data="alpineMultiSelectController()" x-init="loadOptions('<%= field_uuid %>')">
  <select name="attribute_field[linked_pages][]" multiple class="hidden autosave-closest-form-on-change" id="<%= field_uuid %>">
    <% linkable_types.each do |page_type| %>
      <optgroup label="<%= page_type.name %>">
        <% @linkables_raw.fetch(page_type.name, []).each do |linkable| %>
          <option value="<%= page_type %>-<%= linkable.id %>"
            data-image-url="<%= linkable.primary_image %>"
            data-icon="<%= page_type.icon %>"
            data-icon-color="<%= page_type.text_color %>"
            <%= 'selected' if field[:value].include?("#{page_type}-#{linkable.id}") %>
          >
            <%= linkable.name %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>

  <div class="w-full flex flex-col items-center mx-auto">
    <div class="inline-block relative w-full">
      <div class="flex flex-col items-center relative">
        <%# Closed state %>
        <div class="w-full">
          <div @click="open()" class="flex border-0 border-l-4 border-r-4 border-gray-200 bg-white rounded-md cursor-pointer hover:border-gray-400 transition-colors shadow-sm">
            <div class="flex flex-auto flex-wrap">
              <%# Chips for all selected options %>
              <template x-for="(option,index) in selected" :key="index">
                <div class="flex justify-center items-center m-1 font-medium py-1 px-1 bg-white rounded bg-gray-100 border hover:border-notebook-blue cursor-pointer">
                  <div class="text-xs font-normal leading-none max-w-full flex-initial inline-flex items-center" x-model="options[option]">
                    <span x-text="options[option].icon" class="material-icons text-xl leading-3" :class="`${options[option].icon_color}`"></span>
                    <span x-text="options[option].text" class="mr-1 px-1"></span>
                  </div>
                  <div class="flex flex-auto flex-row-reverse">
                    <div x-on:click.stop="remove(index,option)">
                      <svg class="fill-current h-4 w-4 rounded-full hover:bg-red-500 hover:text-white" role="button" viewBox="0 0 20 20">
                        <path d="M14.348,14.849c-0.469,0.469-1.229,0.469-1.697,0L10,11.819l-2.651,3.029c-0.469,0.469-1.229,0.469-1.697,0
                                            c-0.469-0.469-0.469-1.229,0-1.697l2.758-3.15L5.651,6.849c-0.469-0.469-0.469-1.228,0-1.697s1.228-0.469,1.697,0L10,8.183
                                            l2.651-3.031c0.469-0.469,1.228-0.469,1.697,0s0.469,1.229,0,1.697l-2.758,3.152l2.758,3.15
                                            C14.817,13.62,14.817,14.38,14.348,14.849z" />
                      </svg>

                    </div>
                  </div>
                </div>
              </template>
              
              <%# Placeholder component for when no options are selected %>
              <div x-show="selected.length == 0" class="flex-1 pointer-events-none">
                <input placeholder="Link your other pages"
                       class="bg-transparent p-1 px-2 appearance-none outline-none border-none h-full w-full text-gray-800 cursor-pointer focus:outline-none focus:ring-0 focus:border-none"
                       x-bind:value="selectedValues()"
                       disabled
                       readonly
                />
              </div>
            </div>

            <%# Dropdown arrow %>
            <button type="button" @click.stop="isOpen() ? close() : open()" class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l-2 flex items-center justify-center border-gray-300 cursor-pointer hover:bg-gray-50 focus:outline-none">
              <svg x-show="isOpen() === false" class="fill-current h-4 w-4 pointer-events-none select-none" viewBox="0 0 20 20" style="pointer-events: none;">
                <path d="M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0s0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z" style="pointer-events: none;" />
              </svg>
              <svg x-show="isOpen() === true" class="fill-current h-4 w-4 pointer-events-none select-none" viewBox="0 0 20 20" style="pointer-events: none;">
                <path d="M2.582,13.891c-0.272,0.268-0.709,0.268-0.979,0s-0.271-0.701,0-0.969l7.908-7.83 c0.27-0.268,0.707-0.268,0.979,0l7.908,7.83c0.27,0.268,0.27,0.701,0,0.969c-0.271,0.268-0.709,0.268-0.978,0L10,6.75L2.582,13.891z" style="pointer-events: none;" />
              </svg>
            </button>
          </div>
        </div>

        <%# Opened state %>
        <div class="w-full">
          <div x-show.transition.origin.top="isOpen()" class="absolute shadow-lg top-100 bg-white z-40 w-full left-0 rounded-lg" x-on:click.away="close">
            <div class="flex flex-row w-full overflow-y-auto max-h-64">
              <template x-for="(optgroup,groupIndex) in optgroups" :key="groupIndex" class="overflow-auto">
                <div class="w-full">
                  <%# Optgroup styling %>
                  <div class="w-full py-1 rounded-t-lg text-white inline-flex items-center" x-bind:class="optgroup.color">
                    <span x-text="optgroup.icon" class="material-icons mx-1"></span>
                    <span x-text="optgroup.plural" class="text-xs font-medium"></span>
                  </div>
                  <div class="mb-2">
                    <template x-for="(option, optionIndex) in optgroup.options" :key="optionIndex" class="overflow-auto">
                      <%# Option styling %>
                      <div class="cursor-pointer w-full border-gray-100 rounded-t hover:bg-blue-50" @click="select(option.index,$event)">
                        <div class="flex w-full px-2 pl-2 border-transparent border-l-2 relative">
                          <div class="w-full items-center flex justify-between">
                            <div class="w-4">
                              <svg x-show="option.selected" class="svg-icon" viewBox="0 0 20 20">
                                <path fill="none" d="M7.197,16.963H7.195c-0.204,0-0.399-0.083-0.544-0.227l-6.039-6.082c-0.3-0.302-0.297-0.788,0.003-1.087 C0.919,9.266,1.404,9.269,1.702,9.57l5.495,5.536L18.221,4.083c0.301-0.301,0.787-0.301,1.087,0c0.301,0.3,0.301,0.787,0,1.087 L7.741,16.738C7.596,16.882,7.401,16.963,7.197,16.963z"></path>
                              </svg>
                            </div>
                            <div class="mx-2 py-2 leading-6 flex-1" x-model="option" x-text="option.text"></div>
                            <div>
                              <img :src="`${option.imageUrl}`" class="h-8 w-8 rounded-full">
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </template>

              <%# Placeholder the link dropdown when there are no linkable pages to show %>
              <div x-show="options.length == 0">
                <p class="p-4">
                  <i class="material-icons float-left mr-2 text-notebook-blue">info</i>
                  This field only accepts links to
                  <%= linkable_types.to_sentence %> notebook pages &mdash; and you haven't created
                  any of those yet!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# Help-text for which pages can be linked with this field %>
  <%# TODO: maybe click one of these to open+filter the dropdown to just that type? %>
  <div class="mt-2">
    <small>
      <i class="material-icons float-left">link</i>
      <% linkable_types.each do |page_type| %>
        <i class="material-icons <%= page_type.text_color %>">
          <%= page_type.icon %>
        </i>
      <% end %>
    </small>
  </div>
</div>
