<li class="flex items-center">
  <%= link_to main_app.thredded_path, class: 'flex items-center text-stone-400 hover:text-notebook-blue dark:text-gray-500 dark:hover:text-blue-400 transition-colors' do %>
    <i class="material-icons text-lg">home</i>
    <span class="sr-only">Home</span>
  <% end %>
</li>

<% if messageboard_or_nil.try(:persisted?) %>
  <li class="flex items-center min-w-0">
    <i class="material-icons text-stone-300 dark:text-gray-600 text-base mx-2 flex-shrink-0">chevron_right</i>
    <%= link_to messageboard.name, messageboard_topics_path(messageboard), class: 'text-sm font-medium text-stone-500 hover:text-notebook-blue dark:text-gray-400 dark:hover:text-blue-400 transition-colors truncate max-w-32 sm:max-w-48' %>
  </li>
<% else %>
  <li class="flex items-center">
    <i class="material-icons text-stone-300 dark:text-gray-600 text-base mx-2">chevron_right</i>
    <% if controller_name == 'private_topics' || controller_name == 'private_posts' %>
      <%= link_to 'Inbox', thredded.private_topics_path, class: 'text-sm font-medium text-stone-500 hover:text-notebook-blue dark:text-gray-400 dark:hover:text-blue-400 transition-colors' %>
    <% else %>
      <%= link_to 'Forums', root_path, class: 'text-sm font-medium text-stone-500 hover:text-notebook-blue dark:text-gray-400 dark:hover:text-blue-400 transition-colors' %>
    <% end %>
  </li>
<% end %>

<% # Check for topic on the page - multiple ways to find it %>
<% topic = nil %>
<% topic = @topic if defined?(@topic) && @topic.try(:persisted?) %>
<% topic = @posts.topic if !topic && defined?(@posts) && @posts.respond_to?(:topic) && @posts.topic.try(:persisted?) %>
<% topic = local_assigns[:topic] if !topic && defined?(local_assigns) && local_assigns[:topic].try(:persisted?) %>

<% if topic %>
  <li class="flex items-center min-w-0">
    <i class="material-icons text-stone-300 dark:text-gray-600 text-base mx-2">chevron_right</i>
    <span class="text-sm font-semibold text-stone-800 dark:text-gray-200 truncate"><%= topic.title %></span>
  </li>
<% end %>
