<h1>User signups</h1>
<%= area_chart User.group_by_day(:created_at) %>

<div class="row">
	<div class="col s6">
		<h2>Universes per user</h1>
		<%= column_chart User.joins(:universes).group(:user_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>
	<div class="col s6">
		<h2>Characters per user</h1>
		<%= column_chart User.joins(:characters).group(:universe_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>

</div>

<div class="row">
	<div class="col s6">
		<h2>Locations per user</h1>
		<%= column_chart User.joins(:locations).group(:user_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>
	<div class="col s6">
		<h2>Items per universe</h1>
		<%= column_chart Universe.joins(:items).group(:universe_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>
</div>