<h1>User signups</h1>
<%= area_chart User.group_by_day(:created_at) %>

<div class="row">
	<div class="col s6">
		<h1>Universes per user</h1>
		<%= bar_chart User.joins(:universes).group("universes.user_id").count() %>
	</div>
	<div class="col s6">

		<h1>Characters per user</h1>
		<%= bar_chart User.joins(:characters).group("characters.user_id").count() %>
	</div>

</div>

<div class="row">
	<div class="col s6">
		<h1>Locations per user</h1>
		<%= bar_chart User.joins(:locations).group("locations.user_id").count() %>
	</div>
	<div class="col s6">
		<h1>Items per user</h1>
		<%= bar_chart User.joins(:items).group("items.user_id").count() %>
	</div>
</div>