<div class="row">
	<div class="col s12">
		<h1>Universe creations</h1>
		<%= line_chart Universe.group_by_day(:created_at) %>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<h2>Universes per user</h1>
		<%= column_chart User.joins(:universes).group(:user_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>
	<div class="col s6">
		<h2>Privacy per universe</h2>
		<%= pie_chart Universe.where.not(privacy: "").group(:privacy).count() %>
	</div>
</div>

<div class="row">
	<div class="col s4">
		<h2>Characters per universe</h1>
		<%= column_chart Universe.joins(:characters).group(:universe_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>
	<div class="col s4">
		<h2>Locations per universe</h1>
		<%= column_chart Universe.joins(:locations).group(:universe_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>
	<div class="col s4">
		<h2>Items per universe</h1>
		<%= column_chart Universe.joins(:items).group(:universe_id).count().group_by { |n| n.last }.each_with_object({}) { |(content_count, ids), h| h[content_count] = ids.count } %>
	</div>
</div>
