<div class="row">
  <div class="col s12 right">
    <div class="filter-bar">
      <a href="#" class="btn white black-text"><i class="material-icons">view_module</i></a>
      <a href="#" class="btn white black-text"><i class="material-icons">view_headline</i></a>
      <a href="#" class="btn white black-text"><i class="material-icons">view_stream</i></a>
      <a href="#" class="btn white black-text"><i class="material-icons">grid_on</i></a>
      &nbsp;

      <a class='dropdown-trigger btn white black-text' href='#' data-target='universe-filter-dropdown'>
        <i class="material-icons <%= Universe.color %>-text"><%= Universe.icon %></i>
      </a>
      <!-- Dropdown Structure -->
      <ul id='universe-filter-dropdown' class='dropdown-content'>
        <li><a href="#!">All Universes</a></li>
        <li class="divider" tabindex="-1"></li>
        <% @current_user_content.fetch('Universe', []).each do |universe| %>
          <li>
            <a href="#!" data-universe-id="<%= universe.id %>">
              <i class="material-icons <%= Universe.color %>-text"><%= Universe.icon %></i>
              <%= universe.name %>
            </a>
          </li>
        <% end %>
      </ul>

      <a class='btn grey lighten-2 black-text tooltipped'
         href='#'
         data-position="bottom"
         data-delay="500"
         data-tooltip="Tagging pages is a new feature coming soon.">
        <i class="material-icons red-text">loyalty</i>
      </a>

      <a class='btn grey lighten-2 black-text tooltipped'
         href='#'
         data-position="bottom"
         data-delay="500"
         data-tooltip="Favoriting pages is a new feature coming soon.">
        <i class="material-icons amber-text">star_outline</i>
      </a>

      &nbsp;

      <a class='btn white grey-text tooltipped'
         href='#'
         data-position="bottom"
         data-delay="500"
         data-tooltip="Sort list alphabetically">
        <i class="material-icons black-text">sort_by_alpha</i>
      </a>

      <a class='btn white grey-text tooltipped'
         href='#'
         data-position="bottom"
         data-delay="500"
         data-tooltip="Sort list by recency">
        <i class="material-icons black-text">access_time</i>
      </a>

      &nbsp;

      <div class="input-field inline" style="position: relative; top: 8px;">
        <input id="email_inline" type="email" class="validate">
        <label for="email_inline">Filter by name...</label>
      </div>

    </div>
  </div>
</div>
