<div class="parallax-header slider" style="height: 1px; position: relative; top: -1px">
  <ul class="slides">
    <li>
      <%= image_tag @universe_scope.try(:random_image_including_private) || "card-headers/universes.jpg" %>
      <div class="caption center-align bordered-text">
        <h4>
          <i class="material-icons <%= Universe.text_color %>"><%= Universe.icon %></i>
          <%= @universe_scope.nil? ? 'All universes' : @universe_scope.name %>
        </h4>
        <h5 class="light grey-text text-lighten-3">
          <% if @universe_scope %>
            Only viewing pages from the <%= @universe_scope.name %> universe
          <% else %>
            Viewing pages from all of your universes
          <% end %>
        </h5>
      </div>
    </li>
  </ul>
</div>
