<div class="parallax-header slider" style="height: 1px; position: relative; top: -1px">
  <ul class="slides">
    <li>
      <%= image_tag "card-headers/#{content_type.downcase.pluralize}.jpg" %>
      <div class="caption center-align bordered-text">
        <h3>
          <i class="material-icons <%= content_class.color %>-text"><%= content_class.icon %></i>
          <%= content_type.titleize.pluralize %>
        </h3>
        <h5 class="light grey-text text-lighten-3"><%= t("content_oneliners.#{content_type.downcase}") %></h5>
      </div>
    </li>
  </ul>
</div>
