<div class="parallax-header slider" style="height: 1px; position: relative; top: -1px">
  <ul class="slides">
    <li>
      <%= image_tag "card-headers/#{content_type.downcase.pluralize}.jpg" %>
      <% unless defined?(image_only) && !!image_only %>
        <div class="caption center-align bordered-text">
          <h4>
            <i class="material-icons <%= content_class.text_color %>"><%= content_class.icon %></i>
            <%= content_type.titleize.pluralize %>
          </h4>
          <h5 class="light grey-text text-lighten-3"><%= t("content_oneliners.#{content_type.downcase}") %></h5>
        </div>
      <% end %>
    </li>
  </ul>
</div>
