<%# Usage: render partial: 'content/list/document_table', locals: { content_list: @content, content_type: @content_type_class } %>

<table class="highlight z-depth-1 js-content-cards-list">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Length</th>
      <th>Last edited</th>
    </tr>
  </thead>
  <% content_list.each do |document| %>
    <tr class="white js-content-card-container hoverable modal-trigger" data-target="document-info-<%= document.id %>" style="cursor: pointer">
      <td class="center">
          <i class="material-icons medium <%= Document.color %>-text"><%= Document.icon %></i>
      </td>
      <td>
        <div>
          <div>
            <strong style="font-size: 1.2em" class="js-content-name">
              <%= document.title %>
            </strong>
          </div>
          <div>
            <%= link_to document.user, class: "#{User.color}-text" do %>
              <i class="material-icons left"><%= User.icon %></i>
              by <%= document.user.display_name %>
            <% end %>
          </div>
          <% if document.universe %>
            <div class="clearfix">
              <%= link_to document.universe, class: "#{Universe.color}-text" do %>
                <i class="material-icons left"><%= Universe.icon %></i>
                in <%= document.universe.try(:name) || 'Unknown universe' %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>

        </div>
      </td>
      <td>
        <div>
          <i class="material-icons tiny" style="position: relative; top: 3px;">text_snippet</i>
          <%= pluralize document.word_count, 'word' %>
        </div>
        <div>
          <i class="material-icons tiny" style="position: relative; top: 3px;">timer</i>
          <%= document.reading_estimate %>
        </div>
      </td>
      <td>
        <span class="tooltipped" data-tooltip="Last edited at <%= document.updated_at.strftime("%m/%d/%Y %H:%M UTC") %>">
          <%= document.updated_at == document.created_at ? 'created' : 'updated' %>
          <%= time_ago_in_words document.updated_at %> ago
        </span>
      </td>
    </tr>
  <% end %>
</table>

<%# Build info modals %>
<% content_list.each do |document| %>
  <div id="document-info-<%= document.id %>" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="<%= Document.color %>-text">
        <i class="material-icons left large"><%= Document.icon %></i>
        <%= document.title %>

        <%
          if document.favorite?
            icon = 'star'
            action = 'Unfavorite'
          else
            icon = 'star_border'
            action = 'Favorite'
          end
        %>

        <% if user_signed_in? && document.user == current_user %>
          <i class="material-icons right orange-text favorite-button tooltipped" 
            data-tooltip="<%= action %> this page"
            data-content-id="<%= document.id %>"
            data-content-class="<%= document.class.name.downcase.pluralize %>">
            <%= icon %>
          </i>
        <% end %>
      </h4>
      <div class="left">
        <div>
          <%= link_to document.user, class: "#{User.color}-text" do %>
            <i class="material-icons left"><%= User.icon %></i>
            by <%= document.user.display_name %>
          <% end %>
        </div>
        <% if document.universe %>
          <div class="clearfix">
            <%= link_to document.universe, class: "#{Universe.color}-text" do %>
              <i class="material-icons left"><%= Universe.icon %></i>
              in <%= document.universe.try(:name) || 'Unknown universe' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="clearfix row">
        <div class="col s12 m12 l8">
          <%= form_for document do |f| %>
            <h5>Document synopsis</h5>
            <div class="input-field">
              <%= f.text_area :synopsis, class: 'materialize-textarea teal lighten-5', placeholder: 'What happens in this document?' %>
              <span class="helper-text">Changes will automatically save.</span>
            </div>
            <h5>Document notes</h5>
            <div class="input-field">
              <%= f.text_area :notes_text, class: 'materialize-textarea teal lighten-5', placeholder: "Write as little or as much as you'd like!" %>
              <span class="helper-text">Changes will automatically save.</span>
            </div>
          <% end %>
        </div>
        <div class="col s12 m12 l4">
          <h5>Analysis</h5>
          <ul>
            <li>word count</li>
            <li>created</li>
            <li>last updated</li>
          </ul>
          <%= link_to analysis_document_path(document) do %>
            <div class="card-panel orange white-text hoverable">
              <i class="material-icons left">bar_chart</i>
              Full analysis
            </div>
          <% end %>

          <h5>Actions</h5>
          <ul>
            <li>view revisions</li>
            <li>share</li>
          </ul>
        </div>
      </div>
      <p>A bunch of full-width text</p>
    </div>
    <div class="modal-footer">
      <% if current_user.can_read?(document) %>
        <%= link_to polymorphic_path(document), class: 'blue white-text text-lighten-1 btn' do %>
          <i class="material-icons left"><%= content_type.icon %></i>
          View
        <% end %>
      <% end %>
      <% if current_user.can_update?(document) %>
        <%= link_to edit_polymorphic_path(document), class: 'green white-text btn', target: document.is_a?(Document) ? '_new' : '_self' do %>
          <i class="material-icons left"><%= content_type.icon %></i>
          Edit
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>