<%# Usage: render partial: 'content/list/document_table', locals: { content_list: @content, content_type: @content_type_class } %>

<table class="highlight z-depth-1 js-content-cards-list">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Length</th>
      <th>Last edited</th>
    </tr>
  </thead>
  <% content_list.each do |document| %>
    <tr class="white js-content-card-container hoverable">
      <td class="center">
          <i class="material-icons medium <%= Document.color %>-text"><%= Document.icon %></i>
      </td>
      <td>
        <div>

          <%
            if document.favorite?
              icon = 'star'
              action = 'Unfavorite'
            else
              icon = 'star_border'
              action = 'Favorite'
            end
          %>

          <% if document.persisted? && user_signed_in? && document.user == current_user %>
            <i class="material-icons right orange-text favorite-button tooltipped" 
              data-tooltip="<%= action %> this page"
              data-content-id="<%= document.id %>"
              data-content-class="<%= document.class.name.downcase.pluralize %>">
              <%= icon %>
            </i>
          <% end %>


          <div>
            <strong style="font-size: 1.2em" class="js-content-name">
              <%= document.title %>
            </strong>
          </div>
          <div>
            by <%= link_to document.user.display_name, document.user, class: "#{User.color}-text" %>
          </div>
          <br />
        </div>
        <div>
          <% if current_user.can_read?(document) %>
            <%= link_to polymorphic_path(document), class: 'blue white-text text-lighten-1 btn-flat' do %>
              <i class="material-icons left"><%= content_type.icon %></i>
              View
            <% end %>
          <% end %>
          <% if current_user.can_update?(document) %>
            <%= link_to edit_polymorphic_path(document), class: 'green white-text btn-flat', target: document.is_a?(Document) ? '_new' : '_self' do %>
              <i class="material-icons left"><%= content_type.icon %></i>
              Edit
            <% end %>
          <% end %>
          <%= link_to analysis_document_path(document), class: 'btn-flat orange white-text' do %>
            <i class="material-icons left">bar_chart</i>
            Analyze
          <% end %>
        </div>
      </td>
      <td>
        <div>
          <i class="material-icons tiny" style="position: relative; top: 3px;">text_snippet</i>
          <%= pluralize document.word_count, 'word' %>
        </div>
        <div>
          <i class="material-icons tiny" style="position: relative; top: 3px;">timer</i>
          <%= document.reading_estimate %>
        </div>
      </td>
      <td>
        <span class="tooltipped" data-tooltip="Last edited at <%= document.updated_at.strftime("%m/%d/%Y %H:%M UTC") %>">
          <%= document.updated_at == document.created_at ? 'created' : 'updated' %>
          <%= time_ago_in_words document.updated_at %> ago
        </span>
      </td>
    </tr>
  <% end %>
</table>
