<ul class="collection <%= 'with-header' if title.present? %> <%= 'hoverable' unless defined?(clean) %>" <%= "style='border: 0'".html_safe if defined?(clean) %>>
  <% if title.present? %>
    <li class="collection-header"><h4><%= title %></h4></li>
  <% end %>
  <% content_list.each do |content| %>
    <li class="collection-item avatar">
      <i class="material-icons circle <%= content.class.color %>"><%= content.class.icon %></i>
      <span class="title"><%= link_to content.name, content %></span>
      <p class="truncate">
        <%= content.description %>
      </p>
      <p class='grey-text'>
        <% if content.respond_to?(:universe) && content.universe.present? %>
          <i class="material-icons"><%= Universe.icon %></i>
          <%= link_to content.universe.name, content.universe %>,
        <% end %>
        <% if current_user && current_user == content.user %>
          <span class="tooltipped" data-position="bottom" data-delay="500" data-tooltip="<%= content.updated_at.strftime("%m/%d/%Y %H:%M") %>">
            <i class="material-icons">mode_edit</i>
            edited <%= time_ago_in_words content.updated_at %> ago
          </span>
        <% end %>
      </p>
      <span class="secondary-content">
        <%= link_to edit_polymorphic_path(content) do %>
          <i class="material-icons">edit</i>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>