<ul class="collection <%= 'with-header' if title.present? %>" style='border: 0'>
  <% if title.present? %>
    <li class="collection-header"><h5><%= title %></h5></li>
  <% end %>

  <% content_list.each do |content| %>
    <li class="collection-item avatar">
      <%= link_to content do %>
        <i class="material-icons circle <%= content.class.color %>"><%= content.class.icon %></i>
      <% end %>
      <span class="title"><%= link_to (content.respond_to?(:label) ? content.label : content.name), content %></span>
      <p class="truncate">
        <%= content.description %>
      </p>
      <p class='grey-text'>
        <% if content.respond_to?(:universe) && content.universe.present? %>
          <i class="material-icons"><%= Universe.icon %></i>
          <%= link_to content.universe.name, content.universe %>,
        <% end %>
        <% if current_user && current_user == content.user %>
          <span class="timestamp tooltipped" data-position="bottom" data-delay="500" data-tooltip="<%= content.updated_at.strftime("%m/%d/%Y %H:%M") %>">
            <i class="material-icons">mode_edit</i>

            <%
              if content.updated_at == content.created_at
                action = 'created'
              else
                action = 'updated'
              end
            %>

            <%= action %> <%= time_ago_in_words content.updated_at %> ago
          </span>
        <% end %>
      </p>
      <span class="secondary-content hide-on-med-and-up">
        <% if current_user && current_user == content.user %>
          <%= link_to edit_polymorphic_path(content), class: 'js-edit-hover' do %>
            <i class="material-icons">edit</i>
          <% end %>
        <% end %>
      </span>
    </li>
  <% end %>

  <% if local_assigns[:show_add_another_form] && content_list.any? %>
    <% content_type = content_list.build.class %>
    <li class="collection-item avatar">
      <i class="material-icons circle <%= content_type.color %>">add</i>

        <div class="row">
        <%= form_for content_type.new, remote: true do |f| %>
          <div class="input-field col s12 m9">
            <%= f.label "Quick-add a #{content_type.name} by name", class: 'active' %>
            <%= f.text_field :name %>
          </div>
          <%= f.hidden_field :universe_id, value: (@universe_scope ? @universe_scope.id : nil) %>

          <div class="col s12 m3">
            <%= f.button 'Quick-add',
              class: "btn submit #{content_type.color}",
              style: 'width: 100%; margin-top: 15px;'
            %>
          </div>
        <% end %>
      </div>
    </li>
    <%= content_for :javascript do %>
      console.log('Registering quick-add hook for <%= content_type.name.downcase %>');
      $('#new_<%= content_type.name.downcase %>').on('submit', function(e, data, status, xhr) {
        console.log('Intercepted quick-add for <%= content_type.name.downcase %>.');
        var form = $('#new_<%= content_type.name.downcase %>');
        var collection = $("#new_<%= content_type.name.downcase %>").closest('.collection');

        collection.find('.submit').addClass('disabled');

        var template = collection.find('.collection-item:last-child, .collection-item:nth-last-child(2)').first().clone();
        template.find('.title').text(form.find('#<%= content_type.name.downcase %>_name').val());
        template.find('.timestamp').html([
          '<i class="material-icons">edit</i> created just now'
        ].join(' '));
        template.find('.js-edit-hover').html('');

        var quick_add = collection.find('li:last')

        template.insertBefore(quick_add);
      }).on('ajax:success', function(e, xhr, status, error) {
        var collection = $("#new_<%= content_type.name.downcase %>").closest('.collection');
        var quick_add = collection.find('li:last')

        // Reset form
        quick_add.find('#<%= content_type.name.downcase %>_name').val('');
        collection.find('.submit').removeClass('disabled');

        // template.find('.title').turn_into_a_link_to_content
        // template.find('.timestamp').text('Created!');
      }).on('ajax:error', function(e, xhr, status, error) {
        console.log(status);
        console.log(error);
      });
    <% end %>
  <% end %>

</ul>
