<%# Usage: render partial: 'content/list/quick_add_form', locals: { content_type: Character } %>
<li class="collection-item avatar">
  <i class="material-icons circle <%= content_type.color %>">add</i>
    <div class="row">
    <%= form_for content = content_type.new(user: current_user) do |f| %>
      <div class="input-field col s12 m9">
        <%= f.label "Quick-add a #{content_type.name} by name", class: 'active' %>
        <%= render 'content/form/text_input', f: f, content: content, field: content.name_field, show_label: false %>
      </div>
      <%= f.hidden_field :universe_id, value: (@universe_scope ? @universe_scope.id : nil) %>
      <%= hidden_field_tag :redirect_override, polymorphic_path(content_type) %>

      <div class="col s12 m3">
        <%= f.submit 'Quick-add',
          class: "btn submit #{content_type.color}",
          style: 'width: 100%; margin-top: 15px;'
        %>
      </div>
    <% end %>
  </div>
</li>
