<table class="table table-striped">
  <thead>
    <tr>
      <% @content.first.table_columns.keys.each do |column_header| %>
      	<th><%= column_header %></th>
      <% end %>
      <% if session[:user] %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @content.each do |row_item| %>
      <tr>
        <% row_item.table_columns.values.each do |cell| %>
          <td><%= cell.is_a? Proc ? cell.call : cell %></td>
        <% end %>
        <td style="width: 240px;">
          <% if session[:user] and session[:user] == row_item.user.id %>
            <%= link_to t('.view', :default => t("helpers.links.view")), equipment_path(row_item), :class => 'btn' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")), equipment_edit_path(row_item), :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

