<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>Description</th>
      <% if session[:user] %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @content.each do |category| %>
      <tr>
        <td style="width: 160px;"><%= simple_format link_to category.label, attribute_category_path(category) %></td>
        <td><%= simple_format category.entity_type.capitalize %></td>
        <td><%= simple_format category.description %></td>
        <td style="width: 240px;">
          <% if session[:user] and session[:user] == category.user.id %>
            <%= link_to t('.view', :default => t("helpers.links.view")),
                        attribute_field_path(category), :class => 'btn' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        attribute_field_edit_path(category), :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

