<div class="hidden section starter_section general_section">
  <%= generate_form_row_for(f, :name, nil) %>
  <%= generate_form_row_for(f, :equip_type, 'Type') %>
  <%= generate_form_row_for(f, :description, nil) %>
  <%= generate_form_row_for(f, :universe, nil, [{:action => 'universe_picker', :icon => 'globe'}]) %>
</div>

<div class="hidden section appearance_section">
  <%= generate_form_row_for(f, :weight, nil) %>
</div>

<div class="hidden section history_section">
  <%= generate_form_row_for(f, :original_owner, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :current_owner, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :made_by, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :materials, nil) %>
  <%= generate_form_row_for(f, :year_made, nil) %>
</div>

<div class="hidden section abilities_section">
  <%= generate_form_row_for(f, :magic, nil) %>
</div>

<div class="hidden section notes_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 10, :style => "width: 80%;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :private_notes, :class => 'text_area', :rows => 8, :style => "width: 80%;" %>
    </div>
  </div>
</div>
