<%- model_class = Equipment.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.name, equipment_path(equipment) %></td>
        <td><%= equipment.equip_type %></td>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      equipment_path(equipment), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      equipment_edit_path(equipment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      equipment_path(equipment),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well" style="margin-top: 20px;">
	<h4>Planning equipment</h4>
	<p>
		A legendary sword or decrepit family shield are capable of telling a story all on their own. Before including them in 
		your literary masterpiece, you should flesh their history out and keep their stories straight.
	</p>
	<%= link_to 'New Equipment', equipment_create_path, :class => 'btn btn-primary' %>
	
	<%= link_to 'New Weapon', equipment_create_type_path(:weapon), :class => 'btn' %>
	<%= link_to 'New Armor', equipment_create_type_path(:armor), :class => 'btn' %>
</div>


