<% if @equipment.length > 0 %>
<div class="card">
  <h3 class="card-heading simple">
    <%= t('equipment.index.your_equipment') %>
    <% if false and Universe.where(user_id: session[:user]).length > 0 %>
      <small>from <%= render 'universes/picker' %></small>
    <% end %>
  </h3>

  <%= render 'list' %>
</div>
<% end %>

<div class="card">
  <h3 class="card-heading simple"><%= t('equipment.index.new_equipment_card_header') %></h3>
  <div class="card-body">
    <p><%= t('equipment.index.new_equipment_card_body') %></p>
    <%= link_to t('equipment.actions.new_equipment'), equipment_create_path, :class => 'btn btn-primary' %>
    <%= link_to t('equipment.actions.new_weapon'), equipment_create_type_path(:weapon), :class => 'btn' %>
    <%= link_to t('equipment.actions.new_armor'), equipment_create_type_path(:armor), :class => 'btn' %>
  </div>
  <div class="card-comments"></div>
</div>
