<div class="hidden section starter_section general_section">
  <%= generate_form_row_for(f, :name, nil) %>
  <%= generate_form_row_for(f, :universe, nil, [{:action => 'universe_picker', :icon => 'globe'}]) %>
</div>

<div class="hidden section vocabulary_section">
  <div class="control-group">
    <%= f.label 'Words', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :words, :class => 'text_field', :rows => 6 %>
    </div>
  </div>
</div>

<div class="hidden section history_section">
  <%= generate_form_row_for(f, :established_year, nil) %>
  <%= generate_form_row_for(f, :established_location, 'Established in', [{:action => 'location_picker', :icon => 'globe'}]) %>
</div>

<div class="hidden section speakers_section">
  <%= generate_form_row_for(f, :characters, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :locations, nil, [{:action => 'location_picker', :icon => 'globe'}]) %>
</div>

<div class="hidden section more_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 12, :style => "width: 80%;" %>
    </div>
  </div>
</div>
