<ul class="nav nav-tabs">
  <li class="active tab"><%= link_to "General", "#", :id => "show_general" %></li>
  <li class="tab"><%= link_to "Vocabulary", "#", :id => "show_vocabulary" %></li>
  <li class="tab"><%= link_to "History", "#", :id => "show_history" %></li>
  <li class="tab"><%= link_to "Speakers", "#", :id => "show_speakers" %></li>
  <li class="tab"><%= link_to "More...", "#", :id => "show_more" %></li>
</ul>
