<ul class="nav nav-stacked">
  <li class="active tab"><%= link_to "General", "#general", :id => "show_general" %></li>
  <li class="tab"><%= link_to "Vocabulary", "#vocabulary", :id => "show_vocabulary" %></li>
  <li class="tab"><%= link_to "History", "#history", :id => "show_history" %></li>
  <li class="tab"><%= link_to "Speakers", "#speakers", :id => "show_speakers" %></li>
  <li class="tab"><%= link_to "More...", "#more", :id => "show_more" %></li>
  <li class="divider"></li>
  <li class="tab"><a href="#expand-all" class="expand-all">
    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Expand All
  </a></li>
</ul>
