<%- model_class = Language.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= link_to language.name, language_path(language) %></td>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      language_path(language), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      language_edit_path(language), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      language_path(language),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well" style="margin-top: 20px;">
	<h4>Planning languages</h4>
	<p>
		English doesn't have to be the only language in your story. Whether you're planning differing dialects or completely new languages, you want to keep track of what defines them. 
	</p>
	
	<%= link_to 'New language', language_create_path, :class => 'btn btn-primary' %>
</div>
