<ul role="list" class="space-y-2 flex mb-8">
  <% discussions.each do |topic| %>
    <%= link_to topic, class: 'w-full' do %>
      <li class="text-sm text-white hover:bg-blue-600 bg-blue-500 shadow hover:shadow-md rounded p-2">
        <i class="material-icons float-left mr-2">forum</i>
        <div class="line-clamp-1"><%= topic.title %></div>
        <div>
          <small>
            <%= number_with_delimiter (topic.posts.count - 1) %>
            <%= 'reply'.pluralize(topic.posts.count - 1) %>
          </small>
          <small>
            in <strong><%= topic.messageboard.name %></strong>
          </small>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
