<ul role="list" class="grid grid-cols-3 gap-2">
  <% (@activated_content_types + ["Timeline", "Document"]).each do |content_type| %>
    <% klass = content_class_from_name(content_type) %>
    <%= link_to send("new_#{content_type.downcase}_path") do %>
      <li class="col-span-1 <%= klass.color %> text-white py-6 rounded-lg shadow hover:shadow-lg">
        <div class="w-full text-center">
          <i class="material-icons text-6xl"><%= klass.icon %></i>
          <div>
            <%= content_type %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>

  <%= link_to customization_content_types_path do %>
    <li class="col-span-1 bg-notebook-blue text-white py-6 rounded-lg shadow hover:shadow-lg">
      <div class="w-full text-center">
        <i class="material-icons text-6xl">add</i>
        <div>
          More...
        </div>
      </div>
    </li>
  <% end %>
</ul>
