<section class="max-w-3xl mt-8 mx-auto">
  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Your notifications</h2>
    </div>
    <!--
    <div class="mt-4 flex md:mt-0 md:ml-4">
      <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Edit</button>
      <button type="button" class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Publish</button>
    </div>
    -->
  </div>

  <% if @notifications.empty? %>
    <p class="bg-blue-100 border border-notebook-blue p-4 my-4 rounded">
      Notifications will appear here as soon as you have any!
    </p>
    <div>
      <%= link_to 'Back to your dashboard', dashboard_path, class: 'text-notebook-blue' %>
    </div>
  <% end %>

  <% if @notifications.any? %>
    <div class="bg-white border-notebook-blue rounded mt-4">
      <%# todo this is copy-pasted from tailwind template and can be partialized to reuse styling %>
      <% @notifications.each do |notification| %>
        <%= link_to main_app.notification_path(notification), class: 'flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2' do %>
          <i class="material-icons bg-<%= notification.icon_color %>-500 text-white rounded-full p-1 h-8 w-8 mx-1"><%= notification.icon %></i>                
          <div class="text-black text-sm mx-2 flex-grow <%= 'font-bold' unless notification.viewed_at? %>">
            <%= notification.message_html.html_safe %>
          </div>
          <div class="text-gray-400 text-xs">
            <%= time_ago_in_words notification.happened_at %> ago
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="my-2 space-y-2">
      <%= link_to main_app.mark_all_read_path, class: 'block bg-blue-100 hover:bg-blue-50 text-black text-center py-2' do %>
        Mark all notifications read
      <% end %>
      <%= link_to main_app.notifications_path, class: 'block bg-notebook-blue hover:bg-blue-500 text-white text-center font-bold py-2' do %>
        See all notifications
      <% end %>
    </div>

  <% end %>
</section>
