<script type="application/ld+json">
  <%
    set_meta_tags title: @user.name,
    description: "#{@user.name}’s profile on Notebook.ai",
    image_src: @user.image_url(120)

    content_jsonld = {
      '@id': user_url,
      '@type': 'http://schema.org/Person',
      'http://schema.org/name': @user.name,
      'http://schema.org/description': "#{@user.name}’s profile on notebook.ai",
      'https://schema.org/image': @user.image_url(120)
    }
  %>
  <%= content_jsonld.to_json.html_safe %> %>
</script>

<div class="row">
  <div class="col s12 m3">
    <%= render partial: 'users/profile/avatar' %>
    <%= render partial: 'users/profile/public_pages' %>
    <%= render partial: 'users/profile/actions' %>
  </div>

  <div class="col s12 m9">
    <%= render partial: 'users/profile/name' %>
    <div>
      Joined <%= time_ago_in_words @user.created_at %> ago.
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= render partial: 'users/profile/public_activity' %>
  </div>
</div>
