<script type="application/ld+json">
  <%
    set_meta_tags title: @user.name,
    description: "#{@user.name}’s profile on Notebook.ai",
    image_src: @user.image_url(120)

    content_jsonld = {
      '@id': user_url(id: @user.id),
      '@type': 'https://schema.org/Person',
      'https://schema.org/name': @user.name,
      'https://schema.org/description': "#{@user.name}’s worldbuilding profile on Notebook.ai",
      'https://schema.org/image': @user.image_url(120)
    }
  %>
  <%= content_jsonld.to_json.html_safe %> %>
</script>

<%= content_for :full_width_page_header do %>
  <div class="user-profile-ui card">
    <div class="card-image">
      <% if @user.favorite_page_type? %>
        <div class="<%= @accent_color %> darken-4" style="height: 200px; width: 100%"></div>
      <% else %>
        <%= image_tag "card-headers/users.png", style: 'height: 200px;' %>
      <% end %>
      <span class="card-title">
        <%= image_tag @user.image_url.html_safe, class: 'header-avatar materialboxed', data: { caption: "#{@user.display_name}'s avatar" } %>

        <%= @user.name %>
        <span class="black-text">
          <%= render partial: 'thredded/users/badge', locals: { user: @user } %>
        </span>
      </span>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a class="blue-text" href="#tab-about-me">About Me</a></li>
      <li class="tab col s3"><a class="active blue-text" href="#tab-recent-activity">Recent Activity</a></li>
      <li class="tab col s3"><a class="blue-text" href="#tab-universes">Universes</a></li>
      <!--<li class="tab col s3"><a class="blue-text" href="#tab-documents">Documents</a></li>-->
      </ul>
    </div>
  </div>
<% end %>

<div class="row user-profile-ui">
  <div class="col s12">

    <div id="tab-about-me">
      <div class="row">
        <div class="col s12">
          <%= render partial: 'users/profile/actions' %>
        </div>
      </div>
      <%= render partial: 'users/profile/info' %>
    </div>
    <div id="tab-recent-activity">
      <% @feed.each do |share| %>
        <% if Rails.application.config.content_types[:all].map(&:name).include?(share.content_page_type) %>
          <%= render partial: 'content_page_shares/stream_item', locals: { share: share, content: share.content_page } %>
        <% elsif share.content_page_type == Thredded::Topic.name %>
          <%= render partial: 'content_page_shares/stream_discussion', locals: { share: share, content: share.content_page } %>
        <% else %>
          <strong>Error loading stream item</strong>
        <% end %>
        <br /><br />
      <% end %>
      <% if @feed.empty? %>
        <div class="row">
          <div class='col s12'>
            <div class="hoverable card">
              <div class="card-content">
                <p class="card-title">
                  There are no posts here yet!
                </p>
                <p>
                  You can follow other worldbuilders from their profiles.
                  Whenever a user you follow shares one of their public pages,
                  it will appear here for you to comment on!
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="tab-universes">
      <div class="row">
        <% @user.universes.is_public.each do |universe| %>
          <div class="col s12 m12 l6">
            <%= link_to universe do %>
              <div class="hoverable card">
                <div class="card-image">
                  <%= image_tag universe.random_public_image %>
                  <span class="card-title"><%= universe.name %></span>
                </div>
                <div class="card-content <%= Universe.color %> white-text">
                  <p><%= universe.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
          You can also browse this user's public pages directly.
          <% if @content.empty? %>
            However, they haven't made anything public yet!
          <% end %>
        </div>
        <div class="col s12 m8 l8">
          <%= render partial: 'users/profile/public_pages' %>
        </div>
      </div>
    </div>
    <!--
    <div id="tab-documents">
      Tab 4
    </div>
    -->
  </div>
</div>

