<script type="application/ld+json">
  <%
    set_meta_tags title: "#{@user.name || @user.display_name}'s profile",
                  description: "#{@user.display_name} is creating fictional worlds on Notebook.ai.",
                  image_src: URI.join(root_url, @user.image_url(120)),
                  og: { type: 'profile' }

    content_jsonld = {
      '@id': user_url(id: @user.id),
      '@type': 'https://schema.org/Person',
      'https://schema.org/name': @user.name,
      'https://schema.org/description': "#{@user.name}’s worldbuilding profile on Notebook.ai",
      'https://schema.org/image': URI.join(root_url, @user.image_url(120))
    }
  %>
  <%= content_jsonld.to_json.html_safe %> %>
</script>

<div class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-20">
  <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
    <div class="flex flex-grow">
      <%= image_tag @user.image_url, class: 'block rounded-full mr-4 h-20 w-20 border-2 border-notebook-blue p-1' %>
      <h2 class="mb-5 font-sans font-bold tracking-tight text-gray-900 sm:leading-none md:mb-6 group">
        <div class="mb-3">
          <span class="<%= User.text_color %> text-4xl">
            <%= @user.name %>
          </span>
          <span class="text-gray-500 text-xl">
            @<%= @user.username %>
            <%= render partial: 'thredded/users/badge', locals: { user: @user } %>
          </span>
        </div>
        <div class="mb-1 sm:mb-4 text-sm">
          <%= link_to 'Follow', '#', class: "text-white #{User.color} py-2 px-4 rounded hover:shadow hover:bg-green-500 transition mr-1" %>
          <%= link_to 'Send Message', '#', class: "text-white bg-blue-500 py-2 px-4 rounded hover:shadow hover:bg-blue-400 transition mr-1" %>
          <%= link_to 'Block', '#', class: "text-white bg-red-400 py-2 px-4 rounded hover:shadow hover:bg-red-300 transition" %>
        </div>
      </h2>
    </div>
    <div>
      <p class="text-gray-700 lg:text-sm lg:max-w-md">
        <%= @user.bio %>
      </p>
      <%= link_to '#', class: "#{User.text_color} text-right block text-xs hover:text-green-400 transition" do %>
        Read more
      <% end %>
    </div>
  </div>

  <div class="px-4 py-4 mb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="flex flex-col w-full mb-6 lg:justify-between lg:flex-row md:mb-8">
      <div class="flex items-center lg:max-w-xl">
        <i class="material-icons <%= Universe.text_color %> text-5xl relative bottom-1 mr-3"><%= Universe.icon %></i>
        <h2 class="font-sans text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
          <span class="inline-block mb-2">Featured worlds</span>
        </h2>
      </div>
      <!--
      <div>
        Edit your featured universes
      </div>
      -->
    </div>
    <div class="grid gap-8 row-gap-5 mb-8 lg:grid-cols-3 lg:row-gap-8">
      <% 4.times do %>
        <%= link_to '#' do %>
          <img class="object-cover w-full h-56 mb-6 md:h-64 xl:h-80 duration-200 transform rounded shadow-lg hover:-translate-y-2 hover:shadow-2xl" src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
          <p class="mb-2 text-xl font-bold leading-none sm:text-2xl">
            Galaxies Orion
          </p>
          <p class="text-gray-700">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="px-4 py-4 mb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="flex flex-col w-full mb-6 lg:justify-between lg:flex-row md:mb-8">
      <div class="flex items-center lg:max-w-xl">
        <i class="material-icons text-notebook-blue text-5xl relative bottom-1 mr-3">book</i>
        <h2 class="font-sans text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
          <span class="inline-block mb-2">Explore notebook pages</span>
        </h2>
      </div>
      <div class="text-black py-2 px-4 bg-blue-100 border border-notebook-blue rounded">
        Only your public pages are visible in this section.<br />
        All pages are private by default.
      </div>
    </div>
    <div class="grid gap-6 row-gap-5 mb-8 lg:grid-cols-4 sm:row-gap-6 sm:grid-cols-2">
      <% @content.keys.each do |page_type| %>
        <% page_type_klass = User.new.send(page_type).klass %>
        <a href="/" aria-label="View Item">
          <div class="relative overflow-hidden transition duration-200 transform rounded shadow-lg hover:-translate-y-2 hover:shadow-2xl">
            <img class="object-cover w-full h-56 md:h-64 xl:h-80" src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
            <div class="absolute inset-x-0 bottom-0 p-4 <%= page_type_klass.color %> bg-opacity-80">
              <p class="text-sm font-medium tracking-wide text-white">
                <i class="material-icons float-left text-xl relative bottom-1 mr-2"><%= page_type_klass.icon %></i>
                <%= page_type.to_s.humanize %>
                <span class="float-right bg-white text-notebook-blue px-2 rounded-full">
                  <%= @content[page_type].length %>
                </span>
              </p>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>

  <div class="px-4 py-4 mb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="flex flex-col w-full mb-6 lg:justify-between lg:flex-row md:mb-8">
      <div class="flex items-center lg:max-w-xl">
        <i class="material-icons <%= Document.text_color %> text-5xl relative bottom-1 mr-3"><%= Document.icon %></i>
        <h2 class="font-sans text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
          <span class="inline-block mb-2">Read stories</span>
        </h2>
      </div>
      <div class="text-black py-2 px-4 bg-blue-100 border border-notebook-blue rounded">
        Only your public documents are visible in this section.<br />
        All documents are private by default.
      </div>
    </div>
  </div>

  <div class="px-4 py-4 mb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="flex flex-col w-full mb-6 lg:justify-between lg:flex-row md:mb-8">
      <div class="flex items-center lg:max-w-xl">
        <i class="material-icons <%= PageCollection.text_color %> text-5xl relative bottom-1 mr-3"><%= PageCollection.icon %></i>
        <h2 class="font-sans text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
          <span class="inline-block mb-2">Published in</span>
        </h2>
      </div>
      <div class="text-black py-2 px-4 bg-blue-100 border border-notebook-blue rounded">
        This section automatically updates whenever<br />
        one of your pages is accepted into a public Collection.
      </div>
    </div>
    <div class="grid gap-6 row-gap-5 mb-8 lg:grid-cols-4 sm:row-gap-6 sm:grid-cols-2">
      <% @content.keys.each do |page_type| %>
        <% page_type_klass = User.new.send(page_type).klass %>
        <a href="/" aria-label="View Item">
          <div class="relative overflow-hidden transition duration-200 transform rounded shadow-lg hover:-translate-y-2 hover:shadow-2xl">
            <img class="object-cover w-full h-56 md:h-64 xl:h-80" src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
            <div class="absolute inset-x-0 bottom-0 p-4 <%= PageCollection.color %> bg-opacity-80">
              <p class="text-sm font-medium tracking-wide text-white">
                <i class="material-icons float-left text-xl relative bottom-1 mr-2"><%= PageCollection.icon %></i>
                <%= page_type.to_s.humanize %>
              </p>
            </div>
          </div>
        </a>
      <% end %>
    </div>

  </div>


  <!-- stats bar with follow/message -->
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          <%= number_with_delimiter @user.followed_users.count %>
        </h2>
        <p class="leading-relaxed">Following</p>
      </div>
      <div class="p-4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          <%= number_with_delimiter @user.followed_by_users.count %>
        </h2>
        <p class="leading-relaxed mb-4">Followers</p>
        <%= link_to 'Follow', '#', class: "text-white #{User.color} py-2 px-4 rounded hover:shadow hover:bg-green-500 transition" %>
      </div>
    </div>
  </div>
</div>






<!-- navigation tabs -->
<ul class="flex border-b border-gray-300 mx-16 mb-16">
  <li class="px-4 pb-4 font-bold border-gray-300 hover:border-notebook-blue border-b-2">
    About
  </li>
  <% @tabs.each do |tab| %>
    <% content_type_class = @user.send(tab).build.class %>
    <%= link_to send("#{tab}_user_path", { id: @user.id }) do %>
      <li class="px-4 pb-4 font-bold border-gray-300 hover:border-notebook-blue border-b-2">
        <%= tab.to_s.humanize %>
        <span class="text-gray-400 font-normal ml-1">
          <%= number_with_delimiter @content[tab].length %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>



<%
  show_collections_tab = @user.page_collections.any? || @user.published_in_page_collections.any?
%>

<%= content_for :full_width_page_header do %>
  <div class="user-profile-ui card">
    <div class="card-image">
      <% if @user.favorite_page_type? %>
        <div class="<%= @accent_color %> darken-4" style="height: 200px; width: 100%"></div>
      <% else %>
        <%= image_tag "card-headers/users.png", style: 'height: 200px;' %>
      <% end %>
      <span class="card-title">
        <%= image_tag @user.image_url.html_safe, class: 'header-avatar materialboxed', data: { caption: "#{@user.display_name}'s avatar" } %>

        <%= @user.name %>
        <span class="black-text">
          <%= render partial: 'thredded/users/badge', locals: { user: @user } %>
        </span>
      </span>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a class="active blue-text" href="#tab-about-me">About Me</a></li>
      <li class="tab col s3"><a class="blue-text" href="#tab-recent-activity">Recent Activity</a></li>
      <li class="tab col s3"><a class="blue-text" href="#tab-universes">Universes</a></li>
      <!--<li class="tab col s3"><a class="blue-text" href="#tab-documents">Documents</a></li>-->
      <% if show_collections_tab %>
        <li class="tab col s3"><a class="blue-text" href="#tab-collections">Collections</a></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row user-profile-ui">
  <div class="col s12">

    <div id="tab-about-me">
      <div class="row">
        <div class="col s12">
          <%= render partial: 'users/profile/actions' %>
        </div>
      </div>
      <%= render partial: 'users/profile/info' %>
    </div>
    <div id="tab-recent-activity">
      <% if user_signed_in? && @user.blocked_by?(current_user) %>
        <p class="card-panel red center lighten-5 black-text">
          You've blocked this user.
        </p>
      <% else %>
        <%= render partial: 'stream/share', collection: @feed %>
        <% if @feed.empty? %>
          <div class="row">
            <div class='col s12'>
              <div class="hoverable card">
                <div class="card-content">
                  <p class="card-title">
                    There are no posts here yet!
                  </p>
                  <p>
                    You can follow other worldbuilders from their profiles.
                    Whenever a user you follow shares one of their public pages,
                    it will appear here for you to comment on!
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="tab-universes">
      <% if user_signed_in? && @user.blocked_by?(current_user) %>
        <p class="card-panel red center lighten-5 black-text">
          You've blocked this user.
        </p>
      <% else %>
        <div class="row">
          <% @user.universes.is_public.each do |universe| %>
            <div class="col s12 m12 l6">
              <%= link_to universe do %>
                <div class="hoverable card">
                  <div class="card-image">
                    <%= image_tag universe.first_public_image %>
                    <span class="card-title"><%= universe.name %></span>
                  </div>
                  <div class="card-content <%= Universe.color %> white-text fixed-card-content">
                    <p><%= truncate(universe.description, length: 140) %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col s12 m4 l4">
            You can also browse this user's public pages directly.
            <% if @content.empty? %>
              However, they haven't made anything public yet!
            <% end %>
          </div>
          <div class="col s12 m8 l8">
            <%= render partial: 'users/profile/public_pages' %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="tab-collections">
      <% if user_signed_in? && @user.blocked_by?(current_user) %>
        <p class="card-panel red center lighten-5 black-text">
          You've blocked this user.
        </p>
      <% else %>
        <div class="row">

          <% if @user.published_in_page_collections.any? %>
            <h3 class="grey-text center">Published in</h3>
            <% @user.published_in_page_collections.each do |page_collection| %>
              <div class="col s12 m6 l4">
                <%= link_to page_collection do %>
                  <div class="hoverable card">
                    <div class="card-image">
                      <%= image_tag page_collection.first_public_image %>
                      <span class="card-title">
                        <i class="material-icons bordered-text <%= PageCollection.text_color %>"><%= PageCollection.icon %></i>
                        <%= page_collection.title %><br />
                        <%= page_collection.subtitle %>
                      </span>
                    </div>
                    <div class="card-content <%= PageCollection.color %> white-text fixed-card-content">
                      <p><%= truncate(page_collection.description, length: 140) %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        
        </div>
        <div class="row">

          <% if @user.page_collections.any? %>
            <h3 class="grey-text center">My Collections</h3>
            <% @user.page_collections.each.with_index do |page_collection, i| %>
              <div class="col s12 m6 l4">
                <%= link_to page_collection do %>
                  <div class="hoverable card"">
                    <div class="card-image">
                      <%= image_tag page_collection.first_public_image, height: 250 %>
                      <span class="card-title">
                        <i class="material-icons bordered-text <%= PageCollection.text_color %>"><%= PageCollection.icon %></i>
                        <%= page_collection.title %><br />
                        <%= page_collection.subtitle %>
                      </span>
                    </div>
                    <div class="card-content <%= PageCollection.color %> white-text fixed-card-content">
                      <p><%= truncate(page_collection.description, length: 140) %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>

        </div>
      <% end %>
    </div>
    <!--
    <div id="tab-documents">
      Tab 4
    </div>
    -->
  </div>
</div>

