<script type="application/ld+json">
<%
set_meta_tags title: @user.name,
description: "#{@user.name}’s profile on notebook.ai",
image_src: @user.image_url(120)

content_jsonld = {
  '@id': user_url,
  '@type': 'http://schema.org/Person',
  'http://schema.org/name': @user.name,
  'http://schema.org/description': "#{@user.name}’s profile on notebook.ai",
  'https://schema.org/image': @user.image_url(120)
}
%>
<%= content_jsonld.to_json.html_safe %> %>
</script>

<%
	tabs = %w(universes characters locations items)

	tab_content_list = {}
	tabs.each do |tab|
		tab_content_list[tab] = @user.send(tab).is_public.sort_by { |c| c.name.downcase }
	end
%>

<div class="row">
	<div class="col m3 s4">

		<div class="hoverable card">
			<div class="card-image waves-effect waves-block waves-light">
				<%= image_tag @user.image_url(500).html_safe, class: 'activator' %>
			</div>
			<div class="card-content">
				<div class="card-title"><b><%= @user.name %></b></div>
				<p>
					I'm creating universes on Notebook! I'm currently sharing the following public content:
				</p>
				<div class="row" style="text-align: center">
					<% tabs.each do |tab| %>
					<div class="col s6">
						<h3><%= tab_content_list[tab].length %></h3>
						<h6><%= tab.singularize.pluralize(tab_content_list[tab].length) %></h6>
					</div>
					<% end %>
				</div>

			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Profile Picture<i class="material-icons right">close</i></span>
				<p>Profile picture are powered by <%= link_to 'Gravatar', 'https://gravatar.com/', target: "_blank" %>, using the email you provided in your <%= link_to 'account settings', edit_user_registration_path %>.</p>
			</div>
			<div class="card-action">
				<a href="#">Author links coming soon</a>
			</div>
		</div>

	  <!--
      <div class="hoverable card">
	      More information
      </div>
	  -->
</div>

<div class="card col s8">
	<div>
		<ul class="tabs">
			<% tabs.each do |tab| %>
			<li class="tab col s3 <%= "disabled" if tab_content_list[tab].empty? %>"><%= link_to pluralize(tab_content_list[tab].length, tab.singularize), "\##{tab}" %></li>
			<% end %>
		</ul>
	</div>

	<% tabs.each do |tab| %>
	<div id="<%= tab %>" class="col s12">
		<%= render partial: 'content/list/clean_list', locals: { content_list: tab_content_list[tab], title: '' } %>
	</div>
	<% end %>
</div>
</div>
