<script type="application/ld+json">
  <%
    set_meta_tags title: @user.name,
    description: "#{@user.name}’s profile on Notebook.ai",
    image_src: @user.image_url(120)

    content_jsonld = {
      '@id': user_url(id: @user.id),
      '@type': 'https://schema.org/Person',
      'https://schema.org/name': @user.name,
      'https://schema.org/description': "#{@user.name}’s profile on notebook.ai",
      'https://schema.org/image': @user.image_url(120)
    }
  %>
  <%= content_jsonld.to_json.html_safe %> %>
</script>

<%= content_for :full_width_page_header do %>
  <div style="height: 200px; overflow: hidden;">
    <%= image_tag "card-headers/users.png" %>
  </div>
<% end %>

<div class="row" style="margin-top: -140px;">
  <div class="col s12 m3">
    <%= render partial: 'users/profile/avatar' %>
    <%= render partial: 'users/profile/public_pages' %>
    <%= render partial: 'users/profile/actions' %>
  </div>

  <div class="col s12 m9">
    <%= render partial: 'users/profile/info' %>
    <%= render partial: 'users/profile/recent_activity' %>
  </div>
</div>

