<h2 class="center">Forgot your password?</h2>

<div class="card">
  <div class="card-content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label 'Enter the email associated with your account' %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions center">
        <%= f.submit "Send me reset password instructions", class: 'btn' %>
      </div>
      <p class="center">
        <br />
        <%= render "devise/shared/links" %>
      </p>
    <% end %>
  </div>
</div>

