<div class="card">
  <div class="card-content">
    <h4>Personal information</h4>
    <div class="field">
      <%= f.label 'Name (visible on your profile and forum posts)' %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label 'Email (always completely private)' %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label 'Username (users can @mention you with your username on the forums)' %><br />
      <%= f.text_field :username %>
    </div>
  </div>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="card">
  <div class="card-content">
    <h4>Changing your password</h4>
    <div class="field">
      <%= f.label :password %> <em>(leave blank if you don't want to change it)</em><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
</div>
