<div class="row">
  <div class="col s12 m4 grey-text">
    <h4>Public information</h4>
    <p class="flow-text">
      This information is visible to other users.
    </p>
  </div>
  <div class="col s12 m8">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <%= f.label 'Name (visible on your profile and forum posts)' %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label 'Username (users can @mention you with your username on the forums)' %><br />
          <%= f.text_field :username %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 grey-text">
    <h4>Private information</h4>
    <p class="flow-text">
      This information is only ever visible to you.
    </p>
  </div>
  <div class="col s12 m8">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <%= f.label 'Email (always completely private)' %><br />
          <%= f.email_field :email %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="row">
  <div class="col s12 m4 grey-text">
    <h4>Password change</h4>
    <p class="flow-text">
      Leave this blank unless you want to change your password.
    </p>
  </div>
  <div class="col s12 m8">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <%= f.label 'New password' %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label 'New password (again)' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
    </div>
  </div>
</div>
