<div class="card">
  <div class="card-content">
    <h4>Your Notebook.ai design</h4>
    <div class="field">
      <%= f.label :fluid_preference do %>
        <%= f.check_box :fluid_preference %>
        <span>
          I want to use <strong>full-width</strong> Notebook.ai.
          <div class="help-text">Great for small monitors/laptops, phones, and tablets.</div>
        </span>
      <% end %>
    </div>
    <br />
    <div class="field">
      <%= f.label :dark_mode_enabled do %>
        <%= f.check_box :dark_mode_enabled %>
        <span>
          I want to use <strong>dark mode</strong>.
          <div class="help-text">Great for night-time worldbuilding sessions.</div>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h4>Accessibility settings</h4>
    <div class="field">
      <%= f.label :keyboard_shortcuts_preference do %>
        <%= f.check_box :keyboard_shortcuts_preference %>
        <span>
          Enable keyboard shortcuts that let me navigate around the site without using a mouse.<br />
          Press <strong>?</strong> to view what's available when the feature is enabled.
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h4>Notification preferences</h4>
    <div class="field">
      <%= f.label :notification_updates do %>
        <%= f.check_box :notification_updates %>
        <span>I want to receive <strong>occasional</strong> notifications inside Notebook.ai about new features.</span>
      <% end %>
    </div>
    <br />
    <div class="field">
      <%= f.label :email_updates do %>
        <%= f.check_box :email_updates %>
        <span>I want to receive <strong>very rare</strong> updates by email about new Notebook.ai features.</span>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h4>Community preferences</h4>
    <div class="field">
      <%= f.label :community_features_enabled do %>
        <%= f.check_box :community_features_enabled %>
        <span>
          I want to be able to see and use Notebook.ai community features.
          <div class="help-text">Removing community features will remove all links in the "Community" section of the sidebar.</div>
        </span>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :private_profile do %>
        <%= f.check_box :private_profile %>
        <span>
          Make my profile page private.
          <div class="help-text">By default, only public pages will appear on your profile. However, you can also completely hide your profile with this setting.</div>
        </span>
      <% end %>
    </div>
    <br />
    <div class="field">
      To change your forum preferences, including email notifications about posts you are following, please
      <%= link_to thredded.edit_global_preferences_path do %>
        click here.
      <% end %>
    </div>
  </div>
</div>
