<section class="m-8">
  <h1 class="text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
    H1 header
  </h1>
</section>

<section class="m-8">
  <h1 class="text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
    H1 header
    <span class="ml-1 text-gray-400 text-2xl font-normal tracking-wide">with subheader</span>
  </h1>
</section>

<section class="m-8">
  <h1 class="text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
    H1 header with count
    <span class="text-white bg-notebook-blue rounded-full text-sm font-normal py-1 px-2 ml-2 relative bottom-1">5</span>
  </h1>
</section>

<section class="m-8">
  <div class="flex items-center align-middle">
    <i class="material-icons <%= Universe.text_color %> text-5xl mr-3"><%= Universe.icon %></i>
    <h2 class="text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl">
      <span class="inline-block mb-2">H1 header with icon</span>
    </h2>
  </div>
</section>

<div class="my-32 spacer"></div>

<section class="m-8">
  <div class="flex flex-row items-center mb-2">
    <div class="text-2xl font-bold">
      H2 header
    </div>
  </div>
</section>

<section class="m-8">
  <div class="flex flex-row items-center mb-2">
    <div class="text-2xl font-bold">
      H2 header
      <span class="ml-1 text-gray-400 text-xl font-normal tracking-wide">with subheader</span>
    </div>
  </div>
</section>

<section class="m-8">
  <div class="flex flex-row items-center mb-2">
    <div class="inline-flex items-center justify-center rounded-full <%= Character.text_color %> flex-shrink-0 mr-4">
      <i class="material-icons text-4xl mb-1" translate="no"><%= Character.icon %></i>
    </div>
    <div class="ml-4 text-2xl font-bold">
      H2 header with icon
    </div>
  </div>
</section>

<section class="m-8">
  <div class="flex flex-row items-center mb-2">
    <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-100 text-notebook-blue flex-shrink-0">
      <i class="material-icons text-3xl mb-1" translate="no">create</i>
    </div>
    <div class="ml-4 text-2xl font-bold">
      H2 header with nonstandard icon
    </div>
  </div>
</section>

<div class="my-32 spacer"></div>

<section class="m-8">
  <div class="flex flex-row items-center mb-2">
    <div class="text-xl font-bold">
      H3 header
    </div>
  </div>
</section>

<section class="m-8">
  <div class="flex flex-row items-center mb-2">
    <div class="text-xl font-bold">
      H3 header with count
      <span class="text-notebook-blue font-bold text-base font-normal ml-2">5</span>
    </div>
  </div>
</section>

<section class="m-8">
  <div class="flex flex-row items-center mb-2">
    <div class="inline-flex items-center justify-center rounded-full <%= Character.text_color %> flex-shrink-0 mr-4">
      <i class="material-icons text-3xl mb-1" translate="no"><%= Character.icon %></i>
    </div>
    <div class="text-xl font-bold">
      H3 header with icon
    </div>
  </div>
</section>

<div class="my-32 spacer"></div>

<section class="m-8">
  <a class="mt-3 text-notebook-blue inline-flex items-center" href="/for/roleplayers">
    Link with arrow
    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
      <path d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
  </a>
</section>

<div class="my-32 spacer"></div>

<section class="m-8">
  <div class="xl:w-1/4 md:w-1/2 p-4">
    <a class="black-text" href="/worldbuilding/universes">
      <div class="bg-white p-6 rounded-lg hover:shadow-lg">
        <img height="300" width="300" class="h-64 rounded w-full object-cover object-center mb-6" src="/assets/card-headers/universes-e12340808c0c97558eec6b5095f4b5b37f299329ef1ed5579a57f4da465b2755.webp">
        <h3 class="tracking-widest text-notebook-blue text-xs font-medium title-font uppercase">
          Card subtitle
        </h3>
        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
          Stylistic card
        </h2>
        <p class="leading-relaxed text-base">
          Track multiple stories at once by organizing your ideas into just the universe they belong in.
        </p>
      </div>
    </a>
  </div>
</section>

<section class="m-8">
  <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
    <a href="/worldbuilding/creatures">
      <div class="block relative h-48 rounded overflow-hidden hover:shadow-lg">
        <img class="h-full w-full rounded w-full object-cover object-center" src="/assets/card-headers/creatures-40035fe1dd67876b35e67cb88091c583f5a51287e54df29e2a14869acb163e09.webp">
      </div>
      <div class="title-font text-lg font-medium text-center brown-text text-amber text-amber-900">
        Photo card with colored title
      </div>
    </a>        
  </div>
</section>

<section class="m-8">
  <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
    <div class="block relative h-48 rounded overflow-hidden border border-blue-500 bg-blue-700 text-white p-6">
      <div class="font-bold mb-2">Text-only info card</div>
      This card has a static height, so it can only fit a few lines of text.
    </div>
  </div>
</section>

<div class="my-32 spacer"></div>

<section class="m-8">
  <div class="p-2 lg:w-1/3 md:w-full">
    <div class="bg-white flex flex-nowrap flex-row border-gray-200 border p-4 rounded-lg">
      <div class="text-center w-12 h-12">
        <i class="material-icons mr-4 text-5xl text-notebook-blue" style="font-size: 240%" translate="no">face</i>
      </div>
      <div class="flex-grow w-1/2">
        <h2 class="text-gray-900 title-font font-medium mb-2">
          Helper card with icon
        </h2>
        <p class="text-gray-500">
          Helper card text
        </p>
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div class="lg:w-1/3 flex flex-col items-center">
    <div class="bg-white border border-blue-100 rounded-lg p-4 text-center">
      <div class="w-20 h-20 md:mt-4 inline-flex items-center justify-center rounded-full bg-indigo-100 mb-5 flex-shrink-0">
        <i class="material-icons text-notebook-blue text-5xl" translate="no">lock</i>
      </div>
      <div class="flex-grow text-left px-4">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
          Hero helper card
        </h2>
        <p class="leading-relaxed text-base my-2">
          Helper card text
        </p>
        <p class="leading-relaxed text-base my-2">
          Plus, multiple paragraphs of helper card text
        </p>
      </div>
    </div>
  </div>
</section>

<div class="my-32 spacer"></div>

<section class="m-8">
  <a class="no-underline px-4 py-4 rounded block sm:inline-block global-transition text-white bg-notebook-blue hover:bg-blue-400 hover:shadow-lg" href="/users/sign_up">
    <div class="flex justify-center items-center">
      <span>H1 button</span>
    </div>
  </a>
</section>

<section class="m-8">
  <a class="no-underline px-4 py-4 rounded block sm:inline-block global-transition text-white bg-notebook-blue hover:bg-blue-400 hover:shadow-lg" href="/users/sign_up">
    <div class="flex justify-center items-center">
      <span>H1 button with fa-icon</span>
      <span class="fa fa-xs fa-arrow-right ml-4"></span>
    </div>
  </a>
</section>

<section class="m-8">
  <a class="text-white green bg-notebook-blue py-2 px-4 rounded hover:shadow hover:bg-blue-400 transition" href="#">Standard colored button</a>
</section>