<%
  creating = defined?(creating) && creating
  editing  = defined?(editing)  && editing
%>

<%
  raw_model = content.is_a?(ContentSerializer) ? content.raw_model : content
%>

<ul class="collection content-tabs">
  <li class="active center grey-text uppercase">
    Actions
  </li>

  <li class="collection-item">
    <%= link_to '#/', class: "expand" do %>
      <i class="material-icons left">format_line_spacing</i>
      Expand all categories
    <% end %>
  </li>

  <% if editing %>
    <li class="collection-item fake-tab">
      <%= link_to raw_model do %>
        <i class="material-icons left"><%= raw_model.class.icon %></i>
        View this <%= content.class_name.downcase %>
      <% end %>
    </li>
  <% end %>

  <% if raw_model.persisted? %>
    <li class="collection-item fake-tab">
      <%= link_to '#/', class: 'share' do %>
        <i class="material-icons left">share</i>
        Share this <%= content.class_name.downcase %>
      <% end %>
    </li>
  <% end %>

  <% if user_signed_in? && current_user.id == content.user.id %>
    <li class="collection-item fake-tab">
      <%= link_to attribute_customization_path(content_type: raw_model.class.name.downcase) do %>
        <i class="material-icons left">tune</i>
        Configure <%= raw_model.class.name.downcase %> fields
      <% end %>
    </li>
  <% end %>

  <% if raw_model.persisted? %>
    <li class="collection-item fake-tab">
      <%= link_to send("gallery_#{raw_model.class.name.downcase}_path", raw_model) do %>
        <i class="material-icons left">photo_library</i>
        View full gallery
      <% end %>
    </li>

    <li class="collection-item fake-tab">
      <%= link_to send("changelog_#{raw_model.class.name.downcase}_path", raw_model) do %>
        <i class="material-icons left">history</i>
        View changelog
      <% end %>
    </li>

    <li class="collection-item fake-tab"
        x-data="{
          isArchived: <%= raw_model.archived? %>,
          isLoading: false,
          async toggleArchive() {
            const action = this.isArchived ? 'un-archive' : 'archive';
            if (!confirm(this.isArchived ? 'This will un-archive this page.' : 'Are you sure you want to archive this <%= raw_model.class.name.downcase %>?')) {
              return;
            }
            this.isLoading = true;
            try {
              const response = await fetch('<%= send("toggle_archive_#{raw_model.class.name.downcase}_path", raw_model) %>', {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'X-CSRF-Token': document.querySelector('meta[name=csrf-token]').getAttribute('content')
                }
              });
              const data = await response.json();
              if (data.success) {
                this.isArchived = data.archived;
                if (window.showToast) {
                  window.showToast(this.isArchived ? 'Page archived' : 'Page un-archived', 'success');
                }
              } else {
                if (window.showToast) window.showToast(data.error || 'Something went wrong', 'error');
              }
            } catch (error) {
              console.error('Error:', error);
              if (window.showToast) window.showToast('An error occurred', 'error');
            } finally {
              this.isLoading = false;
            }
          }
        }">
      <a href="#" @click.prevent="toggleArchive()" :class="{ 'opacity-50 pointer-events-none': isLoading }">
        <i class="material-icons left" x-text="isArchived ? 'unarchive' : 'archive'"></i>
        <span x-text="isArchived ? 'Un-archive' : 'Archive'"></span> this page
      </a>
    </li>

    <% if editing %>
      <li class="collection-item fake-tab">
        <%= 
          link_to raw_model, 
                  method: :delete,
                  data: { 	
                    confirm: "Are you sure? This will delete this entire #{raw_model.class.name.downcase}!",	
                  } do %>
          <i class="material-icons left">delete</i>
          Delete this page
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
