<%
  creating = defined?(creating) && creating
  editing  = defined?(editing)  && editing
%>

<%
  raw_model = content.is_a?(ContentSerializer) ? content.raw_model : content
%>

<ul class="collection content-tabs">
  <li class="active center grey-text uppercase">
    Actions
  </li>

  <% if raw_model.persisted? %>
    <li class="collection-item fake-tab">
      <%= link_to attribute_customization_path(content_type: raw_model.class.name.downcase) do %>
        <i class="material-icons left">share</i>
        Share this page
      <% end %>
    </li>
  <% end %>

  <% if user_signed_in? && current_user.id == content.user.id %>
    <li class="collection-item fake-tab">
      <%= link_to attribute_customization_path(content_type: raw_model.class.name.downcase) do %>
        <i class="material-icons left">tune</i>
        Configure <%= raw_model.class.name.downcase %> fields
      <% end %>
    </li>
  <% end %>

  <% if raw_model.persisted? %>
    <li class="collection-item fake-tab">
      <%= link_to send("changelog_#{raw_model.class.name.downcase}_path", raw_model) do %>
        <i class="material-icons left">history</i>
        View changelog
      <% end %>
    </li>

    <li class="collection-item fake-tab">
      <%= link_to attribute_customization_path(content_type: raw_model.class.name.downcase) do %>
        <i class="material-icons left">archive</i>
        Archive this page
      <% end %>
    </li>

    <li class="collection-item fake-tab">
      <%= link_to attribute_customization_path(content_type: raw_model.class.name.downcase) do %>
        <i class="material-icons left">delete</i>
        Delete this page
      <% end %>
    </li>
  <% end %>
</ul>
