<%
  creating = defined?(creating) && creating
  editing  = defined?(editing)  && editing
%>

<%
  raw_model = content.is_a?(ContentSerializer) ? content.raw_model : content
%>

<% related_documents = content.documents.select { |doc| (current_user || User.new).can_read?(doc) } %>

<ul class="collection content-tabs">
  <li class="active center grey-text uppercase">
    References
  </li>

  <% if !creating && !editing && raw_model.is_a?(Universe) %>
    <li class="collection-item tab">
      <a href="#in_this_universe_panel">
        <i class="material-icons left"><%= Universe.icon %></i>
        In this universe
        <span class="badge hide-on-med-and-down"><%= @sidelinks_in_this_universe_count %></span>
      </a>
    </li>
  <% end %>

  <% if !creating && !editing && @sidelinks_association_count > 0 %>
    <li class="collection-item tab">
      <a href="#associations_panel">
        <i class="material-icons left">link</i>
        Associations
        <span class="badge hide-on-med-and-down"><%= @sidelinks_association_count %></span>
      </a>
    </li>
  <% end %>

  <% if creating || editing || raw_model.image_uploads.any? %>
    <li class="collection-item tab">
      <a href="#gallery_panel">
        <i class="material-icons left">photo_library</i>
        Gallery
        <span class="badge hide-on-med-and-down"><%= raw_model.image_uploads.count %></span>
      </a>
    </li>
  <% end %>

  <% if !creating && !editing %>
    <% if related_documents.any? %>
      <li class="collection-item tab">
        <a href="#documents_panel">
          <i class="material-icons left"><%= Document.icon %></i>
          Documents
          <span class="badge hide-on-med-and-down"><%= related_documents.count %></span>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>