<% unless show_notice?(id: 2) %>
  <div class="col s12 m6 l4">
    <div class="card sticky-action" style="max-height: 480px; margin: 0">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag 'documents/analysis.jpg', class: 'activator', style: 'height: 153px' %>
      </div>
      <div class="card-content <%= Document.color %> white-text">
        <h4 class="card-title" style="margin-top: 0px">
          Analyze your writing with artificial intelligence
        </h4>
      </div>

      <div class="card-action <%= Document.color %> lighten-1 hoverable">
        <%= link_to 'Learn how', 'https://medium.com/indent-labs/adding-the-ai-to-notebook-ai-950f44d231e5', target: '_new', class: 'white-text' %>
        <%= link_to 'Dismiss', notice_dismissal_dismiss_path(notice_id: 2), class: 'white-text right' %>
      </div>

      <div class="card-reveal <%= Document.color %> lighten-1 white-text" style="display: none; transform: translateY(0%);">          
        <h4 class="card-title" style="margin-top: 0px">
          <i class="material-icons right black-text">close</i>
          Analyze your writing with artificial intelligence
        </h4>
        <p>
          Premium users can now analyze their documents &mdash; and the characters, locations, and more within them &mdash; for readability, style, and 
          emotion with IBM Watson's world-class artificial intelligence. 
        </p>
        <p>
          To get started, simply click "Analyze" in the top-right of any document page. 
        </p>
      </div>
    </div>
  </div>
<% end %>