<%
  badge_style  = 'padding: 3px 5px; font-size: 70%; font-weight: normal;'
  badge_text   = user.try(:forums_badge_text) # using try() on release for zdd while machines reboot and get reference to this column, can be removed after
%>

<% if user.respond_to?(:selected_billing_plan_id) %>
  <% if user.id == 5 %>
    <span style="<%= badge_style %>; background: #2196F3; color: white"><%= badge_text || 'Admin' %></span>
  <% elsif user.selected_billing_plan_id == 2 %>
    <span style="<%= badge_style %>; background: #dedeff"><%= badge_text || 'Beta Tester' %></span>
  <% elsif user.selected_billing_plan_id == 3 %>
    <span style="<%= badge_style %>; background: #ffdede"><%= badge_text || 'Early Adopter' %></span>
  <% elsif [4, 5, 6].include? user.selected_billing_plan_id %>
    <span style="<%= badge_style %>; background: #ffffaa"><%= badge_text || 'Premium Supporter' %></span>
  <% end %>
<% end %>
