<%
  badge_classes = 'text-xs ml-1 py-0.5 px-2 rounded-lg'
  badge_text    = user.forums_badge_text
%>

<% if user.respond_to?(:selected_billing_plan_id) %>
  <% if user.id == 5 %>
    <span class="<%= badge_classes %>" style="background: #2196F3; color: white">
      <%= badge_text.presence || 'Admin' %>
    </span>
  <% elsif user.selected_billing_plan_id == 2 %>
    <span class="<%= badge_classes %>" style="background: #dedeff">
      <%= badge_text.presence || 'Beta Tester' %>
    </span>
  <% elsif user.selected_billing_plan_id == 3 %>
    <span class="<%= badge_classes %>" style="background: #ffdede">
      <%= badge_text.presence || 'Early Adopter' %>
    </span>
  <% elsif user.on_premium_plan? %>
    <span class="<%= badge_classes %>" style="background: #ffffaa">
      <%= badge_text.presence || 'Premium Supporter' %>
    </span>
  <% else %>
    <!-- No badge -->
  <% end %>
<% end %>
