<%= link_to document, class: "#{Document.color}-text" do %>
  <i class="material-icons <%= Document.color %>-text left large"><%= Document.icon %></i>
  <span class="flow-text"><%= document.title %></span>
<% end %>
<br />
by <%= link_to document.user.name, document.user, class: 'green-text' %>
<div class="clearfix"></div>