<%= link_to document, class: "#{Document.text_color}" do %>
  <i class="material-icons <%= Document.text_color %> left large"><%= Document.icon %></i>
  <span class="h5-size"><%= document.title %></span>
<% end %>
<div style="margin-top: 1em">
  <%= image_tag document.user.image_url(size=20), class: 'left circle avatar' %>
  &nbsp;
  <%= link_to document.user.name, document.user, class: 'green-text' %>
</div>
<div class="clearfix"></div>
