<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h4>
  <%= @document.title || 'Untitled document' %>
  <span class="grey-text">by</span>
  <%= link_to @document.user.name, @document.user %>
</h4>

<h5>Length</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">12,235</h5>
          Characters
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %> lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">3,400</h5>
          Words
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %> lighten-1">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">935</h5>
          Paragraphs
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %>">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">20</h5>
          Pages
        </span>
      </div>
    </div>
  </div>
</div>

<h5>Time to read</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card orange lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">34 minutes</h5>
          Slow reader
          <div><small>100 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange lighten-1">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">17 minutes</h5>
          Average reader
          <div><small>200 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">11 minutes</h5>
          Fast reader
          <div><small>300 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange darken-1">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">8 minutes</h5>
          Speed reader
          <div><small>400 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
</div>

<h5>Ease of reading</h5>
<div class="row">
  <div class="col s12 m6">
    <div class="green card lighten-2">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m3 white-text center">
            <h2>64</h2>
            READABILITY
          </div>
          <div class="col s12 m9">
            <h4>Easy</h4>
            <p>
              Nice! This document is easily understandable by readers with at least a 4th grade reading level.
            </p>
          </div>
        </div>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          How is this calculated?
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          Readability scales
          <i class="material-icons right">close</i>
        </span>
        <p>
          Readability scales are a real thing, I promise. This is some text about
          their background that speaks to their legitimacy.
        </p>
        <p>
          In order to provide you with a generalized score in Notebook.ai, we compute
          several of the most well-known readability scores on your text and average
          them together. You can see the original scores per readability test below:
        </p>
        <ul>
          <li>Flesch-Kincaid grade level: 35</li>
          <li>Flesch-Kincaid age minimum: 12</li>
          <li>Flesch-Kincaid reading ease: 102</li>
          <li>Forcast grade level: 7</li>
          <li>Coleman liau index: 8</li>
          <li>Automated readability index: 10</li>
          <li>Gunning fog index: 12</li>
          <li>Combined average reading level: 12</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h5>Characters</h5>
<div class="row">
  <div class="col s12">
    <div class="card green lighten-3">
      <div class="card-content">
        <div class="card-title">Page presence</div>
        <%=
          timeline([
            ["Alice Yellowbottom", 1, 10 + rand(10)],
            ["Alice Yellowbottom", 20, 20 + rand(10)],
            ["Bob Zebracakes", 1 + rand(10), 10 + rand(10)],
            ["Bob Zebracakes", 20 + rand(10), 30 + rand(10)],
            ["Carol Anderson", 5 + rand(10), 20 + rand(10)],
            ["David Butters", 10 + rand(10), 20 + rand(10)],
            ["Ethan Coolridge", 1 + rand(10), 12 + rand(7)],
            ["Ethan Coolridge", 15 + rand(10), 20 + rand(10)],
            ["Fred Danvers", 20 + rand(10), 35],
            ["Fred Danvers", 1 + rand(10), 10 + rand(5)],
          ])
        %>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card green lighten-4">
      <div class="card-content">
        <div class="card-title">Number of pages each character is on</div>
        <p>
          <%=
            pie_chart({
              'Alice Yellowbottom' => 33,
              'Bob Zebracakes' => 19,
              'Carol Anderson' => 12,
              'David Butters' => 10,
              'Ethan Coolridge' => 15,
              'Fred Danvers' => 14
            })
          %>
        </p>
      </div>
    </div>
  </div>
</div>

<h5>Word Choice</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card blue">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">33.35%</div>
          Adjectives
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-1">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">29.33%</div>
          Nouns
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">13.75%</div>
          Verbs
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">0.05%</div>
          Pronouns
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">1.05%</div>
          Prepositions
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">5.02%</div>
          Conjunctions
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">14.23%</div>
          Adverbs
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-1">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">15.32%</div>
          Determiners
        </span>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card blue lighten-3">
      <div class="card-content white-text">
        <div class="card-title">N-syllable words</div>
        <p>
          <%= column_chart({ 1 => 259, 2 => 415, 3 => 329, 4 => 129, 5 => 110, 6 => 25, 7 => 50, 8 => 3, 9 => 1 }) %>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          Most common<br />1-syllable words
        </span>
        <p>
          <span class="left badge orange">the</span>
          <span class="left badge orange">and</span>
          <span class="left badge orange">he</span>
          <span class="left badge orange">she</span>
          <span class="left badge orange">they</span>
          <span class="left badge orange">smile</span>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          Most common<br />2-syllable words
        </span>
        <p>
          <span class="left badge orange">therefore</span>
          <span class="left badge orange">again</span>
          <span class="left badge orange">walking</span>
          <span class="left badge orange">magic</span>
          <span class="left badge orange">dragon</span>
          <span class="left badge orange">kingdom</span>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          Most common<br />3-syllable words
        </span>
        <p>
          <span class="left badge orange">already</span>
          <span class="left badge orange">carelessly</span>
          <span class="left badge orange">suddenly</span>
          <span class="left badge orange">blissfully</span>
          <span class="left badge orange">exactly</span>
          <span class="left badge orange">timidly</span>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          Most common<br />4-syllable words
        </span>
        <p>
          <span class="left badge orange">legendary</span>
          <span class="left badge orange">observation</span>
          <span class="left badge orange">innuendo</span>
          <span class="left badge orange">violently</span>
          <span class="left badge orange">comfortable</span>
          <span class="left badge orange">mimblewimble</span>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue lighten-3">
      <div class="card-content white-text">
        <div class="card-title">Word variety</div>
        <p>
          <%= pie_chart({ 'Words used multiple times' => 2060, 'Words used exactly once' => 440 }) %>
        </p>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          Why is this important?
        </a>
      </div>
      <div class="card-reveal">
        explanation
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue lighten-3">
      <div class="card-content white-text">
        <div class="card-title">Word complexity</div>
        <p>
          <%= pie_chart({ 'Simple words' => 1861, 'Complex words' => 1539 }) %>
        </p>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          What are simple/complex words?
        </a>
      </div>
      <div class="card-reveal">
        explanation
      </div>
    </div>
  </div>
</div>

<h5>Plot progression</h5>
<div class="row">
  <div class="col s12">
    <div class="card grey lighten-3">
      <div class="card-content">
        <div class="card-title">Pages per chapter</div>
        <%=
          timeline [
            ["Chapter 1", 0, 3],
            ["Chapter 2", 3, 9],
            ["Chapter 3", 9, 20],
            ["Chapter 4", 20, 22],
            ["Chapter 5", 22, 50],
            ["Chapter 6", 50, 57]
          ]
        %>
      </div>
    </div>
  </div>
</div>

<h5>Sentiment</h5>
<div class="row">
  <div class="col s12">
    <div class="card grey lighten-3">
      <div class="card-content">
        <div class="card-title">Emotions per chapter</div>
        <%= line_chart([
          { name: 'Joy',       data: (1..10).map { |i| [i, 3 * Math.sin(i).abs * rand(2)] }, color: 'green'},
          { name: 'Anger',     data: (1..10).map { |i| [i, 3 * Math.sin(1 + i).abs * rand(2)] }, color: 'red'},
          { name: 'Sadness',   data: (1..10).map { |i| [i, 3 * Math.sin(-1 + i).abs * rand(2)] }, color: 'blue'},
          { name: 'Fear',      data: (1..10).map { |i| [i, 3 * Math.cos(i).abs * rand(2)] }, color: 'black'},

        ]) %>
      </div>
    </div>
  </div>
</div>

<h5>Rhythm & flow</h5>
<div class="row">
  <div class="col s12">
    <div class="purple card lighten-4">
      <div class="card-content white-text">
        <div class="card-title">Words per sentence</div>
        <p>
          <%= line_chart((1..100).map { |i| [i, 5 + 7 * Math.sin(i).abs * rand(3)] }) %>
        </p>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          How to read this chart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          Words per sentence
          <i class="material-icons right">close</i>
        </span>
        <p>
          Sentence length can be a powerful tool in your writing, and you should
          use it purposefully. Longer sentences can lure a reader in, while shorter,
          more stacatto sentences keep that attention with fast-paced action.
        </p>
        <p>
          This chart shows the length, in words, of each sentence through your
          document. Groups of shorter sentences likely read faster, while groups
          of longer sentences may be dense or hard to read.
        </p>
      </div>
    </div>
  </div>
</div>
