<%= form_for @document || Document.new(user: current_user) do |f| %>
  <%= f.text_field :title, placeholder: 'Untitled document', value: f.object.title.presence || 'Untitled document', style: 'font-size: 150%' %>

  <%=
    f.text_area :body,
      class: 'materialize-textarea quill_container',
      id: 'editor',
      placeholder: "Write as little or as much as you'd like! This field will expand as you write."
  %>
  <br />
  <div class="grey-text" style="text-align: right">Don't forget to save!</div>
  <%= f.submit 'Save changes', class: 'btn btn-primary right blue' %>
<% end %>

<div style="clear: both"></div>
<%= content_for :javascript do %>
  var defaults = {
        theme: 'snow',
        modules: {
            toolbar: [
                //[{ 'header': [1, 2, 3, false] }],
                //[{ 'color': [] }, { 'background': [] }],
                ['bold', 'italic', 'underline', 'strike', { 'script': 'sub'}, { 'script': 'super' }],
                ['blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'indent': '-1'}, { 'indent': '+1' }],
                ['clean']
            ],
            history: {
              delay: 1000,
              maxStack: 75,
              userOnly: false
            }
        }
    };

  Quilljs.setDefaults(defaults);

  // Allow entering `tab` into the editor
  $(document).delegate('#editor', 'keydown', function(e) {
    var keyCode = e.keyCode || e.which;

    if (keyCode == 9) {
      e.preventDefault();
      var start = this.selectionStart;
      var end = this.selectionEnd;

      // set textarea value to: text before caret + tab + text after caret
      $(this).val($(this).val().substring(0, start)
                  + "\t"
                  + $(this).val().substring(end));

      // put caret at right position again
      this.selectionStart =
      this.selectionEnd = start + 1;
    }
  });

<% end %>
