<%= form_for @document do |f| %>
  <div>
    <div class="grey-text autosave-bar">
      <i class="material-icons js-autosave-icon grey-text">save</i>
      <span class="js-autosave-status">
        This document will automatically save as you make changes.
      </span>
    </div>
    <%= f.text_field :title, placeholder: 'Untitled document', value: f.object.title.presence || 'Untitled document', style: 'font-size: 150%' %>
  </div>

  <div id="editor"><%= @document.body.try(:html_safe) %></div><br />
  <div class="grey-text autosave-bar">
    <i class="material-icons js-autosave-icon grey-text">save</i>
    <span class="js-autosave-status">
      This document will automatically save as you make changes.
    </span>
  </div>
<% end %>

<div style="clear: both"></div>
<%= content_for :javascript do %>
  var toolbar_options = [
    //[{ 'header': [1, 2, 3, false] }],
    //[{ 'color': [] }, { 'background': [] }],
    ['bold', 'italic', 'underline', 'strike', { 'script': 'sub'}, { 'script': 'super' }],
    ['blockquote', 'code-block'],
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'indent': '-1'}, { 'indent': '+1' }],
    ['clean']
  ];

  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbar_options,
      history: {
        delay: 1000,
        maxStack: 75,
        userOnly: false
      }
    },
    theme: 'snow'
  });

  // Autosave
  var autosave_event = null;
  var last_autosave = null;
  quill.on('text-change', function(delta, oldDelta, source) {
    if (autosave_event === null) {
      console.log('Queueing autosave');
      $('.js-autosave-icon').addClass('grey-text');
      $('.js-autosave-icon').removeClass('black-text');
      $('.js-autosave-icon').removeClass('red-text');
      $('.js-autosave-status').text('Saving changes...');

      autosave_event = setTimeout(function () {
        console.log('Autosaving...');
        $('.js-autosave-status').text('Saving...');
        autosave_event = null;

        // Do the autosave
        last_autosave = $.ajax({
          type: "PATCH",
          url: '<%= document_url(@document) %>',
          data: {
            document: {
              title: $('#document_title').text(),
              body:  $('#editor').find('.ql-editor').html()
            }
          },
        });

        last_autosave.fail(function(jqXHR, textStatus) {
          $('.js-autosave-status').text('There was a problem saving! We will try to save again, but please make sure you back up any changes.');
          $('.js-autosave-status').addClass('red-text');
          $('.js-autosave-status').removeClass('grey-text');
          $('.js-autosave-status').removeClass('black-text');
        });

        // Done!
        $('.js-autosave-icon').addClass('black-text');
        $('.js-autosave-icon').removeClass('grey-text');
        $('.js-autosave-icon').removeClass('red-text');
        $('.js-autosave-status').text('Saved!');
      }, 2500);
    } else {
      console.log('Waiting for existing autosave');
    }
  });

  // Allow entering `tab` into the editor
  $(document).delegate('#editor', 'keydown', function(e) {
    var keyCode = e.keyCode || e.which;

    if (keyCode == 9) {
      e.preventDefault();
      var start = this.selectionStart;
      var end = this.selectionEnd;

      // set textarea value to: text before caret + tab + text after caret
      $(this).val($(this).val().substring(0, start)
                  + "\t"
                  + $(this).val().substring(end));

      // put caret at right position again
      this.selectionStart =
      this.selectionEnd = start + 1;
    }
  });

<% end %>
