<% if @universe_scope %>
  <p class="center help-text">
    Only showing documents
    in the <%= link_to @universe_scope.name, @universe_scope, class: Universe.color + '-text' %> universe.
    <%= link_to(
      "See documents from all universes.", 
      '?universe=all', 
      class: Universe.color + '-text')
    %>
  </p>
<% end %>

<% if @documents.any? %>
  <%= render partial: 'content/components/list_filter_bar', locals: { content_type: Document } %>

  <% unless current_user.notice_dismissals.where(notice_id: 2).any? %>
    <div class="col s12 m6 l4">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" style="height: 265px" src="https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80">
        </div>
        <div class="card-content <%= Document.color %> white-text">
          <h4 class="card-title" style="margin-top: 0px">
            Analyze your writing with artificial intelligence
          </h4>
        </div>

        <div class="card-action <%= Document.color %> lighten-1 hoverable">
          <%= link_to 'Learn how', 'https://medium.com/indent-labs/adding-the-ai-to-notebook-ai-950f44d231e5', target: '_new', class: 'white-text' %>
          <%= link_to 'Dismiss', notice_dismissal_dismiss_path(notice_id: 2), class: 'white-text right' %>
        </div>

        <div class="card-reveal <%= Document.color %> lighten-1 white-text" style="display: none; transform: translateY(0%);">          
          <h4 class="card-title" style="margin-top: 0px">
            <i class="material-icons right black-text">close</i>
            Analyze your writing with artificial intelligence
          </h4>
          <p>
            Premium users can now analyze their documents &mdash; and the characters, locations, and more within them &mdash; for readability, style, and 
            emotion with IBM Watson's world-class artificial intelligence. 
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: 'content/list/cards', locals: { content_list: @documents, content_type: Document } %>
<% end %>

<% if @documents.empty? %>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="hoverable card center" style="margin: 50px 0; padding: 50px 0; border-bottom: 10px solid <%= Document.hex_color %>">
        <h4>You haven't created any documents <% if @universe_scope %>in the <%= link_to @universe_scope.name, @universe_scope, class: Universe.color + "-text" %> universe<% end %> yet!</h4>
        <h1>
          <i class="material-icons <%= Document.color %>-text" style="font-size: 200%">
            <%= Document.icon %>
          </i>
        </h1>
        <p>
          You can create an unlimited number of documents with no limits on length. Enjoy!
        </p>
        <br />
        <%= link_to "Create your first document", new_document_path, target: '_blank', class: "btn #{Document.color}" %>
      </div>
    </div>
  </div>
<% end %>
