<% if @documents.any? %>
  <%= render partial: 'content/components/list_filter_bar', locals: { content_type: Document } %>
  <%= render partial: 'content/list/cards', locals: { content_list: @documents, content_type: Document } %>
<% end %>

<% if @documents.empty? %>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="hoverable card center" style="margin: 50px 0; padding: 50px 0; border-bottom: 10px solid <%= Document.hex_color %>">
      <h4>You haven't created any documents yet!</h4>
      <h1>
        <i class="material-icons <%= Document.color %>-text" style="font-size: 200%">
          <%= Document.icon %>
        </i>
      </h1>
      <p>
        You can create an unlimited number of documents with no limits on length. Enjoy!
      </p>
      <br />
      <%= link_to "Create your first document", edit_document_path(:new), target: '_blank', class: "btn #{Document.color}" %>
    </div>
  </div>
</div>
<% end %>
