<ul class="collection with-header">
  <li class="collection-header">
    <h4>
      <div class="right">
        <%= link_to edit_document_path(:new), class: 'btn green white-text waves-effect waves-light', style: 'height: 45px' do %>
          <i class="material-icons" style="position: relative; top: 4px;">add</i> New Document
        <% end %>
      </div>
      Your <%= current_user.documents.count %> documents
    </h4>
  </li>
  <% @documents.each do |document| %>
    <li class="collection-item avatar">
      <%= link_to document do %>
        <i class="material-icons circle green"><%= Document.icon %></i>
      <% end %>
      <div class="grey-text right">
        <div>
          <i class="material-icons">edit</i> last edited <%= time_ago_in_words document.updated_at %> ago
        </div>
        <% if document.persisted? && current_user.can_delete?(document) %>
          <%= link_to document,
            method: :delete,
            data: { confirm: "Are you sure? This will permanently delete this entire document!" } do %>
            <div class="red-text text-lighten-2 right">
              <i class="material-icons">delete</i> Delete this document
            </div>
          <% end %>
        <% end %>
      </div>
      <span class="title">
        <%= link_to document.title.presence || 'Untitled Document', edit_document_path(document) %>
        <!--<span class="grey-text" style="font-size: 14px;"><%= pluralize document.body.split(' ').size, 'word' %></span>-->
      </span>
      <div style="max-height: 80px; overflow-y: hidden;">
        <%= sanitize truncate(document.body, escape: false, length: 200) %>
      </div>
    </li>
  <% end %>
</ul>
