<%= content_for :full_width_page_header do %>
  <%= render partial: 'documents/components/document_name_bar', locals: { document: @document } %>
  <%= render partial: 'documents/components/autosave_bar', locals: { document: @document } %>

  <div class="row">
    <div class="col s12 m8 l8 offset-l1">
      <div id="editor"><%= ContentFormatterService.substitute_content_links(@document.body.try(:html_safe) || "", current_user).html_safe %></div>
    </div>
    <% if user_signed_in? && current_user.can_update?(@document) %>
      <div class="col l2 m4 smart-sidebar">
        <%= link_to edit_document_path(@document), target: '_new' do %>
          <div class="card <%= Document.color %>">
            <div class="card-content">
              <span class="card-title white-text">
                Edit this document
              </span>
            </div>
          </div>
        <% end %>

        <%= render partial: 'documents/components/smart_sidebar', locals: { document: @document } %>
      </div>
    <% end %>
  </div>
<% end %>