<div id="shares_panel" class="panel">
  <%= render partial: 'notice_dismissal/messages/11' %>

  <% if content.content_page_shares.any? %>
    <ul>
      <% content.content_page_shares.each do |share| %>
        <%= link_to [share.user, share], class: 'black-text' do %>
          <li class="card-panel hoverable <%= content.class.color %> lighten-5">
            <div class="right grey-text">
              <%= time_ago_in_words share.shared_at %> ago
            </div>
            <div><span class="<%= User.text_color %>"><%= share.user.display_name %></span> shared this page with the message:</div>
            <blockquote><%= share.message %></blockquote>
            <div>
              <i class="material-icons left <%= ContentPageShare.text_color %>">forum</i>
              <%= pluralize share.share_comments.count, 'comment' %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>