<% if @stream.any? %>
  <h6 style="text-align: center; margin: 30px 0;" class="grey-text">Recent worldbuilding activity</h6>

  <% @stream.each do |entity_id, change_events| %>
    <% entity = change_events.first.entity %>
    <div class="hoverable card horizontal" style="border: 1px solid <%= entity.class.hex_color %>">
      <div class="card-image <%= entity.class.color %>" style="overflow: hidden">
        <%# todo use page images %>
        <%= image_tag "card-headers/#{entity.class.name.downcase.pluralize}.jpg", class: "activator", style: 'max-width: 280px; object-fit: cover; min-height: 100%' %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>
            <i class="material-icons <%= entity.class.color %>-text"><%= entity.class.icon %></i>
            <%= entity.name %><%
              if entity.description.present?
            %><small>,</small>
              <small class="grey-text">
                <%= entity.description %>
              </small>
            <%
              end
            %>
          </h5>
          <p>
            <%= @user.name %>
            <%= change_events.first.action %> a
            <%= entity.class.name.downcase %>
            <% if !entity.is_a?(Universe) && entity.universe.present? %>
              in the
              <%= link_to entity.universe.name, entity.universe, class: "#{Universe.color}-text" %>
              universe
            <% end %>
            <span class="grey-text"><%= time_ago_in_words(change_events.first.updated_at) %> ago</span>.
          </p>
        </div>
        <div class="card-action">
          <%= link_to "View #{entity.name}", entity, class: 'blue-text' %>
          <% if user_signed_in? && current_user.can_update?(entity) %>
            <%= link_to "Edit #{entity.name}", entity, class: 'green-text' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="grey-text">
    It seems <%= @user.name %> isn't sharing any public activity.
  </div>
<% end %>
