<%= form_for @character, :url => character_edit_process_path, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :height, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :height, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :haircolor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :haircolor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hairstyle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hairstyle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Eye color', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :eyecolor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skintone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :skintone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Body Type/Build', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bodytype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Identifying Marks', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :identmarks, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                character_list_path, :class => 'btn' %>
  </div>
<% end %>
