<div class="hidden section starter_section general_section">
  <%= generate_form_row_for(f, :name, nil, [{:action => 'character_name_generator', :icon => 'random'}]) %>
  <%= generate_form_row_for(f, :role, 'Role in story') %>
  <%= generate_form_row_for(f, :gender) %>
  <%= generate_form_row_for(f, :age, nil, [{:action => 'character_age_generator', :icon => 'random'}]) %>
  <%= generate_form_row_for(f, :universe, nil, [{:action => 'universe_picker', :icon => 'globe'}]) %>
</div>

<div class="hidden section starter_section appearance_section">
  <%= generate_form_row_for(f, :height) %>
  <%= generate_form_row_for(f, :weight) %>
  <%= generate_form_row_for(f, :race) %>
  <%= generate_form_row_for(f, :haircolor) %>
  <%= generate_form_row_for(f, :hairstyle) %>
  <%= generate_form_row_for(f, :facialhair) %>
  <%= generate_form_row_for(f, :eyecolor, 'Eye color') %>
  <%= generate_form_row_for(f, :skintone) %>
  <%= generate_form_row_for(f, :bodytype) %>
  <%= generate_form_row_for(f, :identmarks, 'Identifying marks') %>
</div>

<div class="hidden section social_section">
  <%= generate_form_row_for(f, :bestfriend, 'Best friend', [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :religion) %>
  <%= generate_form_row_for(f, :politics) %>
  <%= generate_form_row_for(f, :prejudices) %>
  <%= generate_form_row_for(f, :occupation) %>
  <%= generate_form_row_for(f, :pets) %>
</div>

<div class="hidden section behavior_section">
  <%= generate_form_row_for(f, :mannerisms) %>
</div>

<div class="hidden section history_section">
  <%= generate_form_row_for(f, :birthday) %>
  <%= generate_form_row_for(f, :birthplace, nil, [{:action => 'location_picker', :icon => 'road'}]) %>
  <%= generate_form_row_for(f, :education) %>
  <%= generate_form_row_for(f, :background) %>
</div>

<div class="hidden section favorites_section">
  <%= generate_form_row_for(f, :fave_color, 'Color') %>
  <%= generate_form_row_for(f, :fave_food, 'Food') %>
  <%= generate_form_row_for(f, :fave_possession, 'Possession', [{:action => 'equipment_picker', :icon => 'shopping-cart'}]) %>
  <%= generate_form_row_for(f, :fave_weapon, 'Weapon', [{:action => 'equipment_picker', :icon => 'shopping-cart'}]) %>
  <%= generate_form_row_for(f, :fave_animal, 'Animal') %>
</div>

<div class="hidden section relationships_section">
  <%= generate_form_row_for(f, :father, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :mother, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :spouse, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :siblings, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
  <%= generate_form_row_for(f, :archenemy, nil, [{:action => 'character_picker', :icon => 'user'}]) %>
</div>

<div class="hidden section notes_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 10, :style => "width: 80%;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :private_notes, :class => 'text_area', :rows => 8, :style => "width: 80%;" %>
    </div>
  </div>
</div>