<%= form_for @character, :url => character_create_process_path, :html => { :class => 'form-horizontal' } do |f| %>
<div class="hidden section starter_section general_section">
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
      <a href="#" class="help-inline character_name_generator">
        <i class="icon-refresh"></i> Randomize
      </a>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Role in story', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :role, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'text_field' %>
      <a href="#" class="help-inline character_age_generator">
        <i class="icon-refresh"></i> Randomize
      </a>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :universe, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :universe, :class => 'text_field', :value => @character.universe ? @character.universe.name : "" %>
      <%= universe_picker %>
    </div>
  </div>
</div>

<div class="hidden section starter_section appearance_section">
  <div class="control-group">
    <%= f.label :height, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :height, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :race, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :race, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :haircolor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :haircolor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hairstyle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hairstyle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Facial hair', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facialhair, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Eye color', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :eyecolor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skintone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :skintone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Body Type/Build', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bodytype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Identifying Marks', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :identmarks, :class => 'text_field' %>
    </div>
  </div>
</div>

<div class="hidden section social_section">
  <div class="control-group">
    <%= f.label 'Best Friend', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bestfriend, :class => 'text_field' %>
      <%= character_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Religion', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :religion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Politics', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :politics, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Prejudices', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prejudices, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Occupation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :occupation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Pets', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pets, :class => 'text_field' %>
    </div>
  </div>
  
</div>

<div class="hidden section behavior_section">
  <div class="control-group">
    <%= f.label 'Mannerisms', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mannerisms, :class => 'text_field' %>
    </div>
  </div>

</div>

<div class="hidden section history_section">
  <div class="control-group">
    <%= f.label 'Birthday', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Birthplace', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthplace, :class => 'text_field' %>
      <%= location_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Education', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :education, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Background', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :background, :class => 'text_area', :rows => 12, :style => "width: 80%;" %>
    </div>
  </div>

</div>

<div class="hidden section favorites_section">
  <div class="control-group">
    <%= f.label 'Color', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fave_color, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Food', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fave_food, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Possession', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fave_possession, :class => 'text_field' %>
      <%= equipment_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Weapon', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fave_weapon, :class => 'text_field' %>
      <%= equipment_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Animal', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fave_animal, :class => 'text_field' %>
    </div>
  </div>

</div>

<div class="hidden section relationships_section">
  <div class="control-group">
    <%= f.label 'Father', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :father, :class => 'text_field' %>
      <%= character_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Mother', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mother, :class => 'text_field' %>
      <%= character_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Spouse', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spouse, :class => 'text_field' %>
      <%= character_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Siblings', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :siblings, :class => 'text_field' %>
      <%= character_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Archenemy', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :archenemy, :class => 'text_field' %>
      <%= character_picker %>
    </div>
  </div>

</div>

<div class="hidden section notes_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 10, :style => "width: 80%;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :private_notes, :class => 'text_area', :rows => 8, :style => "width: 80%;" %>
    </div>
  </div>
</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                character_list_path, :class => 'btn' %>
  </div>
<% end %>
