<% @characters.each do |character| %>
  <div class="col-md-3">
    <div class="card">
      <h1 class="card-heading">
        <%= simple_format link_to character.name, character_path(character) %>
      </h1>
      <div class="card-body">
        <p>
          <strong>
            <% if character.role.length > 0 %>
              <%= character.role %><% if character.age.length > 0 %>, <%= character.age %><% end %>
            <% end %>
          </strong>
        </p>
        <p>
        </p>
      </div>
      <div class="card-comments">
        <p>
          <% if session[:user] and session[:user] == character.user.id %>
            <%= link_to t('.view', :default => t("helpers.links.view")),
                        character_path(character), :class => 'btn' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        character_edit_path(character), :class => 'btn' %>
          <% end %>
        
        </p>
      </div>
    </div>
  </div>
<% end %>
