<ul class="nav nav-tabs">
  <li class="active tab"><%= link_to "General", "#", :id => "show_general" %></li>
  <li class="tab"><%= link_to "Appearance", "#", :id => "show_appearance" %></li>
  <li class="tab"><%= link_to "Social", "#", :id => "show_social" %></li>
  <li class="tab"><%= link_to "Behavior", "#", :id => "show_behavior" %></li>
  <li class="tab"><%= link_to "History", "#", :id => "show_history" %></li>
  <li class="tab"><%= link_to "Favorites", "#", :id => "show_favorites" %></li>
  <li class="tab"><%= link_to "Relationships", "#", :id => "show_relationships" %></li>
  <li class="tab"><%= link_to "Notes", "#", :id => "show_notes" %></li>
</ul>
