<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Appearance", "#" %></li>
  <li><%= link_to "Social", "#" %></li>
  <li><%= link_to "Behavior", "#" %></li>
  <li><%= link_to "History", "#" %></li>
  <li><%= link_to "Favorites", "#" %></li>
  <li><%= link_to "Relationships", "#" %></li>
  <li><%= link_to "More...", "#" %></li>
</ul>
