<%- model_class = Character.new.class -%>
<h1>
	<%=t '.title', :default => model_class.model_name.human.pluralize %>
	<small>from <%= @universe ? @universe.name : "all universes" %></small><%= universe_filter %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.name, character_path(character) %></td>
        <td><%= character.role %></td>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      character_path(character), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      character_edit_path(character), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      character_path(character),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            character_create_path,
            :class => 'btn btn-primary' %>
