<h1>Listing characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td><%= character.age %></td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', character_edit_path(character) %></td>
    <td><%= link_to 'Destroy', character, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', character_create_path %>
