<%- model_class = Character.new.class -%>
<h1>
	<%=t '.title', :default => model_class.model_name.human.pluralize %>
	<% if Universe.where(user_id: session[:user]).length > 0 %>
		<small>from universe: </small><span style="font-size:13px;"><%= universe_filter %></span>
	<% end %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <% if Universe.where(user_id: session[:user]).length > 0 and not @selected_universe_filter  %>
	      <th><%= model_class.human_attribute_name(:universe) %></th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.name, character_path(character) %></td>
        <td><%= character.role %></td>
        <% if Universe.where(user_id: session[:user]).length > 0 and not @selected_universe_filter %>
        	<td><%= character.universe ? character.universe.name : "" %></td>
        <% end %>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      character_path(character), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      character_edit_path(character), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      character_path(character),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well" style="margin-top: 20px;">
	<h4>Planning characters</h4>
	<p>
		Consistency is sometimes hard to keep, and having a reference of everything about your character for yourself can help you down the line, especially if you're writing a series.
	</p>
	<%= link_to 'New character', character_create_path, :class => 'btn btn-primary' %>
</div>

