<%- model_class = @character.class -%>

<div class="row">
  <div class="col-xs-3">
    <div class="card">
      <%= render :partial => 'tabs' %>
    </div>
  </div>

  <div class="col-xs-9">
    <div class="card">
      <h1 class="card-heading">
        <%= @character.name %>
      </h1>

      <div class="card-body">

      <dl class="dl-horizontal hidden section general_section">
        <%= print_property(Character.human_attribute_name("name"), @character.name) %>
        <%= print_property(Character.human_attribute_name("role"), @character.role) %>
        <%= print_property(Character.human_attribute_name("gender"), @character.gender) %>
        <%= print_property(Character.human_attribute_name("age"), @character.age) %>
        <%= print_property(Character.human_attribute_name("universe"), @character.universe ? @character.universe.name : "", "universe") %>
      </dl>

      <dl class="dl-horizontal hidden section appearance_section">
        <%= print_property(Character.human_attribute_name("weight"), @character.weight) %>
        <%= print_property(Character.human_attribute_name("height"), @character.height) %>
        <%= print_property(Character.human_attribute_name("haircolor"), @character.haircolor) %>
        <%= print_property(Character.human_attribute_name("hairstyle"), @character.hairstyle) %>
        <%= print_property(Character.human_attribute_name("facialhair"), @character.facialhair) %>
        <%= print_property(Character.human_attribute_name("eyecolor"), @character.eyecolor) %>
        <%= print_property(Character.human_attribute_name("race"), @character.race) %>
        <%= print_property(Character.human_attribute_name("skintone"), @character.skintone) %>
        <%= print_property(Character.human_attribute_name("bodytype"), @character.bodytype) %>
        <%= print_property(Character.human_attribute_name("identmarks"), @character.identmarks) %>
      </dl>

      <dl class="dl-horizontal hidden section social_section">
        <%= print_property(Character.human_attribute_name("bestfriend"), @character.bestfriend, "character") %>
        <%= print_property(Character.human_attribute_name("religion"), @character.religion) %>
        <%= print_property(Character.human_attribute_name("politics"), @character.politics) %>
        <%= print_property(Character.human_attribute_name("prejudices"), @character.prejudices) %>
        <%= print_property(Character.human_attribute_name("occupation"), @character.occupation) %>
        <%= print_property(Character.human_attribute_name("pets"), @character.pets) %>
      </dl>

      <dl class="dl-horizontal hidden section behavior_section">
        <%= print_property(Character.human_attribute_name("mannerisms"), @character.mannerisms) %>
      </dl>

      <dl class="dl-horizontal hidden section history_section">
        <%= print_property(Character.human_attribute_name("birthday"), @character.birthday) %>
        <%= print_property(Character.human_attribute_name("birthplace"), @character.birthplace, "location") %>
        <%= print_property(Character.human_attribute_name("education"), @character.education, "location") %>
        <%= print_property(Character.human_attribute_name("background"), @character.background) %>
      </dl>

      <dl class="dl-horizontal hidden section favorites_section">
        <%= print_property(Character.human_attribute_name("fave_color"), @character.fave_color) %>
        <%= print_property(Character.human_attribute_name("fave_food"), @character.fave_food, "equipment") %>
        <%= print_property(Character.human_attribute_name("fave_possession"), @character.fave_possession, "equipment") %>
        <%= print_property(Character.human_attribute_name("fave_weapon"), @character.fave_weapon, "equipment") %>
        <%= print_property(Character.human_attribute_name("fave_animal"), @character.fave_animal, "character") %>
      </dl>

      <dl class="dl-horizontal hidden section relationships_section">
        <%= print_property(Character.human_attribute_name("father"), @character.father, "character") %>
        <%= print_property(Character.human_attribute_name("mother"), @character.mother, "character") %>
        <%= print_property(Character.human_attribute_name("spouse"), @character.spouse, "character") %>
        <%= print_property(Character.human_attribute_name("siblings"), @character.siblings, "character") %>
        <%= print_property(Character.human_attribute_name("archenemy"), @character.archenemy, "character") %>
      </dl>

      <dl class="dl-horizontal hidden section notes_section">
        <%= print_property(Character.human_attribute_name("notes"), @character.notes) %>
        <% if session[:user] and session[:user] == @character.user.id %>
          <%= print_property(Character.human_attribute_name("private_notes"), @character.private_notes) %>
        <% end %>
      </dl>
      
      </div>
      
      <div class="card-comments">

      <% if session[:user] and session[:user] == @character.user.id %>
      <div class="form-actions">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    character_list_path, :class => 'btn'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    character_edit_path(@character), :class => 'btn' %>
      </div>
      <% end %>

      </div>

    </div>
  </div>
</div>