<%- model_class = @character.class -%>

<%= render :partial => 'tabs' %>

<dl class="dl-horizontal hidden section general_section">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @character.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @character.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @character.age %></dd>
</dl>

<dl class="dl-horizontal hidden section appearance_section">
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @character.weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @character.height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:haircolor) %>:</strong></dt>
  <dd><%= @character.haircolor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hairstyle) %>:</strong></dt>
  <dd><%= @character.hairstyle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eyecolor) %>:</strong></dt>
  <dd><%= @character.eyecolor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:race) %>:</strong></dt>
  <dd><%= @character.race %></dd>
  <dt><strong><%= model_class.human_attribute_name(:skintone) %>:</strong></dt>
  <dd><%= @character.skintone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bodytype) %>:</strong></dt>
  <dd><%= @character.bodytype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:identmarks) %>:</strong></dt>
  <dd><%= @character.identmarks %></dd>
</dl>

<dl class="dl-horizontal hidden section social_section">
  <dt><strong>Best friend:</strong></dt>
  <dd><%= @character.bestfriend %></dd>
  <dt><strong>Religion:</strong></dt>
  <dd><%= @character.religion %></dd>
  <dt><strong>Politics:</strong></dt>
  <dd><%= @character.politics %></dd>
  <dt><strong>Prejudices:</strong></dt>
  <dd><%= @character.prejudices %></dd>
  <dt><strong>Occupation:</strong></dt>
  <dd><%= @character.occupation %></dd>
  <dt><strong>Pets:</strong></dt>
  <dd><%= @character.pets %></dd>
</dl>

<dl class="dl-horizontal hidden section behavior_section">
  <dt><strong><%= model_class.human_attribute_name(:mannerisms) %>:</strong></dt>
  <dd><%= @character.mannerisms %></dd>
</dl>

<dl class="dl-horizontal hidden section history_section">
  <dt><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
  <dd><%= @character.birthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthplace) %>:</strong></dt>
  <dd><%= @character.birthplace %></dd>
  <dt><strong><%= model_class.human_attribute_name(:education) %>:</strong></dt>
  <dd><%= @character.education %></dd>
</dl>

<dl class="dl-horizontal hidden section favorites_section">
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @character.fave_color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:food) %>:</strong></dt>
  <dd><%= @character.fave_food %></dd>
  <dt><strong><%= model_class.human_attribute_name(:possession) %>:</strong></dt>
  <dd><%= @character.fave_possession %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weapon) %>:</strong></dt>
  <dd><%= @character.fave_weapon %></dd>
  <dt><strong><%= model_class.human_attribute_name(:animal) %>:</strong></dt>
  <dd><%= @character.fave_animal %></dd>
</dl>

<dl class="dl-horizontal hidden section relationships_section">
  <dt><strong><%= model_class.human_attribute_name(:father) %>:</strong></dt>
  <dd><%= @character.father %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mother) %>:</strong></dt>
  <dd><%= @character.mother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spouse) %>:</strong></dt>
  <dd><%= @character.spouse %></dd>
  <dt><strong><%= model_class.human_attribute_name(:siblings) %>:</strong></dt>
  <dd><%= @character.siblings %></dd>
  <dt><strong><%= model_class.human_attribute_name(:archenemy) %>:</strong></dt>
  <dd><%= @character.archenemy %></dd>
</dl>

<dl class="dl-horizontal hidden section more_section">
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              character_list_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              character_edit_path(@character), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              character_path(@character),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

