<% @character = @content %>
<%- model_class = @character.class -%>

<h4><%= @character.name %></h4>
<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="material-icons">info</i>General information</div>
    <div class="collapsible-body">
      <table class="highlight">
        <tr>
          <td>Name</td>
          <td><%= @character.name %></td>
        </tr>
        <tr>
          <td>Role in story</td>
          <td><%= @character.role %></td>
        </tr>
        <tr>
          <td>Gender</td>
          <td><%= @character.gender %></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><%= @character.age %></td>
        </tr>
        <tr>
          <td>Universe</td>
          <td><%= @character.universe %></td>
        </tr>
      </table>
    </div>
  </li>

  <li>
    <div class="collapsible-header"><i class="material-icons">face</i>Appearance</div>
    <div class="collapsible-body">
      <table>
      <% %w(weight height haircolor hairstyle facialhair eyecolor race skintone bodytype identmarks).each do |attr| %>
        <tr>
          <td><%= attr.capitalize %></td>
          <td><%= @character.send attr %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </li>

  <li>
    <div class="collapsible-header"><i class="material-icons">groups</i>Social</div>
    <div class="collapsible-body">
      <table>
      <% %w(bestfriend religion politics prejudices occupation pets).each do |attr| %>
        <tr>
          <td><%= attr.capitalize %></td>
          <td><%= @character.send attr %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </li>

  <li>
    <div class="collapsible-header"><i class="material-icons">groups</i>Mannerisms</div>
    <div class="collapsible-body">
      <table>
      <% %w(mannerisms).each do |attr| %>
        <tr>
          <td><%= attr.capitalize %></td>
          <td><%= @character.send attr %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </li>

  <li>
    <div class="collapsible-header"><i class="material-icons">groups</i>History</div>
    <div class="collapsible-body">
      <table>
      <% %w(birthday birthplace education background).each do |attr| %>
        <tr>
          <td><%= attr.capitalize %></td>
          <td><%= @character.send attr %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </li>

  <li>
    <div class="collapsible-header"><i class="material-icons">star</i>Favorites</div>
    <div class="collapsible-body">
      <table>
      <% %w(fave_color fave_food fave_possession fave_weapon fave_animal).each do |attr| %>
        <tr>
          <td><%= attr.capitalize %></td>
          <td><%= @character.send attr %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </li>

  <li>
    <div class="collapsible-header"><i class="material-icons">groups</i>Relationships</div>
    <div class="collapsible-body">
      <table>
      <% %w(father mother spouse siblings archenemy).each do |attr| %>
        <tr>
          <td><%= attr.capitalize %></td>
          <td><%= @character.send attr %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </li>

  <li>
    <div class="collapsible-header"><i class="material-icons">edit</i>Notes</div>
    <div class="collapsible-body">
      <table>
      <% %w(notes private_notes).each do |attr| %>
        <tr>
          <td><%= attr.capitalize %></td>
          <td><%= @character.send(attr) %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </li>
</ul>

<%= link_to 'Edit this character', character_edit_path(@character), class: 'btn' %>