<h4>Download your Notebook</h4>
<p>We offer the following download formats, with more coming soon.</p>

<div class="row">
  <div class="col s12 m4">
    <div class="hoverable card">
      <div class="card-content">
        <div class="card-title">
          <i class="material-icons circle blue white-text right">file_download</i>
          Outline (TXT)
        </div>
        <div class="card-body">
          <ul>
            <li><%= link_to "notebook.txt", notebook_outline_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="hoverable card">
      <div class="card-content">
        <div class="card-title">
          <i class="material-icons circle blue white-text right">file_download</i>
          Excel (CSV)
        </div>
        <div class="card-body">
          <ul>
            <li><%= link_to "universes.csv", universes_csv_path %></li>
            <li><%= link_to "characters.csv", characters_csv_path %></li>
            <li><%= link_to "locations.csv", locations_csv_path %></li>
            <li><%= link_to "items.csv", items_csv_path %></li>

            <li><%= link_to "creatures.csv", creatures_csv_path %></li>
            <li><%= link_to "races.csv", races_csv_path %></li>
            <li><%= link_to "religions.csv", religions_csv_path %></li>
            <li><%= link_to "magics.csv", magics_csv_path %></li>
            <li><%= link_to "languages.csv", languages_csv_path %></li>
            <li><%= link_to "groups.csv", groups_csv_path %></li>
            <li><%= link_to "floras.csv", floras_csv_path %></li>
            <li><%= link_to "towns.csv", towns_csv_path %></li>
            <li><%= link_to "countries.csv", countries_csv_path %></li>
            <li><%= link_to "landmarks.csv", landmarks_csv_path %></li>

            <li><%= link_to "scenes.csv", scenes_csv_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="hoverable card">
      <div class="card-content">
        <div class="card-title">
          <i class="material-icons circle blue white-text right">file_download</i>
          JSON
        </div>
        <div class="card-body">
          <ul>
            <li><%= link_to "notebook.json", notebook_json_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="hoverable card">
      <div class="card-content">
        <div class="card-title">
          <i class="material-icons circle blue white-text right">file_download</i>
          XML
        </div>
        <div class="card-body">
          <ul>
            <li><%= link_to "notebook.xml", notebook_xml_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
