<h4>Billing Plan</h4>

<p>
  <%# Please choose one of the following plans for your Notebook subscription. %>
  You're currently subscribed to Notebook's <strong><%= @active_billing_plan.name %></strong> plan.
  Your subscription will automatically renew for another month on February 1, 2017.
</p>

<div class="row">
  <div class="col m6">
    <div class="row">
      <div class="card s12 <%= 'green lighten-5' if @active_billing_plan.stripe_plan_id == 'early-adopters' %>">
        <div class="center">
          <br />
          <i class="material-icons" style="font-size: 250%">class</i>
          <h4>Premium</h4>
          <h6>(Early Adopters Discount)</h6>
          <h5>$6/month</h5>
          <ul class="plan-features">
            <li>Plan <strong>unlimited</strong> universes</li>
            <li>Create the following content within your universes:</li>
            <li>
              <% [Character, Location, Item, Creature, Race, Religion, Group, Magic, Language, Scene].each do |content_class| %>
                <i class="material-icons <%= content_class.color %>-text tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="<%= content_class.name.pluralize %>">
                  <%= content_class.icon %>
                </i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="row center">
          <% if @active_billing_plan.stripe_plan_id == 'early-adopters' %>
            <%= link_to 'Plan is active', '#', class: 'btn-large waves-effect waves-light white black-text disabled' %>
          <% else %>
            <%= link_to 'Upgrade', change_subscription_path('early-adopters'), class: 'btn-large waves-effect waves-light blue white-text' %>
          <% end %>
        </div>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="card blue white-text" style="padding: 15px; font-size: 110%">
        <h5>Discount notice</h5>
        <p>
          For a limited time, upgrade now to lock your monthly plan at $6/month (33% off from $9/month) for
          as long as you subscribe.
          Thank you for being early adopters and offering worlds of great feedback!
        </p>
        <p>
          Offer expires February 10, 2017.
        </p>
      </div>
    </div>
  </div>
  <div class="col m6">
    <div class="row">
      <div class="card s12 <%= 'green lighten-5' if @active_billing_plan.stripe_plan_id == 'starter' %>">
        <div class="center">
          <br />
          <i class="material-icons" style="font-size: 250%">class</i>
          <h4>Starter</h4>
          <h5>$0/month</h5>
          <ul class="plan-features">
            <li>Plan up to <strong>5</strong> universes</li>
            <li>Create the following content within your universes:</li>
            <li>
              <% [Character, Location, Item].each do |content_class| %>
                <i class="material-icons <%= content_class.color %>-text tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="<%= content_class.name.pluralize %>">
                  <%= content_class.icon %>
                </i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="row center">
          <% if @active_billing_plan.stripe_plan_id == 'starter' %>
            <%= link_to 'Plan is active', '#', class: 'btn-large waves-effect waves-light white disabled black-text' %>
          <% else %>
            <%= link_to 'Downgrade', change_subscription_path('starter'), class: 'btn-large waves-effect waves-light white black-text' %>
          <% end %>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

<%#
<h5>Billing History</h5>

<table class="bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>February 1, 2017 (Pending)</td>
      <td>You will be charged $9.00 for a <strong>Premium</strong> renewal on February 1.</td>
      <td><a href="#paymentpage">Review payment method</a></td>
    </tr>
    <tr>
      <td>January 1, 2017</td>
      <td>Automatically renewed your <strong>Premium</strong> plan until February 1, 2017.</td>
      <td><em>Paid $9.00</em></td>
    </tr>
    <tr>
      <td>December 1, 2016</td>
      <td>Upgraded to the <strong>Premium</strong> plan.</td>
      <td><em>Paid $9.00</em></td>
    </tr>
  </tbody>
</table>
%>