<h4>Billing Plan</h4>

<p>
  <%# Please choose one of the following plans for your Notebook subscription. %>
  You're currently subscribed to Notebook's <strong>Premium</strong> plan.
  Your subscription will automatically renew for another month on February 1, 2017.
</p>

<div class="row">
  <div class="col m6">
    <div class="row">
      <div class="card green lighten-5 s12">
        <div class="center">
          <br />
          <i class="material-icons" style="font-size: 250%">class</i>
          <h4>Premium</h4>
          <h5>$9/month</h5>
          <ul class="plan-features">
            <li>Plan <strong>unlimited</strong> universes</li>
            <li>Create the following content within your universes:</li>
            <li>
              <% [Character, Location, Item, Creature, Race, Religion, Group, Magic, Language, Scene].each do |content_class| %>
                <i class="material-icons <%= content_class.color %>-text tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="<%= content_class.name.pluralize %>">
                  <%= content_class.icon %>
                </i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="row center">
          <%= link_to 'Active Plan', new_user_registration_path, class: 'btn-large waves-effect waves-light white black-text' %>
        </div>
        <br />
      </div>
    </div>
  </div>
  <div class="col m6">
    <div class="row">
      <div class="card s12">
        <div class="center">
          <br />
          <i class="material-icons" style="font-size: 250%">class</i>
          <h4>Starter</h4>
          <h5>$0/month</h5>
          <ul class="plan-features">
            <li>Plan up to <strong>5</strong> universes</li>
            <li>Create the following content within your universes:</li>
            <li>
              <% [Character, Location, Item].each do |content_class| %>
                <i class="material-icons <%= content_class.color %>-text tooltipped" style="font-size: 240%" data-position="bottom" data-delay="0" data-tooltip="<%= content_class.name.pluralize %>">
                  <%= content_class.icon %>
                </i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="row center">
          <%= link_to 'Downgrade', new_user_registration_path, class: 'btn-large waves-effect waves-light white black-text' %>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

<h5>Billing History</h5>

<table class="bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>February 1, 2017 (Pending)</td>
      <td>You will be charged $9.00 for a <strong>Premium</strong> renewal on February 1.</td>
      <td><a href="#paymentpage">Review payment method</a></td>
    </tr>
    <tr>
      <td>January 1, 2017</td>
      <td>Automatically renewed your <strong>Premium</strong> plan until February 1, 2017.</td>
      <td><em>Paid $9.00</em></td>
    </tr>
    <tr>
      <td>December 1, 2016</td>
      <td>Upgraded to the <strong>Premium</strong> plan.</td>
      <td><em>Paid $9.00</em></td>
    </tr>
  </tbody>
</table>
