<h1>Explore the Collections</h1>
<!-- maybe a staggered layout on this one so we can get a rush of people to submit at the beginning -->
<div class="row">
  <div class="col s12">
    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header blue white-text">
          <i class="material-icons">layers</i> 
          Explore our shared worlds, etc
        </div>
        <div class="collapsible-body white">
          <p>
            How does this all work, etc.
          </p>
        </div>
      </li>
      <!--
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i> Some FAQ #1
        </div>
        <div class="collapsible-body white">
          <p>
            Answer
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i> Some FAQ #2
        </div>
        <div class="collapsible-body white">
          <p>
            Answer
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i> Some FAQ #3
        </div>
        <div class="collapsible-body white">
          <p>
            Answer
          </p>
        </div>
      </li>
      -->
    </ul>
  </div>
  <div class="col s12">
    <%= link_to '#' do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag "card-headers/universes.jpg", style: 'max-height: 300px;' %>
          <span class="card-title">
            The Multiverse
            <br />
            <small>Browse public universes</small>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12 m6">
    <%= link_to '#' do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag "card-headers/creatures.jpg", style: 'max-height: 300px;' %>
          <span class="card-title">
            Bestiary
            <br />
            <small>Browse public creatures and floras</small>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12 m6">
    <%= link_to '#' do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag "card-headers/locations.jpg", style: 'max-height: 300px;' %>
          <span class="card-title">
            Atlas
            <br />
            <small>Browse public locations, continents, countries, landmarks, and towns</small>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12 m6">
    <%= link_to '#' do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag "card-headers/religions.jpg", style: 'max-height: 300px;' %>
          <span class="card-title">
            Pantheon
            <br />
            <small>Browse public religions and deities</small>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12 m6">
    <%= link_to '#' do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag "card-headers/governments.jpg", style: 'max-height: 300px;' %>
          <span class="card-title">
            Something
            <br />
            <small>Browse public governments and jobs</small>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12">
    <%= link_to '#' do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag "card-headers/traditions.jpg", style: 'max-height: 300px;' %>
          <span class="card-title">
            Calendar
            <br />
            <small>Browse public traditions</small>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>


Universe, - Multiverse
Character, - Dossier (?)
Location, - Atlas
Item, - 
Building, - Atlas
Condition, 
Continent, - Atlas
Country, - Atlas
Creature, - Bestiary
Deity, - Pantheon
Flora, - Bestiary
Food, 
Government, -
Group, - 
Job, - 
Landmark, - Atlas
Language, 
Lore, 
Magic, - 
Planet, - Atlas
Race, 
Religion, - Pantheon
Scene, 
School, - Atlas
Sport, - 
Technology, - 
Town, - Atlas
Tradition, - Calendar (?)
Vehicle - 

