<br />
<div class="row">
  <div class="col s12">
    <ul class="collapsible popout">
      <li class="active">
        <div class="collapsible-header blue white-text">
          <i class="material-icons">share</i>
          Click here to share a page to your followers
        </div>
        <div class="collapsible-body white">
          <%= form_for [current_user, ContentPageShare.new(user: current_user)] do |f| %>
            <div class="row">
              <div class="col s12 m6 l6">
                <div class="input-field col s12">
                  <%= f.select :content_page do %>
                    <% @current_user_content.each do |content_type, content_list| %>
                      <optgroup label="<%= content_type.pluralize %>">
                        <% content_list.each do |content| %>
                          <option value="<%= content_type %>-<%= content.id %>"><%= content.name %></option>
                        <% end %>
                      </optgroup>
                    <% end %>
                  <% end %>
                  <label>1. Select a page to share</label>
                  <div class="helper-text">
                    Only pages designated "public" may be shared.
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l6">
                <div class="input-field">
                  <%= f.text_area :message, class: 'materialize-textarea' %>
                  <%= f.label :message, '2. Write a message about your page.' %>
                </div>
              </div>
              <div class="col s12">
                <%= f.submit 'Share', class: 'btn green white-text right' %>
              </div>
            </div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>


<% feed = (1..5).map { Rails.application.config.content_types[:all].sample.where(user: current_user).first } %>
<br /><br />

<% feed.each do |content| %>
  <div class="row">
    <div class="col s12">
      <%= link_to content.user, class: "#{User.color}-text" do %>
        <%= image_tag content.user.image_url(size=20), class: 'left circle', style: 'margin-right: 8px;' %>
        <%= content.user.name %>
      <% end %>
      shared a
      <%= content.class.name.downcase %>:
      <%= link_to content.name, content, class: "#{content.class.color}-text text-darken-1" %>.
      <span class="grey-text right">
        <%= time_ago_in_words content.created_at %> ago
      </span>
    </div>
  </div>
  <div class="hoverable card row <%= content.class.color %> clearfix" style="height: 400px">
    <div class="col s12 m6 l6">
      <div class="card-image" style="height: 300px">
        <%= image_tag content.random_public_image(format: :small), style: 'height: 300px' %>
        <span class="card-title">
          <%= link_to content do %>
            <i class="material-icons tiny <%= content.class.color %>-text"><%= content.class.icon %></i>
            <span class="white-text bordered-text"><%= content.name %></i>
          <% end %>
        </span>
      </div>

      <div class="card-content white" style="height: 100px">
        <%# content.description.presence || 'Description here' TODO this causes module tree error in dev mode %>
        Description here
      </div>
    </div>
    <div class="col s12 m6 l6 <%= content.class.color %> lighten-5">
      <div class="card-content white" style="height: 400px; overflow-y: auto">
        <%= link_to content.user, class: "#{User.color}-text" do %>
          <%= image_tag content.user.image_url(size=20), class: 'left circle', style: 'margin-right: 8px;' %>
          <%= content.user.name %>
        <% end %>
        said:
        <blockquote>
          Does anyone have any questions about this page? I'm trying to fill it out more.
        </blockquote>
        
        <div class="input-field comment-form">
          <label for="comment1">Leave a message</label>
          <textarea class="materialize-textarea" id="comment1"></textarea>
          <%= link_to '#', class: 'btn right green white-text submit-button' do %>
            Comment
            <i class="material-icons right">chat</i>
          <% end %>
        </div>
        
        <div class="row">
          <% 3.times do %>
            <div class="col s12 m10 offset-m2 l9 offset-l3">
              <div class="blue lighten-5 comment">
                <p>
                  Hi I'm a message from some random person
                </p>
                <div class="metadata">
                  <%= link_to content.user, class: "#{User.color}-text" do %>
                    <%= image_tag content.user.image_url(size=20), class: 'left circle', style: 'margin-right: 8px;' %>
                    <%= content.user.name %>
                  <% end %>
                  <span class="grey-text">
                    <%= time_ago_in_words (DateTime.now - 5.hours) %> ago
                  </span>
                </div>
              </div>
            </div>

            <div class="col s12 m10 offset-m2 l9 offset-l3">
              <div class="blue lighten-5 comment">
                <p>
                  Hi I'm a message from some random person
                </p>
                <div class="metadata">
                  <%= link_to content.user, class: "#{User.color}-text" do %>
                    <%= image_tag content.user.image_url(size=20), class: 'left circle', style: 'margin-right: 8px;' %>
                    <%= content.user.name %>
                  <% end %>
                  <span class="grey-text">
                    <%= time_ago_in_words (DateTime.now - 5.hours) %> ago
                  </span>
                </div>
              </div>
            </div>

            <div class="col s12 m10 l9">
              <div class="green lighten-5 comment">
                <p>
                  Hi I'm a message from OP
                </p>
                <div class="metadata">
                  <%= link_to content.user, class: "#{User.color}-text" do %>
                    <%= image_tag content.user.image_url(size=20), class: 'left circle', style: 'margin-right: 8px;' %>
                    <%= content.user.name %>
                  <% end %>
                  <span class="grey-text">
                    <%= time_ago_in_words (DateTime.now - 5.hours) %> ago
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
<% end %>
