<br />

<div class="card-panel <%= ContentPageShare.color %> lighten-5">
  You can now share your notebook pages to your <strong>Stream</strong>!<br /><br />

  When you share a page, you can include a message or question that others will see. Any user that follows you will see your shares in their stream
  &mdash; and people around the world can see everyone else's shares in the "Around the World" stream, too!

  <%= link_to 'Dismiss this message', '#'%>
</div>

<div class="row">
  <div class="col s12">
    <%= render partial: 'content_page_shares/form' %>
  </div>
</div>

<% @feed.each do |share| %>
  <% if Rails.application.config.content_types[:all].map(&:name).include?(share.content_page_type) %>
    <%= render partial: 'content_page_shares/stream_item', locals: { share: share, content: share.content_page } %>
  <% elsif share.content_page_type == Thredded::Topic.name %>
    <%= render partial: 'content_page_shares/stream_discussion', locals: { share: share, content: share.content_page } %>
  <% else %>
    <strong>Error loading stream item</strong>
  <% end %>
  <br /><br />
  <div class="show-on-small hide-on-med-and-up">
    &nbsp;
    <br /><br />
  </div>
<% end %>

<% if @feed.empty? %>
  <div class="row">
    <div class='col s12'>
      <div class="hoverable card">
        <div class="card-content">
          <p class="card-title">
            There are no posts here yet!
          </p>
          <p>
            You can follow other worldbuilders from their profiles.
            Whenever a user you follow shares one of their public pages,
            it will appear here for you to comment on!
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>