<div class="text-black text-center mb-3 font-bold">
  <small>Sign in with email</small>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="relative w-full mb-3">
    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password">Email</label>
    <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150' %>
  </div>
  <div class="relative w-full mb-3">
    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password">Password</label>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150' %>
  </div>
  <div>
    <%= f.label :remember_me, class: 'inline-flex items-center cursor-pointer' do %>
      <input id="customCheckLogin" type="checkbox" class="form-checkbox border-0 rounded text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150">
      <span class="ml-2 text-sm font-semibold text-blueGray-600">
        Remember me
      </span>
    <% end %>
  </div>
  <div class="text-center mt-6">
    <%= f.submit 'Sign In', class: 'bg-notebook-blue text-white text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150' %>
  </div>
  <div class="text-center mt-4 text-sm hover:text-notebook-blue">
    <%= link_to 'Forgot your password?', new_user_password_path, class: 'text-notebook-blue hover:border-notebook-blue border-b-2' %>

  </div>
<% end %>
