<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="spacer">&nbsp;</div>

  <div class="actions center">
    <div class="col s6">
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>Remember me</span>
        <% end %>
      <% end -%>
    </div>
    <div class="col s6">
      <%= f.submit "Log in", class: 'btn blue' %>
    </div>

    <p class="center">
      <br />
      <%= render "devise/shared/links" %>
    </p>
  </div>
<% end %>
