<section class="bg-blueGray">
  <div class="w-full lg:w-4/12 px-4 mx-auto pt-6">
    <div class="relative flex flex-col bg-white min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
      <div class="rounded-t mb-0 px-6 py-6">
        <%= image_tag 'logos/both-small.webp', class: 'w-full' %>
      </div>

      <div class="rounded-t mb-0 px-6 py-6 hidden">
        <div class="text-center mb-3">
          <h6 class="text-blueGray-500 text-sm font-bold">
            Sign in with
          </h6>
        </div>
        <div class="btn-wrapper text-center">
          <button class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-2 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150" type="button">
            <img alt="..." class="w-5 mr-1" src="https://demos.creative-tim.com/notus-js/assets/img/github.svg">
            Github
          </button>
          <button class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150" type="button">
            <img alt="..." class="w-5 mr-1" src="https://demos.creative-tim.com/notus-js/assets/img/google.svg">
            Google
          </button>

        </div>
        <hr class="mt-6 border-b-1 border-blueGray-300">
      </div>

      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <%= render 'devise/sessions/form' %>
      </div>
    </div>
  </div>
  <footer class="relative pt-8 pb-6 mt-2">
    <div class="container mx-auto px-2">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-6/12 px-4 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
            Don't have an account?
            <%= link_to 'Sign up for free.', new_user_registration_path, class: 'text-notebook-blue hover:border-notebook-blue border-b-2' %>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>


<div class="row hidden" style="margin-top: 5%">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div style="padding: 0 2em; padding-top: 1em">
        <%= image_tag 'logos/both-small.webp', class: 'hide-on-small-only', style: 'width: 100%' %>
        <%= image_tag 'logos/book-small.webp', class: 'hide-on-med-and-up', style: 'width: 100%' %>
      </div>
      <div class="card-content">
        <%= render 'devise/sessions/form' %>
      </div>
    </div>
  </div>
</div>
