<h2 class="grey-text" style="font-size: 2rem">Your Notebook.ai tags</h2>
<ul class="collapsible">
  <% Rails.application.config.content_types[:all].each do |content_type| %>
    <%
      grouped_tags = PageTag.where(page_type: content_type.name, user_id: current_user).group_by(&:tag)

      next if grouped_tags.values.length == 0
    %>

    <li>
      <div class="collapsible-header">
        <i class="material-icons <%= content_type.text_color %>"><%= content_type.icon %></i>
        <%= content_type.name %> tags
        <span class="badge"><%= grouped_tags.values.length %></span>
      </div>
      <div class="collapsible-body">
        <% grouped_tags.each do |tag, page_list| %>
          <div class="row">
            <div class="col s12 m6 l4">
              <div>
                <%=
                  link_to send(
                    "#{content_type.name.downcase.pluralize}_path",
                    slug: PageTagService.slug_for(tag)
                  ) do
                %>
                  <span class="<%= content_type.color %> white-text" style="padding: 0.3em 0.4em; font-size: 1em">
                    <%= tag %>
                  </span>
                <% end %>
              </div>
              <div class="grey-text">
                Used by <%= pluralize page_list.length, 'page' %>
              </div>
            </div>
            <div class="col s12 m6 l8">
              <% page_list.each do |page_tag| %>
                <div class="chip js-load-page-name" data-klass="<%= page_tag.page_type %>" data-id="<%= page_tag.page_id %>">
                  <%= link_to send("#{page_tag.page_type.downcase}_path", page_tag.page_id) do %>
                    <span class="<%= content_type.text_color %>">
                      <i class="material-icons left">
                        <%= content_type.icon %>
                      </i>
                    </span>
                    <span class="name-container">
                      <em>Loading <%= content_type.name %> name...</em>
                    </span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>