<header class="thredded--topic-header">
  <%= view_hooks.topic_page.title.render self, topic: topic do %>
    <h1 class="thredded--topic-header--title">
      <%= topic.title %>
    </h1>
    <div class="thredded--topic-header--started-by">
      <div class="bg-blue-100 text-black p-2 my-2 ml-1 text-sm">
        <i class="material-icons text-blue-500 float-left mr-2">forum</i>
        <div>by <%= link_to topic.user.display_name, topic.user %></div>
      </div>
    </div>

    <% if thredded_current_user %>
      <% if topic.followed? %>
        <div class="thredded--topic-header--follow-info w-full">
          <div class="thredded--topic-header--follow-info--reason block">
            <%=
              button_to topic.unfollow_path, 
                form: {
                  class: 'thredded--topic-header--follow-info--unfollow ' +
                          'w-full bg-blue-400 hover:bg-blue-500 cursor-pointer rounded py-2 mb-2 text-center'
                } do
            %>
              <span class="text-white">
                <%= t('thredded.topics.unfollow') %>
                <%= inline_svg_tag 'thredded/follow.svg', class: 'thredded--topic-header--follow-icon' %>
              </span>
            <% end %>

            <p class="text-xs text-left">
              <%= topic_follow_reason_text topic.follow_reason %>
            </p>
          </div>
        </div>
      <% else %>
        <div class="thredded--topic-header--follow-info w-full">
          <%=
            button_to topic.follow_path,
              form: {
                class: 'thredded--topic-header--follow-info--follow ' +
                        'w-full bg-blue-400 hover:bg-blue-500 cursor-pointer rounded py-2 mb-2 text-center'
              } do
            %>
              <span class="text-white">
                <%= t('thredded.topics.follow') %>
                <%= inline_svg_tag 'thredded/follow.svg', class: 'thredded--topic-header--follow-icon' %>
              </span>
            <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="clear-both">
      <%= render partial: 'thredded/topics/followers', locals: {topic: topic} %>
    </div>

    <div class="mt-32">thread actions todo</div>
  
    <div class="thredded--post--dropdown">
      <i class="material-icons thredded--post--dropdown--toggle">tune</i>

      <div class="thredded--post--dropdown--actions">
        <% if topic.can_update? %>
          <%= link_to t('thredded.topics.edit'), topic.edit_path,
                      class: 'thredded--post--dropdown--actions--item',
                      rel: 'nofollow' %>
        <% end %>
        <% if user_signed_in? && params.key?(:id) %>
          <%= link_to main_app.documentize_topic_path(params[:id]), class: 'thredded--post--dropdown--actions--item' do %>
            Export to document
          <% end %>
          <%= link_to main_app.plaintext_topic_path(params[:id]), class: 'thredded--post--dropdown--actions--item', rel: 'nofollow' do %>
            View as plaintext
          <% end %>
          <%= link_to main_app.irc_log_topic_path(params[:id]), class: 'thredded--post--dropdown--actions--item', rel: 'nofollow' do %>
            View as chat log
          <% end %>
        <% end %>
        <% if topic.can_destroy? %>
          <div class="thredded--topic-delete--wrapper">
            <%= button_to t('thredded.topics.delete_topic'), topic.destroy_path, method: :delete,
                          form_class: 'thredded--topic-delete-form',
                          class: 'thredded--button thredded--post--dropdown--actions--item',
                          'data-confirm' => t('thredded.topics.delete_confirm') %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
  
</header>