<%= form_for @universe, :url => universe_edit_process_path, :html => { :class => 'form-horizontal' } do |f| %>
	<div class="hidden section starter_section general_section">
		<div class="control-group">
		  <%= f.label :name, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :name, :class => 'text_field' %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :description, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_area :description, :class => 'text_area', :rows => 4 %>
		  </div>
		</div>
	</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                universe_list_path, :class => 'btn' %>
  </div>
<% end %>
