<div class="hidden section starter_section general_section">
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
      <span class="muted">Can't think of a name? Name it after your story!</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :rows => 4, :style => "width: 80%;" %>
    </div>
  </div>

</div>

<div class="hidden section history_section">
  <div class="control-group">
    <%= f.label 'Relevant history', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :history, :class => 'text_area', :rows => 6, :style => "width: 80%;" %>
    </div>
  </div>

</div>

<div class="hidden section notes_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 10, :style => "width: 80%;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :private_notes, :class => 'text_area', :rows => 8, :style => "width: 80%;" %>
      <div class="muted">
        By default, all content is private and only accessible by you. Even if you decide to make something<br />
        public, the private notes section will always be only visible to you, no matter what.
      </div>
    </div>
  </div>
</div>

<div class="hidden section settings_section">
  <div class="control-group">
    <%= f.label :privacy, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :privacy, [['Private', 'Private'], ['Public', 'Public']] %>
      <div class="muted">
        By default, all universes are <strong>private</strong>, which means only you
        can see them. If you choose to make your
        universe <strong>public</strong>, <em>all</em> content within it (characters,
        locations, etc) will be visible to anyone on the Internet, regardless of that
        content's individual privacy setting. Even if a universe is marked public, only
        you will have access to edit its contents.
      </div>
    </div>
  </div>
</div>
