<li class="universe-selector <%= 'universe-filter-active' if @universe_scope.present? %>">
  <%
    if @universe_scope.present?
      tooltip = "Limiting content to universe: #{@universe_scope.name}."
    else
      tooltip = "Limit content to a universe..."
    end
  %>
  <a class="dropdown-button tooltipped" href="#!" data-activates="dropdown_universes" data-position="bottom" data-delay="100" data-tooltip="<%= tooltip %>">
    <i class="material-icons <%= 'left' if @universe_scope.present? %>">vpn_lock</i>
    <% if @universe_scope.present? %>
      <div class="hide-on-small-only" style="overflow: hidden">
        <%= @universe_scope.name.truncate(10) %>
      </div>
    <% end %>
  </a>
</li>

<ul id="dropdown_universes" class="dropdown-content universes-lock">
  <li><%= link_to "All universes", url_for(params.merge(:universe => :all)) %></li>
  <% if current_user %>
    <li class="divider"></li>
    <% (current_user.universes + current_user.contributable_universes).sort_by(&:name).each do |universe| %>
      <li><%= link_to universe.name + (universe.user == current_user ? '' : ' (contributor)'), "?universe=#{universe.id}" %></li>
    <% end %>
  <% end %>
</ul>
