<%- model_class = Universe.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<% if @universes.length > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @universes.each do |universe| %>
      <tr>
        <td><%= link_to universe.name, universe_path(universe) %></td>
        <td><%= universe.description %></td>
        <td style="width: 130px;">
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      universe_path(universe), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      universe_edit_path(universe), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      universe_path(universe),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class="well" style="margin-top: 20px;">
	<h4>Planning universes</h4>
	<p>
		Universes are what separate one plot from the next &ndash; while one character is saving the world in one story, another is destroying it in a different universe. Basically: use universes to separate your planning into story-sized chunks. 
	</p>
	
	<%= link_to 'New universe', universe_create_path, :class => 'btn btn-primary' %>
</div>
