<%- model_class = @universe.class -%>

<div class="card">
  <%= render :partial => 'tabs' %>

  <dl class="dl-horizontal hidden section general_section">
    <%= print_property("Name", @universe.name, "") %>
    <%= print_property("Description", @universe.description, "") %>
  </dl>

  <dl class="dl-horizontal hidden section history_section">
    <%= print_property("History", @universe.history, "") %>
  </dl>

  <dl class="dl-horizontal hidden section notes_section">
    <%= print_property("Notes", @universe.notes, "") %>
    <% if session[:user] and session[:user] == @universe.user.id %>
      <%= print_property("Private notes", @universe.private_notes, "") %>
    <% end %>
  </dl>

  <dl class="dl-horizontal hidden section settings_section">
    <%= print_property("Privacy", @universe.privacy, "") %>
  </dl>

  <% if session[:user] and session[:user] == @universe.user.id %>
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                universe_list_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                universe_edit_path(@universe), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                universe_path(@universe),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger' %>
  </div>
  <% end %>
</div>

<% if @universe.content_count > 0 %>

<div class="card">
  <h3 class="card-heading simple">
    In this universe...
  </h3>

  <div class="card-body">

    <ul class="nav nav-tabs">
      <% if @universe.characters.length > 0 %>
        <% label = (@universe.characters.length == 1 ? "character" : "characters") %>
        <li class="tab"><%= link_to @universe.characters.length.to_s + " " + label, "#", :id => "show_characters" %></li>
      <% end %>
      <% if @universe.equipment.length > 0 %>
        <li class="tab"><%= link_to @universe.equipment.length.to_s + " equipment", "#", :id => "show_equipment" %></li>
      <% end %>
      <% if @universe.languages.length > 0 %>
        <% label = (@universe.languages.length == 1 ? "language" : "languages") %>
        <li class="tab"><%= link_to @universe.languages.length.to_s + " " + label, "#", :id => "show_languages" %></li>
      <% end %>
      <% if @universe.locations.length > 0 %>
        <% label = (@universe.locations.length == 1 ? "location" : "locations") %>
        <li class="tab"><%= link_to @universe.locations.length.to_s + " " + label, "#", :id => "show_locations" %></li>
      <% end %>
      <% if @universe.magics.length > 0 %>
        <li class="tab"><%= link_to @universe.magics.length.to_s + " magic", "#", :id => "show_magic" %></li>
      <% end %>
    </ul>

    <dl class="dl-horizontal hidden content-section characters_section">
      <% @characters = @universe.characters %>
      <%= render 'characters/list' %>
    </dl>
    <dl class="dl-horizontal hidden content-section equipment_section">
      <% @equipment = @universe.equipment %>
      <%= render 'equipment/list' %>
    </dl>
    <dl class="dl-horizontal hidden content-section languages_section">
      <% @languages = @universe.languages %>
      <%= render 'languages/list' %>
    </dl>
    <dl class="dl-horizontal hidden content-section locations_section">
      <% @locations = @universe.locations %>
      <%= render 'locations/list' %>
    </dl>
    <dl class="dl-horizontal hidden content-section magic_section">
      <% @magics = @universe.magics %>
      <%= render 'magic/list' %>
    </dl>

  </div>
  
  <div class="card-comments"></div>

</div>	

<% end %>

<% u = User.find(session[:user]) if session[:user] %>
<% if session[:user] and u.content_count == 1 and u.universes.length == 1 %>
  <div class="card">
    <h3 class="card-heading simple">Congratulations, you created your first universe! So... what next?</h3>
    <div class="card-body">
      <p>
        Now that you know the basics of how to create, edit, and view your content, you're free to create anything you want! Personally I typically start with <a href="/plan/characters">characters</a>, but I know some people enjoy starting with a good map full of <a href="/plan/locations">locations</a>. Or if <a href="/plan/magic">magic</a> is more your thing, all power to you! 
      </p>
      <p>
        Your universe is empty but ready to be filled with <em>stuff</em> now. You'll find everything you could think to fill it with within the <strong>Plan</strong> menu at the top of the page!
      </p>
      <p>
        <strong>Good luck!</strong>
      </p>
    </div>
  </div>
<% end %>
