<%- model_class = @content.class -%>

<h4>You've created <%= @content.count %> items</h4>

<ul class="collection">
  <% @content.each do |item| %>
    <li class="collection-item avatar">
      <i class="material-icons circle amber">beach_access</i>
      <span class="title"><%= link_to item.name, item %></span>
      <p class="truncate">
        <%= item.description %>
      </p>
      <p class='grey-text'>
        <em>last edited <%= item.updated_at.strftime("%m/%d/%Y") %></em>
      </p>
      <span class="secondary-content">
        <%= link_to item_edit_path(item) do %>
          <i class="material-icons">edit</i>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>

<%= link_to 'Create another item', item_create_path, :class => 'btn' %>
