<a class='dropdown-trigger' href='#' data-target='dropdown-<%= content.class.name %>-<%= content.id %>'>
  <i class="material-icons">more_vert</i>
</a>
<ul id='dropdown-<%= content.class.name %>-<%= content.id %>' class='dropdown-content'>
  <li>
    <%= link_to [share.user, share] do %>
      <i class="material-icons left">link</i>
      Permalink
    <% end %>
  </li>
  <li>
    <%= link_to content do %>
      <i class="material-icons left"><%= content.class.icon %></i>
      View this <%= content.class.name.downcase %>
    <% end %>
  </li>
  <li class="divider" tabindex="-1"></li>
  <li>
    <%= link_to '#' do %>
      <i class="material-icons">delete</i>
      Delete this share
    <% end %>
  </li>
</ul>