<p id="notice"><%= notice %></p>

<h1>Content Page Shares</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_page_shares.each do |content_page_share| %>
      <tr>
        <td><%= link_to 'Show', content_page_share %></td>
        <td><%= link_to 'Edit', edit_content_page_share_path(content_page_share) %></td>
        <td><%= link_to 'Destroy', content_page_share, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content Page Share', new_content_page_share_path %>
