<div class="row">
  <div class="col s12 m12 l4">
    <%= link_to @share.content_page, class: 'black-text' do %>
      <div class="hoverable card">
        <div class="card-image">
          <%= image_tag @share.content_page.random_public_image %>
          <span class="card-title">
            <i class="material-icons <%= @share.content_page.class.color %>-text left small"><%= @share.content_page.class.icon %></i>
            <%= @share.content_page.name %>
          </span>
        </div>
        <div class="card-content">
          <div class="card-title">
            <%= @share.content_page.description.presence || "A #{@share.content_page.class.name.downcase}" %>
          </div>
          <p>
            by
            <%= link_to @share.user.display_name, @share.user, class: "#{User.color}-text" %>
          </p>
        </div>
      </div>
    <% end %>
    <div>
      <ul class="uppercase">
        <li class="grey-text">
          Reshare this post to...
        </li>
        <li>
          <%= link_to '#', class: 'btn-flat blue-text' do %>
            <i class="material-icons tiny left">share</i>
            Twitter
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'btn-flat blue-text' do %>
            <i class="material-icons tiny left">share</i>
            Facebook
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 m12 l7">
    <div class="card">
      <div class="card-content">
        <p>
          <%= link_to @share.user, class: "#{User.color}-text" do %>
            <%= image_tag @share.user.image_url(size=20), class: 'left circle', style: 'margin-right: 8px;' %>
            <%= @share.user.name %>
          <% end %>
          said:
          <span class="grey-text right">
            <%= time_ago_in_words @share.shared_at %> ago
          </span>
        </p>
        <blockquote>
          <%= simple_format @share.message %>
        </blockquote>
        
        <%= render partial: 'share_comments/form', locals: { share: @share } %>
        <br /><br />

        <div class="row">
          <% @share.share_comments.each do |comment| %>
            <%= 
              render partial: 'share_comments/show', 
                    locals: { comment: comment, share: @share }
            %>
          <% end %>
        </div>

        <% if @share.share_comments.count > 10 %>
          <%= render partial: 'share_comments/form', locals: { share: @share } %>
        <% end %>
        <br /><br />
      </div>
    </div>
  </div>
</div>
