<div class="card hoverable">
  <div class="card-content">
    <span class="card-title">
      <i class="material-icons grey-text">
        forum
      </i>
      Visit the forums
    </span>

    <p>
      There have been <%= Thredded::Topic.where('created_at > ?', DateTime.current - 1.week).count %> new threads created in the past week on the forums.
      Share your characters, talk about worlbuilding, find a collaborator or two, or just, well, chat! There's threads for everyone.
    </p><br />

    <div style="text-align: center">
      <%= link_to main_app.thredded_path, class: 'btn white black-text' do %>
        View discussions
        <%
          unread_threads = Thredded::Topic
            .followed_by(current_user)
            .unread(current_user)
            .count

          private_messages = Thredded::PrivateTopic
            .for_user(current_user)
            .unread(current_user)
            .count
        %>
        <% if unread_threads > 0 || private_messages > 0 %>
          <span class="badge <%= 'blue white-text' if private_messages > 0 %>" style="margin-top: 7px">
            <%= unread_threads %><%= "/#{private_messages}" if private_messages > 0 %>
          </span>
        <% end %>
      <% end %>
    </div>
    <br />

  </div>
</div>
