<%= render partial: 'documents/analysis/sections/general',      locals: { document: document, analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/length',       locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/time_to_read', locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/readability',  locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/entities',     locals: { analysis: analysis } if analysis.document_entities.any? %>
<%= render partial: 'documents/analysis/sections/sentiment',    locals: { analysis: analysis } %>
<%# render partial: 'documents/analysis/sections/style',        locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/concepts',     locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/categories',   locals: { analysis: analysis } %>

<div class="row">
  <div class="col s12">
    <h5 class="grey-text">Dive deeper</h5>
  </div>
  <div class="col s12 m12 l4">
    <%= link_to analysis_readability_document_path(@document) do %>
      <div class="hoverable card-panel orange lighten-2 black-text">
        Explore
        <div style="font-size: 2em">
          Readability
          <i class="material-icons right">search</i>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12 m12 l4">
    <%= link_to analysis_style_document_path(@document) do %>
      <div class="hoverable card-panel orange lighten-2 black-text">
        Explore
        <div style="font-size: 2em">
          Style
          <i class="material-icons right">search</i>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12 m12 l4">
    <%= link_to analysis_sentiment_document_path(@document) do %>
      <div class="hoverable card-panel orange lighten-2 black-text">
        Explore
        <div style="font-size: 2em">
          Sentiment
          <i class="material-icons right">search</i>
        </div>
      </div>
    <% end %>
  </div>
</div>