<%= render partial: 'documents/analysis/sections/general',      locals: { document: document, analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/length',       locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/time_to_read', locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/readability',  locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/entities',     locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/sentiment',   locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/style',        locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/concepts',     locals: { analysis: analysis } %>
<%= render partial: 'documents/analysis/sections/categories',   locals: { analysis: analysis } %>


<!-- <h5>Plot</h5>
<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <div class="card-title">Emotions per page</div>
        <%= line_chart([
          { name: 'Joy',       data: (1..10).map { |i| [i, 3 * Math.sin(i).abs * rand(2)] }, color: 'green'},
          { name: 'Anger',     data: (1..10).map { |i| [i, 3 * Math.sin(1 + i).abs * rand(2)] }, color: 'red'},
          { name: 'Sadness',   data: (1..10).map { |i| [i, 3 * Math.sin(-1 + i).abs * rand(2)] }, color: 'blue'},
          { name: 'Fear',      data: (1..10).map { |i| [i, 3 * Math.cos(i).abs * rand(2)] }, color: 'black'},

        ]) %>
      </div>
    </div>
  </div> -->

  <!--
  <% 10.times do |i| %>
    <% emotion = %w(sad scary happy angry)[rand(4)] %>
    <% emotion_color = { 'sad' => 'blue', 'scary' => 'orange', 'happy' => 'green', 'angry' => 'red' } %>
    <div class="col s12 m3">
      <div class="card <%= emotion_color[emotion] %> lighten-5">
        <div class="card-content">
          <div class="card-title">Chapter <%= 1 + i %></div>
          <%= %w(somewhat very)[rand(2)].titleize %> <%= emotion %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <div class="card-title">Pages per chapter</div>
          <%=
            timeline [
              ["Chapter 1", 0, 3],
              ["Chapter 2", 3, 9],
              ["Chapter 3", 9, 20],
              ["Chapter 4", 20, 22],
              ["Chapter 5", 22, 50],
              ["Chapter 6", 50, 57]
            ]
          %>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- <h5>Characters</h5>
<div class="row">
  <div class="col s12">
    <div class="card green lighten-3">
      <div class="card-content">
        <div class="card-title">Page presence</div>
        <%=
          timeline([
            ["Alice Yellowbottom", 1, 10 + rand(10)],
            ["Alice Yellowbottom", 20, 20 + rand(10)],
            ["Bob Zebracakes", 1 + rand(10), 10 + rand(10)],
            ["Bob Zebracakes", 20 + rand(10), 30 + rand(10)],
            ["Carol Anderson", 5 + rand(10), 20 + rand(10)],
            ["David Butters", 10 + rand(10), 20 + rand(10)],
            ["Ethan Coolridge", 1 + rand(10), 12 + rand(7)],
            ["Ethan Coolridge", 15 + rand(10), 20 + rand(10)],
            ["Fred Danvers", 20 + rand(10), 35],
            ["Fred Danvers", 1 + rand(10), 10 + rand(5)],
          ])
        %>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card green lighten-5">
      <div class="card-content">
        <div class="card-title">Number of pages each character is on</div>
        <p>
          <%=
            pie_chart({
              'Alice Yellowbottom' => 33,
              'Bob Zebracakes' => 19,
              'Carol Anderson' => 12,
              'David Butters' => 10,
              'Ethan Coolridge' => 15,
              'Fred Danvers' => 14
            })
          %>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card green lighten-5">
      <div class="card-content">
        <div class="card-title">Main characters</div>
        <p>
          Based on their frequency in appearing in <%= document.title %>, the following characters are ordered by importance.
        </p>

        <ul class="collection" style='border: 0'>
          <% 3.times do %>
            <li class="collection-item avatar green lighten-5">
              <i class="material-icons circle <%= Character.color %>">
                <%= Character.icon %>
              </i>
              <%= link_to 'Alice Yellowbottom', '#', class: 'title' %>
              <p>Main character</p>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div> -->
