<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h5>Length</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card <%= Document.color %>">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.word_count %></h5>
          Words
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %>">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.page_count %></h5>
          Pages <%# todo proper optional pluralization %>
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 m2">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.paragraph_count %></h5>
          Paragraphs
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.sentence_count %></h5>
          Sentences
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.character_count %></h5>
          Letters
        </span>
      </div>
    </div>
  </div>
</div>

<h5>Time to read</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card orange darken-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= distance_of_time_in_words(analysis.word_count / 200.0 * 60, 0, include_seconds: true) %>
          </h5>
          Average reader
          <div><small>at 200 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= pluralize (analysis.word_count / 100.0).round, 'minute' %>
          </h5>
          Slow reader
          <div><small>at 100 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= pluralize (analysis.word_count / 300.0).round, 'minute' %>
          </h5>
          Fast reader
          <div><small>at 300 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= pluralize (analysis.word_count / 400.0).round, 'minute' %>
          </h5>
          Speed reader
          <div><small>at 400 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
</div>

<h5>Ease of reading</h5>
<div class="row">
  <div class="col s12 m6">
    <div class="green card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m3 white-text center">
            <h2><%= analysis.readability_score %></h2>
            READABILITY
          </div>
          <div class="col s12 m9">
            <h4>
              <% Documents::Analysis::ReadabilityService.readability_score_category(analysis.readability_score) %>
            </h4>
            <p>
              <%= Documents::Analysis::ReadabilityService.readability_score_text(analysis) %>
            </p>
          </div>
        </div>
      </div>
      <div class="card-action green lighten-1">
        <a class="activator blue-text text-darken-4">
          How is this calculated?
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          Readability scales
          <i class="material-icons right">close</i>
        </span>
        <p>
          In order to provide you with a generalized score in Notebook.ai, we compute
          several of the most well-known readability scores on your text and average
          them together. You can see the original scores per readability test by clicking
          "show more readability statistics".
        </p>
        <ul>
          <li>Flesch-Kincaid grade level: <%= analysis.flesch_kincaid_grade_level.round %></li>
          <li>Flesch-Kincaid age minimum: <%= analysis.flesch_kincaid_age_minimum.round %></li>
          <li>Flesch-Kincaid reading ease: <%= analysis.flesch_kincaid_reading_ease.round %></li>
          <li>Forcast grade level: <%= analysis.forcast_grade_level.round %></li>
          <li>Coleman liau index: <%= analysis.coleman_liau_index.round %></li>
          <li>Automated readability index: <%= analysis.automated_readability_index.round %></li>
          <li>Gunning fog index: <%= analysis.gunning_fog_index.round %></li>
          <li>Combined average reading level: <%= analysis.combined_average_reading_level.round %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="green card lighten-3">
      <div class="card-content">
        <%# TODO: Tips from highest/lowest readability scores %>
        To increase your readability further, try using shorter sentences.
      </div>
    </div>
  </div>

  <div class="col s12">
    <a href="#" class="hoverable btn btn-large teal lighten-1 white-text js-toggle-extended-readability-statistics">
      Show more readability statistics
    </a>
  </div>
</div>

<div class="extended-readability-statistics row animated">
  <%# TODO: Order these cards by % %>
  <%# TODO: Darken/lighten card based on % %>
  <div class="col s12 m3">
    <div class="card blue">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.adjective_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Adjectives
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-1">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.noun_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Nouns
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.verb_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Verbs
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.pronoun_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Pronouns
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.preposition_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Prepositions
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.conjunction_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Conjunctions
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.adverb_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Adverbs
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue lighten-1">
      <div class="card-content white-text center">
        <span class="card-title">
          <div class="white-text">
            <%= (analysis.determiner_count.to_f / analysis.word_count * 100).round(1) %>%
          </div>
          Determiners
        </span>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card blue lighten-3">
      <div class="card-content white-text">
        <div class="card-title">N-syllable words</div>
        <p>
          <%= column_chart(analysis.n_syllable_words) %>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue lighten-3">
      <div class="card-content white-text">
        <div class="card-title">Word variety</div>
        <p>
          <%= pie_chart({
            'Words used multiple times' => analysis.words_used_repeatedly_count,
            'Words used exactly once' => analysis.words_used_once_count
          }) %>
        </p>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          Why is this important?
        </a>
      </div>
      <div class="card-reveal">
        explanation
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue lighten-3">
      <div class="card-content white-text">
        <div class="card-title">Word complexity</div>
        <p>
          <%= pie_chart({
            'Simple words' => analysis.simple_words_count,
            'Complex words' => analysis.complex_words_count
            }) %>
        </p>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          What are simple/complex words?
        </a>
      </div>
      <div class="card-reveal">
        explanation
      </div>
    </div>
  </div>
</div>

<!-- <h5>Plot</h5>
<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <div class="card-title">Emotions per page</div>
        <%= line_chart([
          { name: 'Joy',       data: (1..10).map { |i| [i, 3 * Math.sin(i).abs * rand(2)] }, color: 'green'},
          { name: 'Anger',     data: (1..10).map { |i| [i, 3 * Math.sin(1 + i).abs * rand(2)] }, color: 'red'},
          { name: 'Sadness',   data: (1..10).map { |i| [i, 3 * Math.sin(-1 + i).abs * rand(2)] }, color: 'blue'},
          { name: 'Fear',      data: (1..10).map { |i| [i, 3 * Math.cos(i).abs * rand(2)] }, color: 'black'},

        ]) %>
      </div>
    </div>
  </div> -->

  <!--
  <% 10.times do |i| %>
    <% emotion = %w(sad scary happy angry)[rand(4)] %>
    <% emotion_color = { 'sad' => 'blue', 'scary' => 'orange', 'happy' => 'green', 'angry' => 'red' } %>
    <div class="col s12 m3">
      <div class="card <%= emotion_color[emotion] %> lighten-5">
        <div class="card-content">
          <div class="card-title">Chapter <%= 1 + i %></div>
          <%= %w(somewhat very)[rand(2)].titleize %> <%= emotion %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <div class="card-title">Pages per chapter</div>
          <%=
            timeline [
              ["Chapter 1", 0, 3],
              ["Chapter 2", 3, 9],
              ["Chapter 3", 9, 20],
              ["Chapter 4", 20, 22],
              ["Chapter 5", 22, 50],
              ["Chapter 6", 50, 57]
            ]
          %>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- <h5>Characters</h5>
<div class="row">
  <div class="col s12">
    <div class="card green lighten-3">
      <div class="card-content">
        <div class="card-title">Page presence</div>
        <%=
          timeline([
            ["Alice Yellowbottom", 1, 10 + rand(10)],
            ["Alice Yellowbottom", 20, 20 + rand(10)],
            ["Bob Zebracakes", 1 + rand(10), 10 + rand(10)],
            ["Bob Zebracakes", 20 + rand(10), 30 + rand(10)],
            ["Carol Anderson", 5 + rand(10), 20 + rand(10)],
            ["David Butters", 10 + rand(10), 20 + rand(10)],
            ["Ethan Coolridge", 1 + rand(10), 12 + rand(7)],
            ["Ethan Coolridge", 15 + rand(10), 20 + rand(10)],
            ["Fred Danvers", 20 + rand(10), 35],
            ["Fred Danvers", 1 + rand(10), 10 + rand(5)],
          ])
        %>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card green lighten-5">
      <div class="card-content">
        <div class="card-title">Number of pages each character is on</div>
        <p>
          <%=
            pie_chart({
              'Alice Yellowbottom' => 33,
              'Bob Zebracakes' => 19,
              'Carol Anderson' => 12,
              'David Butters' => 10,
              'Ethan Coolridge' => 15,
              'Fred Danvers' => 14
            })
          %>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card green lighten-5">
      <div class="card-content">
        <div class="card-title">Main characters</div>
        <p>
          Based on their frequency in appearing in <%= document.title %>, the following characters are ordered by importance.
        </p>

        <ul class="collection" style='border: 0'>
          <% 3.times do %>
            <li class="collection-item avatar green lighten-5">
              <i class="material-icons circle <%= Character.color %>">
                <%= Character.icon %>
              </i>
              <%= link_to 'Alice Yellowbottom', '#', class: 'title' %>
              <p>Main character</p>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div> -->

<h5>Style</h5>
<div class="row">
  <div class="col s12">
    <div class="purple card lighten-5">
      <div class="card-content" style="overflow: auto">
        <div class="card-title">Words per sentence</div>
        <div style="width: 30000px;">
          <%= line_chart((1..analysis.sentence_count).to_a.zip(analysis.words_per_sentence), library: { chart: { zoomType: 'x' } }) %>
        </div>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          How to read this chart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          Words per sentence
          <i class="material-icons right">close</i>
        </span>
        <p>
          Sentence length can be a powerful tool in your writing, and you should
          use it purposefully. Longer sentences can lure a reader in, while shorter,
          more stacatto sentences keep that attention with fast-paced action.
        </p>
        <p>
          This chart shows the length, in words, of each sentence through your
          document. Groups of shorter sentences likely read faster, while groups
          of longer sentences may be dense or hard to read.
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $('.extended-readability-statistics').css('display', 'none');
  $('.extended-readability-statistics').toggleClass('fadeOut');
  $('.js-toggle-extended-readability-statistics').click(function (e) {
    var extended_section = $('.extended-readability-statistics');
    var visible = extended_section.is(':visible');
    var new_button_verb = visible ? 'Show' : 'Hide';

    extended_section.toggleClass('fadeIn');
    extended_section.toggleClass('fadeOut');
    extended_section.css('display', visible ? 'none' : 'block');

    $(this).text(new_button_verb + ' more readability statistics');

    e.stopPropagation();
    return false;
  });
})
</script>
