<p id="notice"><%= notice %></p>

<h1>User Blockings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_blockings.each do |user_blocking| %>
      <tr>
        <td><%= link_to 'Show', user_blocking %></td>
        <td><%= link_to 'Edit', edit_user_blocking_path(user_blocking) %></td>
        <td><%= link_to 'Destroy', user_blocking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Blocking', new_user_blocking_path %>
