<div class="shadow-lg bg-notebook-blue text-white w-full flex justify-between sticky top-0 z-50 py-1 px-1">

  <div>
    <%= link_to root_path, class: 'hover:text-blue-100 mr-3' do %>
      <%# image_tag 'logos/book-small.webp', class: 'h-8 px-1 float-left mr-3 bg-white rounded-full' %>
      <i class="material-icons pt-2 ml-4">dashboard</i>

      <span class="pl-1 text-3xl font-bold">
        Notebook.ai
      </span>
    <% end %>

    <%= link_to '#', class: "relative -top-1 px-3 py-1 text-xl #{Universe.text_color} bg-purple-100 hover:bg-purple-200 rounded-lg" do %>
      This Great Universe
    <% end %>
  </div>

  <div>
    <div x-data="{ notificationsDropdownOpen: false }" class="inline-block">
      <button @click="notificationsDropdownOpen = !notificationsDropdownOpen" class="relative top-2 z-10 block mx-2 border border-notebook-blue hover:border-white rounded-full">
        <svg class="h-6 w-6 text-white animate-pulse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
        </svg>
      </button>

      <div x-show="notificationsDropdownOpen" @click="notificationsDropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

      <div x-show="notificationsDropdownOpen" class="absolute right-8 bg-white rounded-md shadow-lg overflow-hidden z-20 w-2/5">
        <ul id='notifications-dropdown' class='dropdown-content hidden'>
          <% @user_notifications.each do |notification| %>
            <li class="<%= 'unread-notification' unless notification.viewed_at? %>">
              <%= link_to main_app.notification_path(notification), class: 'notification-link' do %>
                <i class="material-icons <%= notification.icon_color %>-text"><%= notification.icon %></i>
                <%= notification.message_html.html_safe %>
                <div>
                  <small class="grey-text"><%= time_ago_in_words notification.happened_at %> ago</small>
                </div>
              <% end %>
            </li>
            <li class="divider"></li>
          <% end %>
          <li class="divider"></li>
          <li class="blue lighten-1">
            <%= link_to main_app.notifications_path, class: 'white-text' do %>
              <i class="material-icons left">notifications</i>
              View all notifications
            <% end %>
          </li>
          <li class="blue lighten-2">
            <%= link_to main_app.mark_all_read_path, class: 'white-text' do %>
              <i class="material-icons left">notifications_none</i>
              Mark all as read
            <% end %>
          </li>
        </ul>

        <div class="pt-2">
          <% @user_notifications.limit(8).each do |notification| %>
            <%= link_to main_app.notification_path(notification), class: 'flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2' do %>
              <i class="material-icons bg-<%= notification.icon_color %>-500 text-white rounded-full p-1 h-8 w-8 mx-1"><%= notification.icon %></i>                
              <div class="text-black text-sm mx-2 flex-grow">
                <%= notification.message_html.html_safe %>
              </div>
              <div class="text-gray-400 text-xs">
                <%= time_ago_in_words notification.happened_at %> ago
              </div>
            <% end %>
          <% end %>
        </div>
        <%= link_to main_app.mark_all_read_path, class: 'block bg-blue-100 hover:bg-blue-50 text-black text-center py-2' do %>
          Mark all notifications read
        <% end %>
        <%= link_to main_app.notifications_path, class: 'block bg-notebook-blue hover:bg-blue-500 text-white text-center font-bold py-2' do %>
          See all notifications
        <% end %>
      </div>
    </div>

    <div class="text-notebook-blue inline-block pr-1">
      <input class="border-2 border-gray-300 focus:border-notebook-blue bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
        type="search" name="search" placeholder="Search your notebook">
      <button type="submit" class="absolute right-0 top-0 mt-4 mr-4">
        <svg class="text-gray-600 hover:text-notebook-blue h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
          width="512px" height="512px">
          <path
            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
        </svg>
      </button>
    </div>
  </div>

  <!-- nav stuff -->

</div>

<script>
  setTimeout(function () { $('.profiler-results').hide(); }, 500);
</script>