<div class="text-white w-full h-14 flex justify-between fixed top-0 z-50 shadow-lg" style="background-color: <%= @navbar_color.presence || '#2196F3' %>">
  <%= link_to main_app.root_path, class: 'flex items-center mr-2 -mb-2 px-6 py-3 border-b border-gray-300 shadow hover:shadow-md transition bg-white hover:bg-gray-50 rounded-br-lg' do %>
    <%= image_tag 'logos/book-small.webp', class: 'h-8 mr-3' %>
    <span class="text-2xl font-bold text-notebook-blue tracking-wide">
      Notebook.ai
    </span>
  <% end %>
  <ul class="flex lg:mr-8">
    <li class="border-transparent border-b-2 hover:border-white text-sm">
      <%= link_to 'Sign in', main_app.new_user_session_path, class: 'relative block mt-1 py-4 px-2 lg:px-6 text-sm lg:text-base' %>
    </li>
    <li class="border-transparent border-b-2 hover:border-white text-sm">
      <%= link_to 'Sign up', main_app.new_user_registration_path, class: 'relative block mt-1 py-4 px-2 lg:px-6 text-sm lg:text-base' %>
    </li>
  </ul>
</div>
