<header class="flex sticky top-0 z-50 w-full border-b border-blue-400 h-14 shadow" style="background-color: <%= @navbar_color.presence || '#2196F3' %>">
  <%= link_to root_path, class: 'flex items-center mr-2 px-3 sm:px-6 py-4 border-b border-gray-300 shadow hover:shadow-md transition bg-white rounded-br-lg' do %>
    <%= image_tag 'logos/book-small.webp', class: 'h-6 sm:h-8 mr-2 sm:mr-3' %>
    <span class="text-lg sm:text-2xl font-bold text-notebook-blue tracking-wide">
      <span>Notebook.ai</span>
    </span>
  <% end %>

  <div x-cloak x-show="!showSidebar" class="lg:hidden">
    <span class="sr-only">Menu</span> 
    <div @click.stop="showSidebar = true" class="mt-2 mr-1 p-1 border-2 border-white border-opacity-30 hover:border-opacity-50 rounded-full transition-all duration-200">
      <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>

  <!-- left-hand side of navbar -->
  <% if user_signed_in? %>
    <div class="flex-grow pt-2 pl-1 hidden lg:block">
      <!-- Universe selector moved to sidebar -->
    </div>
  <% else %>
    <div class="flex-grow"></div>
  <% end %>

  <!-- right-hand side of navbar -->
  <div class="pr-2 flex items-center justify-end space-x-1 sm:space-x-2 ml-auto h-14" x-data="{ notificationsDropdownOpen: false, accountDropdownOpen: false }">
    <% if user_signed_in? %>
      <!-- Dynamic Autocomplete Search -->
      <div class="hidden md:inline-flex items-center relative" 
           x-data="searchAutocomplete()" 
           x-init="init()"
           @click.away="closeDropdown()">
        
        <input class="w-32 lg:w-48 xl:w-96 border-2 border-blue-400 text-notebook-blue focus:border-notebook-blue bg-white h-9 px-3 text-sm rounded focus:outline-none"
               type="search" 
               x-model="query"
               @input="handleInput()"
               @keydown="handleKeydown($event)"
               @focus="handleFocus()"
               placeholder="Search your notebook"
               autocomplete="off">
        
        <!-- Autocomplete Dropdown -->
        <div x-show="showDropdown" 
             x-transition:enter="transition ease-out duration-100"
             x-transition:enter-start="transform opacity-0 scale-95"
             x-transition:enter-end="transform opacity-100 scale-100"
             x-transition:leave="transition ease-in duration-75"
             x-transition:leave-start="transform opacity-100 scale-100"
             x-transition:leave-end="transform opacity-0 scale-95"
             class="absolute top-full left-0 right-0 mt-1 bg-white rounded-md shadow-lg border border-gray-200 z-50 max-h-80 overflow-y-auto">
          
          <!-- Help text when input is focused but empty -->
          <div x-show="query.length === 0" class="px-4 py-4 text-sm text-gray-600 bg-blue-50 border-b border-blue-100">
            <div class="flex items-start space-x-3">
              <i class="material-icons text-blue-500 text-lg">info</i>
              <div class="space-y-2">
                <div class="font-medium text-gray-800">Quick Search Tips:</div>
                <ul class="space-y-1 text-xs">
                  <li class="flex items-center">
                    <i class="material-icons text-xs mr-2 text-gray-400">keyboard</i>
                    Start typing to see your pages as suggestions
                  </li>
                  <li class="flex items-center">
                    <i class="material-icons text-xs mr-2 text-gray-400">mouse</i>
                    Click on any result to quickly navigate to it
                  </li>
                  <li class="flex items-center">
                    <i class="material-icons text-xs mr-2 text-gray-400">search</i>
                    Press Enter to search all content in your notebook
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <!-- Loading state -->
          <div x-show="loading && query.length >= 2" class="px-4 py-3 text-sm text-gray-500">
            <i class="material-icons text-sm animate-spin">refresh</i>
            Searching...
          </div>
          
          <!-- Results -->
          <template x-for="(result, index) in results" :key="result.id + '_' + result.type">
            <a :href="result.url" 
               class="flex items-center px-4 py-3 hover:bg-gray-50 border-b border-gray-100 last:border-b-0 transition-colors"
               :class="{ 'bg-blue-50': selectedIndex === index }"
               @mouseenter="selectedIndex = index">
              
              <i class="material-icons text-sm mr-3 rounded-full p-1 w-8 h-8 text-white flex items-center justify-center"
                 :style="`background-color: ${result.color}`"
                 x-text="result.icon"></i>
              
              <div class="flex-grow min-w-0">
                <div class="font-medium text-gray-900 truncate" x-text="result.name"></div>
                <div class="text-xs text-gray-500" x-text="result.type"></div>
              </div>
              
              <i class="material-icons text-gray-400 text-sm">arrow_forward</i>
            </a>
          </template>
          
          <!-- No results message -->
          <div x-show="!loading && results.length === 0 && query.length >= 2" 
               class="px-4 py-3 text-sm text-gray-500">
            No pages found matching "<span x-text="query"></span>"
          </div>
          
          <!-- Full search link -->
          <div x-show="query.length >= 2" 
               class="border-t border-gray-200 bg-gray-50">
            <a :href="`<%= main_app.search_path %>?q=${encodeURIComponent(query)}`" 
               class="flex items-center px-4 py-3 text-sm text-blue-600 hover:text-blue-800 hover:bg-gray-100 font-medium">
              <i class="material-icons text-sm mr-2">search</i>
              Search my notebook for "<span x-text="query"></span>"
            </a>
          </div>
        </div>
      </div>

      
      <div class="inline-flex items-center">
        <button @click="notificationsDropdownOpen = !notificationsDropdownOpen; accountDropdownOpen = false" class="z-10 block p-2 <%= @user_notifications.reject { |n| n.viewed_at? }.any? ? 'bg-yellow-500 border-yellow-400' : 'bg-white bg-opacity-20 border-white border-opacity-30' %> border-2 hover:bg-opacity-30 rounded-full transition-all duration-200">
          <svg class="h-5 w-5 sm:h-6 sm:w-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
          </svg>
        </button>
        <div x-show="notificationsDropdownOpen" @click="notificationsDropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

        <div x-show="notificationsDropdownOpen" class="absolute top-full right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20 w-80 sm:w-96 max-w-md">
          <div class="pt-2">
            <% @user_notifications.each do |notification| %>
              <%= link_to main_app.notification_path(notification), class: 'flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2' do %>
                <i class="material-icons bg-<%= notification.icon_color %>-500 text-white rounded-full p-1 h-8 w-8 mx-1"><%= notification.icon %></i>                
                <div class="text-black text-sm mx-2 flex-grow <%= 'font-bold' unless notification.viewed_at? %>">
                  <%= notification.message_html.html_safe %>
                </div>
                <div class="text-gray-400 text-xs hidden sm:block">
                  <%= time_ago_in_words notification.happened_at %> ago
                </div>
              <% end %>
            <% end %>
          </div>
          <% if @user_notifications.empty? %>
            <div class="relative block my-4 mx-6 border-2 border-gray-300 border-dashed rounded-lg p-8 sm:p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <svg class="mx-auto h-8 w-8 sm:h-12 sm:w-12 text-blue-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
              </svg>
              <span class="mt-2 block text-sm font-medium text-gray-900">
                Your notifications will appear here<br />
                <sub class="text-gray-500">..when you have any!</sub>
              </span>
            </div>
          <% end %>
          <%= link_to main_app.mark_all_read_path, class: 'block bg-blue-100 hover:bg-blue-50 text-black text-center py-2' do %>
            Mark all notifications read
          <% end %>
          <%= link_to main_app.notifications_path, class: 'block bg-notebook-blue hover:bg-blue-500 text-white text-center font-bold py-2' do %>
            See all notifications
          <% end %>
        </div>
      </div>

      <div class="inline-flex items-center">
        <button @click="accountDropdownOpen = !accountDropdownOpen; notificationsDropdownOpen = false" class="z-10 block p-1 bg-white bg-opacity-20 border-2 border-white border-opacity-30 hover:bg-opacity-30 hover:border-opacity-50 rounded-full transition-all duration-200">
          <%= image_tag current_user.image_url, class: 'rounded-full h-6 w-6 sm:h-8 sm:w-8' %>
        </button>
        <div x-show="accountDropdownOpen" @click="accountDropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

        <div x-show="accountDropdownOpen" class="absolute top-full right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20 w-64">
          <%= link_to current_user.profile_url, class: 'flex border-t p-2 border-b border-gray-300 shadow group hover:bg-notebook-blue hover:text-white' do %>
            <%= image_tag current_user.image_url(size=32), class: 'rounded-full h-12 w-12 sm:h-16 sm:w-16 mr-2 p-1 border-2 border-notebook-blue group-hover:border-green-500' %>
            <div class="m-auto ml-1">
              <div class="text-xs text-gray-500 group-hover:text-white">You're signed in as</div>
              <div class="text-sm <%= User.text_color %> group-hover:text-white font-bold">
                <%= current_user.display_name %>
              </div>
            </div>
          <% end %>

          <!--
          <%= link_to current_user.profile_url, class: 'flex items-center px-4 py-2 cursor-pointer group hover:bg-notebook-blue hover:text-white' do %>
            <i class="material-icons <%= User.text_color %> shrink-0 w-8 h-8 mr-2 bg-white rounded-full p-1"><%= User.icon %></i>
            <span class="flex-grow text-sm">Profile</span>
          <% end %>
          -->
          <%= link_to main_app.subscription_path, class: 'flex items-center px-4 py-2 cursor-pointer group hover:bg-notebook-blue hover:text-white' do %>
            <i class="material-icons text-notebook-blue shrink-0 w-8 h-8 mr-2 bg-white rounded-full p-1">credit_card</i>
            <span class="flex-grow text-sm">Billing</span>
            <span class="bg-notebook-blue text-white rounded px-1 text-xs group-hover:bg-orange-500">
              PREMIUM
            </span>
          <% end %>
          <%= link_to main_app.edit_user_registration_path, class: 'flex items-center px-4 py-2 cursor-pointer group hover:bg-notebook-blue hover:text-white border-b border-gray-300' do %>
            <i class="material-icons text-black shrink-0 w-8 h-8 mr-2 bg-white rounded-full p-1">settings</i>
            <span class="flex-grow text-sm">Settings</span>
          <% end %>
          <%= link_to main_app.data_vault_path, class: 'flex items-center px-4 py-2 cursor-pointer group hover:bg-notebook-blue hover:text-white' do %>
            <i class="material-icons text-brown-600 shrink-0 w-8 h-8 mr-2 bg-white rounded-full p-1">lock</i>
            <span class="flex-grow text-sm">Data Vault</span>
          <% end %>
          <%= link_to main_app.help_center_path, class: 'flex items-center px-4 py-2 cursor-pointer group hover:bg-notebook-blue hover:text-white border-b border-gray-300' do %>
            <i class="material-icons text-pink-400 shrink-0 w-8 h-8 mr-2 bg-white rounded-full p-1">help</i>
            <span class="flex-grow text-sm">Help Center</span>
          <% end %>
          <%= link_to main_app.destroy_user_session_path, class: 'flex items-center px-4 py-2 cursor-pointer group hover:bg-notebook-blue hover:text-white' do %>
            <i class="material-icons text-black shrink-0 w-8 h-8 mr-2 bg-white rounded-full p-1">power_settings_new</i>
            <span class="flex-grow text-sm">Sign Out</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</header>

<script>
function searchAutocomplete() {
  return {
    query: '',
    results: [],
    loading: false,
    showDropdown: false,
    selectedIndex: -1,
    debounceTimer: null,
    
    init() {
      // Initialize with any existing query parameter
      const urlParams = new URLSearchParams(window.location.search);
      const q = urlParams.get('q');
      if (q) {
        this.query = q;
      }
    },
    
    handleInput() {
      clearTimeout(this.debounceTimer);
      
      if (this.query.length < 2) {
        this.results = [];
        this.showDropdown = false;
        return;
      }
      
      this.debounceTimer = setTimeout(() => {
        this.fetchResults();
      }, 300); // 300ms debounce
    },
    
    handleFocus() {
      this.showDropdown = true;
      if (this.query.length >= 2 && this.results.length === 0) {
        this.fetchResults();
      }
    },
    
    handleKeydown(event) {
      if (!this.showDropdown) return;
      
      switch(event.key) {
        case 'ArrowDown':
          event.preventDefault();
          this.selectedIndex = Math.min(this.selectedIndex + 1, this.results.length - 1);
          break;
          
        case 'ArrowUp':
          event.preventDefault();
          this.selectedIndex = Math.max(this.selectedIndex - 1, -1);
          break;
          
        case 'Enter':
          event.preventDefault();
          if (this.selectedIndex >= 0 && this.results[this.selectedIndex]) {
            // Navigate to selected result
            window.location.href = this.results[this.selectedIndex].url;
          } else {
            // Fall back to full search results page
            window.location.href = `<%= main_app.search_path %>?q=${encodeURIComponent(this.query)}`;
          }
          break;
          
        case 'Escape':
          this.closeDropdown();
          event.target.blur();
          break;
      }
    },
    
    closeDropdown() {
      this.showDropdown = false;
      this.selectedIndex = -1;
    },
    
    async fetchResults() {
      if (this.query.length < 2) return;
      
      this.loading = true;
      this.showDropdown = true;
      
      try {
        const response = await fetch(`<%= main_app.search_autocomplete_path %>?q=${encodeURIComponent(this.query)}`, {
          headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
          }
        });
        
        if (response.ok) {
          this.results = await response.json();
          this.selectedIndex = -1; // Reset selection when new results arrive
        } else {
          console.error('Autocomplete request failed:', response.status);
          this.results = [];
        }
      } catch (error) {
        console.error('Autocomplete error:', error);
        this.results = [];
      } finally {
        this.loading = false;
      }
    }
  }
}
</script>