<div class="flex flex-wrap gap-2">
  <% field[:value].each do |link_code| %>
    <% klass, id = link_code.split('-') %>
    <% content = resolve_link_content(klass, id) %>

    <span data-klass="<%= klass %>" data-id="<%= id %>"
          class="<%= 'js-load-page-name' if content.nil? %> inline-flex items-center px-2.5 py-0.5 rounded-md font-medium bg-gray-100 dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 text-gray-800 dark:text-gray-200">
      <%= link_to send("#{klass.downcase}_path", id) do %>
        <span class="<%= content_class_from_name(klass).text_color %>">
          <i class="material-icons float-left mr-2"><%= content_class_from_name(klass).icon %></i>
        </span>
        <%= content.try(:name) || "<em>Loading #{klass}</em>".html_safe %>
      <% end %>
    </span>
  <% end %>
</div>
