<h5 class="grey-text">Entities</h5>
<div class="row">
  <% analysis.document_entities.order('entity_type').each do |entity| %>
    <% entity_class = entity.entity_type.constantize %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%# todo page image if matched to a page + images exist %>
          <%= image_tag 'card-headers/' + entity_class.name.downcase.pluralize + '.jpg', class: 'activator' %>
        </div>
        <div class="card-content">
          <span class="card-title activator <%= entity_class.color %>-text">
            <i class="material-icons left"><%= entity_class.icon %></i>
            <%= entity.text %>
            <i class="material-icons right black-text">more_vert</i>
          </span>
          <p>
            Relevance: <%= entity.relevance %>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title <%= entity_class.color %>-text">
            <i class="material-icons left"><%= entity_class.icon %></i>
            <%= entity.text %>
            <i class="material-icons right black-text">close</i>
          </span>
          <div id="graph-character-emotions-<%= entity.id %>"></div>
          <ul class="help-text">
            <li>Sentiment: <%= entity.sentiment_label %> (<%= entity.sentiment_score %>)</li>
            <li>Joy: <%= entity.joy_score %></li>
            <li>Sadness: <%= entity.sadness_score %></li>
            <li>Fear: <%= entity.fear_score %></li>
            <li>Disgust: <%= entity.disgust_score %></li>
            <li>Anger: <%= entity.anger_score %></li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#" class="<%= entity_class.color %>-text">View Notebook.ai page</a>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */
        ////////////////////////////////////////////////////////////// 
        //////////////////////// Set-Up ////////////////////////////// 
        ////////////////////////////////////////////////////////////// 

        var margin = {top: 100, right: 100, bottom: 100, left: 100},
          width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
          height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
            
        ////////////////////////////////////////////////////////////// 
        ////////////////////////// Data ////////////////////////////// 
        ////////////////////////////////////////////////////////////// 

        var data = [
              [//iPhone
              {axis:"Battery Life",value:0.22},
              {axis:"Brand",value:0.28},
              {axis:"Contract Cost",value:0.29},
              {axis:"Design And Quality",value:0.17},
              {axis:"Have Internet Connectivity",value:0.22},
              {axis:"Large Screen",value:0.02},
              {axis:"Price Of Device",value:0.21},
              {axis:"To Be A Smartphone",value:0.50}			
              ],[//Samsung
              {axis:"Battery Life",value:0.27},
              {axis:"Brand",value:0.16},
              {axis:"Contract Cost",value:0.35},
              {axis:"Design And Quality",value:0.13},
              {axis:"Have Internet Connectivity",value:0.20},
              {axis:"Large Screen",value:0.13},
              {axis:"Price Of Device",value:0.35},
              {axis:"To Be A Smartphone",value:0.38}
              ],[//Nokia Smartphone
              {axis:"Battery Life",value:0.26},
              {axis:"Brand",value:0.10},
              {axis:"Contract Cost",value:0.30},
              {axis:"Design And Quality",value:0.14},
              {axis:"Have Internet Connectivity",value:0.22},
              {axis:"Large Screen",value:0.04},
              {axis:"Price Of Device",value:0.41},
              {axis:"To Be A Smartphone",value:0.30}
              ]
            ];
        ////////////////////////////////////////////////////////////// 
        //////////////////// Draw the Chart ////////////////////////// 
        ////////////////////////////////////////////////////////////// 

        var color = d3.scalePoint()
          .range(["#EDC951","#CC333F","#00A0B0"]);
          
        var radarChartOptions = {
          w: width,
          h: height,
          margin: margin,
          maxValue: 0.5,
          levels: 5,
          roundStrokes: true,
          color: color
        };
        //Call function to draw the Radar chart
        RadarChart("#graph-character-emotions-<%= entity.id %>", data, radarChartOptions);

      });
    </script>

  <% end %>

  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <div id="graph-character-emotions"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  var emotions_chart = Highcharts.chart('graph-character-emotions', {
    chart: {
        polar: true,
        type: 'line'
    },
    title: {
        text: 'Ensemble emotional range'
    },
    xAxis: {
        categories: ['Joy', 'Sadness', 'Fear', 'Disgust', 'Anger'],
        tickmarkPlacement: 'on',
        lineWidth: 0
    },
    yAxis: {
        lineWidth: 0,
        min: 0,
        max: 100
    },
    legend: {
        align: 'right',
        verticalAlign: 'top',
        y: 70,
        layout: 'vertical'
    },

    series: [
      <% analysis.document_entities.where(entity_type: 'Character').each do |entity| %>
        {
          name: '<%= entity.text %>',
          data: <%=
            [
              (100 * entity.joy_score).round(1),
              (100 * entity.sadness_score).round(1),
              (100 * entity.fear_score).round(1),
              (100 * entity.disgust_score).round(1),
              (100 * entity.anger_score).round(1)
            ]
          %>,
          pointPlacement: 'on'
        },
      <% end %>
    ]
  });
})
</script>
