<h5 class="grey-text">Entities</h5>
<div class="row">
  <% analysis.document_entities.order('entity_type').each do |entity| %>
    <% entity_class = entity.entity_type.constantize %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%# todo page image if matched to a page + images exist %>
          <%= image_tag 'card-headers/' + entity_class.name.downcase.pluralize + '.jpg', class: 'activator' %>
        </div>
        <div class="card-content">
          <span class="card-title activator <%= entity_class.color %>-text">
            <i class="material-icons left"><%= entity_class.icon %></i>
            <%= entity.text %>
            <i class="material-icons right black-text">more_vert</i>
          </span>
          <p>
            Relevance: <%= entity.relevance %>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title <%= entity_class.color %>-text">
            <i class="material-icons left"><%= entity_class.icon %></i>
            <%= entity.text %>
            <i class="material-icons right black-text">close</i>
          </span>
          <div class="card-title">Emotional range</div>
          <div id="graph-character-emotions-<%= entity.id %>"></div>
          <ul class="help-text">
            <li>Sentiment: <%= entity.sentiment_label %> (<%= entity.sentiment_score %>)</li>
            <li>Joy: <%= entity.joy_score %></li>
            <li>Sadness: <%= entity.sadness_score %></li>
            <li>Fear: <%= entity.fear_score %></li>
            <li>Disgust: <%= entity.disgust_score %></li>
            <li>Anger: <%= entity.anger_score %></li>
          </ul>
        </div>
        <div class="card-action">
          <% if entity.entity_id %>
            <%= link_to polymorphic_path(entity_class.name.downcase, id: entity.entity_id), class: 'blue-text' do %>
              <i class="material-icons left"><%= entity_class.icon %></i>
              View <%= entity.text %>
            <% end %>
            <%= link_to edit_polymorphic_path(entity_class.name.downcase, id: entity.entity_id), class: 'green-text right' do %>
              <i class="material-icons left"><%= entity_class.icon %></i>
              Edit <%= entity.text %>
            <% end %>
          <% else %>
            <%= link_to new_polymorphic_path(entity_class, document_entity: entity.id), class: entity_class.color + '-text' do %>
              <i class="material-icons left">add</i>
              Create <%= entity.entity_type %> page for <%= entity.text %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        var data = [
          [
            { axis: "Joy",     value: <%= (100 * entity.joy_score).round(1) %> },
            { axis: "Sadness", value: <%= (100 * entity.sadness_score).round(1) %> },
            { axis: "Fear",    value: <%= (100 * entity.fear_score).round(1) %> },
            { axis: "Disgust", value: <%= (100 * entity.disgust_score).round(1) %> },
            { axis: "Anger",   value: <%= (100 * entity.anger_score).round(1) %> }
          ]
        ];
        ////////////////////////////////////////////////////////////// 
        //////////////////// Draw the Chart ////////////////////////// 
        ////////////////////////////////////////////////////////////// 

        var color = d3.scalePoint()
          .range(["#EDC951","#CC333F","#00A0B0"]);
          
        var radarChartOptions = {
          w: 400,
          h: 300,
          margin: {
            top: 50, 
            right: 0, 
            bottom: 20, 
            left: 10
          },
          maxValue: 100,
          levels: 4,
          roundStrokes: true,
          color: color
        };
        //Call function to draw the Radar chart
        RadarChart("#graph-character-emotions-<%= entity.id %>", data, radarChartOptions);

      });
    </script>

  <% end %>

  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Ensemble emotional range</div>
        <div id="graph-character-emotions"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    var data = [
      <% analysis.document_entities.where(entity_type: 'Character').each do |entity| %>
        [
          { axis: "Joy",     value: <%= (100 * entity.joy_score).round(1) %> },
          { axis: "Sadness", value: <%= (100 * entity.sadness_score).round(1) %> },
          { axis: "Fear",    value: <%= (100 * entity.fear_score).round(1) %> },
          { axis: "Disgust", value: <%= (100 * entity.disgust_score).round(1) %> },
          { axis: "Anger",   value: <%= (100 * entity.anger_score).round(1) %> }
        ],
      <% end %>
    ];
    ////////////////////////////////////////////////////////////// 
    //////////////////// Draw the Chart ////////////////////////// 
    ////////////////////////////////////////////////////////////// 

    var color = d3.scalePoint()
      .range(["#EDC951","#CC333F","#00A0B0"]);
      
    var radarChartOptions = {
      w: 400,
      h: 300,
      margin: {
        top:    100, 
        right:  100, 
        bottom: 100, 
        left:   100
      },
      levels: 4,
      maxValue: 100,
      roundStrokes: true,
      color: color,
      dotRadius: 2
    };
    RadarChart("#graph-character-emotions", data, radarChartOptions);
  });

</script>
