<h5 class="grey-text">Entities</h5>
<div class="row">
  <% analysis.document_entities.order('entity_type').each do |entity| %>
    <% entity_class = entity.entity_type.constantize %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%# todo page image if matched to a page + images exist %>
          <%= image_tag 'card-headers/' + entity_class.name.downcase.pluralize + '.jpg', class: 'activator' %>
        </div>
        <div class="card-content">
          <span class="card-title activator <%= entity_class.color %>-text">
            <i class="material-icons left"><%= entity_class.icon %></i>
            <%= entity.text %>
            <i class="material-icons right black-text">more_vert</i>
          </span>
          <p>
            Relevance: <%= entity.relevance %>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title <%= entity_class.color %>-text">
            <i class="material-icons left"><%= entity_class.icon %></i>
            <%= entity.text %>
            <i class="material-icons right black-text">close</i>
          </span>
          <div class="card-title">Emotional range</div>
          <div id="graph-character-emotions-<%= entity.id %>"></div>
          <ul class="help-text">
            <li>Sentiment: <%= entity.sentiment_label %> (<%= entity.sentiment_score %>)</li>
            <li>Joy: <%= entity.joy_score %></li>
            <li>Sadness: <%= entity.sadness_score %></li>
            <li>Fear: <%= entity.fear_score %></li>
            <li>Disgust: <%= entity.disgust_score %></li>
            <li>Anger: <%= entity.anger_score %></li>
          </ul>
        </div>
        <div class="card-action">
          <% if entity.entity_id %>
            <%= link_to polymorphic_path(entity_class.name.downcase, id: entity.entity_id), class: 'blue-text' do %>
              <i class="material-icons left"><%= entity_class.icon %></i>
              View <%= entity.text %>
            <% end %>
            <%= link_to edit_polymorphic_path(entity_class.name.downcase, id: entity.entity_id), class: 'green-text right' do %>
              <i class="material-icons left"><%= entity_class.icon %></i>
              Edit <%= entity.text %>
            <% end %>
          <% else %>
            <%= link_to new_polymorphic_path(entity_class, document_entity: entity.id), class: entity_class.color + '-text' do %>
              <i class="material-icons left">add</i>
              Create <%= entity.entity_type %>
            <% end %>
            <%= link_to '#', class: entity_class.color + '-text right js-link-entity', data: { id: entity.id } do %>
              <i class="material-icons left">link</i>
              Link <%= entity.entity_type %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        var data = [
          [
            { axis: "Joy",     value: <%= (100 * entity.joy_score).round(1) %> },
            { axis: "Sadness", value: <%= (100 * entity.sadness_score).round(1) %> },
            { axis: "Fear",    value: <%= (100 * entity.fear_score).round(1) %> },
            { axis: "Disgust", value: <%= (100 * entity.disgust_score).round(1) %> },
            { axis: "Anger",   value: <%= (100 * entity.anger_score).round(1) %> }
          ]
        ];
        ////////////////////////////////////////////////////////////// 
        //////////////////// Draw the Chart ////////////////////////// 
        ////////////////////////////////////////////////////////////// 

        var color = d3.scalePoint()
          .range(["#EDC951","#CC333F","#00A0B0"]);
          
        var radarChartOptions = {
          w: 400,
          h: 300,
          margin: {
            top: 50, 
            right: 0, 
            bottom: 20, 
            left: 10
          },
          maxValue: 100,
          levels: 4,
          roundStrokes: true,
          color: color
        };
        //Call function to draw the Radar chart
        RadarChart("#graph-character-emotions-<%= entity.id %>", data, radarChartOptions);

      });
    </script>

  <% end %>

  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Ensemble emotional range</div>
        <div id="graph-character-emotions"></div>
      </div>
    </div>
  </div>
</div>

<div id="entity-link-modal" class="modal">
  <div class="modal-content">
    <h4>Link an existing page you've created</h4>
    <p>
      You can link a detected entity to one of your already-created pages by selecting it below.
    </p>
    <%= form_with url: link_entity_documents_path do |f| %>
      <%= f.hidden_field :entity_type,        value: nil %>
      <%= f.hidden_field :entity_id,          value: nil %>
      <%= f.hidden_field :document_entity_id, value: nil %>

      <% @current_user_content.each do |content_type, content_list| %>
        <% content_type_class = content_type.constantize %>
        <% next if content_type == 'Document' %>
        <h5><%= content_type.pluralize %></h5>
        <ul class="collection">
          <% content_list.each do |content| %>
            <a href="#" 
               class="<%= content_type_class.color %>-text js-link-entity-selection" 
               data-id="<%= content.id %>"
               data-type="<%= content_type %>">
              <li class="collection-item">
                <i class="material-icons left"><%= content_type_class.icon %></i>
                <%= content.name %>
                <span class="secondary-content">
                  <i class="material-icons">link</i>
                </span>
              </li>
            </a>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    $('.js-link-entity').click(function () {
      $('#entity-link-modal').find('input[name=document_entity_id]').val($(this).data('id'));

      $('#entity-link-modal').modal('open');

      return false;
    });

    $('.js-link-entity-selection').click(function () {
      var entity = $(this);
      var form   = $(this).closest('form');

      form.find('input[name=entity_id]').val(entity.data('id'));
      form.find('input[name=entity_type]').val(entity.data('type'));
      
      form.submit();
      return false;
    });

    var data = [
      <% analysis.document_entities.where(entity_type: 'Character').each do |entity| %>
        [
          { axis: "Joy",     value: <%= (100 * entity.joy_score).round(1) %> },
          { axis: "Sadness", value: <%= (100 * entity.sadness_score).round(1) %> },
          { axis: "Fear",    value: <%= (100 * entity.fear_score).round(1) %> },
          { axis: "Disgust", value: <%= (100 * entity.disgust_score).round(1) %> },
          { axis: "Anger",   value: <%= (100 * entity.anger_score).round(1) %> }
        ],
      <% end %>
    ];
    ////////////////////////////////////////////////////////////// 
    //////////////////// Draw the Chart ////////////////////////// 
    ////////////////////////////////////////////////////////////// 

    var color = d3.scalePoint()
      .range(["#EDC951","#CC333F","#00A0B0"]);
      
    var radarChartOptions = {
      w: 400,
      h: 300,
      margin: {
        top:    100, 
        right:  100, 
        bottom: 100, 
        left:   100
      },
      levels: 4,
      maxValue: 100,
      roundStrokes: true,
      color: color,
      dotRadius: 2
    };
    RadarChart("#graph-character-emotions", data, radarChartOptions);
  });

</script>
