<h5>Length</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card <%= Document.color %>">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.word_count %></h5>
          Words
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card <%= Document.color %>">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.page_count %></h5>
          Pages <%# todo proper optional pluralization %>
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 m2">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.paragraph_count %></h5>
          Paragraphs
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.sentence_count %></h5>
          Sentences
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card <%= Document.color %> lighten-3">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text"><%= number_with_delimiter analysis.character_count %></h5>
          Letters
        </span>
      </div>
    </div>
  </div>
</div>
