<ul class="collapsible popout" data-collapsible="accordion">
	<% @content.class.attribute_categories.each do |category, data| %>
	  <li>
	    <div class="collapsible-header <%= 'active' if category == @content.class.attribute_categories.first.first %>">
	      <i class="material-icons"><%= data[:icon] %></i>
	      <%= category.to_s.humanize.capitalize %>
	    </div>
	    <div class="collapsible-body">
	      <table class="highlight">
			<% data[:attributes].each do |attribute| %>
			    <div class="input-field col s12">
			        <%= f.text_field attribute %>
			        <label for="<%= attribute %>"><%= attribute.humanize.capitalize %></label>
			    </div>
			<% end %>
	      </table>
	    </div>
	  </li>
	<% end %>
</ul>