<% title @content.name %>

<% content_for :sidebar_top do %>
  <%= render partial: 'cards/serendipitous/content_question', locals: { question: @question, content: @content } %>
<% end %>

<div class="row">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <div class="card-title center">
          <span class="<%= content.class.color %>-text"><i class="material-icons right"><%= content.class.icon %></i></span>
          <a href="#" title="Share" class="share <%= content.class.color %>-text"><i class="material-icons right">share</i></a>
          <%= content.name %>
        </div>
        <ul class="tabs">
          <% content.class.attribute_categories.each do |category, data| %>
            <li class="tab col s3 <%= "disabled" unless data[:attributes].any? { |m| content.send(m).present? } %>"><a href="#<%= category %>"><%= category.to_s.humanize %></a></li>
          <% end %>
        </ul>
        <% content.class.attribute_categories.each do |category, data| %>
          <div id="<%= category %>" class="row">
            <% data[:attributes].each do |attribute| %>
              <% next if attribute.start_with?("private") && @content.user != current_user %>
              <div class="row">
                <div class="col s6 m6 l6 right-align flow-text grey-text"><%= attribute.humanize.capitalize %></div>

                <% value = content.send(attribute) %>
                <% if value.is_a?(ActiveRecord::Associations::CollectionProxy) %>
                  <% klass = value.first.class || value.build.class %>
                  <div class="col s6 m6 l6 flow-text">
                    <% value.each do |li| %>
                      <div class="chip">
                        <%= link_to li do %>
                          <span class="<%= klass.color %>-text"><i class="material-icons left"><%= klass.icon %></i></span>
                          <%= li.name %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% elsif attribute == 'universe_id' %>
                  <div class="col s6 m6 l6 flow-text">
                    <%= link_to content.universe.name, content.universe if content.universe %>
                  </div>
                <% else %>
                  <%# TODO: if text is > 240, truncate and add "Read more" link that opens modal %>
                  <div class="col s6 m6 l6 <%= "flow-text" unless value.to_s.length > 140 %>">
                    <%= simple_format(value, class: 'long-form') %>&nbsp;
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="card-action center">
        <%= yield :content_show_footer %>

        <% if current_user == content.user %>
          <%= link_to "Edit this #{content.class.to_s.downcase}", edit_polymorphic_path(@content), class: 'btn' %>
        <% elsif content.user.name.present? %>
          <%= content.user.name %> created and maintains this universe on Notebook.ai.<br />
          <%= link_to "See more from #{content.user.name}", content.user %>
          <%= link_to "Create your own universe.", root_url %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'content/share', locals: { shared_content: @content} %>
