<h4><%= content.name %></h4>
<ul class="collapsible popout" data-collapsible="accordion">

<% content.class.attribute_categories.each do |category, data| %>
  <li>
    <div class="collapsible-header <%= 'active' if category == content.class.attribute_categories.first.first %>">
      <i class="material-icons"><%= data[:icon] %></i>
      <%= category.to_s.humanize.capitalize %>
    </div>
    <div class="collapsible-body">
      <table class="highlight">
        <% data[:attributes].each do |attribute| %>
          <tr>
            <td><%= attribute.humanize.capitalize %></td>
            <td><%= content.send attribute %></td>
        <% end %>
      </table>
    </div>
  </li>
<% end %>

</ul>