<% content_for :sidebar_top do %>
  <%= render partial: 'cards/serendipitous/content_question', locals: { question: @question, content: @questioned_content } %>
<% end %>

<h4>You've created <%= @content.count %> <%= @content.build.class.name.downcase.pluralize %></h4>
<%= render partial: 'content/list/list', locals: { content_list: @content } %>
<%= link_to "Create another #{@content.build.class.name.downcase}", new_polymorphic_path(@content.build), :class => 'btn' %>
