<div class="row">
  <%= form_for @content, multipart: true do |form| %>
    <div class="col s12 m9">
      <div class="hoverable card">
        <div class="card-image">
          <%= render partial: 'content/display/image_card_header' %>
          <%= render partial: 'content/display/floating_action_buttons', locals: { creating: true } %>
        </div>
        <%= render partial: 'content/form', locals: { f: form, content: @content } %>
      </div>
    </div>

    <div class="col s12 m3">
      <%= render partial: 'content/display/sidelinks', locals: { creating: true, content: @content } %>
    </div>
  <% end %>
</div>

<% if @content.persisted? %>
  <%= render partial: 'content/share', locals: { shared_content: @content} %>
<% end %>
