<%= content_for :full_width_page_header do %>
  <%= render partial: 'content/display/image_card_header' %>
<% end %>

<div class="row flex">
  <div class="col s12 m3">
    <div class="sticky-below-navbar">
      <%=
        render partial: 'content/display/sideactions', 
          locals: { 
            creating: true, 
            editing:  false,
            content: @content
          } 
      %>
      <%=
        render partial: 'content/display/sidelinks', 
          locals: { 
            creating: true, 
            content: @content
          } 
      %>
    </div>
  </div>

  <div class="col s12 m9">
    <%= render partial: 'content/form', locals: { content: @content } %>
  </div>
</div>

<script type="text/javascript">
  DISABLE_KEYBOARD_SHORTCUTS = true;
</script>

<%= render partial: 'javascripts/content_linking_alpine' %>