<% if @content.present? && @content.respond_to?(:as_jsonld) %>
<script type="application/ld+json">
  <%= @content.as_jsonld.to_json.html_safe %>
</script>
<% end %>

<% set_meta_tags title: content.name, description: content.description %>
<%# TODO: Check if <content type>/_meta exists and render it here if so %>

<div class="row">
  <div class="col s9">
    <div class="hoverable card">
      <div class="card-image">
        <%= render partial: 'content/display/image_card_header' %>
        <%= render partial: 'content/display/floating_action_buttons', locals: { editing: false } %>
      </div>

      <div class="card-content">
        <% @categories.each do |category| %>
          <div id="<%= category.name %>_panel" class="row panel">
            <% category.page_fields.each do |page_field| %>
              <% if page_field.name.start_with?("private_") %>
                <% # todo use permissions here %>
                <% next unless user_signed_in? && (
                   (content.is_a?(Universe) && content.user == current_user) ||
                   (content.respond_to?(:universe) && content.universe      && content.universe.user == current_user) ||
                   (content.respond_to?(:universe) && content.universe.nil? && content.user == current_user)
                 )
                %>
              <% end %>

              <%
                page_field_value = page_field.page_field_values.find_or_create_by(page_id: @content.id)
                next if page_field_value.value.blank?
                value = page_field_value.value
              %>

              <div class="row">
                <div class="col s3 m3 l3 right-align grey-text">
                  <%= page_field.label %>
                </div>
                <% if page_field.name == 'universe_id' %>
                  <div class="col s9 m9 l9">
                    <%= link_to content.universe.name, content.universe if content.universe %>
                  </div>
                <% else %>
                  <div class="col s9 m9 l9 markdownable">
                    <%= value %>
                    <%=
                      ContentFormatterService.show(
                        text: value,
                        viewing_user: current_user
                      )
                      %>&nbsp;
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div id="gallery_panel" class="row panel">
            <div>
              <%= render partial: 'content/form/images/gallery', locals: { content: content } %>
            </div>
          </div>

          <div id="changelog_panel" class="row panel">
            <div>
              <%= render partial: 'content/display/changelog', locals: { content: content } %>
            </div>
          </div>

          <% if @content.is_a?(Universe) %>
            <div id="contributors_panel" class="row panel">
              <div>
                <%= render partial: 'content/display/contributors', locals: { content: content } %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if current_user.nil? || current_user.id != @content.user_id && (@content.respond_to?(:universe) && @content.universe && @content.universe.user_id != current_user.id) %>
        <div class="card-action center">
          <p>
            This <%= @content.class.name.downcase %> was created by <%= @content.user.name %> on Notebook.ai<% if @content.is_a?(Universe) && @content.contributors.any? %> with <%= pluralize @content.contributors.count, 'contributor' %><% end %>.
          </p>
          <%= link_to "See more from #{@content.user.name}", @content.user %>
          <%= link_to "Create your own universe", root_url %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col s3">
    <%= render partial: 'content/display/sidelinks' %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({
      height: 200,
      indicators: false
    });
  });
</script>

<%= render partial: 'content/share', locals: { shared_content: @content} %>
<%= render partial: 'attribute_fields/modal', locals: { content: @content, safe_mode: true } if user_signed_in? %>

<div class="row">
  <% if @content.is_a?(Universe) %>
    <%= render partial: 'content/contexts/universe', locals: { content: @content } %>
  <% end %>
</div>
