<% set_meta_tags title: content.name, description: content.description %>
<%# TODO: Check if <content type>/_meta exists and render it here if so %>

<% categories = @content.class.attribute_categories(@content.user) %>
<div class="row">
  <div class="col s9">
    <div class="hoverable card">
      <div class="card-image">
        <%= render partial: 'content/display/image_card_header' %>
        <%= render partial: 'content/display/floating_action_buttons', locals: { editing: false } %>
      </div>

      <div class="card-content">
        <% categories.each do |category| %>
          <%= render partial: 'content/display/category_panel', locals: { content: content, category: category } %>
        <% end %>
      </div>

      <%= render partial: 'content/display/visitor_cta', locals: { content: @content } %>
    </div>

  </div>

  <div class="col s3">
    <%= render partial: 'content/display/sidelinks', locals: { categories_cache: categories, content: @content } %>
  </div>
</div>

<%= content_for :javascript do %>
  $(document).ready(function(){
    $('.slider').slider({
      height: 200,
      indicators: false
    });
  });
<% end %>

<%= render partial: 'content/share', locals: { shared_content: @content} %>

<div class="row">
  <% if @content.is_a?(Universe) %>
    <%= render partial: 'content/contexts/universe', locals: { content: @content } %>
  <% else %>
    <%= render partial: "content/contexts/dynamic", locals: { content: @content } %>
  <% end %>
</div>
