<%= render partial: 'content/tailwind_components/content_image_header', locals: { content: @serialized_content } %>

<div class="relative min-h-full flex flex-col">
  <!-- 3 column wrapper -->
  <div class="flex-grow w-full lg:flex min-h-screen">
    <!-- Left sidebar & main wrapper -->
    <div class="flex-1 min-w-0 bg-white xl:flex px-6">
      <% if @serialized_content.class_name == Universe.name %>
        <%= render partial: 'content/tailwind_components/universe_context_sidenav', locals: { content: @serialized_content } %>
      <% else %>
        <%= render partial: 'content/tailwind_components/content_context_sidenav', locals: { content: @serialized_content } %>
      <% end %>

      <div class="bg-white lg:min-w-0 lg:flex-1">
        <div class="pl-4 pr-6 pt-4 pb-4 border-b border-t border-gray-200 sm:pl-6 lg:pl-8 xl:pl-6 xl:pt-6 xl:border-t-0">
          <%= render partial: 'content/tailwind_components/content_header', locals: { content: @serialized_content } %>
        </div>

        <%= render partial: 'content/tailwind_components/content_fields_display', locals: { content: @serialized_content } %>
      </div>
    </div>
    <!-- Activity feed -->
    <div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0">
      <div class="pl-6 lg:w-80 px-6 pt-6">

        <!-- Action buttons -->
        <div class="flex flex-col sm:flex-row xl:flex-col space-y-1">
          <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white <%= Universe.color %> hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 xl:w-full">
          </button>
            Create page
          <button type="button" class="mt-3 inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">
            Share universe
          </button>
        </div>

        <div class="pt-6 pb-2">
          <h2 class="text-sm font-semibold">Recent Activity</h2>
        </div>
        <div>
          <ul role="list" class="divide-y divide-gray-200">

            <% 4.times do %>

              <li class="py-4">
                <div class="flex space-x-3">
                  <img class="h-10 w-10 rounded-lg" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&h=256&q=80" alt="">
                  <div class="flex-1 space-y-1">
                    <div class="flex items-center justify-between">
                      <h3 class="text-sm font-medium">John Cena</h3>
                      <p class="text-sm text-gray-500">1h</p>
                    </div>
                    <p class="text-sm text-gray-500 group">
                      Character updated by <%= link_to current_user.display_name, current_user, class: "group-hover:#{User.text_color}" %>.
                    </p>
                  </div>
                </div>
              </li>

            <% end %>

            <!-- More items... -->
          </ul>
          <!--
          <div class="py-4 text-sm border-t border-gray-200">
            <a href="#" class="text-indigo-600 font-semibold hover:text-indigo-900">View all activity <span aria-hidden="true">&rarr;</span></a>
          </div>
          -->

          <div class="pt-6 pb-2">
            <h2 class="text-sm font-semibold">Contributors</h2>
          </div>

          <div class="mt-4 flex-shrink-0 sm:mt-0">
            <div class="flex overflow-hidden -space-x-1">
              <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="Emily Selman">

              <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="Kristin Watson">

              <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="Emma Dorsey">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
























<div class="mt-128 pt-128">spacer</div>

<%
  page_description = "#{@content.name}, #{@content.description} — a fictional #{@content.class.name.downcase} on Notebook.ai"
  page_description ||= "#{@content.name} is a fictional #{@content.class.name.downcase} on Notebook.ai"

  set_meta_tags title:       @content.name,
                description: page_description,
                image_src:   @content.first_public_image,
                og:          { type: 'website' },
                twitter:     { card: 'photo', image: @content.first_public_image }
%>

<%= content_for :full_width_page_header do %>
  <%= render partial: 'content/display/image_card_header' %>

  <!--
  <div class="row" style="margin-top: -1px; margin-bottom: 30px;">
    <div class="col s12 <%= content.class.color %>">
      <ul class="tabs tabs-fixed-width <%= content.class.color %>">
        <li class="tab"><a href="#test1" class="white-text active"><%= @content.class.name %> details</a></li>
        <li class="tab"><a href="#test2" class="white-text">References</a></li>
        <li class="tab"><a href="#test4" class="white-text">Comments</a></li>
      </ul>
    </div>
  </div>
  -->
        
<% end %>

<div class="row flex">
  <div class="col s12 m3">
    <div class="sticky-below-navbar">
      <%=
        render partial: 'content/display/sidelinks',
          locals: {
            editing: false,
            content: @serialized_content
          }
      %>
      <%=
        render partial: 'content/display/sideactions',
          locals: {
            editing: false,
            content: @serialized_content
          }
      %>
    </div>
  </div>

  <div class="col s12 m9">
    <div class="card">
      <div class="card-image">
        <%= render partial: 'content/display/floating_action_buttons', locals: { editing: false } %>
      </div>
    </div>
    <% @serialized_content.data[:categories].each do |serialized_category| %>
      <%=
        # Some categories get special views. This switch checks for those and falls back on
        # the regular view if it's not a special case.
        case serialized_category[:name]
          when 'gallery'
            render partial: 'content/form/images/gallery',  locals: { content: content } if @content.image_uploads.any?

          when 'contributors'
            render partial: 'content/display/contributors', locals: { content: content } if @content.is_a?(Universe)

          else
            render partial: 'content/display/category_panel',
              locals: {
                content: @serialized_content,
                category: serialized_category
              }
        end
      %>
    <% end %>

    <%# For most pages, we also want to render a bunch of other panels in case they're needed %>
    <%= render partial: 'content/panels/in_this_universe', locals: { content: content } if @content.is_a?(Universe) %>
    <%= render partial: 'content/panels/documents',        locals: { content: content } if @serialized_content.documents.any? %>
    <%= render partial: 'content/panels/shares',           locals: { content: content } if @content.content_page_shares.any? %>
    <%= render partial: 'content/panels/timelines',        locals: { content: content } if @content.timelines.any? %>
    <%= render partial: 'content/panels/collections',      locals: { content: content } if @content.page_collection_submissions.accepted.any? %>
    <%= render partial: 'content/panels/associations',     locals: { content: content } %>
  </div>
</div>

<%= render partial: 'content/display/visitor_cta', locals: { content: @serialized_content } %>
<%= render partial: 'content/share', locals: { shared_content: @content} %>
