<% if @content.present? && @content.respond_to?(:as_jsonld) %>
<script type="application/ld+json">
  <%= @content.as_jsonld.to_json.html_safe %>
</script>
<% end %>

<% set_meta_tags title: content.name, description: content.description %>
<%# TODO: Check if <content type>/_meta exists and render it here if so %>

<% content_for :sidebar_top do %>
  <%= render partial: 'cards/serendipitous/content_question', locals: { question: @question, content: @content } %>
<% end %>

<div class="row">

  <div class="col s9">

    <div class="card">
      <div class="card-image">

        <div class="slider" style="height: 140px;">
          <ul class="slides">
            <li>
              <% if @content.image_uploads.any? %>
                <% @content.image_uploads.each do |image| %>
                  <%= image_tag image.src %>
                <% end %>
              <% else %>
                <%= image_tag "card-headers/#{@content.class.name.downcase.pluralize}" %>
              <% end %>
              <!-- <div class="caption center-align">
                <h3><%= 'test' %></h3>
                <h5 class="light grey-text text-lighten-3">cool</h5>
              </div> -->
            </li>
          </ul>
        </div>

        <a class="btn-floating btn-large halfway-fab waves-effect waves-light <%= content.class.color %>" style="z-index: 1000">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="card-content">
        <!-- <span class="card-title">Overview</span> -->

        <% category = content.class.attribute_categories(current_user).first %>
        <% category.attribute_fields.each do |attribute| %>
          <% next if attribute.name.start_with?("private") && @content.user != current_user %>

          <% value = nil
             if content.respond_to?(attribute.name.to_sym)
               value = content.send(attribute.name.to_sym)
             else
               value = Attribute.where(user: current_user, attribute_field: attribute, entity: content).first
             end
          %>
          <% next if value.blank? %>

          <div class="row">
            <div class="col s3 m3 l3 right-align flow-text grey-text"><%= attribute.label %></div>
            <% if value.is_a?(ActiveRecord::Associations::CollectionProxy) %>
              <% klass = value.first.class || value.build.class %>
              <div class="col s9 m9 l9 flow-text">
                <% value.each do |li| %>
                  <div class="chip">
                    <%= link_to li do %>
                      <span class="<%= klass.color %>-text"><i class="material-icons left"><%= klass.icon %></i></span>
                      <%= li.name %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% elsif attribute.name == 'attribute_category_id' %>
              <div class="col s9 m9 l9 flow-text">
                <%= link_to content.attribute_category.label, content.attribute_category if content.attribute_category %>
              </div>
            <% elsif attribute.name == 'universe_id' %>
              <div class="col s9 m9 l9 flow-text">
                <%= link_to content.universe.name, content.universe if content.universe %>
              </div>
            <% else %>
              <%# TODO: if text is > 240, truncate and add "Read more" link that opens modal %>
              <div class="col s9 m9 l9 <%= "flow-text" unless value.to_s.length > 140 %> markdownable">
                <%= Rails.application.config.markdown.render(value.is_a?(Attribute) ? value.value : value).html_safe %>&nbsp;
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="col s3">
    <ul class="collection with-header">
      <li class="collection-header center">
        <h4><%= @content.name %></h4>
      </li>

      <% content.class.attribute_categories(current_user).each do |category| %>
        <li class="collection-item">
          <a href="#<%= category.name.gsub("'", '') %>_panel" class="<%= 'red-text' if category.label == 'Overview' %>">
            <i class="material-icons left"><%= category.icon %></i>
            <%= category.label.capitalize %>
            <!--<span class="badge"><%= [rand(400), 100].min %>%</span>-->
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({
      height: 200,
      indicators: false
    });
  });
</script>


<% categories = content.class.attribute_categories(current_user) %>
<div class="row">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <div class="right">
          <%= link_to '#',
            class: "share tooltipped #{content.class.color}-text",
            data: { position: 'bottom', delay: '500', tooltip: 'Share this page with others'} do
          %>
            <i class="material-icons">share</i>
          <% end %>

          <%= link_to '#',
            class: "expand tooltipped #{content.class.color}-text",
            data: { position: 'bottom', delay: '500', tooltip: 'Expand all tabs vertically'} do
          %>
            <i class="material-icons">format_line_spacing</i>
          <% end %>

          <%= link_to polymorphic_path(content.class) do %>
            <span class="<%= content.class.color %>-text"><i class="material-icons"><%= content.class.icon %></i></span>
          <% end %>
        </div>

        <div class="card-title center">
          <%= content.respond_to?(:label) ? content.label : content.name %>
        </div>

        <ul class="tabs" style="margin-bottom:30px;">
          <% categories.each do |category| %>
            <%= attribute_category_tab(content, category) %>
          <% end %>
        </ul>

        <% categories.each do |category| %>
          <div id="<%= category.name.gsub("'", '') %>_panel" class="row panel">
            <% if category.name == 'gallery' %>
              <div>
                <%= render partial: 'content/form/images/gallery', locals: { content: content } %>
              </div>
            <% end %>

            <% category.attribute_fields.each do |attribute| %>
              <% next if attribute.name.start_with?("private") && @content.user != current_user %>

              <% value = nil
                 if content.respond_to?(attribute.name.to_sym)
                   value = content.send(attribute.name.to_sym)
                 else
                   value = Attribute.where(user: current_user, attribute_field: attribute, entity: content).first
                 end
              %>
              <% next if value.blank? %>

              <div class="row">
                <div class="col s3 m3 l2 right-align flow-text grey-text"><%= attribute.label %></div>
                <% if value.is_a?(ActiveRecord::Associations::CollectionProxy) %>
                  <% klass = value.first.class || value.build.class %>
                  <div class="col s9 m9 l10 flow-text">
                    <% value.each do |li| %>
                      <div class="chip">
                        <%= link_to li do %>
                          <span class="<%= klass.color %>-text"><i class="material-icons left"><%= klass.icon %></i></span>
                          <%= li.name %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% elsif attribute.name == 'attribute_category_id' %>
                  <div class="col s9 m9 l10 flow-text">
                    <%= link_to content.attribute_category.label, content.attribute_category if content.attribute_category %>
                  </div>
                <% elsif attribute.name == 'universe_id' %>
                  <div class="col s9 m9 l10 flow-text">
                    <%= link_to content.universe.name, content.universe if content.universe %>
                  </div>
                <% else %>
                  <%# TODO: if text is > 240, truncate and add "Read more" link that opens modal %>
                  <div class="col s9 m9 l10 <%= "flow-text" unless value.to_s.length > 140 %> markdownable">
                    <%= Rails.application.config.markdown.render(value.is_a?(Attribute) ? value.value : value).html_safe %>&nbsp;
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="card-action center">
        <%= yield :content_show_footer %>

        <% if current_user == content.user %>
          <%= link_to "Edit this #{content.class.to_s.downcase}", edit_polymorphic_path(@content), class: "btn #{content.class.color}" %>
        <% elsif content.user.name.present? %>
          <%= content.user.name %> created and maintains this universe on Notebook.ai.<br />
          <%= link_to "See more from #{content.user.name}", content.user %>
          <%= link_to "Create your own universe.", root_url %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'content/share', locals: { shared_content: @content} %>

<%# TODO: not this %>
<% if @content.is_a? Universe %>
  <% content_to_show = [Character, Location, Item, Creature, Race, Religion, Group, Magic, Language, Scene] %>

  <% content_to_show.each do |content_type| %>
    <% next if @content.send(content_type.name.downcase.pluralize).empty? %>

    <div class="col s12 m12 l4">
      <%= render partial: 'content/cards/in_universe_content_list', locals: { content_type: content_type.name.downcase.to_sym, content_list: @content.send(content_type.name.downcase.pluralize) } %>
    </div>
  <% end %>
<% end %>
