<p id="notice"><%= notice %></p>

<h1>Page Collection Submissions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_collection_submissions.each do |page_collection_submission| %>
      <tr>
        <td><%= link_to 'Show', page_collection_submission %></td>
        <td><%= link_to 'Edit', edit_page_collection_submission_path(page_collection_submission) %></td>
        <td><%= link_to 'Destroy', page_collection_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page Collection Submission', new_page_collection_submission_path %>
