<%= form_for @location, :url => location_edit_process_path, :html => { :class => 'form-horizontal' } do |f| %>
<div class="hidden section starter_section general_section">
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
      <a href="#" class="help-inline location_name_generator">
      	<i class="icon-refresh"></i> Randomize
      </a>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_of_location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type_of, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :universe, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :universe, :class => 'text_field', :value => @location.universe ? @location.universe.name : "" %>
      <%= universe_picker %>
    </div>
  </div>
</div>

<div class="hidden section map_section">
  <div class="control-group">
    <div>
      <% if @location.map and @location.map.url(:original) != "/assets/placeholders/map.png" %>
        <%= image_tag @location.map.url(:original) %>
      <% else %>
        <%= image_tag 'placeholders/map.png', id: 'placeholder_map_input' %>
      <% end %>
    </div>
    <%= f.label 'New map?', :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :map, :class => 'text_field' %>
    </div>
  </div>
</div>

<div class="hidden section culture_section">
  <div class="control-group">
    <%= f.label 'Population', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :population, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Language', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :language, :class => 'text_field' %>
			<%= language_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Currency', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :currency, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Motto', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :motto, :class => 'text_field' %>
    </div>
  </div>
</div>

<div class="hidden section cities_section">
  <div class="control-group">
    <%= f.label 'Capital', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :capital, :class => 'text_field' %>
			<%= location_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Largest city', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :largest_city, :class => 'text_field' %>
			<%= location_picker %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Notable cities', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :notable_cities, :class => 'text_field' %>
			<%= location_picker %>
    </div>
  </div>

</div>

<div class="hidden section geography_section">
  <div class="control-group">
    <%= f.label 'Area', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Crops', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :crops, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :located, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :located_at, :class => 'text_field' %>
    </div>
  </div>

</div>

<div class="hidden section history_section">
  <div class="control-group">
    <%= f.label 'Year established', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :established_year, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Notable wars', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notable_wars, :class => 'text_field', :rows => 3 %>
    </div>
  </div>

</div>

<div class="hidden section notes_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 10, :style => "width: 80%;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :private_notes, :class => 'text_area', :rows => 8, :style => "width: 80%;" %>
    </div>
  </div>
</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                location_list_path, :class => 'btn' %>
  </div>
<% end %>
