<div class="hidden section starter_section general_section">
  <%= generate_form_row_for(f, :name, nil, [{:action => 'location_name_generator', :icon => 'random'}]) %>
  <%= generate_form_row_for(f, :type_of, 'Location type') %>
  <%= generate_form_row_for(f, :description, nil) %>
  <%= generate_form_row_for(f, :universe, nil, [{:action => 'universe_picker', :icon => 'globe'}]) %>
</div>

<div class="hidden section map_section">
  <div class="control-group">
    <%= image_tag 'placeholders/map.png', id: 'placeholder_map_input' %>
    <%= f.label 'New map?', :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :map, :class => 'text_field' %>
    </div>
  </div>
</div>

<div class="hidden section culture_section">
  <%= generate_form_row_for(f, :population) %>
  <%= generate_form_row_for(f, :language) %>
  <%= generate_form_row_for(f, :currency) %>
  <%= generate_form_row_for(f, :motto) %>
</div>

<div class="hidden section cities_section">
  <%= generate_form_row_for(f, :capital, nil, [{:action => 'location_picker', :icon => 'road'}]) %>
  <%= generate_form_row_for(f, :largest_city, nil, [{:action => 'location_picker', :icon => 'road'}]) %>
  <%= generate_form_row_for(f, :notable_cities, nil, [{:action => 'location_picker', :icon => 'road'}]) %>
</div>

<div class="hidden section geography_section">
  <%= generate_form_row_for(f, :area) %>
  <%= generate_form_row_for(f, :crops) %>
  <%= generate_form_row_for(f, :located_at, 'Located') %>
</div>

<div class="hidden section history_section">
  <%= generate_form_row_for(f, :established_year) %>
  <%= generate_form_row_for(f, :notable_wars) %>
</div>

<div class="hidden section notes_section">
  <div class="control-group">
    <%= f.label 'Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area', :rows => 10, :style => "width: 80%;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :private_notes, :class => 'text_area', :rows => 8, :style => "width: 80%;" %>
    </div>
  </div>
</div>
