<%- model_class = @location.class -%>

<%= render :partial => 'tabs' %>

<dl class="dl-horizontal hidden section general_section">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_of) %>:</strong></dt>
  <dd><%= @location.type_of %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @location.description %></dd>
</dl>

<dl class="dl-horizontal hidden section culture_section">
  <dt><strong><%= model_class.human_attribute_name(:population) %>:</strong></dt>
  <dd><%= @location.population %></dd>
  <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
  <dd><%= @location.language %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @location.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:motto) %>:</strong></dt>
  <dd><%= @location.motto %></dd>
</dl>

<dl class="dl-horizontal hidden section cities_section">
  <dt><strong>Capital:</strong></dt>
  <dd><%= @location.capital %></dd>
  <dt><strong>Largest city:</strong></dt>
  <dd><%= @location.largest_city %></dd>
  <dt><strong>Notable cities:</strong></dt>
  <dd><%= @location.notable_cities %></dd>
</dl>

<dl class="dl-horizontal hidden section geography_section">
  <dt><strong>Area:</strong></dt>
  <dd><%= @location.area %></dd>
  <dt><strong>Crops:</strong></dt>
  <dd><%= @location.crops %></dd>
  <dt><strong><%= model_class.human_attribute_name(:located) %>:</strong></dt>
  <dd><%= @location.located_at %></dd>
</dl>

<dl class="dl-horizontal hidden section history_section">
  <dt><strong>Established in:</strong></dt>
  <dd><%= @location.established_year %></dd>
  <dt><strong>Notable wars:</strong></dt>
  <dd><%= @location.notable_wars %></dd>
</dl>

<dl class="dl-horizontal hidden section "more_section">
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              location_list_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              location_edit_path(@location), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              location_path(@location),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

