<%- model_class = @location.class -%>

<%= render :partial => 'tabs' %>

<dl class="dl-horizontal hidden section general_section">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= simple_format @location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_of) %>:</strong></dt>
  <dd><%= simple_format @location.type_of %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= simple_format @location.description %></dd>
</dl>

<dl class="dl-horizontal hidden section culture_section">
  <dt><strong><%= model_class.human_attribute_name(:population) %>:</strong></dt>
  <dd><%= simple_format @location.population %></dd>
  <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
  <dd><%= simple_format link_if_present @location.language, "language" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= simple_format @location.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:motto) %>:</strong></dt>
  <dd><%= simple_format @location.motto %></dd>
</dl>

<dl class="dl-horizontal hidden section cities_section">
  <dt><strong>Capital:</strong></dt>
  <dd><%= simple_format link_if_present @location.capital, "location" %></dd>
  <dt><strong>Largest city:</strong></dt>
  <dd><%= simple_format link_if_present @location.largest_city, "location" %></dd>
  <dt><strong>Notable cities:</strong></dt>
  <dd><%= simple_format link_if_present @location.notable_cities, "location" %></dd>
</dl>

<dl class="dl-horizontal hidden section geography_section">
  <dt><strong>Area:</strong></dt>
  <dd><%= simple_format @location.area %></dd>
  <dt><strong>Crops:</strong></dt>
  <dd><%= simple_format @location.crops %></dd>
  <dt><strong><%= model_class.human_attribute_name(:located) %>:</strong></dt>
  <dd><%= simple_format link_if_present @location.located_at, "location" %></dd>
</dl>

<dl class="dl-horizontal hidden section history_section">
  <dt><strong>Established in:</strong></dt>
  <dd><%= simple_format @location.established_year %></dd>
  <dt><strong>Notable wars:</strong></dt>
  <dd><%= simple_format @location.notable_wars %></dd>
</dl>

<dl class="dl-horizontal hidden section more_section">
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              location_list_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              location_edit_path(@location), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              location_path(@location),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

