<h2>
  <i class="material-icons <%= content_type.text_color %> left"><%= content_type.icon %></i>
  Delete a specific <%= content_type.name.downcase %>
</h2>
<p>
  <strong>Not supported:</strong>
  Deleting <%= content_type.name.downcase.pluralize %> is currently not supported over the API.
  Please ask your user to delete their <%= content_type.name.downcase %> manually, or
  <%= link_to 'contact us', 'https://github.com/indentlabs/notebook' %> if you need this permission for your application.
</p>