<h2>
  <i class="material-icons <%= content_type.text_color %> left"><%= content_type.icon %></i>
  Fetch all <%= content_type.name.downcase.pluralize %>
</h2>
<div class="row">
  <div class="col s12 m6 l6">
    <h3>Endpoint</h3>
    <p class="code">
GET /api/v1/<%= content_type.name.downcase.pluralize %>
    </p>
    <h3>Request options</h3>
    <ul class="collection">
      <li class="collection-item">
        <span class="title">
          <strong>application_token</strong>
          <span class="blue-text">string</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The token for your application.
        </p>
      </li>
      <li class="collection-item">
        <span class="title">
          <strong>authorization_token</strong>
          <span class="blue-text">string</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The authorization token for your user.
        </p>
      </li>
      <% unless content_type.name == Universe.name %>
        <li class="collection-item">
          <span class="title">
            <strong>universe_id</strong>
            <span class="blue-text">integer</span>
          </span>
          <p>
            Limit <%= content_type.name.downcase.pluralize%> returned to only those within a particular universe.                    </p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col s12 m6 l6">
    <h3>Example response</h3>
    <p class="code">
[
  {
    "id": <span class="<%= content_type.text_color %> text-lighten-3">1</span>,
    "name": <span class="<%= content_type.text_color %> text-lighten-3">"Some <%= content_type.name %>"</span>,
    "description": <span class="<%= content_type.text_color %> text-lighten-3">"This is a user-supplied description of the page"</span>,
<% unless content_type.name == Universe.name %>
    "universe": {
      "id": <span class="<%= content_type.text_color %> text-lighten-3">2</span>,
      "name": <span class="<%= content_type.text_color %> text-lighten-3">"The Great Story World"</span>
    }
<% end %>
    "meta": {
      "created_at": <span class="<%= content_type.text_color %> text-lighten-3">"2020-02-01 08:24:20 UTC"</span>,
      "updated_at": <span class="<%= content_type.text_color %> text-lighten-3">"2020-02-09 06:57:12 UTC"</span>
    },
  },
  {
    "id": <span class="<%= content_type.text_color %> text-lighten-3">2</span>,
    "name": <span class="<%= content_type.text_color %> text-lighten-3">"Some other <%= content_type.name %>"</span>,
    "description": <span class="<%= content_type.text_color %> text-lighten-3">"This is an even better page"</span>,
<% unless content_type.name == Universe.name %>
    "universe": {
      "id": <span class="<%= content_type.text_color %> text-lighten-3">2</span>,
      "name": <span class="<%= content_type.text_color %> text-lighten-3">"The Great Story World"</span>
    }
<% end %>
    "meta": {
      "created_at": <span class="<%= content_type.text_color %> text-lighten-3">"2020-02-01 08:24:20 UTC"</span>,
      "updated_at": <span class="<%= content_type.text_color %> text-lighten-3">"2020-02-09 06:57:12 UTC"</span>
    },
  },
  ...
]
    </p>
  </div>
</div>