<h2>
  <i class="material-icons <%= content_type.text_color %> left"><%= content_type.icon %></i>
  Fetch a specific <%= content_type.name.downcase %>
</h2>
<div class="row">
  <div class="col s12 m6 l6">
    <h3>Endpoint</h3>
    <p class="code">
GET /api/v1/<%= content_type.name.downcase %>/<span class="green-text">&lt;id&gt;</span>
    </p>
    <h3>Example call</h3>
    <ul class="collection">
      <li class="collection-item">
        <span class="title">
          <strong>application_token</strong>
          <span class="blue-text">string</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The token for your application.
        </p>
      </li>
      <li class="collection-item">
        <span class="title">
          <strong>authorization_token</strong>
          <span class="blue-text">string</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The authorization token for your user.
        </p>
      </li>
      <li class="collection-item">
        <span class="title">
          <strong class="green-text">id</strong>
          <span class="blue-text">integer</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The ID of the <%= content_type.name.downcase %> you're requesting.  
        </p>
      </li>
      <li class="collection-item">
        <span class="title">
          <strong>include_blank_fields</strong>
          <span class="blue-text">boolean</span>
          <span class="grey-text text-darken-3">(default = false)</span>
        </span>
        <p>
          The API only returns fields that have been answered by the user. If you wish to return all fields regardless
          of whether they have an answer or not, you can set <strong>include_blank_fields</strong> to <strong class="grey-text text-darken-3">true</strong>. 
        </p>
      </li>
    </ul>
  </div>
  <div class="col s12 m6 l6">
    <h3>Example response</h3>
    <p class="code">
{
  "id":   <span class="<%= content_type.text_color %> text-lighten-3">1</span>,
  "name": <span class="<%= content_type.text_color %> text-lighten-3">"Some <%= content_type.name %>"</span>,
  "description": <span class="<%= content_type.text_color %> text-lighten-3">"A description of this page"</span>,
<% unless content_type.name == Universe.name %>
  "universe": {
    "id": <span class="<%= content_type.text_color %> text-lighten-3">134</span>,
    "name": <span class="<%= content_type.text_color %> text-lighten-3">My Super Amazing Universe</span>
  },
<% end %>
  "meta": {
    "created_at": <span class="<%= content_type.text_color %> text-lighten-3">"2020-02-01 08:24:20 UTC"</span>,
    "updated_at": <span class="<%= content_type.text_color %> text-lighten-3">"2020-02-09 06:57:12 UTC"</span>
  },
  "categories": [
    {
      "id":    <span class="<%= content_type.text_color %> text-lighten-3">123</span>,
      "label": <span class="<%= content_type.text_color %> text-lighten-3">"Overview"</span>,
      "fields": [
        {
          "id":    <span class="<%= content_type.text_color %> text-lighten-3">123</span>,
          "type":  <span class="<%= content_type.text_color %> text-lighten-3">"text_area"</span>,
          "label": <span class="<%= content_type.text_color %> text-lighten-3">"Coolness factor"</span>,
          "value": <span class="<%= content_type.text_color %> text-lighten-3">"Off the charts"</span>
        },
        {
          "id":    <span class="<%= content_type.text_color %> text-lighten-3">124</span>,
          "label": <span class="<%= content_type.text_color %> text-lighten-3">"Related Buildings"</span>,
          "type":  <span class="<%= content_type.text_color %> text-lighten-3">"link"</span>,
          "value": [
            {
              "id":   <span class="<%= content_type.text_color %> text-lighten-3">345</span>,
              "type": <span class="<%= content_type.text_color %> text-lighten-3">"Building"</span>,
              "name": <span class="<%= content_type.text_color %> text-lighten-3">"The Office of Examples"</span>,
            },
            ...
          ]
        },
        ...
      ],
    },
    ...
  ],
  "references": [TBD]
}
    </p>
  </div>
</div>
