<ul id="document-entities-right" class="sidenav">
  <li class="<%= Document.color %>">
    <%= link_to '#', class: 'logo-container white-text' do %>
      <i class="material-icons white-text right">
        book
      </i>
      In this document...
    <% end %>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <% @linked_entities.each do |category, content_list| %>
        <% category_class = content_class_from_name(category) %>
        <li class="bold waves-effect">
          <a class="collapsible-header" tabindex="0">
            <%= pluralize content_list.count, category %>
            <i class="material-icons chevron">chevron_right</i>
          </a>
          <div class="collapsible-body" style="">
            <ul>
              <% content_list.each do |content_link| %>
                <li>
                  <%= link_to '#' do %>
                    <i class="material-icons left <%= category_class.text_color %>">
                      <%= category_class.icon %>
                    </i>
                    <%= content_link.text%>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#"
        class="entity-trigger orange-text text-darken-3 js-link-entity">
      <i class="material-icons small orange-text text-darken-3 left">add</i>
      Add an entity
    </a>
  </li>
</ul>