<div class="navbar-fixed">
  <nav class="navbar nav-extended <%= 'logged-in' if user_signed_in? %>" style="background-color: <%= @navbar_color.presence || '#2196F3' %>">
    <div class="nav-wrapper">
      <ul>
        <li class="left">
          <a class="sidenav-trigger show-on-large left" href="#" data-target="sidenav-left">
            <i class="material-icons">menu</i>
          </a>
        </li>
        <li class="left">
          <%=
            link_to documents_path, class: 'tooltipped', data: {
              position: 'bottom',
              tooltip: 'Back to your documents'
            } do
          %>
            <i class="material-icons white-text">file_copy</i>
          <% end %>
        </li>
        <li class="left">
          <%=
            link_to new_document_path, class: 'tooltipped', data: {
              position: 'bottom',
              tooltip: 'New document'
            },
            target: '_blank' do
          %>
            <i class="material-icons white-text left">note_add</i>
          <% end %>
        </li>

        <ul id="about-this-document-dropdown" class="dropdown-content">
          <li style="padding: 0 20px" class="<%= Document.color %> lighten-5">
            <h5 class="grey-text text-darken-4">
              About this document
            </h5>
            <p>
              Created <%= time_ago_in_words @document.created_at %> ago
            </p>
            <p class="clearfix">
              Last edited <%= time_ago_in_words @document.updated_at %> ago
            </p>
            <p class="clearfix"></p>
          </li>
          <li class="<%= Document.color %> lighten-5">
            <%= link_to @document.user, class: User.color + '-text' do %>
              <i class="material-icons left"><%= User.icon %></i>
              <span class="black-text">Written by</span>
              <%= @document.user.name %>
            <% end %>
          </li>
          <li class="<%= Document.color %> lighten-5">
            <%= link_to @document.user, class: Universe.color + '-text' do %>
              <i class="material-icons left"><%= Universe.icon %></i>
              <span class="black-text">Set in</span>
              No Universe Set
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to analysis_document_path(@document) do %>
              <i class="material-icons left orange-text">bar_chart</i>
              Analyze this document
            <% end %>
          </li>
          <li>
            <%=
              link_to '#', class: 'share' do
            %>
              <i class="material-icons purple-text left">share</i>
              Share this document
            <% end %>
          </li>
          <% if current_user.can_delete?(@document) %>
            <li>
              <%= link_to @document,
                method: :delete,
                data: {
                  confirm: "Are you sure? This will permanently delete this entire document!"
                } do
              %>
                <i class="material-icons left red-text">delete</i>
                Delete this document
              <% end %>
            </li>
          <% end %>
        </ul>
        <li class="right">
          <%=
            link_to '#', class: 'tooltipped dropdown-trigger', data: {
              position: 'bottom',
              tooltip: 'About this document',
              target: 'about-this-document-dropdown'
            } do
          %>
            <i class="material-icons white-text left"><%= Document.icon %></i>
            <span class="hide-on-med-and-down">About</span>
          <% end %>
        </li>
        <li class="right">
          <% if @document.user.on_premium_plan? %>
            <%= link_to analysis_document_path(@document), class: "tooltipped", data: { tooltip: 'Analyze this document', position: 'bottom' } do %>
              <i class="material-icons left">bar_chart</i>
              <span class="hide-on-med-and-down">Analyze</span>
            <% end %>
          <% else %>
            <%= link_to subscription_path, class: "tooltipped", data: { tooltip: 'Analyze this document', position: 'bottom' } do %>
              <i class="material-icons left">bar_chart</i>
              <span class="hide-on-med-and-down">Analyze</span>
            <% end %>
          <% end %>
        </li>
        <li class="left" style="margin-left: 20px">
          <%= yield :navbar_left_content %>
        </li>
        <li class="right">
          <%= yield :navbar_right_content %>
        </li>
      </ul>
    </div>
  </nav>
</div>

<%# Modals %>
<%= render partial: 'content/share', locals: { shared_content: @document } %>
<%# todo universe picker %>