<ul class="nav navbar-nav">
  <% if session[:user] %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to t('.logged_in_as', username: User.find(session[:user]).name), account_path %></a></li>
        <li class="divider"></li>
    	<li><%= link_to t('.my_content'), dashboard_path %></li>
        <li><%= link_to t('.account_settings'), account_path %></li>
        <li class="divider"></li>
        <li><%= link_to t('.privacy_policy'), privacy_info_path %></li>
        <li class="divider"></li>
        <li><%= link_to t('.report_a_problem'), 'https://docs.google.com/forms/d/198QvP092YZn9adeCkLjU_Jw4BHZaSMYjU8p0F8V7csw/viewform', target: '_blank' %></li>
        <li><%= link_to t('.give_feedback'), 'https://docs.google.com/forms/d/11O6mHMIFFbNiUfdj6eqStXnARPcj3tWnYOQ-90QktDk/viewform', target: '_blank' %></li>
        <li><%= link_to t('.request_a_feature'), 'https://docs.google.com/forms/d/1ncA82di103_e3KjG8PCHO9g9RQY0_89I6mSQf2L0S4g/viewform', target: '_blank' %></li>
        <li class="divider"></li>
        <li><%= link_to t('.log_out'), logout_path %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to t('.login'), login_path %></li>
    <li><%= link_to t('.register'), signup_path %></a></li>
  <% end %>
</ul>
