<ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/account"><%= t 'logged_in_as', name: current_user.email %></a></li>
        <li class="divider"></li>
    	<li><a href="/my/content"><%= t 'your_content' %></a></li>
        <li><a href="/account"><%= t 'settings' %></a></li>
        <li class="divider"></li>
        <li><a href="/about/privacy"><%= t 'privacy_policy' %></a></li>
        <li class="divider"></li>
        <li><a href="https://docs.google.com/forms/d/198QvP092YZn9adeCkLjU_Jw4BHZaSMYjU8p0F8V7csw/viewform" target="_blank"><%= t 'report_problem' %></a></li>
        <li><a href="https://docs.google.com/forms/d/11O6mHMIFFbNiUfdj6eqStXnARPcj3tWnYOQ-90QktDk/viewform" target="_blank"><%= t 'feedback' %></a></li>
        <li><a href="https://docs.google.com/forms/d/1ncA82di103_e3KjG8PCHO9g9RQY0_89I6mSQf2L0S4g/viewform" target="_blank"><%= t 'request_feature' %></a></li>
        <li class="divider"></li>
        <li><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %></li>
    <li><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
  <% end %>
</ul>
