<ul id="desktop-user-dropdown" class="dropdown-content">
  <li><%= link_to t('profile'), current_user if current_user %></li>
  <li><%= link_to t('settings'), edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to t('report_problem'), 'https://docs.google.com/forms/d/e/1FAIpQLSe0jnqJlcPJDqwogGere5j8-8F1nSGGYkzbsI-XkOeMnGwLrA/viewform', target: '_new' %></li>
  <li><%= link_to t('request_feature'), 'https://docs.google.com/forms/d/e/1FAIpQLScOhSMdDqWqJu9HGPQdmd0R9s90_AcSo0g6_Nc1qNjQIbSaXA/viewform', target: '_new' %></li>
  <li><%= link_to t('feedback'), 'https://docs.google.com/forms/d/e/1FAIpQLScZWEVMgm8hBWIIVj1LPzo0GqflmWUrLQlc4TAYqsaS087oAA/viewform', target: '_new' %></li>
  <li class="divider"></li>
  <li><%= link_to t('downloads'), notebook_export_path %></li>
  <li><%= link_to t('privacy_policy'), privacy_policy_path %></li>
  <li class="divider"></li>
  <li><%= link_to t('sign_out'), destroy_user_session_path %></li>
</ul>

<ul id="mobile-user-dropdown" class="dropdown-content">
  <li><%= link_to t('your_universes'), universes_path %></li>
  <li><%= link_to t('your_characters'), characters_path %></li>
  <li><%= link_to t('your_locations'), locations_path %></li>
  <li><%= link_to t('your_items'), items_path %></li>
  <li class="divider"></li>
  <li><%= link_to t('profile'), current_user if current_user %></li>
  <li><%= link_to t('settings'), edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to t('report_problem'), 'https://docs.google.com/forms/d/e/1FAIpQLSe0jnqJlcPJDqwogGere5j8-8F1nSGGYkzbsI-XkOeMnGwLrA/viewform', target: '_new' %></li>
  <li><%= link_to t('request_feature'), 'https://docs.google.com/forms/d/e/1FAIpQLScOhSMdDqWqJu9HGPQdmd0R9s90_AcSo0g6_Nc1qNjQIbSaXA/viewform', target: '_new' %></li>
  <li><%= link_to t('feedback'), 'https://docs.google.com/forms/d/e/1FAIpQLScZWEVMgm8hBWIIVj1LPzo0GqflmWUrLQlc4TAYqsaS087oAA/viewform', target: '_new' %></li>
  <li class="divider"></li>
  <li><%= link_to t('downloads'), notebook_export_path %></li>
  <li><%= link_to t('privacy_policy'), privacy_policy_path %></li>
  <li class="divider"></li>
  <li><%= link_to t('sign_out'), destroy_user_session_path %></li>
</ul>

<ul id="dropdown_universes" class="dropdown-content">
  <li><%= link_to t('all_universes'), url_for(params.merge(:universe => :all)) %></li>
  <% if current_user %>
    <li class="divider"></li>
    <% current_user.universes.sort_by(&:name).each do |universe| %>
      <li><%= link_to universe.name, "?universe=#{universe.id}" %></li>
    <% end %>
  <% end %>
</ul>

<div class="navbar-fixed">
  <nav class="light-blue">
    <div class="nav-wrapper">
      <%= link_to t('site_name'), root_url, class: 'brand-logo center' %>

      <ul class="right hide-on-med-and-up">
        <% if user_signed_in? %>
        <li>
          <a class="dropdown-button tooltipped" href="#!" data-activates="mobile-user-dropdown" data-position="bottom" data-delay="100" data-tooltip="<%= t 'your_content' %>">
            <i class="material-icons">book</i>
          </a>
        </li>
        <% end %>
      </ul>
      <ul class="right hide-on-small-and-down">
        <% if user_signed_in? %>
          <li>
            <a href="<%= universes_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="<%= Universe.model_name.human.pluralize %>">
              <i class="material-icons">vpn_lock</i>
            </a>
          </li>
          <li>
            <a href="<%= characters_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="<%= Character.model_name.human.pluralize %>">
              <i class="material-icons">group</i>
            </a>
          </li>
          <li>
            <a href="<%= locations_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="<%= Location.model_name.human.pluralize %>">
              <i class="material-icons">terrain</i>
            </a>
          </li>
          <li>
            <a href="<%= items_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="<%= Item.model_name.human.pluralize %>">
              <i class="material-icons">beach_access</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button tooltipped" href="#!" data-activates="desktop-user-dropdown" data-position="bottom" data-delay="100" data-tooltip="You">
              <i class="material-icons">person</i>
            </a>
          </li>
        <% else %>
          <li><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
          <li><%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %></li>
        <% end %>
      </ul>
      <ul class="left">
        <li>
          <%= link_to root_url do %>
            <i class="material-icons">home</i>
          <% end %>
        </li>
        <% if current_user && current_user.universes.length > 0 %>
          <li class="universe-selector <%= 'universe-filter-active' if @universe_scope.present? %>">
            <%
              if @universe_scope.present?
                tooltip = t('limiting', universe_name: @universe_scope.name)
              else
                tooltip = t('limit')
              end
            %>
            <a class="dropdown-button tooltipped" href="#!" data-activates="dropdown_universes" data-position="bottom" data-delay="100" data-tooltip="<%= tooltip %>">
              <i class="material-icons">vpn_lock</i>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
