<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Account settings', edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Sign out", destroy_user_session_path %></li>
</ul>

<div class="navbar-fixed">
  <nav class="light-blue">
    <div class="nav-wrapper">
      <%= link_to 'Notebook', root_url, class: 'brand-logo center' %>

      <ul class="right hide-on-small-and-down">
        <% if user_signed_in? %>
          <li>
            <a href="<%= universes_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Universes">
              <i class="material-icons">vpn_lock</i>
            </a>
          </li>
          <li>
            <a href="<%= characters_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Characters">
              <i class="material-icons">group</i>
            </a>
          </li>
          <li>
            <a href="<%= locations_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Locations">
              <i class="material-icons">terrain</i>
            </a>
          </li>
          <li>
            <a href="<%= items_url %>" class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Items">
              <i class="material-icons">beach_access</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button tooltipped" href="#!" data-activates="dropdown1" data-position="bottom" data-delay="100" data-tooltip="You">
              <i class="material-icons">person</i>
            </a>
          </li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li>
          <%= link_to root_url do %>
            <i class="material-icons">home</i>
          <% end %>
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>