<ul id="slide-out" class="side-nav fixed">

  <!--
  <li class="content-search">
    <form>
      <div class="input-field">
        <input id="search" type="search" required placeholder="Search your notebook">
        <i class="material-icons">search</i>
      </div>
    </form>
  </li>
  -->

  <%
    [Universe, Character, Location, Item].each do |base_content_type|
  %>
    <li>
      <%= link_to polymorphic_path(base_content_type) do %>
        <i class="material-icons <%= base_content_type.color %>-text">
          <%= base_content_type.icon %>
        </i>
        <%= base_content_type.name.pluralize %>
        <span class="badge">
          <%=
            if base_content_type != Universe && @universe_scope
              @universe_scope.send(base_content_type.name.downcase.pluralize).count
            else
              current_user.send(base_content_type.name.downcase.pluralize).count
            end
          %>
        </span>
      <% end %>
    </li>
  <%
    end
  %>

  <li class="divider"></li>

  <%
    [Creature, Race, Religion, Magic, Language].each do |extended_content_type|
  %>
    <li>
      <%= link_to polymorphic_path(extended_content_type) do %>
        <i class="material-icons <%= extended_content_type.color %>-text">
          <%= extended_content_type.icon %>
        </i>
        <%= extended_content_type.name.pluralize %>
        <span class="badge">
          <%=
            if @universe_scope
              @universe_scope.send(extended_content_type.name.downcase.pluralize).count
            else
              current_user.send(extended_content_type.name.downcase.pluralize).count
            end
          %>
        </span>
      <% end %>
    </li>
  <%
    end
  %>

<!--
  <li class="divider"></li>
  <li>
    <a href="<%= items_url %>">
      <i class="material-icons white-text">add</i>
      Add more...
    </a>
  </li> -->

  <li class="divider"></li>

  <%
    [Scene].each do |extended_content_type|
  %>
    <li>
      <%= link_to polymorphic_path(extended_content_type) do %>
        <i class="material-icons <%= extended_content_type.color %>-text">
          <%= extended_content_type.icon %>
        </i>
        <%= extended_content_type.name.pluralize %>
        <span class="badge">
          <%=
            if @universe_scope
              @universe_scope.send(extended_content_type.name.downcase.pluralize).count
            else
              current_user.send(extended_content_type.name.downcase.pluralize).count
            end
          %>
        </span>
      <% end %>
    </li>
  <%
    end
  %>

  <li>
    <a href="<%= locations_url %>">
      <i class="material-icons black-text">wc</i>
      Groups
      <span class="badge">29</span>
    </a>
  </li>

</ul>

<script type="text/javascript">
$(document).ready(function () {
  $(".button-collapse").sideNav();
})
</script>