<%= render 'cards/ui/alert' %>
<%= render 'cards/ui/notice' %>

<% if user_signed_in? %>

  <%= yield :sidebar_top %>
  <%= render 'cards/user/recent_activity' %>
  <%= yield :sidebar_bottom %>

<% else %>

  <%
    content_type_pool = [Character, Creature, Group, Item, Language, Location, Magic, Race, Religion, Scene, Universe]
    selected_types = content_type_pool.sample(1)

    selected_types.each do |type|
  %>
    <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: type } %>
  <%
    end
  %>

<% end %>

<div class="card-panel blue lighten-5 hoverable">
  <p class="center"><strong>Subscriptions are here!</strong></p>
  <p>
    Read about what that means for you and your notebook <a href="#" class="blue-text lighten-5">in our latest blog post</a>.
  </p>
  <% if current_user && current_user.active_billing_plans.first.stripe_plan_id != 'free-for-life' %>
    <p>
      You can sign up for a subscription by clicking "Account billing" from the dropdown menu in the top-right of any page, or by
      <%= link_to 'clicking here', subscription_path %>.
    </p>
  <% else %>
    <p>
      Because you signed up during Notebook.ai's October "free for life" promotion, your account will continue to be just that &mdash;
      free for life. :)
    </p>
  <% end %>
</div>
