<%= render 'cards/ui/alert' %>
<%= render 'cards/ui/notice' %>

<div class="card-panel teal white-text">
	<p class="center"><strong>Maintenance Notice</strong></p>
	<p>
	  Notebook.ai will be going down for planned maintenance at 7:30pm ET today, November 1
	  for approximately one hour. We will be back quickly with lots of new features!
	</p>
</div>

<% if user_signed_in? %>

  <%= yield :sidebar_top %>
  <%= render 'cards/user/recent_activity' %>
  <%= yield :sidebar_bottom %>

<% else %>

  <%= render 'cards/intros/universe_intro' %>
  <%= render 'cards/intros/character_intro' %>
  <%= render 'cards/intros/location_intro' %>
  <%= render 'cards/intros/item_intro' %>
  <%# todo: random selection of other content type intros %>

<% end %>
