<%= render 'cards/ui/alert' %>
<%= render 'cards/ui/notice' %>

<% if user_signed_in? %>

  <%= yield :sidebar_top %>
  <%= render 'cards/user/recent_activity' %>
  <%= yield :sidebar_bottom %>

<% else %>

  <%
    content_type_pool = [Character, Creature, Group, Item, Language, Location, Magic, Race, Religion, Scene, Universe]
    selected_types = content_type_pool.sample(1)

    selected_types.each do |type|
  %>
    <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: type } %>
  <%
    end
  %>

<% end %>

<%#
<div class="card-panel teal lighten-1 white-text">
  <p class="center"><strong>Things are new!</strong></p>
  <p>
    You can now plan creatures, races, religions, magic, languages, groups, and scenes in your worlds.
    <a href="https://medium.com/indent-labs/the-next-version-of-notebook-ai-is-here-62470d0bda19#.iex49h3vr" class="blue-text text-lighten-4">
      Read about the update here.
    </a>
  </p>
</div>
%>