<ul id="slide-out" class="side-nav fixed">

  <!--
  <li class="content-search">
    <form>
      <div class="input-field">
        <input id="search" type="search" required placeholder="Search your notebook">
        <i class="material-icons">search</i>
      </div>
    </form>
  </li>
  -->

  <!--
  <li>
    <%= link_to root_path do %>
      <i class="material-icons green-text">
        adjust
      </i>
      Your assistant
    <% end %>
  </li>
  -->

  <li>
    <%= link_to dashboard_path do %>
      <i class="material-icons grey-text">
        dashboard
      </i>
      Home
    <% end %>
  </li>

  <li>
    <%= link_to thredded_path do %>
      <i class="material-icons grey-text">
        forum
      </i>
      Discussions
      <%
        unread_threads = Thredded::Topic
          .followed_by(current_user)
          .unread(current_user)
          .count

        private_messages = Thredded::PrivateTopic
          .for_user(current_user)
          .unread(current_user)
          .count
      %>
      <% if unread_threads > 0 || private_messages > 0 %>
        <span class="badge <%= 'blue white-text' if private_messages > 0 %>">
          <%= unread_threads %><%= "/#{private_messages}" if private_messages > 0 %>
        </span>
      <% end %>
    <% end %>
  </li>

  <li>
    <%= link_to notes_path do %>
      <i class="material-icons grey-text">
        book
      </i>
      Scratchpad
      <!-- <span class="badge">
        5
      </span> -->
    <% end %>
  </li>

  <li class="header">Your Notebook Pages</li>

  <% current_user.user_content_type_activators.reverse.each do |content_type_activator| %>
    <% content_type = content_type_activator.content_type.constantize %>
    <li>
      <%= link_to polymorphic_path(content_type) do %>
        <i class="material-icons <%= content_type.color %>-text">
          <%= content_type.icon %>
        </i>
        <%= content_type.name.pluralize %>
        <span class="badge">
          <%=
            pluralized_name = content_type_activator.content_type.downcase.pluralize
            if content_type != Universe && @universe_scope
              @universe_scope.send(pluralized_name).count
            else
              (
                current_user.send(pluralized_name) +
                current_user.send("contributable_#{pluralized_name}") +
                (content_type == Universe ? [] : current_user.universes.flat_map { |universe| universe.send(pluralized_name) })
              ).uniq.count
            end
          %>
        </span>
      <% end %>
    </li>
  <% end %>

  <!-- <li class="divider"></li> -->
  <li>
    <%= link_to customization_content_types_path do %>
      <i class="material-icons black-text">add</i>
      Customize pages
      <span class="new badge"></span>
    <% end %>
  </li>

</ul>

<script type="text/javascript">
$(document).ready(function () {
  $(".button-collapse").sideNav();
})
</script>
