<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

    <header class="demo-drawer-header">
        <i class="material-icons universe-title" role="presentation">vpn_lock</i>
        <div class="demo-avatar-dropdown">
            <span>All Universes</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Select a universe</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item">All Universes</li>
                <li class="mdl-menu__item">Other Universe</li>
                <li class="mdl-menu__item">Other Universe</li>
                <li class="mdl-menu__item">Other Universe</li>
                <li class="mdl-menu__item"><i class="material-icons">add</i>Create a universe</li>
            </ul>
        </div>
    </header>

    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Overview</a>
        <%= link_to character_list_path, class: "mdl-navigation__link" do %>
            <i class="mdl-color-text--blue-grey-400 material-icons">people</i> Characters
        <% end %>
        <%= link_to location_list_path, class: "mdl-navigation__link" do %>
            <i class="mdl-color-text--blue-grey-400 material-icons">device_hub</i> Locations
        <% end %>
        <%= link_to magic_list_path, class: "mdl-navigation__link" do %>
            <i class="mdl-color-text--blue-grey-400 material-icons">flash_on</i> Magic
        <% end %>
        <%= link_to language_list_path, class: "mdl-navigation__link" do %>
            <i class="mdl-color-text--blue-grey-400 material-icons">forum</i> Language
        <% end %>
        <%= link_to equipment_list_path, class: "mdl-navigation__link" do %>
            <i class="mdl-color-text--blue-grey-400 material-icons">security</i> Equipment
        <% end %>
        <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add</i>Add content types</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person</i>Andrew Brown</a>
    </nav>
</div>
