<% if flash[:notice] %>
	<div class="card">
		<div class="card-body">
			<div class="alert alert-notice">
				<%= flash[:notice] %>
			</div>
		</div>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="card">
		<div class="card-body">
			<div class="alert alert-notice">
				<%= flash[:alert] %>
			</div>
		</div>
	</div>
<% end %>

<% if session[:anon_user] and session[:user] and User.find(session[:user]).content_count > 0 && !current_page?(account_path) %>
	<div class="card">
		<div class="card-heading"><%= t '.anonymous_accounts' %></div>
		<div class="card-body">
			<%= t('.anon_account_explanation',
                  anon_account: link_to(t('.anon_account'), anon_info_path),
                  click_here: link_to(t('.click_here'))).html_safe %>
		</div>
		<div class="card-comments"></div>
	</div>
<% end %>

<% unless session[:user] %>
<div class="card">
	<h1 class="card-heading"><%= t '.getstarted_header' %></h1>
	<div class="card-body">
		<%= t '.getstarted_description' %>
	</div>
	<div class="card-comments">
		<div class="comments-collapse-toggle">
			<p>
				<%= link_to t('.getstarted_link'), anonymous_login_path %>
				<%= t '.or' %>
				<a data-toggle="collapse" data-target="#c1-comments" href="#">
					<%= t '.learnmore_link' %> <i class="icon-angle-down"></i>
				</a>
			</p>
		</div>
		<div id="c1-comments" class="comments collapse">
			<p><%= t '.learnmore_p1_html' %></p>
			<p><%= t '.learnmore_p2_html' %></p>
			<p>
				<a data-toggle="collapse" data-target="#c1-comments" href="#">
					<%= t '.collapse_card' %> <i class="icon-angle-up"></i>
				</a>
			</p>
		</div>
	</div>
</div>
<% end %>
