<ul id="slide-out" class="sidenav sidenav-fixed">

  <!--
  <li class="content-search">
    <form>
      <div class="input-field">
        <input id="search" type="search" required placeholder="Search your notebook">
        <i class="material-icons">search</i>
      </div>
    </form>
  </li>
  -->

  <!--
  <li>
    <%= link_to root_path do %>
      <i class="material-icons green-text">
        adjust
      </i>
      Your assistant
    <% end %>
  </li>
  -->

  <li>
    <%= link_to main_app.dashboard_path do %>
      <i class="material-icons grey-text">
        dashboard
      </i>
      Home
    <% end %>
  </li>

  <li>
    <%= link_to main_app.thredded_path do %>
      <i class="material-icons grey-text">
        forum
      </i>
      Discussions
      <%
        unread_threads = Thredded::Topic
          .followed_by(current_user)
          .unread(current_user)
          .count

        private_messages = Thredded::PrivateTopic
          .for_user(current_user)
          .unread(current_user)
          .count
      %>
      <% if unread_threads > 0 || private_messages > 0 %>
        <span class="badge <%= 'blue white-text' if private_messages > 0 %>">
          <%= unread_threads %><%= "/#{private_messages}" if private_messages > 0 %>
        </span>
      <% end %>
    <% end %>
  </li>

  <li>
    <%= link_to main_app.documents_path do %>
      <i class="material-icons grey-text">
        book
      </i>
      Documents
      <span class="badge">
        <%= current_user.documents.count %>
      </span>
    <% end %>
  </li>

  <li class="header">
    Your Notebook Pages
  </li>

  <%
    @activated_content_types.each do |content_type|
  %>
    <% content_type_klass = content_type.constantize %>
    <li>
      <%#
        todo define missing colors using the "Custom colors" section article
        https://materializecss.com/waves.html#!
      %>
      <%= link_to main_app.polymorphic_path(content_type_klass), class: "white waves-effect waves-#{content_type_klass.color.split(' ').last}" do %>
        <i class="material-icons <%= content_type_klass.color %>-text">
          <%= content_type_klass.icon %>
        </i>
        <%= content_type.pluralize %>
        <span class="badge">
          <%=
            pluralized_name = content_type.downcase.pluralize
            if content_type_klass != Universe && @universe_scope
              @universe_scope.send(pluralized_name).count
            else
              (
                @current_user_content[content_type] +
                current_user.send("contributable_#{pluralized_name}") +
                (content_type_klass == Universe ? [] : content_type_klass.where(universe_id: current_user.universes.pluck(:id)))
              ).uniq.count
            end
          %>
        </span>
      <% end %>
    </li>
  <% end %>

  <!-- <li class="divider"></li> -->
  <li>
    <%= link_to main_app.customization_content_types_path do %>
      <i class="material-icons black-text">add</i>
      Customize pages
    <% end %>
  </li>

</ul>

<script type="text/javascript">
$(document).ready(function () {
  $('.sidenav').sidenav();
})
</script>
