<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/common_head' %>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js" integrity="sha256-1uH5nQ+1cUZEU9YOfMzc9rapsWyuGtvKPpvKN9xDgug=" crossorigin="anonymous"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.1.0/chartkick.min.js" integrity="sha256-Nux9AlQvMarSN0Lk52PcKRlezOXTqHGlZRFgBJ7UXyY=" crossorigin="anonymous"></script>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <main>
    <ul class="admin-nav">
      <li><%= link_to "Dashboard stats", admin_dashboard_path %></li>
      <li><%= link_to "Universe stats", admin_universes_path %></li>
      <li><%= link_to "Character stats", admin_characters_path %></li>
      <li><%= link_to "Location stats", admin_locations_path %></li>
      <li><%= link_to "Item stats", admin_items_path %></li>
      <li><%= link_to "Attribute stats", admin_attributes_path %></li>
    </ul>

    <%= yield %>
    <a href="https://plus.google.com/118076966717703203223" rel="publisher"></a>
  </main>

</body>
</html>
