<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Notebook' %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <main>
    <ul class="admin-nav">
      <li><%= link_to "Dashboard stats", admin_dashboard_path %></li>
      <li><%= link_to "Universe stats", admin_universes_path %></li>
      <li><%= link_to "Character stats", admin_characters_path %></li>
      <li><%= link_to "Location stats", admin_locations_path %></li>
      <li><%= link_to "Item stats", admin_items_path %></li>
      <li><%= link_to "Attribute stats", admin_attributes_path %></li>
    </ul>

    <%= yield %>
    <a href="https://plus.google.com/118076966717703203223" rel="publisher"></a>
  </main>

</body>
</html>
