<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <%# <title> is set in _seo.html.erb %>
  <%= render 'layouts/seo' %>
  <%= render 'layouts/favicon' %>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <main>
    <div>
      <div class="row">
        <div class="card-panel light-blue darken-3 col s12">
          <p class="white-text center">
            Important notice: Notebook.ai will be going down temporarily for emergency maintenance to upgrade the database at <strong>22:00 UTC</strong>.
            This maintenance should last no longer than 1 hour.
           </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 <%= (current_user && current_user.content_count > 0) ? 'l9' : 'l12' %>">
          <%= yield %>
        </div>
        <div class="col s12 m12 <%= (current_user && current_user.content_count > 0) ? 'l3' : 'l12' %>">
          <%= render 'layouts/sidebar' %>
        </div>
      </div>
    </div>

    <%= render 'layouts/ganalytics' %>

  </main>

  <%= render 'layouts/footer' %>

  <script type="text/javascript">
    <%= yield :javascript %>

    $(document).ready(function() {
      $('select').material_select();
    });
  </script>

</body>
</html>
