<!DOCTYPE html>
<html lang="en">
<head>
  <title>Indent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/session_protection' %>
</head>
<body>
<%= render 'layouts/navbar' %>
<%= render 'layouts/anon_notice' %>
<div class="container">
	<%= render 'layouts/notices' %>

	<div class="row">
		<div class="span9">
			<%= yield %>
		</div>
		<div class="span3">
			<%= render 'layouts/sidebar' %>
		</div>
	</div>
</div>

<%= render 'layouts/ganalytics' %>

</body>
</html>
