<!DOCTYPE html>
<html lang="en">
<head>
  <title>Indent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/session_protection' %>
</head>
<body>
<%= render 'layouts/navbar' %>
<%= render 'layouts/anon_notice' %>
<%= render 'layouts/noscript_notice' %>
<div class="container">
	<%= render 'layouts/notices' %>

	<div class="row">
		<div class="span9">
			<%= yield %>
		</div>
		<div class="span3">
			<%= render 'layouts/sidebar' %>
		</div>
	</div>
</div>

<div class="container" style="margin-top:160px;">
	<div class="row">
		<div class="span12">
			<p style="text-align: center;">
				Indent &middot;
				<a href="/about/attribution">Image Attribution</a> &middot;
				<a href="/about/privacy">Privacy Policy</a> &middot;
				<a href="https://github.com/drusepth/Indent">Source Code</a>
			</p>
		</div>
	</div>
</div>

<%= render 'layouts/ganalytics' %>

<a href="https://plus.google.com/118076966717703203223" rel="publisher"></a>
</body>
</html>
