<!DOCTYPE html>
<html lang="en">
<head>
  <title>Indent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/session_protection' %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/sidebar' %>
</div>

  <div class="wrapper">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/ganalytics' %>

  <a href="https://plus.google.com/118076966717703203223" rel="publisher"></a>

</body>
</html>
