<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/common_head' %>
</head>
<body data-in-app="true"
      class="<%= controller_name %> <%= action_name %> <%= 'has-fixed-sidenav' if user_signed_in? %>"
>
  <%= render 'layouts/sidenav' if user_signed_in? %>
  <%= render 'layouts/navbar' %>

  <main>
    <%= yield :full_width_page_header %>
    <div class="container<% if (user_signed_in? && current_user.fluid_preference) || request.env['REQUEST_PATH'].start_with?('/forum/') %>-fluid<% end %>">
      <div class="row">
        <div class="col s12">
          <%= render 'cards/ui/alert' %>
          <%= render 'cards/ui/notice' %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>

  <%= render 'layouts/footer' unless defined?(@show_footer) && !@show_footer %>
  <%= render partial: 'content/keyboard_controls_help_modal' %>

  <script type="text/javascript">
    $(document).ready(function() {
      <%= yield :javascript %>
    });
  </script>
  <%= render 'layouts/ganalytics' %>

</body>
</html>
