<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/common_head' %>
  <link rel="stylesheet" href="https://unpkg.com/materialize-stepper@3.1.0/dist/css/mstepper.min.css" />
  <script src="https://unpkg.com/materialize-stepper@3.1.0/dist/js/mstepper.min.js"></script>
</head>
<body class="api-docs">
  <%= render 'layouts/navbar' %>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 m12 l10 offset-l1">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/ganalytics' %>

  <script>
    var stepper = document.querySelector('.stepper');
    var stepperInstace = new MStepper(stepper)
  </script>
</body>
</html>