<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/common_head' %>
</head>
<body data-in-app="true" class="<%= controller_name %> <%= action_name %>  <%= 'dark' if user_signed_in? && current_user.dark_mode_enabled? %>">
  <%= render 'layouts/sidenav', locals: { fixed: false } if user_signed_in? %>
  <%= render 'layouts/document_sidenav', locals: { fixed: false } if user_signed_in? %>
  <%= render 'layouts/document_navbar' %>

  <main>
    <div class="mobile-navbar-spacer hide-on-med-and-up">&nbsp;</div>
    <%#
      react_component("PageLookupSidebar", {
      })
    %>
    <%= yield :full_width_page_header %>
    <div class="container-fluid">
      <div class="row">
        <div class="col s12">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/ganalytics' %>
  </main>

  <%= render 'layouts/footer' unless defined?(@show_footer) && !@show_footer %>
  <%= render 'cards/ui/alert' %>
  <%= render 'cards/ui/notice' %>

  <script type="text/javascript">
    DISABLE_KEYBOARD_SHORTCUTS = true;

    <%= yield :javascript %>
  </script>

</body>
</html>
