<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield :thredded_page_title %> | Notebook.ai</title>
  <%= render 'layouts/common_head' %>

  <%= stylesheet_link_tag 'thredded', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
  <%# javascript_include_tag :application %>
  <%= javascript_include_tag 'thredded',
                             async: !Rails.application.config.assets.debug,
                             defer: true %>
  <%== RailsGravatar.prefetch_dns_tag %>
</head>
<body data-in-app="true" class="<%= 'has-fixed-sidenav' if user_signed_in? %> <%= 'dark' if user_signed_in? && current_user.dark_mode_enabled? %>">
  <%= render 'layouts/sidenav' if user_signed_in? %>
  <%= render 'layouts/recent_edits_sidenav' if user_signed_in? %>
  <%= render 'layouts/navbar' %>

  <main>
    <%= yield :full_width_page_header %>
    <div class="container-fluid">
      <div class="row">
        <div class="col s12">
          <%# todo: move these to toasts and/or make dismissable %>
          <%= render 'cards/ui/alert' %>
          <%= render 'cards/ui/notice' %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/ganalytics' %>
  </main>

  <div style="position: fixed; bottom: 0; left: 20%; z-index: 100; padding: 10px;" class="thredded--currently-online">
    <h3 style="font-size: 14px; margin: 0; text-align: center">
      <a class="waves-effect waves-light modal-trigger green-text" href="#gremlins">
        <strong>Important Notebook.ai News</strong>
      </a>
    </h3>
  </div>

  <!-- Modal Structure -->
  <div id="gremlins" class="modal">
    <div class="modal-content">
      <h4>
        <i class="material-icons left medium green-text">help</i>
        Notebook.ai + Gremlins partnership
      </h4>
      <div class="grey-text">Posted April 1, 2022</div>
      <!-- 2 hours in: hype -->
      <p>
        <strong>It's official!</strong> 
        I'm very pleased to announce that Notebook.ai has partnered with Gremlin Services! After
        very strong  communication (<em>mostly gestures</em>) over the past several years, Gremlin
        Services has agreed to integrate their spectacular wordsmithery into Notebook.ai.
      </p>
      <p>
        As of today, you can now enjoy the full gremlin experience we've all come to love directly from the forums.
        Whether you're
        <%= link_to 'discussing unexpected plot points', 'https://www.notebook.ai/forum/plot-factory' %>
        with other authors or trying to roleplay as a
        <%= link_to 'sad cowboy in love with a turtle', 'https://www.notebook.ai/forum/roleplaying' %>,
        the gremlins are now here to help inject a little joy into everything you do.
      </p>
      <p>
        Starting tomorrow (<em>April 2<sup>nd</sup></em>), the gremlin experience will also expand to all of your
        worldbuilding pages, timelines, and documents. You'll be able to enjoy the wonderful experience you're having
        now no matter where you go. Integrations for your email, messenger, and augmented reality goggles are also
        coming soon.
      </p>
      <p>
        Of course, Andrew's still here&mdash;I mean <em>I'm</em> still here and listening to all of your feedback,
        always trying to make the site a little better. If you want to vote to turn off these amazing features before
        they integrate with the rest of your notebook tomorrow, you can do so with one easy click on
        <%= link_to 'this page that exists', 'https://www.notebook.ai/announcements/gremlins/are/my/favorite' %>.
        You can also voice your feedback
        <%= link_to 'on our Discord', 'https://discord.gg/7WCuGxY3AW' %>.
      </p>
      <p>
        As I always say, happy worldbuilding!
      </p>
      <p>
        &mdash; Andrew <span style="color: #eeeeee">or someone acting in his interests</span>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <%= react_component("Footer") unless defined?(@show_footer) && !@show_footer %>
  <%= render 'layouts/quick_add_fab' unless defined?(@show_footer) && !@show_footer %>
  <%= render partial: 'content/keyboard_controls_help_modal' %>

  <script type="text/javascript">
    <%= yield :javascript %>
  </script>

</body>
</html>
