<%
  set_meta_tags(
    site: "The smart notebook for worldbuilders - Notebook.ai",
    page: ''
  )
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/common_head' %>
</head>
<body>
  <%= render 'layouts/navbar' %>

  <main>
    <%= yield %>
  </main>

  <%= react_component("Footer") unless defined?(@show_footer) && !@show_footer %>
  <%= render 'layouts/ganalytics' %>
</body>
</html>
