<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/common_head' %>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <main>
    <%= yield %>

    <%= render 'layouts/ganalytics' %>

    <a href="https://plus.google.com/118076966717703203223" rel="publisher"></a>
  </main>

  <%= react_component("Footer")      unless defined?(@show_footer) && !@show_footer %>

</body>
</html>
