<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <%= render 'layouts/favicon' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= render 'layouts/seo' %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body data-in-app="true"
      class="<%= controller_name %> <%= action_name %> <%= 'has-fixed-sidenav' if user_signed_in? %> <%= 'dark' if user_signed_in? && current_user.dark_mode_enabled? %>"
>
  <%# render 'layouts/sidenav' if user_signed_in? %>
  <%# render 'layouts/recent_edits_sidenav' if user_signed_in? %>
  <%= render 'layouts/tailwind/navbar' %>

  <main>
    <%# yield :full_width_page_header %>
    <%# yield :full_width_page_content %>

    <%= render 'cards/ui/alert' %>
    <%= render 'cards/ui/notice' %>

    <%= yield %>
  </main>

  <%= react_component("Footer")      unless defined?(@show_footer) && !@show_footer %>
  <%# render 'layouts/quick_add_fab' unless defined?(@show_footer) && !@show_footer %>

  <script type="text/javascript">
    <% if user_signed_in? %>
      DISABLE_KEYBOARD_SHORTCUTS = <%= !current_user.keyboard_shortcuts_preference %>;
    <% end %>

    $(document).ready(function() {
      <%= yield :javascript %>
    });
  </script>

  <%# render partial: 'content/keyboard_controls_help_modal' %>
  <%= render 'layouts/ganalytics' %>
</body>
</html>
