<h1 class="center" style="font-size: 2em">
  <i class="material-icons <%= PageCollection.text_color %>"><%= PageCollection.icon %></i>
  <%= title %>
</h1>
<% collection_list.each do |collection| %>
  <div class="col s12 m6 l4">
    <%= link_to collection do %>
      <div class="hoverable card <%= PageCollection.color %>" style="height: 250px">
        <div class="card-image">
          <%= image_tag collection.first_public_image, style: 'height: 250px;' %>
          <span class="card-title bordered-text">
            <%= collection.title %>
            <br />
            <small>
              <% collection.page_types.each do |icon| %>
                <% klass = content_class_from_name(icon) %>
                <i class="material-icons left tooltipped tiny <%= klass.text_color %>" data-tooltip="<%= icon.pluralize %>"><%= klass.icon %></i>
              <% end %>
            </small>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>