<% if user_signed_in? %>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header blue white-text">
        <i class="material-icons <%= PageCollection.color %>-text text-darken-2"><%= PageCollection.icon %></i>
        <%= @page_collection.user == current_user ? 'Add' : 'Submit' %> a page
      </div>
      <div class="collapsible-body">
        <%= form_for PageCollectionSubmission.new do |f| %>
          <%= f.hidden_field :page_collection_id, value: @page_collection.id %>
          <div class="input-field">
            <%= f.select :content do %>
              <% @current_user_content.each do |content_type, content_list| %>
                <% next unless @page_collection.page_types.include?(content_type) %>
                <optgroup label="<%= content_type.pluralize %>">
                  <% content_list.each do |content| %>
                    <% next unless content.privacy == 'public' %>
                    <option value="<%= content_type %>-<%= content.id %>"><%= content.name %></option>
                  <% end %>
                </optgroup>
              <% end %>
            <% end %>
            <label>Select a page to <%= @page_collection.user == current_user ? 'add' : 'submit' %></label>
            <div class="helper-text">
              Only pages you've marked "public" may be submitted.
            </div>
          </div>

          <div class="input-field">
            <%= f.text_area :explanation, class: 'materialize-textarea' %>
            <%= f.label :explanation, 'Optional: add a message' %>
          </div>
          
          <%= f.submit (@page_collection.user == current_user ? 'Add' : 'Submit'), class: "btn #{PageCollection.color} white-text" %>
        <% end %>
      </div>
    </li>
  </ul>
<% end %>