<div class="content-sort-bar center">
  <!--
  <%= link_to '#', class: 'btn btn-flat' do %>
    <i class="material-icons left">sort</i>
    Trending
  <% end %>
  -->
  <%= link_to params.permit(:sort).merge({sort: 'alphabetical'}), class: 'btn btn-flat tooltipped', data: { tooltip: "Show pages in this collection alphabetically, by name" } do %>
    <i class="material-icons left">sort</i>
    Alphabetical
  <% end %>
  <%= link_to params.permit(:sort).merge({sort: 'chronological'}), class: 'btn btn-flat tooltipped', data: { tooltip: "Show pages in this collection in the order they were added" } do %>
    <i class="material-icons left">sort</i>
    Chronological
  <% end %>
  <%= link_to params.permit(:sort).merge({sort: 'recent'}), class: 'btn btn-flat tooltipped', data: { tooltip: "Sort pages in this collection most-recently-added-first" } do %>
    <i class="material-icons left">sort</i>
    Recently added
  <% end %>
  <%= link_to params.permit(:sort).merge({sort: 'shuffle'}), class: 'btn btn-flat tooltipped', data: { tooltip: "Show pages in this collection in a random order" } do %>
    <i class="material-icons left">sort</i>
    Shuffle
  <% end %>
</div>