<h1>Explore public collections</h1>
<!-- maybe a staggered layout on this one so we can get a rush of people to submit at the beginning -->
<div class="row">
  <div class="col s12">
    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header blue white-text">
          <i class="material-icons">layers</i> 
          Explore our shared worlds, etc
        </div>
        <div class="collapsible-body">
          <p>
            How does this all work, etc.
          </p>
        </div>
      </li>
      <!--
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i> Some FAQ #1
        </div>
        <div class="collapsible-body">
          <p>
            Answer
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i> Some FAQ #2
        </div>
        <div class="collapsible-body">
          <p>
            Answer
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i> Some FAQ #3
        </div>
        <div class="collapsible-body">
          <p>
            Answer
          </p>
        </div>
      </li>
      -->
    </ul>
  </div>

  <% @collections.each.with_index do |collection, i| %>
    <div class="col <%= (i == 0 || i == 5) ? 's12' : 's12 m6' %>">
      <%= link_to collection do %>
        <div class="hoverable card">
          <div class="card-image">
            <%= image_tag collection.cover_image, style: 'max-height: 300px;' %>
            <span class="card-title">
              <%= collection.title %>
              <br />
              <small>
                <% if collection.subtitle? %>
                  <%= collection.subtitle %>
                <% else %>
                  Browse public <%= collection.page_types.map(&:downcase).to_sentence %> pages
                <% end %>              
              </small>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


Universe, - Multiverse
Character, - Dossier (?)
Location, - Atlas
Item, - 
Building, - Atlas
Condition, 
Continent, - Atlas
Country, - Atlas
Creature, - Bestiary
Deity, - Pantheon
Flora, - Bestiary
Food, 
Government, -
Group, - 
Job, - 
Landmark, - Atlas
Language, 
Lore, 
Magic, - 
Planet, - Atlas
Race, 
Religion, - Pantheon
Scene, 
School, - Atlas
Sport, - 
Technology, - 
Town, - Atlas
Tradition, - Calendar (?)
Vehicle - 

<div class="card-panel blue lighten-4">The ability to create collections is in a private beta right now and will be rolling out to all users over time.</div>