<section class="lg:relative mb-16">
  <div class="mx-auto max-w-7xl w-full text-center lg:pt-24 lg:text-left">
    <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
        <span class="block xl:inline">Remix new worlds with</span>
        <span class="block <%= PageCollection.text_color %> xl:inline">Collections</span>
      </h1>
      <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
        Submit your pages to public Collections or create your own and add any pages you want.
        Mix and match public pages to create infinite combinations of new worlds.
      </p>
      <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow flex-1">
          <%= link_to 'Browse collections', page_collections_path, class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white #{PageCollection.color} hover:bg-brown-700 md:py-4 md:text-lg md:px-10" %>
        </div>
        <% if current_user.can_create?(PageCollection) %>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 flex-1">
            <%= link_to 'Create a Collection', new_page_collection_path, class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md #{PageCollection.text_color} bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10" %>
          </div>
        <% end %>
      </div>
      <!--
      <div class="bg-brown-100 mt-8 p-4 border border-brown-200">
        Creating new Collections is restricted to Premium users, but anyone can submit their pages to public Collections!
      </div>
      -->
    </div>
  </div>
  <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
    <%= image_tag "card-headers/pagecollections.webp", class: 'absolute inset-0 w-full h-full object-cover' %>
  </div>
</section>

<section class="max-w-7xl mx-auto mb-8">


  <div class="relative pb-5 border-b border-gray-200 sm:pb-0 mb-2">
    <div class="md:flex md:items-center md:justify-between">
      <div class="mt-3 flex md:mt-0 md:absolute md:top-2 md:right-0">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Feedback</button>
        <button type="button" class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white <%= PageCollection.color %> hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create</button>
      </div>
    </div>
    <div class="mt-4">
      <nav class="flex space-x-8 h-10">
        <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
        <a href="#" class="border-brown-800 <%= PageCollection.text_color %> whitespace-nowrap px-1 border-b-2 font-medium text-sm" aria-current="page"> Public Collections </a>
        <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap px-1 border-b-2 font-medium text-sm"> My Collections </a>
        <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap px-1 border-b-2 font-medium text-sm"> From Your Friends </a>
        <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap px-1 border-b-2 font-medium text-sm"> Accepting Submissions </a>
      </nav>
    </div>
  </div>

  <%= render partial: "content/display/tailwind_content_list/card_index", locals: { content: @my_collections } %>
  <%# todo abstract content display from here so we can use different card partial for collection and show description, page types, etc %>
</section>
