<%= content_for :full_width_page_header do %>
  <%= render partial: 'content/components/collection_header', locals: { collection: @page_collection } %>
<% end %>

<div class="row">
  <div class="col s12 m9 l8">
    <% if @pages.empty? %>
      <div class="card-panel">
        This collection doesn't have any approved public pages yet. Please check back later!
      </div>
    <% else %>
      <%= render partial: 'page_collections/sort_bar' %>
      <% if !!@show_contributor_highlight %>
        <div class="card-panel <%= PageCollection.color %> darken-3 white-text">
          Showing all submitted pages from <%= link_to @highlighted_contributor.display_name, @highlighted_contributor, class: "#{User.color}-text" %>. 
          Click <%= link_to 'here', @page_collection, class: 'blue-text text-lighten-3' %> to see all pages regardless of author.
        </div>
      <% end %>
      <%= render partial: 'page_collections/stream', locals: { pages: @pages } %>
    <% end %>
  </div>
  <div class="col s12 m3 l4">
    <%= render partial: 'page_collections/sidebar' %>
  </div>
</div>