<%= content_for :full_width_page_header do %>
  <%= render partial: 'content/components/collection_header', locals: { collection: @page_collection } %>
<% end %>

<div class="row">
  <div class="col s12 m9 l8">
    <% if @pages.empty? %>
      <div class="card-panel">
        This collection doesn't have any approved public pages yet. Please check back later!
      </div>
    <% else %>
      <%= render partial: 'page_collections/sort_bar' %>
      <%= render partial: 'page_collections/stream', locals: { pages: @pages } %>
    <% end %>
  </div>
  <div class="col s12 m3 l4">
    <%= render partial: 'page_collections/sidebar' %>
  </div>
</div>