<div class="w-full lg:h-80 h-52 pb-10 bg-cover flex justify-center items-center relative" style="background-image: url(&quot;<%= url_for @page_collection.random_image_including_private(nil) %>&quot;);">
  <div class="text-center max-w-xl mx-auto z-10 relative">
    <div class="mb-3 text-white <%= PageCollection.color %> py-2 px-4 opacity-90">
      <div class="lg:text-4xl text-2xl text font-semibold">
        <%= @page_collection.title %>
      </div>
      <div class="tracking-wide">
        <%= @page_collection.subtitle %>
      </div>
    </div>
    <div class="text-white text-lg font-medium text-opacity-90">
      <% @page_collection.page_types.each do |submittable_class_name| %>
        <% submittable_class = content_class_from_name(submittable_class_name) %>
        <%# todo click on any to filter posts to just this type, hover effect %>
        <%# todo tooltips %>
        <%= link_to send("#{submittable_class_name.downcase.pluralize}_page_collection_path", @page_collection.id) do %>
          <i class="material-icons bordered-text <%= submittable_class.text_color %> <%= @page_collection.page_types.length > 6 ? 'text-3xl' : 'text-4xl' %>">
            <%= submittable_class.icon %>
          </i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="absolute w-full h-full inset-0 bg-gray-600 bg-opacity-20"></div>
</div>
<div class="-mt-16 flex flex-row space-x-4 mx-auto max-w-7xl">
  <div class="flex-1">
    <div class="bg-white p-10 relative rounded-md shadow">
      <div class="text-gray-500 md:text-base">
        <div class="font-semibold text-lg text-gray-700 text-center mb-4">About this Collection</div>
        <div class="md:leading-8 md:space-y-6 space-y-5">
          <%= simple_format @page_collection.description.presence || "No description" %>
        </div>
        <% if @page_collection.user == current_user %>
          <div class="-mt-2">
            <%= link_to 'Edit collection', edit_page_collection_path(@page_collection), class: 'text-notebook-blue text-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="flex-1">
    <div class="bg-white p-8 relative rounded-md shadow mb-4">
      <div class="md:space-y-6 space-y-5 text-gray-500 md:text-base">
        <div class="overflow-hidden">
          <div class="font-semibold text-lg text-gray-700 text-center mb-4">Accepting submissions</div>
          <div class="leading-1 md:space-y-6 space-y-5">
            This Collection is currently accepting submissions of
            <%= @page_collection.page_types.map(&:pluralize).to_sentence %>.

            <% if @page_collection.auto_accept? %>
              Pages submitted at this time will be automatically accepted.
            <% end %>

            <%= link_to 'Submit a page', '#', class: "#{PageCollection.color} hover:bg-brown-500 hover:shadow transition text-white text-center block mt-4 py-2 rounded" %>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white p-8 mt-1 relative rounded-md shadow">
      <div class="md:space-y-6 space-y-5 text-gray-500 md:text-base">
        <div class="overflow-hidden">
          <dl class="-mx-8 -mt-8 flex flex-wrap">
            <div class="flex flex-col px-8 pt-8">
              <dd class="order-1 text-2xl font-extrabold text-indigo-600 sm:text-3xl">
                <a href="#" class="flex-shrink-0 group block">
                  <div class="flex items-center">
                    <div>
                      <%= image_tag @page_collection.user.image_url(60), class: "inline-block h-14 w-14 rounded-full #{User.color}" %>
                    </div>
                    <div class="ml-3">
                      <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900"><%= @page_collection.user.display_name %></p>
                      <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">Curator</p>
                    </div>
                  </div>
                </a>
              </dd>
            </div>

            <% if @contributors.any? %>
              <div class="flex flex-col px-8 pt-8">
                <dd class="order-1 text-2xl font-extrabold text-indigo-600 sm:text-3xl">
                  <div class="flex-shrink-0 group block">
                    <div class="flex items-center">
                      <div class="ml-3">
                        <div class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
                        
                          <div class="flex -space-x-1 relative z-0 overflow-hidden">
                            <% @contributors.first(4).each.with_index do |user, i| %>
                              <%= link_to user do %>
                                <%= image_tag user.image_url(40), class: "#{User.color} z-#{30 - (i * 10)} inline-block h-8 w-8 rounded-full ring-2 ring-white" %>
                              <% end %>
                            <% end %>
                            <% if @contributors.count > 4 %>
                              +<%= @contributors.count - 4 %>
                            <% end %>
                          </div>
                        </div>
                        <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
                          <%= pluralize @contributors.count, 'contributor' %>
                        </p>
                      </div>
                    </div>
                  </div>
                </dd>
              </div>
            <% end %>

            <div class="flex flex-col px-8 pt-8">
              <dt class="order-2 text-xs font-medium text-gray-500 -mt-1">Posts</dt>
              <dd class="order-1 text-2xl font-extrabold <%= PageCollection.text_color %> sm:text-3xl">
                <%= number_with_delimiter @pages.count %>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="flex mt-4 pt-4 space-x-8 border-t-2 border-gray-100">
        <p class="text-sm text-gray-700 flex-1">
          Follow this Collection to get a site notification each time something new is published or when submissions open.
        </p>
        <div class="pt-1">
          <% if @page_collection.followed_by?(current_user) %>
            <%= link_to 'Unfollow', '#', class: "text-white #{PageCollection.color} py-2 px-8 rounded hover:shadow hover:bg-brown-500 transition" %>
          <% else %>
            <%= link_to 'Follow', '#', class: "text-white #{PageCollection.color} py-2 px-8 rounded hover:shadow hover:bg-brown-500 transition" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flow-root max-w-4xl mx-auto">
  <% if @pages.any? %>
    <h2 class="text-gray-400 font-bold text-sm mt-8 mb-4">
      <%= render partial: 'page_collections/sort_bar' %>
      Published content
    </h2>

    <ul role="list" class="-mb-8">
      <% @pages.each do |submission| %>
        <li>
          <div class="relative pb-16">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div class="relative">
                <%= link_to submission.user do %>
                  <%= image_tag submission.user.image_url(40), class: "h-10 w-10 rounded-full #{User.color} flex items-center justify-center ring-4 ring-white", alt: "" %>
                <% end %>

                <span class="absolute -bottom-2 -right-1.5 bg-white rounded-tl px-0.5">
                  <i class="material-icons <%= content_class_from_name(submission.content_type).text_color %> text-base">
                    <%= content_class_from_name(submission.content_type).icon %>
                  </i>
                </span>
              </div>
              <div class="min-w-0 flex-1">
                <div>
                  <div class="text-sm text-gray-500">
                    <%= link_to @page_collection.user.display_name, @page_collection.user, class: 'font-medium text-gray-900' %>
                    <span class="mt-0.5">published a <strong><%= submission.content_type %></strong> by</span>
                    <%= link_to submission.user.display_name, submission.user, class: 'font-medium text-gray-900' %>
                    <span class="px-1">&middot;</span>
                    <span class=""><%= time_ago_in_words submission.accepted_at %> ago</span>
                  </div>
                  <% if submission.explanation? %>
                    <p class="mb-4">
                      <span class="text-3xl <%= content_class_from_name(submission.content_type).text_color %>">&ldquo;</span>
                      <%= submission.explanation %>
                    </p>
                  <% end %>
                </div>
                <div class="mt-2 text-sm text-gray-700">
                  <%= link_to submission.content, class: '' do %>
                    <div class="grid grid-cols-3 bg-white rounded hover:shadow-lg">
                      <div class="col-span-1">
                        <%= image_tag submission.content.random_image_including_private, class: 'w-full h-full rounded-l' %>
                      </div>
                      <div class="col-span-2 px-4 pt-4 border-l-4 border-brown-500">
                        <h3 class="text-lg mb-4 pb-2 border-b-2 border-gray-100">
                          <i class="material-icons <%= content_class_from_name(submission.content_type).text_color %> text-5xl float-left mr-2">
                            <%= content_class_from_name(submission.content_type).icon %>
                          </i>
                          <div class="-pt-4 font-bold"><%= submission.cached_content_name %></div>
                          <% if submission.content.universe %>
                            <div class="text-xs font-base">
                              from <%= link_to submission.content.universe.name, submission.content.universe, class: Universe.text_color %>
                            </div>
                          <% else %>
                            <div class="text-xs font-base">
                              by <%= link_to submission.user.display_name, submission.user, class: User.text_color %>
                            </div>
                          <% end %>
                        </h3>

                        <p class="clear-both">
                          <%= submission.content.description %>
                        </p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

  <% else %>
    <div class="max-w-md mx-auto sm:max-w-3xl mt-16">
      <div>
        <div class="text-center">
          <i class="material-icons mx-auto text-5xl text-gray-300"><%= PageCollection.icon %></i>
          <h2 class="mt-2 text-lg font-medium text-gray-900">
            Nothing published here yet
          </h2>
          <p class="mt-1 text-sm text-gray-500">
            ...but submissions are open!
          </p>
        </div>
      </div>
      <!--
      <div class="my-10">
        <h3 class="text-xs font-semibold text-gray-500 uppercase tracking-wide">
          Ready to submit a page to this collection?
        </h3>
        <ul role="list" class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
          <% @submittable_content.each do |content_type, content_list| %>
            <li>
              <button type="button" class="group p-2 w-full flex items-center justify-between rounded-full border border-gray-300 shadow-sm space-x-3 text-left hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="min-w-0 flex-1 flex items-center space-x-3">
                  <span class="block flex-shrink-0">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </span>
                  <span class="block min-w-0 flex-1">
                    <span class="block text-sm font-medium text-gray-900 truncate">Lindsay Walton</span>
                    <span class="block text-sm font-medium text-gray-500 truncate">Front-end Developer</span>
                  </span>
                </span>
                <span class="flex-shrink-0 h-10 w-10 inline-flex items-center justify-center">
                  <svg class="h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
            </li>
          <% end %>
        </ul>
      </div>
      -->
    </div>
  <% end %>
</div>






<% if @pages.empty? %>
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card-panel">
        This collection doesn't have any published pages yet.
        <% if user_signed_in? %>
          <% if current_user == @page_collection.user %>
            <a class="modal-trigger" href="#share-page-modal">
              Publish your first page.
            </a>
          <% else %>
            <a class="modal-trigger" href="#share-page-modal">
              Yours could be first!
            </a>
          <% end %>
        <% else %>
          Sign in to <%= @page_collection.auto_accept? ? 'add' : 'submit' %> yours!
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <% if !!@show_contributor_highlight %>
    <%= render partial: 'page_collections/contributor_highlight_bar', locals: { contributor: @highlighted_contributor } %>
  <% end %>
  <% if !!@show_page_type_highlight %>
    <%= render partial: 'page_collections/page_type_highlight_bar', locals: { page_type: @page_type } %>
  <% end %>
  <%# render partial: 'page_collections/tiles', locals: { pages: @pages } %>
<% end %>

<%= form_for PageCollectionSubmission.new do |f| %>
  <div id="share-page-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center">
        <%= @page_collection.user == current_user ? 'Add' : 'Submit' %> a
        <%= @page_collection.page_types.length > 1 ? 'page' : @page_collection.page_types.first %>
        <span class="hide-on-small-only">
          to this Collection
        </span>
      </h4>
      <br />
      <% if @submittable_content.values.flatten.any? %>
          <div class="row">
            <div class="col s12 m12 l12">
              <%= f.hidden_field :page_collection_id, value: @page_collection.id %>
              <div class="center">
                
              </div>
              <br />

              <div class="input-field clearfix">
                <%= f.select :content do %>
                  <% @submittable_content.each do |content_type, content_list| %>
                    <optgroup label="<%= content_type.pluralize %>">
                      <% content_list.each do |content| %>
                        <option value="<%= content_type %>-<%= content.id %>"><%= content.name %></option>
                      <% end %>
                    </optgroup>
                  <% end %>
                <% end %>
                <label>Select a page to <%= @page_collection.user == current_user ? 'add' : 'submit' %></label>
                <div class="helper-text">
                  Submitting a page will automatically change its privacy to "public" if this collection is public.
                  <% if @page_collection.privacy == 'public' %>
                    (It is!)
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col s12 m12 l12">
              <div class="input-field">
                <%= f.text_area :explanation, class: 'materialize-textarea' %>
                <%= f.label :explanation, 'Add a message' %>
                <div class="helper-text">
                  <% if @page_collection.user == current_user %>
                    This message will be visible to everyone.
                  <% else %>
                    If this submission is accepted, this message will be visible to everyone.
                  <% end %>
                  It can be as long or as short as you'd like!
                </div>
              </div>
            </div>
          </div>

      <% else %>
        <p>
          You don't have any pages to submit to this collection.
        </p>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= f.submit (@page_collection.user == current_user ? 'Add' : 'Submit') + ' page', class: "btn #{PageCollection.color} white-text" %>

      <a href="#!" class="modal-close waves-effect waves-green btn-flat left">Nevermind</a>
    </div>
  </div>
<% end %>